<!-- s: 자동차 계약변경 -->
	{{#> popup/popup_full popup-class="big" popup-id="pop_insChk" popup-title="자동차 계약변경"}}
	<div class="popup_cont">
		<div class="popup_content">

			<div class="space_list_ty4">
				
				<div class="item">
					<h3 class="title_h3 ico_ty ico_ty_c02">운전자정보 변경</h3>
					<ul class="opt_select_list opt_case5 grid">
						<li>
							<div class="option" role="button" tabindex="0">
								<span class="opi_t1">단기운전자 확대특약 신청</span>
							</div>
						</li>
						<li>
							<div class="option" role="button" tabindex="0">
								<span class="opi_t1">단기운전자 확대특약 변경</span>
							</div>
						</li>
						<li>
							<div class="option" role="button" tabindex="0">
								<span class="opi_t1">운전자범위/연령 변경</span>
							</div>
						</li>
						<li>
							<div class="option" role="button" tabindex="0">
								<span class="opi_t1">가입경력인정 신청/변경</span>
							</div>
						</li>
					</ul>
				</div>
				<div class="item">
					<h3 class="title_h3 ico_ty ico_ty_c01">자동차정보 변경</h3>
					<ul class="opt_select_list opt_case5 grid">
						<li>
							<div class="option" role="button" tabindex="0">
								<span class="opi_t1">자동차번호 확정</span>
							</div>
						</li>
						<li>
							<div class="option" role="button" tabindex="0">
								<span class="opi_t1">자동차번호 변경</span>
							</div>
						</li>
						<li>
							<div class="option" role="button" tabindex="0">
								<span class="opi_t1">자동차 변경(차량대체)</span>
							</div>
						</li>
						<li>
							<div class="option" role="button" tabindex="0">
								<span class="opi_t1">블랙박스/부속품 추가</span>
							</div>
						</li>
					</ul>
				</div>
				

				<div class="item">
					<h3 class="title_h3 ico_ty ico_ty_c03">담보/특약 변경</h3>
					<ul class="opt_select_list opt_case5 grid">
						<li>
							<div class="option" role="button" tabindex="0">
								<span class="opi_t1">담보/특약 변경</span>
							</div>
						</li>
						<li>
							<div class="option" role="button" tabindex="0">
								<span class="opi_t1">스마트 안전운전(UBI) 할인 특약 가입</span>
							</div>
						</li>
						<li>
							<div class="option" role="button" tabindex="0">
								<span class="opi_t1">효도하는 자녀 할인특약 가입</span>
							</div>
						</li>
						<li>
							<div class="option" role="button" tabindex="0">
								<span class="opi_t1">ECO마일리지 특약 가입</span>
							</div>
						</li>
					</ul>
				</div>

				<div class="item">
					<h3 class="title_h3 ico_ty ico_ty_c04">특약 사진등록</h3>
					<ul class="opt_select_list opt_case5 grid">
						<li>
							<div class="option" role="button" tabindex="0">
								<span class="opi_t1">ECO마일리지 특약 사진등록(최초)</span>
							</div>
						</li>
						<li>
							<div class="option" role="button" tabindex="0">
								<span class="opi_t1">ECO마일리지 특약 사진등록(최종)</span>
							</div>
						</li>
						<li>
							<div class="option" role="button" tabindex="0">
								<span class="opi_t1">ECO마일리지 특약 사진등록(대체)</span>
							</div>
						</li>
					</ul>
				</div>

				<div class="item">
					<h3 class="title_h3 ico_ty ico_ty_c05">계약취소/해지</h3>
					<ul class="opt_select_list opt_case5 grid">
						<li>
							<div class="option" role="button" tabindex="0">
								
								<span class="opi_t1">자동차보험 개시 전 취소</span>
								
							</div>
						</li>
						<li>
							<div class="option" role="button" tabindex="0">
								<span class="opi_t1">자동차보험 양도/말소해지</span>
							</div>
						</li>
						<!-- <li>
							<div class="option" role="button" tabindex="0">
								<span class="opi_t1">타임쉐어자동차보험 취소</span>
							</div>
						</li> -->
					</ul>
				</div>

				<div class="item">
					<h3 class="title_h3 ico_ty ico_ty_c06">계약체결 전자서명</h3>
					<ul class="opt_select_list opt_case5 grid">
						<li>
							<div class="option" role="button" tabindex="0">
								<span class="opi_t1">계약체결 전자서명(피보험자)</span>
							</div>
						</li>
						<li>
							<div class="option" role="button" tabindex="0">
								<span class="opi_t1">계약체결 전자서명(계약자)</span>
							</div>
						</li>
					</ul>
				</div>

			</div>
			
		</div>
	</div>
	{{/ popup/popup_full}}
	<!-- e: 자동차 계약변경 -->