{{!-- 
	popup-id : id 배정
--}}
<div class="popup_wrap popup_wrap_type4{{#if popup-class}} {{popup-class}}{{/if}}{{#if popup-active}} active{{/if}}"{{#if popup-id}} id="{{popup-id}}"{{/if}}{{#if close-btn}}{{/if}} role="dialog" {{#if popup-active}}aria-hidden="false"{{else}}aria-hidden="true"{{/if}}>
	{{> @partial-block}}
</div>