// Accordiaon

// default
.acd_item {
	.acd_cont {
		.inner {
			display: none;

			.badge_wrap {
				& + .border_list {
					margin-top: var(--gap-5);
					padding-top: 16px;
					border-top: var(--border-width-static-regular) solid var(--color-border-gray-light);
				}
			}
			
			.list_depth {
				> li {
					font-size: var(--font-size-body-small);
					&::before {
						width: 2px;
						height: 2px;
						background-color: var(--color-icon-information);
					}
					ul {
						margin-top: var(--gap-3);
						> li {
							font-size: var(--font-size-body-xsmall);
							color: var(--color-text-subtle);
							&  li {
								margin-top: var(--gap-3);
							}
						}
					}
				}
			}
			.card_list_ty1 {
				> li {
					display: flex;
					align-items: flex-start;
					justify-content: space-between;
					gap: var(--gap-3);
					padding: 0 0 12px;
					font-size:  var(--font-size-body-small);
					&:last-child {
						padding-bottom: 0;
					}
					> * {
						&:first-child {
							flex: none;
							min-width: 100px;
							max-width: 50%;
							color: var(--color-text-subtle);
						}
						&:last-child {
							text-align: right;
							color: #000;
						}
					}
					&.result {
						border-top: var(--border-width-static-regular) solid var(--color-border-gray-light);
					}
				}
			}
		}
	}

	& + .checkbox_group_wrap,
	& + .info_gray {
		margin-top: var(--gap-5);
	}
	& + .pop_title_h1 {
	  margin-top: var(--gap-11);
	}
	& + .title_h3 {
		margin-top: var(--gap-8);
	}
}

/** Accordion **/

// default
.acd_item {
	//icon case
	.acd_head {
		.acd_btn {
			&[class*=acd_ico_]{
				padding-left: 32px;
				background-repeat: no-repeat;
				background-position: left top;
				background-size: 24px auto;
			}
		}

		&.active {
			.preview {
				display: none;
			}
		}
	}

	&.acd_item_ty1 {
		border-radius: var(--radius-large2);
		border: var(--border-width-static-regular) solid var(--color-border-gray-light);
		.acd_head {
			position: relative;
			padding: 24px 56px 24px 20px;

			.acd_btn {
				position: absolute;
				top: 50%;
				right: 20px;
				width: 24px;
				height: 24px;
				font-size: 0;
				transition: all 0.3s;
				transform: translateY(-50%);

				&::before {
					content: "";
					position: absolute;
					top: 50%;
					left: 50%;
					width: 30px;
					height: 30px;
					margin: -15px 0 0 -15px;
					background: transparent;
				}
				&::after {
					content: "";
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					background: #fff url(../images/icon/arrowDown_ty3.svg) no-repeat center / 24px auto;
					transition: all 0.3s;
				}
			}
			&.active {
				.acd_btn {
					&::after {
						transform: rotate(180deg);
					}
				}
				+ .acd_cont {
					padding: var(--gap-5) var(--padding-7) var(--padding-8);

					&::before {
						opacity: 1;
					}
				}
			}
		}

		.acd_cont {
			position: relative;
			padding: 0 20px;
			transition: all 0.3s;
			&::before {
				content: "";
				position: absolute;
				top: 0;
				left: 20px;
				width: calc(100% - 40px);
				border-bottom: 1px solid var(--color-divider-gray-light);
				opacity: 0;
				transition: all 0.3s;
			}

			.item_gr_title {
				.title {
					font-size: var(--font-size-body-medium);
					font-weight: 700;
				}
				.sub_text {
					margin-top: var(--gap-2);
					color: var(--color-text-subtle);
					font-size: var(--font-size-body-small);
				}

				+ .coverage_item_list {
					margin-top: var(--gap-5);
				}
			}

			.divider_ty2 {
				margin: 16px 0;
			}

		}
	}

	&.acd_item_ty2 {
		border-radius: var(--radius-large2);
		border: var(--border-width-static-regular) solid var(--color-border-gray-light);

		.cont_text {
			font-size: var(--font-size-label-medium);

		}
		.cont_text_sub {
			color: #6C7882;
			font-size: var(--font-size-body-small);
		}

		.acd_head {
			position: relative;
			padding: var(--padding-8) var(--padding-7);

			.acd_btn {
				position: relative;
				width: 100%;
				min-height: 32px;
				padding-right: 36px;
				background-color: transparent;
				font-weight: 700;
				font-size: var(--font-size-heading-small);

				&:after {
					position: absolute;
					top: calc(50% - 16px);
					right:0;
					content: '';
					width: 32px;
					height: 32px;
					background: url(../images/icon/arrowDown_ty3.svg) no-repeat center /24px auto;
					box-sizing: border-box;
					transition: all 0.3s;
					}

				&[aria-expanded="true"] {
					&:after {
						transform: rotate(180deg);
					}
				}

				.sub_g_txt {
					display: block;
					padding-top: 4px;
					font-size: var(--font-size-body-xsmall);
					font-weight: 400;
					color: var(--color-text-subtle);
				}
			}

			&.active {
				& + .acd_cont {
					margin-top: -8px;
					padding: var(--gap-5) var(--padding-7) var(--padding-8);

					&::before {
						opacity: 1;
					}
				}
			}		
		}

		.acd_cont {
			position: relative;
			transition: all 0.3s;
			padding: 0 20px;
			&::before {
				content: "";
				position: absolute;
				top: 0;
				left: 20px;
				width: calc(100% - 40px);
				border-bottom: 1px solid var(--color-divider-gray-light);
				opacity: 0;
				transition: all 0.3s;
			}

			.detail_list_btn {
				font-size: var(--font-size-label-medium);
				background: url(../images/icon/arrowRight_disabled.svg) no-repeat right center / 20px auto;
				cursor: pointer;

				& + .detail_list_btn {
					margin-top: var(--gap-5);
				}
			}

			* + .inp_checkbox {
				margin-top: var(--gap-5);
			}

			.text_sub + .space_list_ty5 {
				margin-top: 16px;
			}
			.space_list_ty5 {
				.title_h5 {
					margin-bottom: 16px;
				}
				.inp_checkbox {
					& + .title_h5 {
						margin-top: 16px;
					}
				}
			}

			.list_depth {
				> li {
					font-size: var(--font-size-body-medium);
					ul {
						margin-top: var(--gap-3);
						> li {
							font-size: var(--font-size-body-small);
							color: var(--color-text-basic);
							&  li {
								margin-top: var(--gap-3);
							}
						}
					}
				}
			}
		}
	}

	&.acd_item_ty3 {
		.acd_head {
			position: relative;
			border-bottom: 1px solid var(--color-divider-gray-light);
			.acd_btn {
				position: relative;
				width: 100%;
				padding: 12px 32px 12px 0;
				background-color: #fff;
				font-weight: 700;
				font-size: var(--font-size-heading-medium);
				
				&::before {
					content: '';
					position: absolute;
					top: 50%;
					right: 0;
					width: 32px;
					height: 32px;
					background: transparent url(../images/icon/arrowDown_ty3.svg) no-repeat center / 32px auto;
					transition: all 0.3s;
					transform: translateY(-50%);
				}
				&:active {
					background: var(--color-action-secondary-pressed);
				}
			}
			&.active {
				border: none;
				.acd_btn {
					&::before {
						transform: translateY(-50%) rotate(180deg);
					}
				}
				& + .acd_cont {
					border-top: 1px solid var(--color-divider-gray-darker);
					&::before {
						opacity: 1;
					}
				}
			}
		}
		.acd_cont {
			position: relative;
			padding: 20px 0;
			transition: all 0.3s;
		}
		& + .acd_item_ty3 {
			margin-top: var(--gap-11);
		}
	}

	&.acd_item_ty4 {
		overflow: hidden;
		padding: 16px 0 20px;
		background-color: var(--color-surface-secondary-subtler);
		border-radius: 24px;

		.acd_head {
			position: relative;

			.acd_btn {
				position: relative;
				width: 100%;
				padding: 0 20px;
				background-color: var(--color-surface-secondary-subtler);
				font-size: var(--font-size-heading-xxsmall);
				font-weight: 700;
				line-height: 32px;
				
				&::before {
					content: '';
					position: absolute;
					top: 50%;
					right: 20px;
					width: 32px;
					height: 32px;
					background: transparent url(../images/icon/arrowDown_ty3.svg) no-repeat center / 24px auto;
					transition: all 0.3s;
					transform: translateY(-50%);
				}
			}
			&.active {
				border: none;
				.acd_btn {
					&::before {
						transform: translateY(-50%) rotate(180deg);
					}
				}
				& + .acd_cont {
					&::before {
						opacity: 1;
					}
				}
			}
		}
		.acd_cont {
			position: relative;
			transition: all 0.3s;

			.inner {
				padding: 16px 20px 0;
			}
		}

		.sub_text {
			display: block;
			font-size: var(--font-size-body-small);
		}

	}

	&.acd_item_ty5 {
		border-radius: var(--radius-large2);
		background-color: var(--color-surface-secondary-subtler);
		.acd_head {
			font-size: var(--font-size-heading-xsmall);
			.acd_btn {
				position: relative;
				width: 100%;
				padding: 22px 24px;
				background-color: transparent;
				
				> span {
					display: block;
					font-weight: 700; 
					font-size: var(--font-size-heading-xxsmall);
					line-height: 20px;
				}
	
				&:after {
					position: absolute;
					top: calc(50% - 12px);
					right: 24px;
					content: '';
					width: 24px;
					height: 24px;
					background: url(../images/icon/arrowDown_ty3.svg) no-repeat center /24px auto;
					transition: all 0.3s;
				}
	
				&[aria-expanded="true"] {
					&:after {
						transform: rotate(180deg);
					}
				}
			}
		}

		.acd_cont {
			> .inner {
				padding: 0 20px 20px 20px;
			}
		}

	}

	&.acd_item_ty6 {
		.acd_head {
			position: relative;
			.acd_btn {
				position: relative;
				width: 100%;
				padding: 20px 52px 16px 20px;
				display: flex;
				justify-content: space-between;
				align-items: center;
				background-color: #fff;
				.sii_list_l {
					font-size: var(--font-size-body-small);
					color: var(--color-text-subtle);
				}
				.sii_list_r {
					font-size: var(--font-size-body-medium);
					text-align: right;
					del {
						display: none;
						color: var(--color-text-subtle);
						font-size: var(--font-size-body-small);
						font-weight: 400;
					}
				}
				&::before {
					content: '';
					position: absolute;
					top: 50%;
					right: 20px;
					width: 24px;
					height: 24px;
					background: transparent url(../images/icon/arrowDown_ty3.svg) no-repeat center / 24px auto;
					transition: all 0.3s;
					transform: translateY(-50%);
				}
				&:active {
					background: var(--color-action-secondary-pressed);
				}
			}
			&.active {
				border: none;
				.acd_btn {
					margin-top: 21px;
					&::before {
						transform: translateY(-50%) rotate(180deg);
					}
					.sii_list_r {
						color: var(--color-text-primary-bold);
					}
					del {
						margin-top: -21px;
						display: block;
					}
				}
				& + .acd_cont {
					&::before {
						opacity: 1;
					}
				}
			}
		}
		.acd_cont {
			transition: all 0.3s;
			.info_gray {
				padding-top: 0;
			}
			.line1,
			.line2  {
				margin-bottom: 16px;
				&::before {
					content: '';
					display: block;
					width: 100%;
					height: 1px;
					background: var(--color-divider-gray-light);
					opacity: 1;
				}
			}
			.line1 {
				display: block;
				margin-top: var(--gap-5);
			}
		}
		&.ty2 {
			.acd_head {
				&.active {
					& + .acd_cont {
						.line1 {
							display: none;
						}
						.line2 {
							margin-top: var(--gap-5);
						}
						.inner {
							.info_gray {
								padding-bottom: 16px;
								dl {
									margin-top: var(--gap-5);
								}
							}
						}
					} 
				}
			}
		}

	}

	&.acd_item_ty7 {
		border-radius: var(--radius-large2);
		border: var(--border-width-static-regular) solid var(--color-border-gray-light);

		.cont_text {
			font-size: var(--font-size-label-medium);

		}
		.cont_text_sub {
			color: #6C7882;
			font-size: var(--font-size-body-small);
		}

		.acd_head {
			position: relative;
			padding: var(--padding-8) var(--padding-7);

			.acd_btn {
				position: absolute;
				top: 50%;
				right: 20px;
				width: 24px;
				height: 24px;
				font-size: 0;
				transition: all 0.3s;
				transform: translateY(-50%);
				background-color: transparent;

				&::before {
					content: "";
					position: absolute;
					top: 50%;
					left: 50%;
					width: 30px;
					height: 30px;
					margin: -15px 0 0 -15px;
					background: transparent;
				}
				&:after {
						position: absolute;
						top:4px;
						right:0;
						content: '';
						width: 24px;
						height: 24px;
						background: url(../images/icon/arrowDown_ty3.svg) no-repeat center / 24px auto;
						box-sizing: border-box;
						transition: all 0.3s;
					}

				&[aria-expanded="true"] {
					&:after {
						transform: rotate(180deg);
					}
				}
			}

			&.active {
				& + .acd_cont {
					padding: var(--gap-5) var(--padding-7) var(--padding-8);
					&::before {
						opacity: 1;
					}
				}
			}		
		}

		.acd_cont {
			position: relative;
			transition: all 0.3s;
			padding: 0 20px;
			&::before {
				content: "";
				position: absolute;
				top: 0;
				left: 20px;
				width: calc(100% - 40px);
				border-bottom: 1px solid var(--color-divider-gray-light);
				opacity: 0;
				transition: all 0.3s;
			}

			.detail_list_btn {
				font-size: var(--font-size-label-medium);
				background: url(../images/icon/arrowRight_disabled.svg) no-repeat right center / 20px auto;
				cursor: pointer;
			}

			* + .inp_checkbox {
				margin-top: var(--gap-5);
			}
		}
	}	

	.sub_txt_area {
		display: flex;
		gap: var(--gap-3);
		line-height: 28px;
		padding-top: 4px;
		color: var(--color-text-subtle);
		font-size: var(--font-size-label-small);

		& > .hd_badge {
			line-height: 20px;
		}
	}
		
	&.disabled {
		.acd_head {
			.acd_btn {
				.title {
					color: var(--color-text-disabled);
				}
			}
		}
		.acd_cont {
			.file_attach_box {
				.file_thumbnail {
					&:after {
						position: absolute;
						top: 0;
						left: 0;
						content:'';
						width: 100%;
						height: 100%;
						background: rgba(255, 255, 255, 0.75);
						border-radius: 16px;
					}
				}
			}
		}
	}
	&.acd_item_ty8 { // money
		.acd_head {
			position: relative;
			padding-bottom: 20px;
			border-bottom: 1px solid var(--color-divider-gray-light);
			.acd_btn {
				position: relative;
				width: 100%;
				padding-right: 36px;
				background-color: transparent;
				font-size: var(--font-size-heading-small);
	
				&:after {
					position: absolute;
					top: calc(50% - 12px);
					right:0;
					content: '';
					width: 24px;
					height: 24px;
					background: url(../images/icon/arrowDown_ty3.svg) no-repeat center /24px auto;
					box-sizing: border-box;
					transition: all 0.3s;
					}
	
				&[aria-expanded="true"] {
					&:after {
						transform: rotate(180deg);
					}
				}
				dl {
					align-items: center;
				}
			}
	
			&.active {
				& + .acd_cont {
					padding: 20px 0 0;
					&::before {
						opacity: 1;
					}
				}
			}		
		}
	
		.acd_cont {
			position: relative;
			transition: all 0.3s;
			& + dl {
				margin-top: var(--gap-5);
			}
		}
	}

	&.acd_item_ty9 { //헤더가 없는 케이스
		border-radius: var(--radius-large2);
		border: var(--border-width-static-regular) solid var(--color-border-gray-light);
		.acd_head {
			position: relative;
			display: none;

			.acd_btn {
				display: none;
			}
		}

		.acd_cont {
			position: relative;
			padding: 20px;
			transition: all 0.3s;
			&::before {
				content: "";
				position: absolute;
				top: 0;
				left: 20px;
				width: calc(100% - 40px);
				border-bottom: 1px solid var(--color-divider-gray-light);
				transition: all 0.3s;
			}
		}

		.coverage_item_list {
			li ~ li {
				border-top: var(--border-width-static-regular) solid var(--color-border-gray-light);
				padding-top: 16px;
			}
		}

	}

	&.acd_tg {
		&_bottom {
			& + .title_h3 {
				margin-top: 0;
				padding-top: var(--gap-11);
				// margin-top: var(--gap-11);
			}

			.tg_item {
				.select_radio_item {
					.rd_btn {
						&:nth-child(n+5){
							display: none;
						}
					}
				}

				&.active {
					.select_radio_item {
						.rd_btn {
							&:nth-child(n+5){
								display: block;
							}
						}
					}

					& + .btn_area {
						.btn_toggle {
							.text {
								&:before {
									content: '접기'
								}
								&:after {
									transform: rotate(-180deg);
								}
							}
						}
					}
				}
			}
			.btn_area {
				margin: var(--gap-5) 0 0;
			}
		}
	}
}

.picture_info_item {
	padding: 24px 20px;
	background-color: var(--color-surface-white-subtler);
	border-radius: var(--radius-large2);
  border: var(--border-width-static-regular) solid var(--color-border-gray-light);
}
.picture_info_top {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: var(--gap-3);

	& + span {
		position: absolute;
		opacity: 0;
		width: 0;
		height: 0;
	}

	.status {
		display: flex;
		flex-direction: column;
		gap: 4px;
		
		.title {
			font-size: var(--font-size-heading-small);
			font-weight: 700;
			color: var(--color-text-bolder);
		}
	}
	.preview {
		overflow: hidden;
		border-radius: 10px;
		flex:none;
		img {
			display: block;
			width: 52px;
			height: 40px;
		}
		//여러 개의 이미지가 등록된 경우 
		&_item {
			display:flex;
			flex:none;
			gap:8px;
		}
	}
}

.item_wrap_faq {
	border-top: 1px solid var(--color-divider-gray-light);
	.acd_item {
		border-bottom: 1px solid var(--color-divider-gray-light);
		.acd_head {
			position: relative;
			.acd_btn {
				position: relative;
				width: 100%;
				padding: 12px 32px 8px 0;
				background-color: #fff;
				font-size: var(--font-size-body-medium);
				&::before {
					content: '';
					position: absolute;
					top: 50%;
					right: 0;
					width: 32px;
					height: 32px;
					background: transparent url(../images/icon/arrowDown_ty3.svg) no-repeat center / 20px auto;
					transition: all 0.3s;
					transform: translateY(-50%);
				}
				.sub_g_txt {
					margin: 4px 0;
					display: block;
					font-size: var(--font-size-label-medium);
					color: var(--color-text-bolder);
				}
				&:active {
					background: var(--color-action-secondary-pressed);
				}
			}
			&.active {
				border: none;
				.acd_btn {
					background: var(--color-action-secondary-pressed);
					&::before {
						transform: translateY(-50%) rotate(180deg);
					}
				}
				& + .acd_cont {
					padding: 16px 0;
					font-size: var(--font-size-body-medium);
					border-top: 1px solid var(--color-divider-gray-darker);
					&::before {
						opacity: 1;
					}
				}
			}
		}
		.acd_cont {
			position: relative;
			transition: all 0.3s;
		}

	}
}