// Accordian
.acd_wrap {
}

.acd_item {
  .acd_head {
    .acd_btn {
      padding: 20px 10px;
      font-size: 16px;
      background-color: #fff;
    }
  }
  .acd_cont {
    background-color: #fff;

    .inner {
      display: none;
      padding: 20px 0;
    }

    .acd_btn {
      margin-top: 10px;
    }
  }

  >.acd_head {
    background-color: skyblue;
  }
  >.acd_cont {
    background-color: #d4d4d4;
  }
}