// 약관
.chk_group_wrap {
	.chk_group_cont {
		padding-top: var(--padding-6);
		.card_list_wrap {
			> li {
				.card_wrap {
					> dd {
						margin-top: var(--gap-7);
						padding-top: var(--padding-8);
					}
				}
			}
		}
	}
}


.agree_ditail_list {
	margin-top: var(--gap-5);
	> li {
		+ li {
			margin-top: var(--gap-5);
		}
		.agree_tit_box {
			display: flex;
			justify-content: space-between;
			align-items: top;
			gap: var(--gap-3);
			.agree_tit {
				position: relative;
				font-size: var(--font-size-body-medium);
				color: var(--color-text-basic);
				word-wrap: break-word;
				word-break: auto-phrase;
			}
			.btn_link {
				min-width: 55px;
				text-align: right;
				background-position: right 3px;
			}
		}
		dl {
			display: flex;
			justify-content: space-between;
			align-items: top;
			gap: var(--gap-5);
			margin: var(--gap-5) 0 0 var(--gap-5);
			dt {
				position: relative;
				padding-left: var(--padding-3);
				word-wrap: break-word;
				word-break: auto-phrase;
				&::before {
					content: '';
					position: absolute;
					top: 8px;
					left: 0;
					width: 2px;
					height: 2px;
					border-radius: 50%;
					background: var(--color-icon-information);
				}
			}
			dd {
				.radio_group_wrap {
					justify-content: end;
					min-width: 122px;

				}
			}
		}
	}
}



.ag_groups {

	& + .ag_groups { 
		margin-top: var(--gap-11);		
	}

	.ag_groups_top {
		//padding: 20px;
		padding: var(--padding-8) var(--padding-7);
		border-radius: var(--radius-large2);
		border: var(--border-width-static-regular) solid var(--color-border-gray-light);
		+ .ag_group_wrap {
			margin-top: var(--gap-5);
		}
	}

	& + .checkbox_group_wrap {
		margin-top: var(--gap-11);
	}

}

.ag_group_wrap {
	position: relative;
	padding: 0 var(--padding-7);
	border-radius: var(--radius-large2);
	border: var(--border-width-static-regular) solid var(--color-border-gray-light);

	& + .ag_group_wrap {
		margin-top: var(--gap-5);
	}

	.ag_group_top {
		padding: var(--padding-8) 0 var(--gap-5);
		.inp_checkbox {
			input[type=checkbox] {
				z-index: 0;
			}
		}
		+ .ag_group_cont {
			padding-top: var(--gap-5);
			border-top: var(--border-width-static-regular) solid var(--color-divider-gray-light);
		}
	}
	.table {
		td {
			.list_depth_ty2 {
				> li {
					color: var(--color-text-basic);
				}
			}
		}
	}
	.ag_group_cont {
		padding: var(--padding-8) 0;
		.info_gray {
			&:first-child {
				margin-top: 0;
			}
			&.agc_tig {
				background-color: var(--color-input-surface-disabled);
			}
			+ .agc_item,
			+ .badge_wrap {
				margin-top: var(--gap-5);
			}
		}

		> .badge_wrap {
			margin-bottom: var(--gap-2);
		}

		.title_sub {
			margin-top: var(--gap-5);
		}

		.agw_foot {
			margin-top: var(--gap-8);
		}

		+ .ag_group_cont {
			border-top: var(--border-width-static-regular) solid var(--color-divider-gray-light);//var(--color-border-gray-light);
		}

		// + .agw_foot {
		// 	padding: var(--gap-3) 0 var(--gap-6);
		// }

		
		.chk_list {
			.inp_checkbox {
				.list_ty2 {
					margin-top: var(--gap-5);
				}
			}
		}
	}

	.agc_item {
		+ .agc_item {
			margin-top: var(--gap-8);
		}

		.agc_item_top {
			position: relative;
			> .text {
				position: relative;
				display: flex;
				font-size: var(--font-size-body-medium);
				// margin-left: -16px;
				padding-right: 70px;
				.num {
					flex: none;
					width: 16px;
				}
				.txt {
					flex: 1 0 0;
					display: inline-block;
					.badge_wrap {
						width: auto;
						vertical-align: bottom;
					}
				}

				&.dot_mod {
					padding-left: var(--padding-3);
					&::before {
						content: '';
						position: absolute;
						top: 10px;
						left: 0;
						width: 3px;
						border-radius: 50%;
						border-bottom: 3px solid #33363D;
					}

				}

			}

			.short_cut {
				position: absolute;
				top: 2px;
				right: 0;
			}
		}


		// agc_item_cont
		.agc_item_cont {
			padding-top: var(--padding-6);
			padding-left: var(--padding-6);

			&:has(.dot_none){
				padding-top: var(--padding-3);
			}
		}

		.aic_list {
			> li {
				position: relative;
				padding-left: var(--padding-3);
				font-size: var(--font-size-body-small);
				&::before {
					content: '';
					position: absolute;
					top: 9px;
					left: 0;
					width: 2px;
					height: 2px;
					border-radius: 50%;
					background-color: var(--color-divider-gray-dark);
				}
				+ li {
					//margin-top: var(--gap-4);
					margin-top: var(--gap-5);
				}
				.agrdo_group {
					display: flex;
					align-items: flex-start;
					justify-content: space-between;
					gap: var(--gap-3);
					.aic_list_r {
						margin-left: auto;
						// .radio_group_wrap {
						// 	justify-content: end;
						// }
						.radio_group_wrap {
							gap: var(--gap-3);
						}
					}
				}
			}
			&.dot_none {
				> li {
					padding-left: 0;
					&::before {
						content: none;
					}
				}
			}
		}


		// agc_item_sub_txt
		.agc_item_sub_txt {
			margin-top: var(--gap-5);
			padding-left: var(--padding-2);
			font-size: var(--font-size-body-small);
			color: var(--color-text-subtle);
		}

	}
	&.zoom_wrap {
		// padding: 0;
		// border: none;

		.zoom_content {
			// padding: var(--padding-8) var(--padding-7);//32px 20px 24px;
			// border: var(--border-width-static-regular) solid var(--color-border-gray-light);
			// border-radius: var(--radius-large2);

			.table_wrap {
				& + .title_h5 {
					margin-top: var(--gap-5);
				}
			}
		}
	}


	/* qr 이미지 유무 처리 */
	&:has(.qr_box) {
		.agree_graph {
			padding-right: 92px;
		}
	}
	/* qr 이미지 유무 처리 */





}


.agrdo_group_sub {
	margin-top: var(--gap-3);
	padding: 20px;
	border-radius: var(--radius-large2);
	background-color: var(--color-surface-gray-subtler);
	.ags_cont {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: var(--gap-4) var(--gap-6);
		margin-top: var(--gap-5);
	}
}
.agw_foot {
	margin-top: var(--gap-3);
	font-size: var(--font-size-body-small);
	color: var(--color-text-subtle);
	text-align: right;
}

.agree_graph {
	margin: var(--gap-5) 0;
	img {
		display: block;
		width: 100%;
	} 
	&_list {
		display:grid;
		grid-template-columns: repeat(5, 1fr);
		padding-top:2px;
	}
	.graph_item {
		display:flex;
		justify-content: center;
		position: relative;
		width: 100%;
		margin-top: var(--gap-5);
		&::after {
			content:"";
			display:block;
			position: absolute;
			bottom: -16px;
			left:0;
			width:100%;
			height: 8px;			
		}
		.txt {			
			position: relative;
			display:block;
			font-size:var(--font-size-body-xsmall);
			color:var(--color-text-disabled-on);
			text-align: center;
		}	
		&.active {
			.txt {
				display: flex;
				justify-content: center;
				align-items: center;
				padding:2px 0;
				width: calc(100% - 4px);
				min-width: 48px;
				font-weight: 700;
				color:var(--color-text-bolder-inverse);
				border-radius: 40px;
				&::after {
					content:"";
					width: 6px;
					height: 6px;
					position: absolute;
					bottom: -3px;
					left: calc(50% - 3px);
					transform: rotate(45deg);
					border-radius: 1.5px;					
				}
			}
			&:nth-child(1) { //안심
				.txt {
					background-color: var(--color-border-secondary);
					&::after {
						background-color: var(--color-border-secondary);
					}
				}
			}
			&:nth-child(2) { //다소안심
				.txt {
					background-color: var(--color-light-success-50);
					&::after {
						background-color: var(--color-light-success-50);
					}
				}
			}
			&:nth-child(3) { //보통
				.txt {
					background-color: var(--color-light-warning-30);
					&::after {
						background-color: var(--color-light-warning-30);
					}
				}
			}
			&:nth-child(4) { //신중
			.txt {
					background-color: var(--color-light-primary-40);
					&::after {
						background-color: var(--color-light-primary-40);
					}
				}
			}
			&:nth-child(5) { //주의
				.txt {
					background-color: var(--color-light-point-50);
					&::after {
						background-color: var(--color-light-point-50);
					}
				}
			}
		}
		
		//bar
		&:nth-child(1)::after { //안심
			background-color: var(--color-border-secondary);
			border-radius:40px 0px 0px 40px;
		}
		&:nth-child(2)::after { //다소안심
			background-color: var(--color-light-success-50);
		}
		&:nth-child(3)::after { //보통
			background-color: var(--color-light-warning-30);
		}
		&:nth-child(4)::after{ //신중
			background-color: var(--color-light-primary-40);
		}
		&:nth-child(5)::after { //주의
			background-color: var(--color-light-point-50);
			border-radius: 0px 40px 40px 0px;
		}
	}
}

.agree_qr_box {
	position: relative;
	display: flex;
	justify-content: space-between;
	gap: var(--gap-3);
	width: 100%;
	padding-top: var(--gap-5);
	.qr_box {
		position: absolute;
		top: -80px;
		right: 0;
		width: 80px;
		height: 80px;
		padding: 9px;
		background: var(--color-surface-white-subtle);
		border-radius: var(--radius-medium3);
		border: var(--border-width-static-regular) solid var(--color-border-gray-light);
		img {
			width: 60px;
			height: 60px;
		}
	}

	+ .table_wrap {
		margin-top: var(--gap-5);
	}
}

.agrdo_group_sub,
.sep_chk_box {
	.ags_cont,
	.sep_cont {
		grid-template-columns: repeat(4, 1fr);
		gap:var(--gap-6);
	}
}


// 광고성 정보의 수신동의 - 별도 Case

.sep_chk_box {
	//margin-top: var(--gap-3);
	margin-top: var(--gap-5);
	padding: 20px;
	border-radius: var(--radius-large2);
	background-color: var(--color-surface-gray-subtler);
	.sep_cont {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: var(--gap-4) var(--gap-6);
		margin-top: var(--gap-5);
	}
}

//선택, 상세 컬러 변경
.second,
.elaborate {
	color: var(--color-text-primary-bold);
}


.ag_group_cont {
	.agw_all_top {
		margin: var(--gap-8) 0 var(--gap-5);
		padding-bottom: var(--gap-5);
		border-bottom: var(--border-width-static-regular) solid var(--color-divider-gray-light);
	}
}