// 약관
.chk_group_wrap {
	.chk_group_top {
		
	}
	.chk_group_cont {
		padding-top: 16px;
		.card_list_wrap {
			> li {
				.card_wrap {
					> dd {
						margin-top: var(--gap-7);
						padding-top: 24px;
					}
				}
			}
		}
	}
}


.agree_ditail_list {
	margin-top: var(--gap-5);
	> li {
		+ li {
			margin-top: var(--gap-5);
		}
		.agree_tit_box {
			display: flex;
			justify-content: space-between;
			align-items: top;
			gap: var(--gap-3);
			.agree_tit {
				position: relative;
				font-size: var(--font-size-body-medium);
				color: var(--color-text-basic);
				word-wrap: break-word;
				word-break: auto-phrase;
			}
			.btn_link {
				text-align: right;
				min-width: 55px;
				background-position: right 3px;
			}
		}
		dl {
			margin: 16px 0 0 16px;
			display: flex;
			justify-content: space-between;
			align-items: top;
			gap: var(--gap-5);
			dt {
				position: relative;
				padding-left: 8px;
				word-wrap: break-word;
				word-break: auto-phrase;
				&::before {
					content: '';
					position: absolute;
					top: 8px;
					left: 0;
					width: 2px;
					height: 2px;
					border-radius: 50%;
					background: var(--color-icon-information);
				}
			}
			dd {
				.radio_group_wrap {
					justify-content: end;
					min-width: 122px;

				}
			}
		}
	}
}



.ag_groups {

	.ag_groups_top {
		padding: 20px;
		border-radius: var(--radius-large2);
		border: var(--border-width-static-regular) solid var(--color-border-gray-light);
		+ .ag_group_wrap {
			margin-top: var(--gap-5);
		}
	}

	& + .checkbox_group_wrap {
		margin-top: var(--gap-11);
	}

}

.ag_group_wrap {
	padding: 0 var(--padding-7);
	border-radius: var(--radius-large2);
	border: var(--border-width-static-regular) solid var(--color-border-gray-light);

	& + .ag_group_wrap {
		margin-top: var(--gap-5);
	}

	.ag_group_top {
		padding: var(--padding-8) 0 var(--gap-5);
		+ .ag_group_cont {
			border-top: var(--border-width-static-regular) solid var(--color-border-gray-light);
		}
	}

	.ag_group_cont {
		padding: var(--gap-5) 0 var(--padding-8);
		.info_gray {
			&.agc_tig {
				background-color: var(--color-input-surface-disabled);
			}
			+ .agc_item {
				margin-top: var(--gap-5);
			}
		}

		> .badge_wrap {
			margin-bottom: 4px;
		}

		.title_sub {
			margin-top: var(--gap-5);
		}

		.agw_foot {
			margin-top: var(--gap-8);
		}

		+ .ag_group_cont {
			border-top: var(--border-width-static-regular) solid var(--color-border-gray-light);
		}

		// + .agw_foot {
		// 	padding: var(--gap-3) 0 var(--gap-6);
		// }
	}

	.agc_item {
		+ .agc_item {
			margin-top: var(--gap-8);
		}

		.agc_item_top {
			position: relative;
			> .text {
				position: relative;
				display: flex;
				font-size: var(--font-size-body-medium);
				// margin-left: -16px;
				padding-right: 70px;
				.num {
					flex: none;
					width: 16px;
				}
				.txt {
					flex: 1 0 0;
					display: inline-block;
					.badge_wrap {
						width: auto;
						vertical-align: bottom;
					}
				}

				&.dot_mod {
					padding-left: 8px;
					&::before {
						content: '';
						position: absolute;
						top: 9px;
						left: 0;
						width: 4px;
						border-radius: 50%;
						border-bottom: 4px solid #33363D;
					}

				}

			}

			.short_cut {
				position: absolute;
				top: 2px;
				right: 0;
			}
		}


		// agc_item_cont
		.agc_item_cont {
			padding-top: 16px;
			padding-left: 16px;
		}

		.aic_list {
			> li {
				position: relative;
				padding-left: 8px;
				font-size: var(--font-size-body-small);
				&::before {
					content: '';
					position: absolute;
					top: 9px;
					left: 0;
					width: 2px;
					border-radius: 50pc;
					border-bottom: 1px solid #6D7882;
				}
				+ li {
					margin-top: var(--gap-4);
				}
				.agrdo_group {
					display: flex;
					align-items: flex-start;
					justify-content: space-between;
					gap: var(--gap-3);
					.aic_list_r {
						margin-left: auto;
						// .radio_group_wrap {
						// 	justify-content: end;
						// }
					}
				}
			}
			&.dot_none {
				> li {
					padding-left: 0;
					&::before {
						content: none;
					}
				}
			}
		}


		// agc_item_sub_txt
		.agc_item_sub_txt {
			margin-top: var(--gap-5);
			padding-left: 4px;
			font-size: var(--font-size-body-small);
			color: var(--color-text-subtle);
		}

	}
	&.zoom_wrap {
		padding: 0;
		border: none;

		.zoom_content {
			padding: 32px 20px 24px;
			border: var(--border-width-static-regular) solid var(--color-border-gray-light);
			border-radius: var(--radius-large2);
		}
	}
}


.agrdo_group_sub {
	margin-top: var(--gap-3);
	padding: 20px;
	border-radius: var(--radius-large2);
	background-color: var(--color-surface-gray-subtler);
	.ags_cont {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 12px 20px;
		margin-top: var(--gap-5);
	}
}
.agw_foot {
	margin-top: var(--gap-3);
	font-size: var(--font-size-body-small);
	color: var(--color-text-subtle);
	text-align: right;
}

.agree_graph {
	margin: 16px 0;
	img {
		display: block;
		width: 100%;
	} 
	&_list {
		display:grid;
		grid-template-columns: repeat(5, 1fr);
		padding-top:2px;
	}
	.graph_item {
		display:flex;
		justify-content: center;
		position: relative;
		width: 100%;
		margin-bottom: 16px;
		&::after {
			content:"";
			display:block;
			position: absolute;
			bottom: -16px;
			left:0;
			width:100%;
			height: 8px;			
		}
		.txt {			
			display:block;
			position: relative;
			font-size:var(--font-size-body-xsmall);
			color:var(--color-text-disabled-on);
			text-align: center;
		}	
		&.active {
			.txt {
				display: flex;
				justify-content: center;
				align-items: center;
				padding:2px 0;
				width: calc(100% - 10px);
				min-width: 48px;
				font-weight: 700;
				color:var(--color-text-bolder-inverse);
				border-radius: 40px;
				&::after {
					content:"";
					width: 6px;
					height: 6px;
					position: absolute;
					bottom: -3px;
					left: calc(50% - 3px);
					transform: rotate(45deg);
					border-radius: 1.5px;					
				}
			}
			&:nth-child(1) { //안심
				.txt {
					background-color: var(--color-border-secondary);
					&::after {
						background-color: var(--color-border-secondary);
					}
				}
			}
			&:nth-child(2) { //다소안심
				.txt {
					background-color: var(--color-light-success-50);
					&::after {
						background-color: var(--color-light-success-50);
					}
				}
			}
			&:nth-child(3) { //보통
				.txt {
					background-color: var(--color-light-warning-30);
					&::after {
						background-color: var(--color-light-warning-30);
					}
				}
			}
			&:nth-child(4) { //신중
			.txt {
					background-color: var(--color-light-primary-40);
					&::after {
						background-color: var(--color-light-primary-40);
					}
				}
			}
			&:nth-child(5) { //주의
				.txt {
					background-color: var(--color-light-point-50);
					&::after {
						background-color: var(--color-light-point-50);
					}
				}
			}
		}
		
		//bar
		&:nth-child(1)::after { //안심
			background-color: var(--color-border-secondary);
			border-radius:40px 0px 0px 40px;
		}
		&:nth-child(2)::after { //다소안심
			background-color: var(--color-light-success-50);
		}
		&:nth-child(3)::after { //보통
			background-color: var(--color-light-warning-30);
		}
		&:nth-child(4)::after{ //신중
			background-color: var(--color-light-primary-40);
		}
		&:nth-child(5)::after { //주의
			background-color: var(--color-light-point-50);
			border-radius: 0px 40px 40px 0px;
		}
	}
}

.agree_qr_box {
	margin-bottom: 16px;
	display: flex;
	width: 100%;
	justify-content: space-between;
	gap: var(--gap-3);
	div {
		width: calc(100% - 68px);
	}
	.qr_box {
		width: 60px;
		img {
			display: block;
			width: 60px;
			height: auto;
		}
	}
}


// 광고성 정보의 수신동의 - 별도 Case

.sep_chk_box {
	margin-top: var(--gap-3);
	padding: 20px;
	border-radius: var(--radius-large2);
	background-color: var(--color-surface-gray-subtler);
	.sep_cont {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 12px 20px;
		margin-top: var(--gap-5);
	}
}