.all_menu_search_wrap {
	display: none;
	position: absolute;
	top: 120px;
	left: 0;
	z-index: 20;
	width: 100%;
	padding: var(--padding-12) 0 var(--padding-9) 0;
	border-radius: 0px 0px var(--radius-xxlarge) var(--radius-xlarge2);
	background-color: var(--color-background-white);
	&.active {
		display: block;
	}

	.msp_wrap {
		display: inline-block;
		width: 1188px;
		margin: 0 auto; 
		text-align: left;
	}
}