.all_menu_search_wrap {
	display: none;
	position: absolute;
	top: 120px;
	left: 0;
	z-index: 20;
	width: 100%;
	padding: var(--padding-12) 0 var(--padding-9) 0;
	border-radius: 0px 0px var(--radius-xxlarge) var(--radius-xlarge2);
	background-color: var(--color-background-white);
	font-size: 16px;
	&.active {
		display: block;
	}

	.msp_wrap {
		display: inline-block;
		width: 836px;
		margin: 0 auto; 
		text-align: left;
	}


	.msp_wrap_cont {
		.msp_in_cont {
			margin-top: var(--gap-11);
			& ~ .msp_in_cont {
				margin-top: var(--gap-8);
			}

			.msp_slw_title {
				padding-bottom: var(--gap-4);
				font-size: var(--font-size-heading-xxsmall);
				color: var(--color-text-bolder);
			}
		}
	}
}