.all_menu {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 900;
	background-color: var(--color-background-white);
	display: none;
	&.active {
		display: block;
	}

	.event_pop_ele_inner {
		height: 100%;
		overflow: auto;
	}

	.popup_close {
		position: absolute;
		top: 16px;
		right: 16px;
		width: 32px;
		height: 32px;
		border-radius: var(--radius-small2);
		background-color: var(--color-element-gray-lighter);
		cursor: pointer;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 0;
		color: var(--color-text-gray-dark);
		
		&::before {
			content: '×';
			font-size: 24px;
			line-height: 1;
			font-weight: bold;
			color: var(--color-text-gray-dark);
		}
	}
}

.am_header {
	flex: none;
	text-align: center;
	background-color: var(--color-surface-primary);
	.am_header_inner {
		display: inline-flex;		
		width: 1188px;
		padding: 21px 0;
	}
}


.am_content {
	height: calc(100% - 72px);
	overflow: auto;
	text-align: center;
	.am_content_inner {
		// display: inline-flex;
		// flex-direction: column;
		display: inline-block;
		width: 1188px;
	}
	.amc_nav {
		// flex: none;
		position: sticky;
		top: 0;
		z-index: 1;
		padding: var(--padding-6, 16px) 0px var(--padding-8, 24px) 0px;
		background-color: var(--color-background-white);
			
		&.active {

		}
	}


	.amc_cont {
		flex: 1 1 0;
		display: inline-flex;
		align-items: flex-start;
		gap: 0 var(--gap-5);
		.amc_cont_left {
			flex: 1 1 0;
		}


		.amc_cont_right {
			flex: none;
			width: 130px;
			font-size: 24px;
			text-align: left;
			overflow-wrap: anywhere;
		}
	}
}