.all_menu {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 900;
	background-color: var(--color-background-white);
	display: none;
	&.active {
		display: block;
	}

	.event_pop_ele_inner {
		height: 100%;
		// overflow: auto;
	}

	.popup_close {
		position: absolute;
		top: 16px;
		left: 50%;
		width: 40px;
		height: 40px;
		margin-left: 554px;
		font-size: 0;
		background: url(../images/icon/icon_close_ty2.svg) no-repeat center center / 24px auto;
	}

}

.am_header {
	flex: none;
	text-align: center;
	background-color: var(--color-surface-primary);
	.am_header_inner {
		display: inline-flex;		
		width: 1188px;
		padding: 21px 0;
		.am_header_title {
			> img {
				width: 160px;
			}
		}
	}
}


.am_content {
	height: calc(100% - 72px);
	overflow: auto;
	overflow-x: hidden;
	text-align: center;
	.am_content_inner {
		display: inline-block;
		width: 1188px;
	}
	.amc_nav {
		// flex: none;
		position: sticky;
		top: 0;
		z-index: 1;
		padding: var(--padding-6) 0px var(--padding-8) 0px;
		background-color: var(--color-background-white);
		transition: 0.3s;
		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: 50%;
			width: 100vw;
			height: 100%;
			transform: translateX(-50%);
			background: var(--color-background-white, #FFF);
			transition: box-shadow 0.3s ease-in-out;
		}
		.tag_item_wrap {
			position: relative;
			margin-bottom: 0;
		}			

		&.active {
			&::before {
				box-shadow: 0 var(--shadow-y-2) var(--shadow-blur-2) 0 var(--color-alpha-shadow1, rgba(0, 0, 0, 0.05));
			}
		}
	}


	.amc_cont {
		flex: 1 1 0;
		display: inline-flex;
		align-items: flex-start;
		gap: 0 var(--gap-5);
		.amc_cont_left {
			flex: 1 1 0;
		}


		.amc_cont_right {
			flex: none;
			width: 130px;
			font-size: 24px;
			text-align: left;
			overflow-wrap: anywhere;
		}
	}
}