/* 컨텐츠 view */
.view_wrap {
	.view_title {
		padding-bottom: var(--gap-5);

		.hd_icon {
			display: block;
		}

		.hd_icon + .title_info {
			margin-top: var(--gap-3);
		}

		.card_item.donation {
			border: 0;
			border-radius: 0;
			padding: 0;
			cursor: default;

			.title_info .main_title {
				font-size: var(--font-size-heading-small);//스타일우선 순위 문제로 중복선언함
			}
			.item_inner {
				cursor: default;
			}
		}

		.title_info {

			.badge_wrap {
				& + .main_title {
					margin-top: var(--gap-2);
				}
			}
			
			.sub_title {
				color: var(--color-text-subtle);
				font-size: var(--font-size-body-small);

				& + .main_title {
					margin-top: var(--gap-2);
				}
			}

			.main_title {
				font-size: var(--font-size-heading-small);
				color: var(--color-text-bolder);
				font-weight: 700;

				&.lg {
					font-size: var(--font-size-heading-large);
				}
			}

			& + .desc {
				margin-top: var(--gap-3);
				color: var(--color-text-information);
				font-size: var(--font-size-body-small);
			}
		}
	}

	.view_title + .btn_area {
		margin-top: var(--gap-5);

		& + .view_cont {
			margin-top: var(--gap-8);
		}
	}

	.view_cont {
		padding-top: var(--gap-5);
		border-top: var(--border-width-static-regular) solid var(--color-divider-gray-light);
		font-size: var(--font-size-body-medium);

		img {
			display: block;
		}
		.button_area {
			text-align: right;
			margin-bottom: var(--gap-3);
		}

		.event_info_area,
		.img_box {
			& + .txt_detail {
				margin-top: 0;
			}
			& + * {
				margin-top: var(--gap-5);
			}
		}

		& + .view_navigation {
			margin-top: var(--gap-5);
		}

		.text_sub {
			+ .form_group_wrap {
				margin-top: var(--gap-8);
				+ .table_wrap {
					margin-top: var(--gap-5);
				}
			}
		}

		.form_group_wrap [class^="form_line"] .label_tit {
			color: var(--color-text-basic);
		}

		.vod_area,
		.acd_item {
			& + p {
				margin-top: var(--gap-5);
			}
		}


		// 게시판 상세
		.txt_detail {
			.txt_point {
				margin-top: var(--gap-12);
				font-size: var(--font-size-heading-medium);
			}
			p {
				margin-top: var(--gap-7);
			}
		}

		.img_link {
			display: block;
			&:focus {
				box-shadow: 0 0 0 1px rgba(0, 0, 0, 1);
				outline: var(--border-width-static-medium) solid #000;
				outline-offset: -2px;
			}
		}





	}

	.view_cont + .btn_area {
		margin-top: var(--gap-5);

		& + .view_navigation {
			margin-top: var(--gap-11);
		}

		& > .hd_btn {
			min-width: 120px;
		}
	}

	.view_navigation {
		li.navigation_item {
			display: flex;
			align-items: center;
			gap: var(--gap-2);
			padding: var(--padding-6) 0px;
			border-top: var(--border-width-static-regular) solid var(--color-divider-gray-light);

			&:last-of-type {
				border-bottom: var(--border-width-static-regular) solid var(--color-divider-gray-light);
			}

			.navigation_label {
				color: var(--color-text-subtle);
				font-size: var(--font-size-body-small);
				flex-shrink: 0;

				& + i {
					display: block;
					content: "";
					width: 1px;
					height: 12px;
					background-color: var(--color-border-gray-light);
				}
			}

			.navigation_title {
				font-size: var(--font-size-body-medium);

				&.no-data {
					color: var(--color-text-disabled-on);
				}
			}
		}
	}

	.img_box {
		width: 100%;
		border-radius: var(--radius-medium3);

		&.no_img {
			width: 100%;
			height: 120px;
			background: var(--color-surface-gray-subtler);
			display: flex;
			align-items: center;
			justify-content: center;
		}

		img {
			display: block;
			width: 100%;
			border-radius: inherit;
		}
	}
}

//동영상 게시판

.vod_area {
	width: 100%;
	height: auto;
	aspect-ratio: 1.778;
	border-radius: var(--radius-large2);
	overflow: hidden;

	iframe {
		width: 100%;
		height: 100%;
	}

	& + .acd_item {
		margin-top: var(--gap-5);
	}
}

.vod_preview {
	width: 100%;
	height: auto;
	border-radius: var(--radius-large2);
	aspect-ratio: 1.778;
	display: flex;
	position: relative;
	overflow: hidden;

	img {
		width: 100%;
	}

	.vod_title {
		display: flex;
		align-items: end;
		width: 100%;
		height: 100%;
		padding: 10px 16px;
		background: rgba(0, 0, 0, 0.5);
		position: absolute;
		top: 0;
		left: 0;

		color: #ffffff;
		font-size: var(--font-size-heading-xsmall);
		font-weight: 700;

		&:before {
			display: block;
			content: "";
			width: 48px;
			height: 48px;
			border-radius: var(--radius-max);
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);

			border: var(--border-width-static-regular) solid var(--color-border-gray-light);
			background: #fff url(../images/icon/icon_play.svg) no-repeat 12px center/ 24px 24px;
		}
	}

	& + .box_list_wrap {
		margin-top: var(--gap-8);
	}
}

//동영상 자막 영역
.vod_cont {
	.acd_item.acd_item_ty2 {
		.acd_head {
			padding: var(--padding-6) var(--padding-7);

			.acd_btn {
				font-size: var(--font-size-heading-xsmall);
			}
			
			&.active + .acd_cont {
				padding: var(--padding-5) var(--padding-7) var(--padding-6);//var(--gap-4) var(--padding-6);

				#mov_youtube_caption {
					visibility: visible;
					opacity: 1;
					color: #000;
				}
			}
		}
	}

	#mov_youtube_caption {
		max-height: 216px;
		overflow-y: scroll;
		visibility: hidden;
		opacity: 0;
		transition: visibility 0.2s ease-in-out;
	}
}

.star_item {
	display: flex;
	justify-content: center;
	.start_radio {
		direction: rtl; // 별을 오른쪽부터 왼쪽으로 찍기 위해
		display: inline-flex;
		gap: var(--gap-2);
		

		input {
			position: absolute;
			width: 1px;
			height: 1px;
			margin: -1px;
			overflow: hidden;
			clip: rect(0 0 0 0);
		}

		label {
			display: inline-block;
			width: 32px;
			height: 32px;
			background: url("../images/icon/star.svg") no-repeat center / contain;
			cursor: pointer;
		}

		input:checked ~ label {
			background-image: url("../images/icon/star_on.svg");
		}
	}
	& + .form_group_wrap {
		margin-top: var(--gap-8);
	}
}

.review_acd_item {

	& + .review_acd_item {
		margin-top: var(--gap-5);
	}

	position: relative;
	width: 100%;
	border-radius: var(--radius-large2, 24px);
	border: 1px solid var(--color-border-gray-light);
	background: var(--color-surface-white-subtle);

	.inner {
		padding: var(--padding-8) var(--padding-7);
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: var(--gap-3);
	}

	//	clear: both;

	.inner .info_area {
		width: 100%;
		display: flex;
		align-items: center;
		gap: var(--gap-2);
		flex-wrap: wrap;

		.hd_badge {
			flex-shrink: 0;
		}

		.meta {
			display: inline-block;
			color: var(--color-text-subtle);
			font-size: var(--font-size-body-small);
			color: var(--color-text-subtle);
			white-space: nowrap;
			position: relative;

			& + .meta {
				padding-left: 9px;

				&:before {
					display: block;
					content: "";
					width: 1px;
					height: 12px;
					//margin: 0 4px;
					background: var(--color-border-gray-light);
					position: absolute;
					top: 50%;
					left: 2px;//0px;
					transform: translateY(-50%);
				}
			}
		}
	} //info_area

	.inner .review_cont {
		font-size: var(--font-size-body-medium);
		display: -webkit-box;
		line-clamp: 2;
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;
		overflow: hidden;
	}

	.acd_btn {
		position: absolute;
		top: var(--padding-8);
		right: var(--padding-7);
		width: 32px;//24px;
		height: 32px;//24px;
		font-size: 0;
		transition: all 0.3s;

		&::after {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: #fff url(../images/icon/arrowDown_ty3.svg) no-repeat center / 24px auto;
			transition: all 0.3s;
		}
	}

	//아코디언 형태일때 별점 높이값
	&:has(.acd_btn) {
		.review_star_item {
			height: 32px;
		}
	}

	//open상태
	&.active {
		.acd_btn:after {
			transform: rotate(180deg);
		}

		.review_cont {
			display: block;
		}
	}

	.review_star_item {
		display: flex;
		align-items: center;
		gap: var(--gap-2);
		height: 24px;

		.star {
			display: block;
			width: 16px;
			height: 16px;

			background: url("../images/icon/star.svg") no-repeat center / contain;
			cursor: pointer;

			&.on {
				background-image: url("../images/icon/star_on.svg");
			}
		}
	} //review_star_item
}
