@mixin badge($font-color, $bg-colors, $border-color){
	color: $font-color;
	background-color: $bg-colors;
	border-color: $border-color;
}

.badge_wrap {
	display: flex;
	flex-flow: row wrap;
	gap: 8px;
}

.badge_item {
	.text {
		display: block;
		padding: 6px;
		font-size: 12px;
		font-weight: bold;
		line-height: 20px;
		border-width: 1px;
		border-style: solid;
		border-radius: 8px;

		&.c_1 {
			@include badge(white, red, black);
		}
		&.c_2 {
			@include badge(black, skyblue, blue);
		}
		&.c_3 {
			@include badge(pink, gray, green);
		}
		&.c_4 {
			@include badge(blue, yellow, orange);
		}
	}
}