/* Banner */

// 버튼형
.bann_text_wrap_ty1 {
	display: block;
	padding: 24px 20px;
	background-color: #fff9f1;	
	border-radius: 32px;

	.text {
		display: block;
		padding-left: 79px;
		font-size: var(--font-size-heading-xxsmall);
		line-height: 150%;
		font-weight: 500;
		color: #2b3541;
		background: url(../images/icon/banner/img_bann_car.png) no-repeat left center / auto 52px;

		> * {
			display: block;
		}

		strong {
			font-weight: 600;
		}
	}

	& + .list_top_wrap {
		margin-top: var(--gap-11);
	}
}

.bann_text_wrap_ty2 {
	display: block;
	padding: 24px 20px;	
	border-radius: 32px;
	background-color: #F4FFEA;

	.text {
		display: block;
		padding-left: 70px;
		font-size: var(--font-size-heading-xxsmall);
		line-height: 150%;
		font-weight: 500;
		color: #2b3541;
		background: url(../images/icon/banner/img_bann_firework.png) no-repeat left center / auto 58px;

		> * {
			display: block;
		}

		strong {
			font-weight: 600;
		}
	}

	& + .list_top_wrap {
		margin-top: var(--gap-11);
	}
}

.bann_text_wrap_ty3 {
	display: block;
	padding: var(--padding-6) var(--padding-8);
	border-radius: var(--radius-large2);

	& + & {
		margin-top: var(--gap-5);
	}

	&.bg1 {
		background-color: var(--color-element-secondary-light-blue);
	}

	&.bg2 {
		background-color: var(--color-element-warning-lighter);
	}

	&.bg3 {
		background-color: var(--color-element-success-lighter);
	}

	.text {
		display: block;
		padding-left: 44px;
		font-size: var(--font-size-body-medium);
		font-weight: 500;
		color: #2b3541;
		background: url(../images/icon/banner/icon_heart_plus.svg) no-repeat left top / auto 32px;

		strong {
			font-weight: 700;
		}
		> span {
			margin-top: var(--gap-2);
			display: block;
			font-size: var(--font-size-body-small);
			line-height: 27px;
		}
		.arrowRightSvg_ty4 {
			padding-right: 24px;
			background-repeat: no-repeat;
			background-position: right 4px center;
			background-size: 16px auto;
		}
	}

	& + .card_item_wrap {
		margin-top: var(--gap-8);
	}
}

.bann_wrap {
	&.bann_ty1 {
		display: flex;
		gap: 12px;
		padding: 16px 24px;
		background-color: var(--color-element-success-lighter);
		border-radius: 24px;

		.inner {
			display: flex;
			gap: 12px;
		}		
	
		.bann_cont {
			.title {
				font-size: var(--font-size-heading-xsmall);
				line-height: 24px;
				font-weight: 700;
			}
		
			.desc {
				margin-top: var(--gap-2);
				font-size: var(--font-size-body-small);
				line-height: 21px;
				color: var(--color-text-subtle);
			}
		}

		&.co_ty2 {
			background-color: var(--color-element-secondary-light-blue);
		}
		&.co_ty3 {
			background-color: var(--color-element-warning-lighter);
		}
		&.co_ty4 {
			background: var(--color-element-point-lighter);
		}
	}
}
