/* breadcrumb */
// breadcrumb
.breadcrumb {
	flex: none;
}

.breadcrumb_inner {
	width: 1188px;
	margin: 0 auto;
	padding-right: var(--padding-2);
	
	&_list {
		display: flex;
		align-items: center;
		justify-content: flex-end;

		> li {
			position: relative;
			font-size: var(--font-size-navigation-depth-small);
			line-height: 24px;
			color: var(--color-text-subtle);

			> a,
			> span {
				display: block;
			}

			&:last-child {
				font-weight: 700;
			}

			& + li {
				padding-left: var(--padding-8);
				&::after {
					content: '';
					position: absolute;
					top: calc(50% - 8px);
					left: 4px;
					width: 16px;
					height: 16px;
					background:url(../images/icon/arrowRight_ty4.svg) no-repeat center / 16px auto;
				}
			}
		}
	}
}