/* Input */
.breadcrumb {
	&_inner {
		text-align: right;
		&_list {
			display: inline-flex;
			align-items: center;
			.bc_home {
				display: inline-flex;
				width: 20px;
				height: 20px;
				background-color: blue;
			}
			> li {
				position: relative;
			}
			
		}
	}
}