/* Button */
.btn {
	display: inline-block;
	padding: 4px;
	font-size: 12px;
	text-align: center;

	&:focus-within {border: 2px solid red !important;}
}


.btn_area {
  display: flex;
	justify-content: space-between;
  gap: 10px;
	flex-wrap: wrap;

	> .btn {
		flex: 1;

		&.full {
			flex-basis: 100%;
		}
	}

	&.column {
		flex-direction: column;
	}

	&.ty1 {
		> .btn {
			flex-basis: calc(50% - 10px);

			&.full {
				flex-basis: 100%;
			}
		}
	}

	&.ty2 {
		> .btn {
			flex-basis: calc(33.3% - 10px);

			&.full {
				flex-basis: 100%;
			}
		}
	}
}