.tag_item {
	position: relative;
	display: inline-block;
	background: transparent;
	> .text {
		position: relative;
		display: block;
		border-radius: var(--radius-max);
		border: var(--border-width-static-regular) solid var(--color-border-gray-light);
		background: #fff;
	}
	&.size_l {
		> .text {
			padding: 9px 12px;
			font-size: var(--font-size-label-medium);
			line-height: 20px;
		}
	}
	&.size_m {
		> .text {
			padding: 6px var(--padding-4);
			font-size: var(--font-size-label-small);
		}
	}
	&.size_s {
		> .text {
			padding: 2px 8px;
			font-size: var(--font-size-label-small);
			line-height: 18px;
		}
	}

	&.c_ty01 {
		> .text {
			border: var(--border-width-static-regular) solid var(--color-border-gray-lighter);
			background-color: var(--color-element-gray-lighter);
			color: var(--color-text-subtle);
		}
	}

	&.c_ty02 {
		> .text {
			background-color: var(--color-element-secondary-lighter);
			color: var(--color-text-basic);
			border-color: var(--color-element-secondary-lighter);
		}


		&.active {
			> .text {
				background-color: var(--color-border-secondary);
				color: var(--color-text-basic-inverse);
				border-color: var(--color-border-secondary);
			}
		}
	}

	&.c_ty03 {
		> .text {
			background-color: var(--color-element-secondary-light);
			color: var(--color-text-basic);
			border-color: var(--color-element-secondary-light);
		}


		&.active {
			> .text {
				background-color: var(--color-border-secondary);
				color: var(--color-text-basic-inverse);
				border-color: var(--color-border-secondary);
			}
		}
	}
}


.tag_item_wrap {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	gap: var(--gap-3);
	margin-bottom: var(--gap-8);
	background-color: var(--color-background-white);

	& + .title_h3,
	& + .card_item_wrap {
		margin-top: var(--gap-11);
	}
	& + .search_result_count {
		margin-top: var(--gap-8);
	}

	&_ty2 {
		display: flex;
		flex-flow: row wrap;
		align-items: center;
		gap: var(--gap-4) var(--gap-3);
	}

	&_ty3 {
		display: flex;
		flex-flow: row wrap;
		align-items: center;
		gap: var(--gap-2) var(--gap-3);
	}

	& + .selectitem_wrap {
		margin-top: var(--gap-8);
	}

	// 좌표 설정
	&.tag_item_wrap_po_etc1 {
		top: 0;
	}

	&.sticky_fix {
		padding-bottom: var(--gap-8);
		margin-bottom: 0;
	}
}

.tag_item_move {
	position: relative;

	> .tag_move {
		&:first-child {
			padding-top: var(--gap-5);
		}
	}
}
.tag_item_cont {
	&:has(.card_list_wrap_ty4){
		.s_title {
			&:first-child {
				padding-top: var(--padding-6);
			}
		}
	}

	.s_title {
		color: var(--color-text-subtle);
		font-size: var(--font-size-body-small);
		& + [class^=card_list_wrap] {
			margin-top: var(--gap-4);
		}
	}
	.card_list_wrap {
		& + .s_title {
			//margin-top: var(--gap-7);
			margin-top: var(--gap-11);
		}
		.card_wrap {
			.card_link {
				.item_top {
					.title_info {
						.title {
							padding-right: 30px;
    					background: url(../images/icon/arrowRight_ty4.svg) no-repeat right top 3.5px / 20px auto;
						}
					}
				}
			} 
		} // 카드 링크 아이콘
	}

	.card_list_wrap_ty4 {
		& + .s_title {
			margin-top: var(--gap-11);
		}
	}
}