.keypad_wrap {
   
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(2, auto) ;
    gap: var(--gap-3);

    &.fixed {
        width: fit-content;

        .keypad_chip_item {
            width: 38px;
        }
    }

    .keypad_chip_item {
        display: flex;
        justify-content: center;
        align-items: center;
        height: var(--size-height-8);
        padding: 8px;
        border-radius: var(--radius-medium1);
        border: var(--border-width-static-regular) solid var(--color-border-gray-light);
        background: var(--color-element-inverse);
        font-size: var(--font-size-label-medium);
        cursor: pointer;
        user-select: none;
    
        // &:hover {
        //     border: var(--border-width-static-regular) solid var(--color-button-tertiary-border);
        //     background: var(--color-button-tertiary-fill-hover);
        // }
        &:active {
            border: var(--border-width-static-regular) solid var(--color-button-tertiary-border);
            background: var(--color-button-tertiary-fill-pressed);
        }
    
        &.selected {
            border: var(--border-width-static-medium) solid var(--color-element-primary);
        }
    }
}

