/* Card*/
// card list type
@mixin car-list-style(
	// $ul-padding: 0,
	// $ul-margin: 0,
	$ul-border-radius: 0,
	$li-padding: 0,
	$li-margin: 0,
	$li-font-size: 16px,
	// $li-line-height: 20px,
	$li-color: inherit
) {
	// padding: $ul-padding;
	// margin: $ul-margin;
	border-radius: $ul-border-radius;
	> li {
		position: relative;
		margin: $li-margin;
		padding: $li-padding;
		font-size: $li-font-size;
		// line-height: $li-line-height;
		color: $li-color;
	}
	@content;
}


.card_item_wrap {
	& + & {
		margin-top: var(--gap-5);
	}

	& + * {
		margin-top: var(--gap-5);
		&.pop_title_h1,
		&.list_top_wrap,
		&.card_item_wrap,
		&.title_h3,
		&.btn_area {
			margin-top: var(--gap-8);
		}

		&.banner_box {
			margin-top: var(--gap-8);
		}
		&.title_h3 {
			margin-top: var(--gap-11);
		}

		&.btn_area {
			&.btn_area_space2 {
				margin-top: var(--gap-5);
			}	
		}
	}
	
	.info_text {
		& + .radio_group_wrap {
			margin-top: var(--gap-5);
		}
	}
	.no_list_area {
		margin-top: var(--gap-5);
	}

	&.focusin {
		.card_item{
			padding:0;
			.item_inner {
				padding: calc(var(--padding-8) - 1px) var(--padding-7);
				border: var(--border-width-static-regular) solid transparent;
			}
			&:not(.disabled):focus-within  {
				border-color: var(--color-border-primary);
				.item_inner {
					border: var(--border-width-static-regular) solid var(--color-border-primary);
					border-radius: 22px;
				}
			}			
		}
	}


	&.ty2 {
		.card_item {
			.card_link {
				&::after {
					content: '';
					position: absolute;
					top: 0;
					left: 0;
					z-index: 1;
					width: 100%;
					height: 100%;
				}
			}
			&.disabled {
				.card_link {
					.item_top {
						.title_info {
							.main_title {
								background-image: none;
							}
						}
					}
				}
			}
			&.disabled2 {
				background-color: var(--color-surface-gray-subtler);
				.card_link {
					// background-image: url(../images/icon/arrowRight_disabled_ty2.svg);
					* {
						color: var(--color-text-disabled-on) !important;
						background-color: var(--color-surface-gray-subtler);
					}

					&::after {
						content: '';
						position: absolute;
						top: 0;
						left: 0;
						z-index: 1;
						width: 100%;
						height: 100%;
					}
				}
				.card_list_ty1 {
					// li > *:last-child {
					// 	color:#6D7882;
					// }
					li > * {
						color: var(--color-text-disabled-on) !important;
					}
				}
				// .card_link { cursor: default; }
			}
		}
	}
	
	.card_item {
		position: relative;
		padding: calc(var(--padding-8) - 1px) var(--padding-7);
		border: var(--border-width-static-regular) solid var(--color-border-gray-light);
		border-radius: 24px;
		background: var(--color-surface-white-subtle);

		& ~ .card_item {
			margin-top: var(--gap-5);

			&.non_chk {
				margin-top: var(--gap-11);
				padding: 24px 20px;
				
				.item_inner {
					[class^=inp_]{
						.chk_label {
							//margin-top: 0;
							&::before {
								//top: 1px;
							}
						}
					}

					.sub_title {
						color:var(--color-text-basic);
					}
				}
			}
		}

		.item_inner {
			display: flex;
			align-items: flex-start;
			

			// > .inp_checkbox,
			// > .inp_radio {
				// margin-top: 3px;
			// }

			.inp_checkbox {
				input {
					margin-top: 3px;
				}
			}

			// &:not(:has(.item_top)){
			// 	.inp_radio {
			// 		// background-color: red;
			// 	}
			// }

			.inner_cont {
				flex: 1;
				position: relative;

				&:not(:has(.item_top)){
					.inp_label {
						.chk_label {
							margin-top: 0;
						}
					}
				}

				> * {
					& + .card_list_ty1 {
						// margin-top: var(--gap-5);
						// padding-top: 16px;
						// border-top: 1px solid #e1e3ea;
						> li {
							&:first-child {
								margin-top: var(--gap-5);
								padding-top: 16px;
								border-top: var(--border-width-static-regular) solid var(--color-divider-gray-light);
								/* 목록 상 결과값만 최상단에 존재하는 경우 */
								&.result {
									align-items: center;
									margin-top: var(--gap-4);
									padding-top: 0;
									border-top: none;
								}
							}
						}
					}
				}

				.progress_bar_ty3 {
					margin-top: var(--gap-5);
				}

				.checkbox_group_wrap {
					&.column {
						.inp_checkbox {
							input {
								&:checked {
									& + .label {
										&:before {
											background-size: 20px auto;
										}
									}
								}
							}
						}
					}
				}
			}

			.inp_radio,
			.inp_checkbox {
				position: static;
				width: 28px;
				
				.chk_label {
					padding-left: 28px;

					&:before {
						// top: 3px;
						z-index: 10;
					}

					&.chk_label_ty4 {
						&:before {
							top: 1px;
						}
					}
				}
				input:checked{
					& ~ i {
						position: absolute;
						top: -1px;
						left: -1px;
						z-index: 0;
						width: calc(100% + 2px);
						height: calc(100% + 2px);
						border: var(--border-width-static-medium) solid #F8633C;
						border-radius: 24px;
						// transition: border-color .2s ease;
					}

					& + .chk_label_ty4 {
						&:before {
							background-size: 16px auto;
						}
					}
				}
			}

			> .inp_radio,
			> .inp_checkbox {
				// h_chk
				// position: static;
				// h_chk

				> .chk_label {
					// position: static;

					// h_chk
					&:before {
						// top: 26px;
						// left: 20px;
						// z-index: 10;
					}
					// h_chk
					
					// 현업 요청에 의한 클릭 영역 추가
					&::after {
						content: '';
						position: absolute;
						// h_chk
						// top: 0;
						// left: 0;
						// width: 100%;
						// height: 100%;
						// h_chk
						top: -5px;
						left: -8px;
						z-index: 1;
						width: 36px;
						height: 36px;
						// background-color: rgba($color: #ddd, $alpha: 0.8);
					}
				}
			}
		}

		.card_link {
			display: block;
			cursor: pointer;
			position: relative;
			z-index: 20;

			.item_top {
				.title_info {
					.main_title {
						padding-right: 30px;
						background: url(../images/icon/arrowRight_ty4.svg) no-repeat right 2px top 2px / 24px auto;
					}
				}
			}
			&[aria-disabled="true"] {
				.item_top {
					.title_info {
						.main_title {
							cursor: not-allowed;
							background: none;
							// background: url(../images/icon/arrowRight_disabled_ty2.svg) no-repeat right 3.5px / 20px auto;
						}
					}
				}
			}
		}

		.btn_link,
		button {
			position: relative;
			z-index: 20;
		}

		// card 상단영역
		.item_top {
			display: flex;
			flex-direction: column;

			.badge_wrap {
				& + .title_info {
					margin-top: var(--gap-2);
				}
			}

			.title_info {
				display: flex;
				flex-direction: column;
				gap: 4px;

				.sub_title {				
					color: var(--color-text-subtle);
					font-size: var(--font-size-body-small);

					& + .cont {
						margin-top: var(--gap-2);
					}
				}
				.main_title {
					// position: relative;
					font-weight: 700;
					font-size: var(--font-size-heading-small);
					// line-height: 27px;
					color: var(--color-text-bolder);

					.info {
						color: var(--color-text-information);
					}
					.hd {
						color: var(--color-text-primary-bold);
					}
					.badge_wrap {
						display: inline;
						// padding-left: 4px;
						vertical-align: top;

						.hd_badge {
							vertical-align: middle;
							font-weight: 400;
						}
					}

					&.tooltip_add {
						display: flex;
						align-items: flex-start;
						justify-content: space-between;
						gap: var(--gap-3);
						.tooltip_wrap {
							margin-top: var(--gap-2);
							.hd_icon {
								width: 20px;
								height: 20px;
							}
							.tooltip_panel {
								width: calc(100vw - 70px);
							}
						}
					}
				}
				& + .desc {
					margin-top: var(--gap-3);
					font-size: var(--font-size-body-small);
					color: var(--color-text-information);
				}
				& + .badge_wrap {
					margin-top: var(--gap-2);
				}
				> .flex_start {
					gap: var(--gap-3);
				}
			}
			
			.text {
				font-size: var(--font-size-label-large);
				line-height: 24px;

				& + .desc {
					margin-top: var(--gap-3);
				}
			}
			.desc {
				font-size: var(--font-size-body-small);
				color: var(--color-text-information);color: #58616A;
			}

			// 보안프로그램 설치안내 에서 사용됨
			.desc_ty2 {
				margin-top: var(--gap-4);
				font-size: var(--font-size-body-medium);
				
				& + .list_depth_ty2 {
					margin-top: var(--gap-4);
				}
			}

			& + .card_list_ty1 {
				// margin-top: var(--gap-5);
				// padding-top: 16px;
				// border-top: 1px solid #e1e3ea;
				> li {
					&:first-child {
						margin-top: var(--gap-5);
						padding-top: var(--gap-5);
						border-top: var(--border-width-static-regular) solid var(--color-border-gray-light);
						/* 목록 상 결과값만 최상단에 존재하는 경우 */
						&.result {
							margin-top: var(--gap-4);
							padding-top: 0;
							border-top: none;
						}
					}
				}

			}

			.hd_btn {
				.text {
					font-size: inherit;
					line-height: inherit;
				}
			}
			&.row {
				flex-direction: row;
				align-items: center;
				gap: var(--gap-4);
			}
		}

		.item_cont {
			margin-top: var(--gap-4);
			ul {
				width: 100%;
				display: flex;
				justify-content: space-between;
				align-items: center;
				&.align_top {
					align-items: flex-start;
				}
				.txt_l {
					font-size: var(--font-size-body-small);
					color: var(--color-text-subtle);
				}
				.txt_r {
					margin-left: auto;
					font-size: var(--font-size-body-large);
					text-align: right;
					font-weight: 700;
				}
			}
		}
		ul > li > div.cont {
			.hd_badge {
				height: 20px !important;
			}
			.car_logo {
				margin-left: 4px;
			}

			.text_body_large {
				font-size: var(--font-size-body-large);
				line-height: 150%;
			}
		}

		.card_list_ty1 {
			@include car-list-style($ul-border-radius: 0, $li-padding: 0 0 12px, $li-font-size: var(--font-size-body-small)) {
				// ul.list-2에 대한 추가적인 스타일
				// background-color: var(--color-primary);
				> li:not(.list_title) {
					display: flex;
					align-items: flex-start;
					justify-content: space-between;
					gap: var(--gap-3);
					&:last-child {
						padding-bottom: 0;
					}
				}
			}

			> li:not(.list_title) {
				> * {
					&:first-child {
						flex: none;
						// flex: 1 1 0;
						min-width: 100px;
						max-width: 50%;
						color: var(--color-text-subtle);
					}
					&:last-child {
						text-align: right;
						color: var(--color-text-basic);
						.sub_ta_l {
							display: block;
							text-align: left;
							word-break: break-all;
						}
					}
				}

				&.result {
					// padding-top: 16px;
					// border-top: 1px solid #e1e3ea;
					> * {
						line-height: 24px;
					}
					.point {
						// font-size: 16px;
						// line-height: 24px;
						font-size: var(--font-size-body-large);
					}
				}

				
				&.subitem {
					font-size: var(--font-size-body-xsmall);
					line-height: 18px;
					.cont {
						color: var(--color-text-subtle);
					}
				}
				& + .subitem {
					margin-top: -8px;
				}

				.price {
					max-width: none;
					strong {
						font-size: var(--font-size-body-large);
					}
				}

				.total {
					font-size: 20px;
					line-height: 30px;
					font-weight: 700;
				}
				.point_b {
					// font-size: var(--font-size-body-large);
					color: var(--color-text-primary-bold);
					font-weight: 700;
				}
				.price_btn {
					font-size: var(--font-size-body-small);
					font-weight: 700;
				}
			}
		}

		.card_list_ty2 {
			> li {
				display: flex;
				flex-direction: column;
				gap: var(--gap-3);

				& ~ li {
					padding-top: 12px;
				}

				.title {
					font-size: var(--font-size-body-small);
					color: var(--color-text-subtle);
				}

				.btn_area {
					margin-top: 0;
				}
			}
		}

		.card_cont {
			margin-top: var(--gap-5);
			padding-top:16px;
			border-top: 1px solid #e1e3ea;
			.comp_wrap.key_number {
				& + .btn_area {
					margin-top: 12px
				}
			}
			
		}

		.btn_area {
			position: relative;
			margin-top: var(--gap-5);

			.hd_btn:not(.hd_btn_s_4) {
				font-weight: 700;
			}
		}

		.checkbox_group_wrap,
		.item_info {
			margin-top: var(--gap-5);
			padding-top: 16px;
			border-top: var(--border-width-static-regular) solid var(--color-divider-gray-light);
		}
		.checkbox_group_wrap {
			.inp_checkbox {
				width: 100%;
				mask-type: 0;
			}
		}
		.item_info {
			dt {
				font-size: var(--font-size-body-small);
			}
			dd {
				margin-top: var(--gap-2);
				font-size: var(--font-size-body-xsmall);
				color: var(--color-text-information);
			}
			& + .radio_group_wrap {
				margin-top: var(--gap-5);
			}
		}

		//비활성화 케이스
		&.disabled {
			background-color: var(--color-surface-gray-subtler);
			overflow: hidden;

			* {
				color: var(--color-text-disabled-on) !important;
				background-color: var(--color-surface-gray-subtler);
			}

			.input_text {
				.inp {
					overflow: hidden;
				}
			}
			
			.item_top {
				.title_info {
					.main_title {
						color: var(--color-text-disabled-on);
					}
					.desc {
						color: var(--color-text-information);
					}
				}
			}
		
			.inp_checkbox {
				input[type=checkbox]:checked {
					& ~ i {
						border-color: var(--color-border-primary-light);
					}
				}
			}
		
			.item_top .title_info .main_title {
				color: inherit;
			}
		
			.card_link {
				cursor: default;

				.item_top {
					.title_info {
						// padding-right: 24px;
						.main_title {
							padding-right: 30px;
							background: url(../images/icon/arrowRight_disabled_ty2.svg) no-repeat right bottom / 24px auto;
							
						}
					}
				}
			}

			.hd_btn:disabled {
				background-color: var(--color-button-disabled-fill);
				span {
					background-color: transparent;
				}
			}
		}

		//비활성화 + 선택 예외 케이스
		&.selected {
			&:not(.disabled) {
				background-color: #fff;
			}
			.inp_checkbox {
				input[type=checkbox]:checked {
					& ~ i {
						border-color: var(--color-border-primary-light);
					}
				}
			}
			.card_link {
				.item_top {
					.title_info {
						// padding-right: 24px;
						.main_title {
							padding-right: 30px;
							// background: url(../images/icon/arrowRight_disabled_ty2.svg) no-repeat right bottom / 20px auto;
						}
					}
				}
			}
		}
	}

	& + .inp_checkbox {
		margin-top: var(--gap-8);
	}
	&.ty3 {//MY
		.item_top {
			.title_info {
				& + .desc {
					margin-top: 0;
					font-weight: 700;
					font-size: var(--font-size-heading-small);
					color: var(--color-text-bolder);
				}
			}
		}
	}
	&.ty4 {//benefit
		.card_item {
			.item_inner {
				align-items: center;
				gap: var(--gap-4);
				.title_info {
					word-break: keep-all;
				}
			}
		}
	}

	&.ty5 {
		.card_item{
			.card_link {
				padding-right: 28px;
				background: url(../images/icon/arrowRight_ty4.svg) no-repeat right center / 24px auto;
				display: flex;
				justify-content: space-between;
				align-items: center;

				.item_top {
					.title_info {
						flex-direction: row;
						align-items: center;
						.main_title {
							background: none !important;
							padding-right: 0 !important;
						}
						.desc {
							font-size: var(--font-size-body-small);
							color: var(--color-text-subtle);
						}
					}
					.btn_area {

						width: 100%;
						margin: var(--gap-5) 0 0 0;

						& > * {
							flex: none;
						}
					}
				}

				.cont {
					font-size: var(--font-size-body-small);
					font-weight: 700;
				}
			}//card_link

			&.disabled {
				.card_link {
					background: none;
					&::after {
						content: '';
						position: absolute;
						top: 0;
						left: 0;
						z-index: 1;
						width: 100%;
						height: 100%;
					}
				}
			}
			&.disabled2 {
				background-color: var(--color-surface-gray-subtler);
				.card_link {
					// background-image: url(../images/icon/arrowRight_disabled_ty2.svg);

					* {
						color: var(--color-text-disabled-on) !important;
						background-color: var(--color-surface-gray-subtler);
					}

					&::after {
						content: '';
						position: absolute;
						top: 0;
						left: 0;
						z-index: 1;
						width: 100%;
						height: 100%;
					}
				}
			}

		}//card_item
	}//ty5
	&.wrap_row2 {
		display: flex;
		flex-wrap: wrap;
		gap: var(--gap-3);
		justify-content: space-around;
		.card_item {
			flex-basis: calc(50% - 4px);
			~ .card_item {
				margin-top: 0;
			}
		}
	}
	&.high_work {
		.card_item {
			padding: var(--padding-12) var(--padding-8) var(--padding-8); 
			background-color:  var(--color-surface-gray-subtler); //var(--color-surface-secondary-subtler);
			border: 0;
			background-repeat: no-repeat;
			background-position: 24px 24px;
			.title {
				font-size: var(--font-size-body-small);
				color: var(--color-text-subtle);
				+ .cont {
					margin-top: var(--gap-2);
					font-size: var(--font-size-body-medium);
					.point {
						font-size: var(--font-size-body-large);
					}
				}
			}
			&.ty1 {
				background-image: url(../images/content/bn/icon_high_work1.svg);
			}
			&.ty2 {
				background-image: url(../images/content/bn/icon_high_work2.svg);
			}
		}
	}
}



/* Card - information Type (예외 case에서만 사용됨)*/
.card_item_wrap.info_type {

	& + .info_gray {
		margin-top: var(--gap-11);
	}

	.card_item {
		background: var(--color-surface-secondary-subtler);
		border: 0;
	}

	.inp_checkbox input[type=checkbox] + .chk_label::before {
		background: #ffffff;
		border: var(--border-width-static-regular) solid var(--color-border-gray-dark);
	}

	.inp_checkbox input[type=checkbox]:checked + .chk_label::before {
		background: #F8633C url(../images/icon/check_ty1.svg) no-repeat center / 12px auto;
		border-color: #F8633C;
	}

	.card_list_ty1 {
		> li {
			padding-bottom: var(--gap-5);
			.title {
				font-size: var(--font-size-body-small);
				color: var(--color-text-subtle);
			}
	
			.cont {
				font-size: var(--font-size-body-small);
				color: var(--color-text-basic);
			}

			&.result {
				// padding-top: 16px;
				// border-top: var(--border-width-static-regular) solid var(--color-input-border-disabled);
				strong {
					font-size: var(--font-size-body-large);
				}
			}
		}
	}
	
}

.card_list_wrap {
	> li {
		+ li {
			margin-top: var(--gap-5);
		}
		.card_wrap {
			padding: 24px 20px;
			font-size: var(--font-size-body-small);
			background: var(--color-surface-white-subtle);
			border: var(--border-width-static-regular) solid var(--color-border-gray-light);				
			border-radius: var(--radius-large2);
			> dt {
				.hd_badge {
					margin-bottom: var(--gap-2);
				}
				.title {
					display: block;
					font-size: var(--font-size-heading-small);
					font-weight: 700;
					&.icon {
						padding-left: 28px;
					}
					& + .sub_text {
						margin-top: var(--gap-3);
						color: var(--color-text-information);
					}
				}
				.icon {
					padding-left: 32px;
					background-repeat: no-repeat;
					background-size: 24px auto;
					background-position: left center;
					&.car {
						background-image: url(../images/icon/icon_connected_car.svg);
					}
					&.handlebar {
						background-image: url(../images/icon/icon_handlebar.svg);
					}
					&.advanced_safety {
						background-image: url(../images/icon/icon_advanced_safety.svg);
					}
					&.blackbox {
						background-image: url(../images/icon/icon_blackbox.svg);
					}
					&.child_discount {
						background-image: url(../images/icon/icon_child_discount.svg);
					}
					&.accident_free {
						background-image: url(../images/icon/icon_accident_free.svg);
					}
					&.car02 {
						background-image: url(../images/icon/icon_car02.svg);
					}
					&.cat {
						background-image: url(../images/icon/icon_cat.svg);
					}
					&.dog {
						background-image: url(../images/icon/icon_dog.svg);
					}
					&.child_discount02 {
						background-image: url(../images/icon/icon_child_discount02.svg);
					}
					&.travel {
						background-image: url(../images/icon/icon_travel.svg);
					}
					&.saving {
						background-image: url(../images/icon/icon_saving02.svg);
					}
					&.health {
						background-image: url(../images/icon/icon_health.svg);
					}
					&.driver {
						background-image: url(../images/icon/icon_driver.svg);
					}
					&.house_fire {
						background-image: url(../images/icon/icon_house_fire.svg);
					}
					> button {
						width: 100%;
						padding-right: 30px;
						background: url(../images/icon/arrowRight_ty4.svg) no-repeat center right / 20px auto;
					}
				}
				.sub_text {
					font-size: var(--font-size-body-small);
				}
			}
			> dd {
				margin-top: var(--gap-5);
				padding-top: 16px;
				border-top: var(--border-width-static-regular) solid var(--color-divider-gray-light);
				&.card_cont_list {
					dl {
						display: flex;
						justify-content: space-between;
						align-items: center;
						gap: var(--gap-5);
						dt {
							color: var(--color-text-subtle);
						}
						dd {
							text-align: right;
						}
						& + dl {
							margin-top: var(--gap-4);
						}
						.point {
							color: var(--color-text-primary-bold);
							font-weight: 700;
						}
					}
				}
			}
			&.ty2 {
				display: flex;
				justify-content: space-between;
				align-items: center;
				dd {
					margin: 0;
					padding: 0;
					border: 0;
				}
			}
		}
	}
	& + .img_area {
		margin-top: var(--gap-8);
	}
}


//카드형 리스트(링크 기능)
.card_list_wrap_ty2 {
  li ~li {
    margin-top: var(--gap-5);
  }
	.card_item {
		padding: calc(var(--padding-8) - 1px) var(--padding-7);
		border: var(--border-width-static-regular) solid var(--color-border-gray-light);
		background: var(--color-surface-white-subtle);
		border-radius: var(--radius-large2);

		display: flex;
		flex-direction: column;
		row-gap: var(--gap-5);
		align-items: stretch;
		cursor: pointer;

		.img_box {
			width: 100%;
			border-radius: var(--radius-medium3);

			&.no_img {
				width: 100%;
				height: 120px;
				background: var(--color-surface-gray-subtler);
				display: flex;
				align-items: center;
				justify-content: center;
			}

			img {
				display: block;
				width: 100%;
				border-radius: inherit;
			}
		}

		.item_inner {
			position: relative;
      display: flex;
			flex-direction: column;
			gap: var(--gap-5);
		}

		.inner_cont {
			display: flex;
			flex-direction: column;
			gap: var(--gap-3);

			&.ty2 {
				gap: var(--gap-2);
			}

			.item_title {
				color: var(--color-text-bolder);
				font-size: var(--font-size-heading-small);//var(--font-size-heading-xsmall);
				font-weight: 700;
			}

			.item_preview {
				color: var(--color-text-subtle);
				font-size: var(--font-size-body-small);
			}

			.item_title,
			.item_preview {
				display: -webkit-box;
				line-clamp: 2;
				-webkit-line-clamp: 2;
				-webkit-box-orient: vertical;
				overflow: hidden;
			}

			.item_meta {
				.date {
					color: var(--color-text-information);
					font-size: var(--font-size-body-small);
					word-break: break-all;
				}
			}
		}
	}

	// 진행중인 이벤트
	&:has(.item_meta) {
		.card_item {
			.item_preview {
				color: var(--color-text-information);
			}
		}
	}
}


//카드형 리스트(링크 기능) - 카드혜택 > 기부하기
.card_list_wrap_ty3 {
  li ~li {
    margin-top: var(--gap-5);
  }
}

//car_list를 사용하지 않고 card_item만 삽입하는 케이스가 있어 스타일 선언 구조 별도 분리함.
	.card_item.donation {

		& ~ .card_item {
			margin-top: var(--gap-5);
		}

		padding: calc(var(--padding-8) - 1px) var(--padding-7);
		border: var(--border-width-static-regular) solid var(--color-border-gray-light);
		background: var(--color-surface-white-subtle);
		border-radius: var(--radius-large2);
		

		.item_inner {
      display: flex;
			flex-direction: column;
			gap: var(--gap-5);
			cursor: pointer;
		}

		.img_box {
			width: 100%;
			border-radius: var(--radius-medium3);

			&.no_img {
				width: 100%;
				height: 140px;
				background: var(--color-surface-gray-subtler);
				display: flex;
				align-items: center;
				justify-content: center;
			}

			img {
				display: block;
				width: 100%;
				border-radius: inherit;
			}
		}

		.inner_cont {
			display: flex;
			flex-direction: column;
			gap: var(--gap-3);

			.title_info {
				.badge_wrap {
					gap: var(--gap-2);
					align-items: center;
					white-space: wrap;

					.organ {
						color: var(--color-text-subtle);
						font-size: var(--font-size-body-small);
						word-break: break-all;
					}

					& + .main_title {
						margin-top: var(--gap-2);
					}
				}
				
				.main_title {
					color: var(--color-text-bolder);
					font-size: var(--font-size-heading-small);//var(--font-size-heading-xsmall);
					font-weight: 700;
					display: -webkit-box;
					line-clamp: 2;
					-webkit-line-clamp: 2;
					-webkit-box-orient: vertical;
					overflow: hidden;
				}

				.date {
					display: none;
				}

			}//title_info

			.progress {
				.bar {
					height: 8px;
					position: relative;

					&:before {
						display: block;
						content:'';
						position: absolute;
						top: 50%;
						transform: translateY(-50%);
						width: 100%;
						height: 2px;
						background: var(--color-background-gray-subtle);
						border-radius: 4px;
					}

					.guage {
							position: absolute;
							top: 50%;
							transform: translateY(-50%);
							width: 30%;
							height: 4px;
							background: var(--color-border-primary);
							border-radius: 4px;

						&:after {
							display: block;
							content:'';
							position: absolute;
							top: 50%;
							transform: translate(50%,-50%);
							right: 0;
							width: 8px;
							height: 8px;
							background: #fff;
							border: 1px solid var(--color-border-primary);
							border-radius: 999px;
						}
					}
				}

				.progress_info {
					margin-top: var(--gap-2);
					display: flex;
					justify-content: space-between;
					font-size: var(--font-size-body-xsmall);
					color: var(--color-text-subtle);
				}
			}
		}

		.item_btn_wrap {
			margin-top: var(--gap-5);
			display: flex;
			align-items: center;
			gap: var(--gap-3);

			.stretch {
				flex-grow: 1;
			}

		}

		//.card_item.donation - small케이스
		&.small {
			.item_inner {
				display: flex;
				flex-direction: row;
				gap: var(--gap-4);
			}
	
			.img_box {
				width: 56px;
				height: 56px;
				border-radius: var(--radius-medium3);
				flex-shrink: 0;
	
				&.no_img {
					width: 56px;
					height: 56px;
				}
	
				img {
					width: 56px;
					height: 56px;
					filter: grayscale(0);				
				}
			}
	
			.inner_cont {
				.title_info {
					.badge_wrap + .main_title {
						margin-top: var(--gap-2);
					}
	
					.date {
						display: block;
						margin-top: var(--gap-3);
						color: var(--color-text-information);
						font-size: var(--font-size-body-small);
						word-break: break-all;
					}
	
				}//title_info
	
				.progress, .item_btn_wrap {
					display: none;
				}
			}
	
			.item_btn_wrap {
				display: none;
			}

			//이벤트 종료 케이스(samll)
			&.end {
				.item_inner {
					cursor: default;
				}
			
				img {
					filter: grayscale(100%);
					opacity: 0.7;
					mix-blend-mode: luminosity;
				}
			}

		}//small케이스

	

	}//.card_item.donation


//카드형 리스트 (혼합)
.card_list_wrap_ty4 {
	> li ~ li {
		margin-top: var(--gap-5);
	}
	.card_item {
		position: relative;
		padding: calc(var(--padding-8) - 1px) var(--padding-7);
		border: var(--border-width-static-regular) solid var(--color-border-gray-light);
		background: var(--color-surface-white-subtle);
		border-radius: var(--radius-large2);

		&[role='button']{
			.inner_cont {
				padding-right: 28px;
				background: url(../images/icon/arrowRight_ty4.svg) no-repeat center right 2px / 20px;
			}
		}

		.item_inner {
			.inner_cont {
				display: flex;
				flex-direction: column;
				gap: var(--gap-2);

				.item_title {
					font-size: var(--font-size-heading-xxsmall);
					font-weight: 700;
				}
				.item_desc {
					font-size: var(--font-size-body-small);
					color: var(--color-text-subtle);
				}

				.item_title,
				.item_desc {
					display: -webkit-box;
					line-clamp: 2;
					-webkit-line-clamp: 2;
					-webkit-box-orient: vertical;
					overflow: hidden;
				}
			}

			& + .img_box {
				margin-top: var(--gap-5);
				img {
					width: 100%;
				}
			}
			.btn_link {
				&.rd_box {
					margin-top: var(--gap-2);
				}
			}
		}
		.btn_rd_close {
			position: absolute;
			top: 16px;
			right: 16px;
			width: 24px;
			height: 24px;
			background-size: 12px;
		}
	}
}

.form_card_wrap {
	.form_card_case {
		& + .form_card_case {
			margin-top: var(--gap-5);
		}
		.form_group_wrap {
			.form_line {
				~ .form_line {
					margin-top: var(--gap-8);
				}
			}
		}
	}
	& + .btn_area {
		margin-top: var(--gap-5);
	}
}


.form_card_case {
	position: relative;
	padding: calc(var(--padding-8) - 1px) var(--padding-7);
	border: var(--border-width-static-regular) solid var(--color-border-gray-light);
	border-radius: 24px;

	& + .form_card_case,
	& + .btn_area.btn_area_space2 {
		margin-top: var(--gap-5);
	}
	.select_item,
	.title_h4 {
		& + .form_group_wrap {
			margin-top: var(--gap-5);
		}
	}
	& + .btn_area {
		margin-top: var(--gap-8);
	}

	> .select_item {
		.si_item {
			color: var(--color-text-basic);
		}
	}
	.btn_rd_close {
		position: absolute;
		top: 16px;
		right: 16px;
		margin: 0;
	}
}

.all_checking {
	& + .card_item_wrap {
		margin-top: var(--gap-5);
	}
}
.insu_plan {
	margin-bottom: var(--gap-4);
	.tit {
		margin-bottom: 4px;
		display: flex;
		align-items: center;
		gap: 4px;
		font-size: var(--font-size-body-medium);
		line-height: 1;

		.badge_wrap {
			width: auto;
		}
	}
	p {
		font-size: var(--font-size-body-small);
		color: var(--color-text-subtle);
	}
}