/* Card*/
// card list type
@mixin car-list-style(
	$ul-border-radius: 0,
	$li-padding: 0,
	$li-margin: 0,
	$li-font-size: 16px,
	$li-color: inherit
) {
	border-radius: $ul-border-radius;
	> li {
		position: relative;
		margin: $li-margin;
		padding: $li-padding;
		font-size: $li-font-size;
		color: $li-color;
	}
	@content;
}


.card_item_wrap {
	& + & {
		margin-top: var(--gap-5);
	}

	& + * {
		margin-top: var(--gap-5);
		&.pop_title_h1,
		&.list_top_wrap,
		&.card_item_wrap,
		&.title_h3,
		&.btn_area {
			margin-top: var(--gap-8);
		}

		&.banner_box {
			margin-top: var(--gap-8);
		}
		&.title_h3 {
			margin-top: var(--gap-11);
		}

		&.btn_area {
			&.btn_area_space2 {
				margin-top: var(--gap-5);
			}	
		}
	}
	
	.info_text {
		& + .radio_group_wrap {
			margin-top: var(--gap-5);
		}
	}
	.no_list_area {
		margin-top: 0;
	}
	* + .no_list_area {
		margin-top: var(--gap-5);
	}

	&.focusin {
		.card_item{
			padding:0;
			.item_inner {
				padding: calc(var(--padding-8) - 1px) var(--padding-7);
				border: var(--border-width-static-regular) solid transparent;
			}
			&:not(.disabled):focus-within  {
				border-color: var(--color-border-primary);
				.item_inner {
					border: var(--border-width-static-regular) solid var(--color-border-primary);
					border-radius: 22px;
				}
			}			
		}
	}


	&:not(.info_type, .ty7) {
		.card_item {
			.item_inner {
				
				&:has(.inp_checkbox, .inp_radio){
					flex-direction: column;
					.inp_radio,
					.inp_checkbox {
						.chk_label {
							z-index: 1;
							.sub_title {
								display: block;
							}
							.badge_wrap {
								display: inline;
							}
						}
					}
					.tit_item:has(.inp_checkbox, .inp_radio) {
						+ .inner_cont {
							margin-left: 28px;
							width: calc(100% - 28px);
						}
					}
					.question_mark_btn {
						width: 30px;
						height: 30px;
						z-index: 20;
						.hd_icon.arrowRightSvg {
							width: 30px;
							height: 30px;
							background-size: 24px auto;
						}
						&:disabled {
							i {
								background-image: url(../images/icon/arrowRight_ty8.svg);
							}
						}
						&[aria-disabled="true"] {
							i {
								background: none;
							}
							z-index: -1;
							display: none;
						}
					}
					&:has(.tit_item) {
						.tit_item {
							display: flex;
							justify-content: space-between;
							align-items: start;
							width: 100%;
							.inp_checkbox {
								width: calc(100% - 30px);
							}
							&:not(.question_mark_btn) {
								.inp_radio,
								.inp_checkbox{
									width: 100%;
									input:not(:disabled) {
										+ .chk_label {
											padding-left: 28px;
											display: block;
										}

									}
								}

							}
						}
					}
					
					&:has(.tit_item, .card_link) {
						.card_list_ty1 {
							> li {
								&:first-child {
									margin-top: var(--gap-5);
									padding-top: var(--padding-6);
									border-top: var(--border-width-static-regular) solid var(--color-divider-gray-light);
									// 목록 상 결과값만 최상단에 존재하는 경우
									&.result {
										align-items: center;
										margin-top: var(--gap-4);
										padding-top: 0;
										border-top: none;
									}
								}
							}
						}
					}
				}

			}
		}

	}
	.card_item {
		position: relative;
		padding: calc(var(--padding-8) - 1px) var(--padding-7);
		border: var(--border-width-static-regular) solid var(--color-border-gray-light);
		border-radius: var(--radius-large2);
		background: var(--color-surface-white-subtle);

		& ~ .card_item {
			margin-top: var(--gap-5);

			&.non_chk {
				margin-top: var(--gap-11);
				padding: var(--padding-8) var(--padding-7);
				
				.item_inner {
					// [class^=inp_]{
					// 	.chk_label {
					// 		&::before {
					// 		}
					// 	}
					// }

					.sub_title {
						color:var(--color-text-basic);
					}
				}
			}
		}

		
		.item_inner {
			display: flex;
			align-items: flex-start;
			.title_info {
				display: flex;
				flex-direction: column;
				gap: var(--gap-2);

				.sub_title {				
					color: var(--color-text-subtle);
					font-size: var(--font-size-body-small);

					& + .cont {
						margin-top: var(--gap-2);
					}
				}
				.main_title {
					font-weight: 700;
					font-size: var(--font-size-heading-small);
					color: var(--color-text-bolder);
					word-break: break-all;

					.info {
						color: var(--color-text-information);
					}
					.hd {
						color: var(--color-text-primary-bold);
					}
					.badge_wrap {
						display: inline;
						vertical-align: top;

						.hd_badge {
							vertical-align: middle;
							font-weight: 400;
						}
					}
					> .hd_badge {
						vertical-align: middle;
					}

					&.tooltip_add {
						display: flex;
						align-items: flex-start;
						justify-content: space-between;
						gap: var(--gap-3);						
					}
				}
				& + .desc {
					display: block;
					margin-top: var(--gap-3);
					font-size: var(--font-size-body-small);
					color: var(--color-text-information);
				}
				& + .badge_wrap {
					margin-top: var(--gap-2);
				}
				> .flex_start {
					gap: var(--gap-3);
				}
			}
			
			.desc {
				font-size: var(--font-size-body-small);
				color: var(--color-text-information);				
			}
				
			.notice_item {
				// width: calc(100% - 19px);
				margin-right: 19px;
				padding: var(--padding-3) var(--padding-5) var(--padding-3) 40px;
				background: var(--color-element-danger) url(../images/icon/inverse_circle.svg) no-repeat 12px 8px;
				border-radius: var(--radius-medium1);
				font-size: var(--font-size-body-small);
				font-weight: 700;
				color: var(--color-text-bolder-inverse);

				& + .tit_item {
					margin-top: var(--gap-4);
				}
			}

			// 보안프로그램 설치안내 에서 사용됨
			.desc_ty2 {
				margin-top: var(--gap-4);
				font-size: var(--font-size-body-medium);
				
				& + .list_depth_ty2 {
					margin-top: var(--gap-4);
				}
			}

			.inp_checkbox {
				input {
					margin-top: 3px;
				}
			}

			.inner_cont {
				flex: 1;
				position: relative;

				&:not(:has(.item_top)){
					.inp_label {
						.chk_label {
							margin-top: 0;
						}
					}
				}

				.progress_bar_ty3 {
					margin-top: var(--gap-5);
				}

				.checkbox_group_wrap {
					&.column {
						.inp_checkbox {
							input {
								&:checked {
									& + .label {
										&:before {
											background-size: 20px auto;
										}
									}
								}
							}
						}
					}
				}

				& + .info_gray {
					width: 100%;
					margin: var(--gap-4);
				}

				.msg_error {
					margin-top: var(--gap-4);
				}
			}

			.inp_radio,
			.inp_checkbox {
				position: static;
				height: 100%;
				
				.chk_label {
					padding-left: 28px;
					height: 100%;

					&:before {
						top: 3px;
						z-index: 10;
					}
					// 현업 요청에 의한 클릭 영역 추가
					&::after {
						content: '';
						position: absolute;
						top: -4px;
						left: -8px;
						z-index: 1;
						width: calc(100% + 8px);
						height: calc(100% + 8px);
					}

					&.chk_label_ty4 {
						padding-left: 20px;
						&:before {
							top: 1px;
						}
					}
				}
				input:checked{
					& ~ i {
						position: absolute;
						top: -1px;
						left: -1px;
						z-index: 0;
						width: calc(100% + 2px);
						height: calc(100% + 2px);
						border: var(--border-width-static-medium) solid #F8633C;
						border-radius: var(--radius-large2);
					}

					& + .chk_label_ty4 {
						&:before {
							background-size: 20px auto;
						}
						.label_cont {
							font-weight: 700;
							.hd_badge {
								font-weight: normal;
							}
						}
					}
				}
			}
			
			> .inp_checkbox,
			> .inp_radio {
				.chk_label {
					width: 20px;
					height: 20px;
					margin-top: 3px;
					padding-left: 0;
					&:before {
						// top:0;
					}
				}
			}
		}

		.card_link {
			display: block;
			cursor: pointer;

			.item_top {
				padding-right: 30px;
				background: url(../images/icon/arrowRight_ty4.svg) no-repeat right 2px top 2px / 24px auto;
			}
			&[aria-disabled="true"] {
				.item_top {
					cursor: not-allowed;
					background: none;
				}
			}
		}

		.btn_link,
		button {
			position: relative;
			z-index: 20;
		}

		// card 상단영역
		.item_top {
			display: flex;
			flex-direction: column;

			.badge_wrap {
				& + .title_info {
					margin-top: var(--gap-2);
				}
			}

			.text {
				font-size: var(--font-size-label-large);
				line-height: 24px;

				& + .desc {
					margin-top: var(--gap-3);
				}
			}

			& + .card_list_ty1 {
				> li {
					&:first-child {
						margin-top: var(--gap-5);
						padding-top: var(--gap-5);
						border-top: var(--border-width-static-regular) solid var(--color-border-gray-light);
						// 목록 상 결과값만 최상단에 존재하는 경우
						&.result {
							margin-top: var(--gap-4);
							padding-top: 0;
							border-top: none;
						}
					}
				}

			}

			.hd_btn {
				.text {
					font-size: inherit;
					line-height: inherit;
				}
			}
			&.row {
				flex-direction: row;
				align-items: center;
				gap: var(--gap-4);
			}
		}

		.item_cont {
			margin-top: var(--gap-4);
			ul {
				width: 100%;
				display: flex;
				justify-content: space-between;
				align-items: center;
				&.align_top {
					align-items: flex-start;
				}
				.txt_l {
					font-size: var(--font-size-body-small);
					color: var(--color-text-subtle);
				}
				.txt_r {
					margin-left: auto;
					font-size: var(--font-size-body-large);
					text-align: right;
					font-weight: 700;
				}
			}
		}
		ul > li > div.cont {
			.hd_badge {
				height: 20px !important;
			}
			.car_logo {
				margin-left: var(--gap-2);
			}

			.text_body_large {
				font-size: var(--font-size-body-large);
				line-height: 150%;
			}
		}

		.card_list_ty1 {
			@include car-list-style($ul-border-radius: 0, $li-padding: 0 0 12px, $li-font-size: var(--font-size-body-small)) {
				// ul.list-2에 대한 추가적인 스타일
				// background-color: var(--color-primary);
				> li:not(.list_title) {
					display: flex;
					align-items: flex-start;
					justify-content: space-between;
					gap: var(--gap-3);
					&:last-child {
						padding-bottom: 0;
					}
				}
			}

			& + .card_list_ty1 {
				margin-top: var(--gap-5);
				padding-top: var(--padding-6);
				border-top: var(--border-width-static-regular) var(--color-divider-gray-light);
			}

			> li:not(.list_title) {
				> * {
					&:first-child {
						flex: none;
						min-width: 100px;
						max-width: 50%;
						color: var(--color-text-subtle);
					}
					&:last-child {
						text-align: right;
						color: var(--color-text-basic);
						.sub_ta_l {
							display: block;
							text-align: left;
							word-break: break-all;
						}
					}
				}

				&.result {
					> * {
						line-height: 24px;
					}
					.point {
						font-size: var(--font-size-body-large);
					}
				}

				
				&.subitem {
					font-size: var(--font-size-body-xsmall);
					line-height: 18px;
					.cont {
						color: var(--color-text-subtle);
					}
				}
				& + .subitem {
					margin-top: -8px;
				}

				.price {
					max-width: none;
					strong {
						font-size: var(--font-size-body-large);
					}
				}

				.total {
					font-weight: 700;
					font-size: 20px;
					line-height: 30px;
				}
				.point_b {
					font-weight: 700;
					color: var(--color-text-primary-bold);
				}
				.price_btn {
					z-index: 20;
					font-weight: 700;
					font-size: var(--font-size-body-small);
				}
			}

			& > li {
				&.list_title {
					padding-bottom: var(--padding-6);
					max-width: 100%;

					.title {
						display: flex;
						align-items: center;
						gap: var(--gap-2);
						font-weight: 700;
						font-size: var(--font-size-heading-small);
						color: var(--color-text-bolder);

						.badge_wrap {
							display: inline;
							vertical-align: top;
						}

						.title_tl {
							flex: none;
						}
					}
				}
			}
		}

		.card_list_ty2 {
			> li {
				display: flex;
				flex-direction: column;
				gap: var(--gap-3);

				& ~ li {
					padding-top: 12px;
				}

				.title {
					font-size: var(--font-size-body-small);
					color: var(--color-text-subtle);
				}

				.btn_area {
					margin-top: 0;
				}
			}
		}

		.card_cont {
			margin-top: var(--gap-5);
			padding-top: var(--padding-6);
			border-top: var(--border-width-static-regular) solid var(--color-divider-gray-light);
			.comp_wrap.key_number {
				& + .btn_area {
					margin-top: var(--gap-4);
				}
			}
			
		}

		.btn_area {
			position: relative;
			z-index: 20;
			margin-top: var(--gap-5);

			.hd_btn:not(.hd_btn_s_4) {
				font-weight: 700;
			}
		}

		.checkbox_group_wrap,
		.item_info {
			margin-top: var(--gap-5);
			padding-top: var(--padding-6);
			border-top: var(--border-width-static-regular) solid var(--color-divider-gray-light);
		}
		.checkbox_group_wrap {
			.inp_checkbox {
				width: 100%;
				mask-type: 0;
			}
		}
		.item_info {
			dt {
				font-size: var(--font-size-body-small);
			}
			dd {
				margin-top: var(--gap-2);
				font-size: var(--font-size-body-xsmall);
				color: var(--color-text-information);
			}
			& + .radio_group_wrap {
				margin-top: var(--gap-5);
			}
		}

		//비활성화 케이스
		&.disabled {
			background-color: var(--color-surface-gray-subtler);
			overflow: hidden;

			*:not(.msg_error) {
				color: var(--color-text-disabled-on) !important;
				div:not(.cont){
					background-color: var(--color-surface-gray-subtler);
				}
			}

			.input_text {
				.inp {
					overflow: hidden;
				}
			}
			
			.title_info {
				.main_title {
					color: var(--color-text-disabled-on);
				}
				.desc {
					color: var(--color-text-information);
				}
			}
		
			.inp_checkbox {
				input[type=checkbox]:checked {
					& ~ i {
						border-color: var(--color-border-primary-light);
					}
				}
			}
		
			.title_info .main_title {
				color: inherit;
			}
		
			.card_link {
				cursor: default;

				.item_top {
					padding-right: 30px;
					background: url(../images/icon/arrowRight_disabled_ty2.svg) no-repeat top right/ 24px auto;
				}
			}

			.hd_btn:disabled {
				background-color: var(--color-button-disabled-fill);
				span {
					background-color: transparent;
				}
			}
		}

		//비활성화 + 선택 예외 케이스
		&.selected {
			&:not(.disabled) {
				background-color: var(--color-background-white);
			}
			.inp_checkbox {
				input[type=checkbox]:checked {
					& ~ i {
						border-color: var(--color-border-primary-light);
					}
				}
			}
			.card_link {
				.item_top {
					padding-right: 30px;
				}
			}
			&.disabled {
				border-color: var(--color-border-primary-light);
			}
		}
	}

	& + .inp_checkbox {
		margin-top: var(--gap-8);
	}
	&.ty3 {//MY
		.item_top {
			.title_info {
				& + .desc {
					margin-top: 0;
					font-weight: 700;
					font-size: var(--font-size-heading-small);
					color: var(--color-text-bolder);
				}
			}
		}
	}
	&.ty4 {//benefit
		.card_item {
			.item_inner {
				align-items: center;
				gap: var(--gap-4);
				.title_info {
					word-break: keep-all;
				}
			}
		}
	}

	&.ty5 {
		.card_item{
			.card_link {
				padding-right: 28px;
				background: url(../images/icon/arrowRight_ty4.svg) no-repeat right center / 24px auto;
				display: flex;
				justify-content: space-between;
				align-items: center;

				.item_top {
					background: none !important;
					padding-right: 0 !important;
					.title_info {
						flex-direction: row;
						align-items: center;
						.desc {
							font-size: var(--font-size-body-small);
							color: var(--color-text-subtle);
						}
					}
					.btn_area {

						width: 100%;
						margin: var(--gap-5) 0 0 0;

						& > * {
							flex: none;
						}
					}
				}

				.cont {
					font-size: var(--font-size-body-small);
					font-weight: 700;
				}
			}//card_link
			&.disabled {
				.card_link {
					padding-right: 30px;
					background: url(../images/icon/arrowRight_disabled_ty2.svg) no-repeat right top / 24px auto;
					&::after {
						content: '';
						position: absolute;
						top: 0;
						left: 0;
						z-index: 1;
						width: 100%;
						height: 100%;
					}
				}
			}
			&.disabled2 {
				background-color: var(--color-surface-gray-subtler);
				.card_link {
					* {
						color: var(--color-text-disabled-on) !important;
						background-color: var(--color-surface-gray-subtler);
					}

					&::after {
						content: '';
						position: absolute;
						top: 0;
						left: 0;
						z-index: 1;
						width: 100%;
						height: 100%;
					}
				}
			}

		}//card_item
	}//ty5
	&.wrap_row2 {
		display: flex;
		flex-wrap: wrap;
		gap: var(--gap-3);
		justify-content: space-around;
		.card_item {
			flex-basis: calc(50% - 4px);
			~ .card_item {
				margin-top: 0;
			}
		}
	}
	&.high_work {
		.card_item {
			// padding: var(--padding-12) var(--padding-8) var(--padding-8); 
			background-color: var(--color-surface-gray-subtler);
			border: 0;
			background-repeat: no-repeat;
			// background-position: 24px 24px;
			padding: var(--padding-8) var(--padding-8) var(--padding-8) var(--padding-12);
			background-position: 24px center;
			
			.title {
				font-size: var(--font-size-body-small);
				color: var(--color-text-subtle);
				+ .cont {
					margin-top: var(--gap-2);
					font-size: var(--font-size-body-medium);
					.point {
						font-size: var(--font-size-body-large);
					}
				}
			}
			&.ty1 {
				background-image: url(../images/content/bn/icon_high_work1.svg);
			}
			&.ty2 {
				background-image: url(../images/content/bn/icon_high_work2.svg);
			}
		}
	}
	&.info_type {
		.card_item {
			position: relative;
			&:has(.hidden) {
				z-index: 20;
				background: var(--color-surface-secondary-subtler);
				border: 0;		
			}
			.item_inner {
				.inp_radio,
				.inp_checkbox:not(.hidden) {
					width: auto;
					input[type=checkbox],
					input[type=radio] {
						+ .chk_label {
							position: absolute;
							top: 1px;
							left: 1px;
							margin: 0;
							width: calc(100% - 1px);
							height: calc(100% - 1px);
							&:before {
								top: 24px;
								left: 18px;
								background: #ffffff;
								border: var(--border-width-static-regular) solid var(--color-border-gray-dark);
							}
							&::after {
								top: 0;
								left: 0;
								z-index: 1;
								width: 100%;
								height: 100%;
								border-radius: var(--radius-large2);
							}
						}
						&:checked {
							+ .chk_label {
								&:before {
									background: #F8633C url(../images/icon/check_ty1.svg) no-repeat center / 12px auto;
									border-color: #F8633C;
								}
							}
						}
					}
					+ .inner_cont {
						margin-left: 28px;
					}
				}
			}
		} 
	}
}

/* Card - information Type (예외 case에서만 사용됨)*/
.card_item_wrap.info_type {

	& + .info_gray {
		margin-top: var(--gap-11);
	}



	.card_list_ty1 {
		> li {
			padding-bottom: var(--gap-5);
			.title {
				font-size: var(--font-size-body-small);
				color: var(--color-text-subtle);
			}
	
			.cont {
				font-size: var(--font-size-body-small);
				color: var(--color-text-basic);
			}

			&.result {
				strong {
					font-size: var(--font-size-body-large);
				}
			}
		}
	}
	
}

.card_list_wrap {
	> li {
		+ li {
			margin-top: var(--gap-5);
		}
		.card_wrap {
			padding: var(--padding-8) var(--padding-7);
			font-size: var(--font-size-body-small);
			background: var(--color-surface-white-subtle);
			border: var(--border-width-static-regular) solid var(--color-border-gray-light);				
			border-radius: var(--radius-large2);
			> dt {
				.hd_badge {
					margin-bottom: var(--gap-2);
				}
				.title {
					display: block;
					font-weight: 700;
					font-size: var(--font-size-heading-small);
					&.icon {
						padding-left: 28px;
					}
					&.sm {
						font-size: var(--font-size-heading-xsmall);
					}
					& + .sub_text {
						margin-top: var(--gap-3);
						color: var(--color-text-information);
					}
				}
				.icon {
					padding-left: var(--padding-9);
					background-repeat: no-repeat;
					background-size: 24px auto;
					background-position: left center;
					&.car {
						background-image: url(../images/icon/icon_connected_car.svg);
					}
					&.handlebar {
						background-image: url(../images/icon/icon_handlebar.svg);
					}
					&.advanced_safety {
						background-image: url(../images/icon/icon_advanced_safety.svg);
					}
					&.blackbox {
						background-image: url(../images/icon/icon_blackbox.svg);
					}
					&.child_discount {
						background-image: url(../images/icon/icon_child_discount.svg);
					}
					&.accident_free {
						background-image: url(../images/icon/icon_accident_free.svg);
					}
					&.car02 {
						background-image: url(../images/icon/icon_car02.svg);
					}
					&.cat {
						background-image: url(../images/icon/icon_cat.svg);
					}
					&.dog {
						background-image: url(../images/icon/icon_dog.svg);
					}
					&.child_discount02 {
						background-image: url(../images/icon/icon_child_discount02.svg);
					}
					&.travel {
						background-image: url(../images/icon/icon_travel.svg);
					}
					&.saving {
						background-image: url(../images/icon/icon_saving02.svg);
					}
					&.health {
						background-image: url(../images/icon/icon_health.svg);
					}
					&.driver {
						background-image: url(../images/icon/icon_driver.svg);
					}
					&.house_fire {
						background-image: url(../images/icon/icon_house_fire.svg);
					}
					&.business {
						background-image: url(../images/icon/icon_business.svg);
					}
					&.bicycle {
						background-image: url(../images/icon/icon_bicycle.svg);
					}
					&.timeshare {
						background-image: url(../images/icon/icon_timeshare.svg);
					}
					&.helmet {
						background-image: url(../images/icon/icon_helmet.svg);
					}
					&.fetus {
						background-image: url(../images/icon/icon_fetus.svg);
					}
					&.tooth {
						background-image: url(../images/icon/icon_tooth.svg);
					}
					&.cancer {
						background-image: url(../images/icon/icon_cancer.svg);
					}
					&.health_losss {
						background-image: url(../images/icon/icon_health_losss.svg);
					}
					&.pension {
						background-image: url(../images/icon/icon_pension.svg);
					}
					> button {
						width: 100%;
						padding-right: 30px;
						background: url(../images/icon/arrowRight_ty4.svg) no-repeat center right / 20px auto;
					}
				}
				.sub_text {
					font-size: var(--font-size-body-small);
				}
			}
			> dd {
				margin-top: var(--gap-5);
				padding-top: var(--padding-6);
				border-top: var(--border-width-static-regular) solid var(--color-divider-gray-light);
				&.card_cont_list {
					dl {
						display: flex;
						justify-content: space-between;
						align-items: center;
						gap: var(--gap-5);
						dt {
							color: var(--color-text-subtle);
						}
						dd {
							flex: none;
							text-align: right;
						}
						& + dl {
							margin-top: var(--gap-4);
						}
						.point {
							font-weight: 700;
							color: var(--color-text-primary-bold);
						}
					}
				}

				.notice_info {
					dt,
					dd {
						font-size: var(--font-size-body-xsmall);
					}

					dt {
						padding-left: 20px;
						background: url(../../images/icon/danger_circle.svg) no-repeat left center;
					}
				}
			}

			.card_link {
				cursor: pointer;
			}

			&.ty2 {
				display: flex;
				justify-content: space-between;
				align-items: center;
				dd {
					margin: 0;
					padding: 0;
					border: 0;
				}
			}
		}
	}
	& + .img_area {
		margin-top: var(--gap-8);
	}
}


//카드형 리스트(링크 기능)
.card_list_wrap_ty2 {
  li ~li {
    margin-top: var(--gap-5);
  }
	.card_item {
		padding: calc(var(--padding-8) - 1px) var(--padding-7);
		border: var(--border-width-static-regular) solid var(--color-border-gray-light);
		background: var(--color-surface-white-subtle);
		border-radius: var(--radius-large2);

		display: flex;
		flex-direction: column;
		row-gap: var(--gap-5);
		align-items: stretch;
		cursor: pointer;

		.img_box {
			width: 100%;
			border-radius: var(--radius-medium3);

			&.no_img {
				width: 100%;
				height: 120px;
				background: var(--color-surface-gray-subtler);
				display: flex;
				align-items: center;
				justify-content: center;
			}

			img {
				display: block;
				width: 100%;
				border-radius: inherit;
			}
		}

		.item_inner {
			position: relative;
      display: flex;
			flex-direction: column;
			gap: var(--gap-5);
		}

		.inner_cont {
			display: flex;
			flex-direction: column;
			gap: var(--gap-3);

			&.ty2 {
				gap: var(--gap-2);
			}

			.item_title {
				color: var(--color-text-bolder);
				font-size: var(--font-size-heading-small);//var(--font-size-heading-xsmall);
				font-weight: 700;
			}

			.item_preview {
				color: var(--color-text-subtle);
				font-size: var(--font-size-body-small);
			}

			.item_title,
			.item_preview {
				display: -webkit-box;
				line-clamp: 2;
				-webkit-line-clamp: 2;
				-webkit-box-orient: vertical;
				overflow: hidden;
			}

			.item_meta {
				.date {
					color: var(--color-text-information);
					font-size: var(--font-size-body-small);
					word-break: break-all;
				}
			}
		}
	}

	// 진행중인 이벤트
	&:has(.item_meta) {
		.card_item {
			.item_preview {
				color: var(--color-text-information);
			}
		}
	}
	
	&.event_list {
			.card_item {

			.img_box {
				flex-shrink: 0;
				width: 267px;
			
				&.no_img {
					width: 267px;
					height: 111px;
				}
			}

			.item_inner{
				flex-direction: row;
				justify-content: flex-start;
				gap: var(--gap-3);

				.inner_cont {
					flex-grow: 1;
				}
			}
		}
	}

	&.row {
		width: 100%;
		// display: flex !important;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		flex-wrap: wrap;
		gap: 32px;

		li {
			flex : 0 1 calc(50% - 16px);

			& ~ li {
				margin-top: 0;
			}
		}

		.inp_radio, .inp_checkbox {
			width: 50%;
			flex : 0 1 calc(50% - 16px);
		}
	}
}


//카드형 리스트(링크 기능) - 카드혜택 > 기부하기
.card_list_wrap_ty3 {
  li ~li {
    margin-top: var(--gap-5);
  }
}

//car_list를 사용하지 않고 card_item만 삽입하는 케이스가 있어 스타일 선언 구조 별도 분리함.
.card_item.donation {

	& ~ .card_item {
		margin-top: var(--gap-5);
	}

	padding: calc(var(--padding-8) - 1px) var(--padding-7);
	border: var(--border-width-static-regular) solid var(--color-border-gray-light);
	background: var(--color-surface-white-subtle);
	border-radius: var(--radius-large2);

	.item_inner {
		display: flex;
		// flex-direction: column;
		flex-direction : row;
		gap: var(--gap-5);
		cursor: pointer;

		.inner_cont {
			flex-grow: 1;
		}
	}

	.img_box {
		// width: 100%;
		width: auto;
		border-radius: var(--radius-medium3);

		&.no_img {
			width: 100%;
			height: 140px;
			background: var(--color-surface-gray-subtler);
			display: flex;
			align-items: center;
			justify-content: center;
		}

		img {
			display: block;
			width: 100%;
			border-radius: inherit;
			height: 111px;
		}
	}

	.inner_cont {
		display: flex;
		flex-direction: column;
		gap: var(--gap-3);

		.title_info {
			.badge_wrap {
				gap: var(--gap-2);
				align-items: center;
				white-space: wrap;

				.organ {
					color: var(--color-text-subtle);
					font-size: var(--font-size-body-small);
					word-break: break-all;
				}

				& + .main_title {
					margin-top: var(--gap-2);
				}
			}
			
			.main_title {
				color: var(--color-text-bolder);
				font-size: var(--font-size-heading-small);//var(--font-size-heading-xsmall);
				font-weight: 700;
				display: -webkit-box;
				line-clamp: 2;
				-webkit-line-clamp: 2;
				-webkit-box-orient: vertical;
				overflow: hidden;
			}

			.date {
				display: none;
			}

		}//title_info

		.progress {
			.bar {
				height: 8px;
				position: relative;

				&:before {
					display: block;
					content:'';
					position: absolute;
					top: 50%;
					transform: translateY(-50%);
					width: 100%;
					height: 2px;
					background: var(--color-background-gray-subtle);
					border-radius: var(--radius-xsmall3);
				}

				.guage {
						position: absolute;
						top: 50%;
						transform: translateY(-50%);
						width: 30%;
						height: 4px;
						background: var(--color-border-primary);
						border-radius: var(--radius-xsmall3);

					&:after {
						display: block;
						content:'';
						position: absolute;
						top: 50%;
						transform: translate(50%,-50%);
						right: 0;
						width: 8px;
						height: 8px;
						background: #fff;
						border: 1px solid var(--color-border-primary);
						border-radius: 999px;
					}
				}
			}

			.progress_info {
				display: flex;
				justify-content: space-between;
				margin-top: var(--gap-3);
				font-size: var(--font-size-body-xsmall);
				color: var(--color-text-disabled-on);
			}
		}
	}

	.item_btn_wrap {
		margin-top: var(--gap-5);
		display: flex;
		align-items: center;
		gap: var(--gap-3);

		.stretch {
			flex-grow: 1;
		}

	}

	//.card_item.donation - small케이스
	&.small {
		.item_inner {
			display: flex;
			flex-direction: row;
			gap: var(--gap-4);
		}

		.img_box {
			width: 56px;
			height: 56px;
			border-radius: var(--radius-medium3);
			flex-shrink: 0;

			&.no_img {
				width: 56px;
				height: 56px;
			}

			img {
				width: 56px;
				height: 56px;
				filter: grayscale(0);				
			}
		}

		.inner_cont {
			.title_info {
				.badge_wrap + .main_title {
					margin-top: var(--gap-2);
				}

				.date {
					display: block;
					margin-top: var(--gap-3);
					color: var(--color-text-information);
					font-size: var(--font-size-body-small);
					word-break: break-all;
				}

			}//title_info

			.progress, .item_btn_wrap {
				display: none;
			}
		}

		.item_btn_wrap {
			display: none;
		}

		//이벤트 종료 케이스(samll)
		&.end {
			.item_inner {
				cursor: default;
			}
		
			img {
				filter: grayscale(100%);
				opacity: 0.7;
				mix-blend-mode: luminosity;
			}
		}

	}//small케이스



}//.card_item.donation


//카드형 리스트 (혼합)
.card_list_wrap_ty4 {
	> li ~ li {
		margin-top: var(--gap-5);
	}
	.card_item {
		position: relative;
		padding: calc(var(--padding-8) - 1px) var(--padding-7);
		border: var(--border-width-static-regular) solid var(--color-border-gray-light);
		background: var(--color-surface-white-subtle);
		border-radius: var(--radius-large2);

		&[role='button']{
			.inner_cont {
				padding-right: 28px;
				background: url(../images/icon/arrowRight_ty4.svg) no-repeat center right 2px / 20px;
			}
		}

		.item_inner {
			.inner_cont {
				display: flex;
				flex-direction: column;
				gap: var(--gap-2);

				.item_title {
					font-weight: 700;
					font-size: var(--font-size-heading-xxsmall);
				}
				.item_desc {
					color: var(--color-text-subtle);
					font-size: var(--font-size-body-small);
				}

				.item_title,
				.item_desc {
					display: -webkit-box;
					line-clamp: 2;
					-webkit-line-clamp: 2;
					-webkit-box-orient: vertical;
					overflow: hidden;
				}
			}

			& + .img_box {
				margin-top: var(--gap-5);
				img {
					width: 100%;
				}
			}
			.btn_link {
				&.rd_box {
					margin-top: var(--gap-2);
				}
			}
		}
		.btn_rd_close {
			position: absolute;
			top: 16px;
			right: 16px;
			width: 24px;
			height: 24px;
			background-size: 12px;
		}
	}
}

.form_card_wrap {
	.form_card_case {
		& + .form_card_case {
			margin-top: var(--gap-5);
		}
		.form_group_wrap {
			.form_line {
				~ .form_line {
					margin-top: var(--gap-8);
				}
			}
		}
	}
	& + .btn_area {
		margin-top: var(--gap-5);
	}
}


.form_card_case {
	position: relative;
	padding: calc(var(--padding-8) - 1px) var(--padding-7);
	border: var(--border-width-static-regular) solid var(--color-border-gray-light);
	border-radius: var(--radius-large2);

	& + .form_card_case,
	& + .btn_area.btn_area_space2 {
		margin-top: var(--gap-5);
	}
	.select_item,
	.title_h4 {
		& + .form_group_wrap {
			margin-top: var(--gap-5);
		}
	}
	& + .btn_area {
		margin-top: var(--gap-8);
	}

	> .select_item {
		.si_item {
			color: var(--color-text-basic);
		}
	}
	.btn_rd_close {
		position: absolute;
		top: 16px;
		right: 16px;
		margin: 0;
	}
}

.all_checking {
	& + .card_item_wrap {
		margin-top: var(--gap-5);
	}
}
.insu_plan {
	margin-bottom: var(--gap-4);
	.tit {
		margin-bottom: var(--gap-2);
		display: flex;
		align-items: center;
		gap: var(--gap-2);
		font-size: var(--font-size-body-medium);
		line-height: 1;

		.badge_wrap {
			width: auto;
		}
	}
	p {
		font-size: var(--font-size-body-small);
		color: var(--color-text-subtle);
	}
}


/* 바닥 페이지  */

.container {
	.card_item_wrap {
		&.focusin {
			.card_item {
				.item_inner {
					.inner_cont {
						.card_list_ty1 {
							> li {
								&.result {
									flex: none;
									width: 100%;
									margin-top: var(--gap-4);
									padding: 0;
									.point {
										&.sm {
											font-size: var(--font-size-body-small);
										}
									}
								}
							}
						}
						.card_cont {
							margin-top: var(--gap-8);
						}
					}
				}
			}
		}
		.card_item {
			.space_between {
				.info_text {
					+ .radio_group_wrap {
						margin: 0;
					}
				}
			}
			.item_inner {
				.inner_cont {
					* {
						/* 데이터 리스트 좌우배치 */
						+ .card_list_ty1	{
							display: flex;
							flex-flow: row wrap;
							border-top: var(--border-width-static-regular) solid var(--color-divider-gray-light);
							margin-top: var(--gap-5);
							padding-top: var(--padding-6);
	
							> li {
								justify-content: flex-start;
								width: 50%;
								margin-top: 0;
								padding-bottom: 0;
								padding-top: 12px;
								gap: var(--gap-4);
								.title {
									min-width: 50px;
								}
								&:first-child {
									margin-top: 0;
									padding-top: 0;
									border-top: none;
								}
								&:nth-child(-n+2) {
									padding-top: 0;
								}
	
								&:nth-child(2n-1){
									padding-right: var(--gap-8);
									border-right: var(--border-width-static-regular) solid var(--color-divider-gray-light);
								}
								&:nth-child(2n) {
									padding-left: var(--gap-8);
								}

								// 리스트 항목 중 하위속성 있을 경우
								&.subitem_area {
									display: block;
									.title {
										text-align: left;
									}
									.cont {
										flex: none;
									}
									.subitem {
										padding-top: 4px;
										font-size: var(--font-size-body-xsmall);
										color: var(--color-text-subtle);
										line-height: 18px;
									}
									> div {
										display: flex;
										width: 100%;
										margin-top: 0;
										gap: var(--gap-4);
										max-width: none;
									}
								}
							}
	
							&.df_type_w_ty1 {
								> li {
									.title {
										width: 100px;
									}
								}
							}
							&.df_type_w_ty2 {
								> li {
									.title {
										width: 130px;
									}
								}
							}
							&.df_type_w_ty3 {//50,100
								> li {
									&:nth-child(2n) {
										.title {
											width: 100px;
										}
									}
								}
							}
							&.df_type_w_ty4 {//50,130
								> li {
									&:nth-child(2n) {
										.title {
											width: 130px;
										}
									}
								}
							}
							&.df_type_w_ty5 {//100,50
								> li {
									.title {
										width: 100px;
									}
									&:nth-child(2n) {
										.title {
											width: 50px;
										}
									}
								}
							}
							&.df_type_w_ty6 {//100,130
								> li {
									.title {
										width: 100px;
									}
									&:nth-child(2n) {
										.title {
											width: 130px;
										}
									}
								}
							}
							&.df_type_w_ty7 {//130,50
								> li {
									.title {
										width: 130px;
									}
									&:nth-child(2n) {
										.title {
											width: 50px;
										}
									}
								}
							}
							&.df_type_w_ty8 {//130,100
								> li {
									.title {
										width: 130px;
									}
									&:nth-child(2n) {
										.title {
											width: 100px;
										}
									}
								}
							}
						}
					}
				}
				.inp_radio {
					input[type=radio] {
						top: 27px;
					}
				}
			}
			.btn_area {
				// width: 360px;
				margin: var(--gap-5) auto 0;
				.hd_btn {
					// flex: 1;
				}

				.short_cut.long {
					width: auto;
					flex: none;
					margin:0 auto;
				}

				&.basic {
					width: auto;
					margin: var(--gap-4) 0 0;
					.hd_btn {
						flex: none;
					}

					&.ty1 {
						margin:var(--gap-5) 0 0 var(--padding-8);
					}
					& + .basic {
						margin-top: var(--gap-5);
					}
				}
			}
		}
	
		&.ty3 {
			.card_item {
				.card_link {
					.item_top {
						padding-right: 30px;
						background: url(../images/icon/arrowRight_ty4.svg) no-repeat right top 3.5px/20px auto;
					}
				}
				.item_top {
					flex-direction: row;
					align-items: center;
					gap: var(--gap-2);
	
					.title_info {
						.main_title {
							padding-right: 0;
							background: none;
						}
					}
				}

				.card_list_ty1  {
					& > li {
						&>*:last-child {
							text-align: left;
						}	
					}
				}				
			}
			& + .info_summary {
				margin-top: var(--gap-8);
			}
		}

		&.ty5 {
			.card_item {
				.item_inner {
					position: static;
					.inner_cont {
						position: static;
						width: 100%;
						.cont {
							display: flex;
							justify-content: end;
							flex: 1;
							.result {
								display: flex;
								align-items: center;
								gap: var(--gap-3);
								
								.title {
									font-size: var(--font-size-body-small);
									font-weight: 400;
								}
								.price {
									width: auto;
									font-size:  var(--font-size-body-large);
									color: var(--color-text-primary-bold);
								}
							}
						}
					}
				}
			}
		}
	
		&.ty6 {
			.card_item {
				.item_inner {
					.inner_cont {
						display: flex;
						justify-content: space-between;
						align-items: stretch;
						gap: var(--gap-3);
	
						.item_top {
							flex: none;
							width: 588px;
	
							.title_info {
								flex-direction: row;
								align-items: center;
							}
	
							.btn_area { 
								margin: var(--gap-5) 0 0;
								.hd_btn {
									flex: 0 0 auto;
								}
							}
						}
						.item_cont {
							flex: 1;
							display: flex;
							justify-content: flex-end;
							align-items: center;
							margin-top: 0;
	
							.btn_link {
								display: flex;
								text-align: right;
								align-items: center;
								height: 100%;
	
								.text {
									font-size: var(--font-size-body-large);
								}
							}
						}
					}
				}
			}
		}
	
		&.ty7 {
			.card_item {
				position: relative;

				&:has(.item_result){
					.item_inner {
						.inner_cont {
							.item_top {
								padding-bottom: 33px;
							}
						}
					}
				}

				.item_inner {
					.inner_cont {
						display: flex;
						gap: var(--gap-4);

						.space_between {
							flex: 1;
							align-items: stretch;

							&:not(:has(dl)){
								align-items: stretch;
							}
						}
						.inp_checkbox {
							height: auto;
							i {
								top: -24px;
								left: -21px;
								height: calc(100% + 48px);
								width: calc(100% + 42px);
							}
						}
						.data_info_list {
							margin-left: 30px;
							display: flex;
							flex-direction: column;
							gap: var(--gap-4);

							.hd_btn {
								position: relative;
								z-index: 20;
								margin-left: auto;
							}

							dl {
								display: flex;
								align-items: center;
								gap: var(--gap-4);
								padding: 1px 0;
								dt {
									font-size: var(--font-size-body-small);
									color: var(--color-text-subtle);
								}
								dd {
									position: relative;
									flex: 1;
									display: flex;
									align-items: center;
									font-size: var(--font-size-body-small);

									.tooltip_wrap {
										position: absolute;
										z-index: 30;
										width: auto;
										height: auto;
										top: auto;
										bottom: -4px;
										right: 16px;

										.tooltip_head {
											width: auto;
											height: auto;
											&.active {
												&:after {
													left: -16px;
												}
											}
										}
										.tooltip_panel {
											width: max-content;
										}
									}
								}
							}
						}
						 
						.item_top {
							gap: var(--gap-5);

							& + .cont {
								border-left: var(--border-width-static-regular) solid var(--color-divider-gray-light);
								padding-left: var(--gap-8);
								margin-left: var(--gap-8);

								&:not(:has(dl)) {
									border-color: white;

									.data_info_list {
										height: 100%;
										justify-content: center;
									}
								}
							}
						}

						.cont {
							flex:none;
							width: 475px;

							.data_info_list {

								dl {
									dt {
										flex: none;
										width: 130px;
									}
								}
							}
						}
					}
				}

				.item_result {
					position: absolute;
					left: 48px;
					bottom: 24px;
					display: flex;
					justify-content: space-between;
					width: 260px;

					.btn_area {
						margin-top: 0;
		
						button {
							position: relative;
							z-index: 20;
						}
					}
					
					.msg_success {
						margin-top: 0;
					}
				}
			}
		}
	
		
		& + .total_price_display_ty1,
		& + .info_gray {
			margin-top: var(--gap-11);
		}
	}
}