/* Card*/
// card list type
@mixin car-list-style(
	// $ul-padding: 0,
	// $ul-margin: 0,
	$ul-border-radius: 0,
	$li-padding: 0,
	$li-margin: 0,
	$li-font-size: 16px,
	$li-line-height: 20px,
	$li-color: inherit
) {
	// padding: $ul-padding;
	// margin: $ul-margin;
	border-radius: $ul-border-radius;
	> li {
		position: relative;
		margin: $li-margin;
		padding: $li-padding;
		font-size: $li-font-size;
		line-height: $li-line-height;
		color: $li-color;
	}
	@content;
}


.card_item_wrap {
	& + & {
		margin-top: var(--gap-5);
	}

	& + * {
		margin-top: var(--gap-5);
		&.pop_title_h1,
		&.list_top_wrap,
		&.card_item_wrap,
		&.title_h3,
		&.btn_area {
			margin-top: var(--gap-8);
		}

		&.banner_box {
			margin-top: var(--gap-8);
		}
		&.banner_box {
			margin-top: var(--gap-8);
		}

		&.btn_area {
			&.btn_area_space2 {
				margin-top: var(--gap-5);
			}	
		}
	}
	
	.no_list_area {
		margin-top: var(--gap-5);
	}

	&.focusin {
		.card_item:not(.disabled):focus-within  {
			&::after {
				content:"";
				position: absolute;
				top: -1px;
				left: -1px;
				z-index: -1;
				width: calc(100% + 2px);
				height: calc(100% + 2px);
				border: 2px solid #F8633C;
				border-radius: 24px;
				transition: border-color 0.2s ease;
			}
		}
	}


	&.ty2 {
		.card_item {
			.card_link {
				&::after {
					content: '';
					position: absolute;
					top: 0;
					left: 0;
					z-index: 1;
					width: 100%;
					height: 100%;
				}
			}
			&.disabled {
				.card_link {
					.item_top {
						.title_info {
							.main_title {
								background-image: none;
							}
						}
					}
				}
			}
			&.disabled2 { 
				.card_list_ty1 {
					li > *:last-child {
						color:#6D7882;
					}
				}
			}
		}
	}
	
	.card_item {
		position: relative;
		padding: var(--padding-8) var(--padding-7);
		border: var(--border-width-static-regular) solid var(--color-border-gray-light);
		border-radius: 24px;
		background: rgba(255, 255, 255, 0.9);
		backdrop-filter: blur(8px);

		& ~ .card_item {
			margin-top: var(--gap-5);

			&.non_chk {
				margin-top: var(--gap-11);
				padding: 24px 20px;
				
				.item_inner {
					.inp_radio {
						.chk_label {
							&::before {
								top: 1px;
							}
						}
					}
				}
			}
		}

		.item_inner {
			display: flex;
			align-items: flex-start;

			> .inp_checkbox,
			> .inp_radio {
				// margin-top: 3px;
			}

			.inp_checkbox {
				input {
					margin-top: 3px;
				}
			}

			.inner_cont {
				flex: 1;

				> * {
					& + .card_list_ty1 {
						// margin-top: var(--gap-5);
						// padding-top: 16px;
						// border-top: 1px solid #e1e3ea;
						> li {
							&:first-child {
								margin-top: var(--gap-5);
								padding-top: 16px;
								border-top: 1px solid #e1e3ea;
								/* 목록 상 결과값만 최상단에 존재하는 경우 */
								&.result {
									align-items: center;
									margin-top: var(--gap-4);
									padding-top: 0;
									border-top: none;
								}
							}
						}
					}
				}

				.progress_bar_ty3 {
					margin-top: var(--gap-5);
				}

				.checkbox_group_wrap {
					&.column {
						.inp_checkbox {
							input {
								&:checked {
									& + .label {
										&:before {
											background-size: 20px auto;
										}
									}
								}
							}
						}
					}
				}
			}

			.inp_radio,
			.inp_checkbox {
				position: static;
				width: 28px;
				
				.chk_label {
					padding-left: 28px;

					&:before {
						top: 3px;
					}
				}
				input:checked{
					& ~ i {
						position: absolute;
						top: -1px;
						left: -1px;
						z-index: -1;
						width: calc(100% + 2px);
						height: calc(100% + 2px);
						border: 2px solid #F8633C;
						border-radius: 24px;
						transition: border-color .2s ease;
					}

					& + .chk_label_ty4 {
						&:before {
							background-size: 16px auto;
						}
					}
				}
			}
		}

		.card_link {
			display: block;
			.item_top {
				.title_info {
					.main_title {
						padding-right: 30px;
						background: url(../images/icon/arrowRight_ty3.svg) no-repeat right top 3.5px / 20px auto;
					}
				}
			}
			&[aria-disabled="true"] {
				.item_top {
					.title_info {
						.main_title {
							cursor: not-allowed;
							// background: url(../images/icon/arrowRight_disabled_ty2.svg) no-repeat right 3.5px / 20px auto;
						}
					}
				}
			}
		}

		// card 상단영역
		.item_top {
			display: flex;
			flex-direction: column;

			.badge_wrap {
				& + .title_info {
					margin-top: var(--gap-2);
				}
			}

			.title_info {
				display: flex;
				flex-direction: column;
				gap: 4px;

				.sub_title {				
					color: var(--color-text-subtle);
					font-size: var(--font-size-body-small);

					& + .cont {
						margin-top: var(--gap-2);
					}
				}
				.main_title {
					// position: relative;
					font-weight: 700;
					font-size: var(--font-size-heading-small);
					// line-height: 27px;
					color: var(--color-text-bolder);

					.info {
						color: var(--color-text-information);
					}
					.hd {
						color: var(--color-text-primary-bold);
					}
					.badge_wrap {
						display: inline;
						// padding-left: 4px;
						vertical-align: top;

						.hd_badge {
							vertical-align: middle;
							font-weight: 400;
						}
					}

					&.tooltip_add {
						display: flex;
						align-items: flex-start;
						justify-content: space-between;
						gap: var(--gap-3);
						.tooltip_wrap {
							margin-top: var(--gap-2);
							.tooltip_panel {
								width: calc(100vw - 70px);
							}
						}
					}
				}
				& + .desc {
					margin-top: var(--gap-3);
					font-size: var(--font-size-body-small);
					color: var(--color-text-information);
				}
				& + .badge_wrap {
					margin-top: var(--gap-2);
				}
			}
			
			.text {
				font-size: var(--font-size-label-large);
				line-height: 24px;

				& + .desc {
					margin-top: var(--gap-3);
				}
			}
			.desc {
				font-size: 14px;
				line-height: 21px;
				color: #58616A;
			}

			& + .card_list_ty1 {
				// margin-top: var(--gap-5);
				// padding-top: 16px;
				// border-top: 1px solid #e1e3ea;
				> li {
					&:first-child {
						margin-top: var(--gap-5);
						padding-top: var(--gap-5);
						border-top: var(--border-width-static-regular) solid var(--color-border-gray-light);
						/* 목록 상 결과값만 최상단에 존재하는 경우 */
						&.result {
							margin-top: var(--gap-4);
							padding-top: 0;
							border-top: none;
						}
					}
				}

			}

			.hd_btn {
				.text {
					font-size: inherit;
					line-height: inherit;
				}
			}

		}

		.item_cont {
			margin-top: var(--gap-4);
			ul {
				width: 100%;
				display: flex;
				justify-content: space-between;
				align-items: center;
				&.align_top {
					align-items: flex-start;
				}
				.txt_l {
					font-size: var(--font-size-body-small);
					color: var(--color-text-subtle);
				}
				.txt_r {
					font-size: var(--font-size-body-large);
					text-align: right;
					font-weight: 700;
				}
			}
		}
		ul > li > div.cont {
			.hd_badge {
				height: 20px !important;
			}
			.car_logo {
				margin-left: 4px;
			}

			.text_body_large {
				font-size: var(--font-size-body-large);
				line-height: 150%;
			}
		}

		.card_list_ty1 {
			@include car-list-style($ul-border-radius: 0, $li-padding: 0 0 12px, $li-font-size: var(--font-size-body-small)) {
				// ul.list-2에 대한 추가적인 스타일
				// background-color: var(--color-primary);
				> li {
					display: flex;
					align-items: flex-start;
					justify-content: space-between;
					gap: var(--gap-3);
					&:last-child {
						padding-bottom: 0;
					}
				}
			}

			> li {
				> * {
					&:first-child {
						flex: none;
						// flex: 1 1 0;
						min-width: 100px;
						max-width: 50%;
						color: var(--color-text-subtle);
					}
					&:last-child {
						text-align: right;
						color: var(--color-text-basic);
					}
				}

				&.result {
					// padding-top: 16px;
					// border-top: 1px solid #e1e3ea;
					> * {
						line-height: 24px;
					}
					.point {
						// font-size: 16px;
						// line-height: 24px;
						font-size: var(--font-size-body-large);
					}
				}

				
				&.subitem {
					font-size: var(--font-size-body-xsmall);
					line-height: 18px;
				}
				& + .subitem {
					margin-top: -8px;
				}

				.price {
					max-width: none;
					strong {
						font-size: var(--font-size-body-large);
					}
				}

				.total {
					font-size: 20px;
					line-height: 30px;
					font-weight: 700;
				}
				.point_b {
					// font-size: var(--font-size-body-large);
					color: var(--color-text-primary-bold);
					font-weight: 700;
				}
			}
		}

		.card_list_ty2 {
			> li {
				display: flex;
				flex-direction: column;
				gap: var(--gap-3);

				& ~ li {
					padding-top: 12px;
				}

				.title {
					font-size: var(--font-size-body-small);
					color: var(--color-text-subtle);
				}

				.btn_area {
					margin-top: 0;
				}
			}
		}

		.card_cont {
			margin-top:16px;
			padding-top:16px;
			border-top: 1px solid #e1e3ea;
			.comp_wrap.key_number {
				& + .btn_area {
					margin-top:12px
				}
			}
		}

		.btn_area {
			margin-top: var(--gap-5);

			.hd_btn:not(.hd_btn_s_4) {
				// border-radius: 16px;
				font-weight: 700;
			}
		}

		.checkbox_group_wrap,
		.item_info {
			margin-top: var(--gap-5);
			padding-top: 16px;
			border-top: var(--border-width-static-regular) solid var(--color-border-gray-light);
		}
		.checkbox_group_wrap {
			.inp_checkbox {
				width: 100%;
				mask-type: 0;
			}
		}
		.item_info {
			dt {
				font-size: var(--font-size-body-small);
			}
			dd {
				margin-top: var(--gap-2);
				font-size: var(--font-size-body-xsmall);
				color: var(--color-text-information);
			}
			& + .radio_group_wrap {
				margin-top: var(--gap-5);
			}
		}

		//비활성화 케이스
		&.disabled {
			background-color: var(--color-surface-gray-subtler);

			* {
				color: var(--color-text-disabled-on) !important;
				background-color: var(--color-surface-gray-subtler);
			}
			
			.item_top {
				.title_info {
					.main_title {
						color: var(--color-text-disabled-on);
					}
					.desc {
						color: var(--color-text-information);
					}
				}
			}
		
			.inp_checkbox {
				input[type=checkbox]:checked {
					& ~ i {
						border-color: var(--color-border-primary-light);
					}
				}
			}
		
			.item_top .title_info .main_title {
				color: inherit;
			}
		
			.card_link {
				.item_top {
					.title_info {
						// padding-right: 24px;
						.main_title {
							padding-right: 30px;
							background: url(../images/icon/arrowRight_disabled_ty2.svg) no-repeat right bottom / 24px auto;
							
						}
					}
				}
			}
		}

		//비활성화 + 선택 예외 케이스
		&.selected {
			&:not(.disabled) {
				background-color: #fff;
			}
			.inp_checkbox {
				input[type=checkbox]:checked {
					& ~ i {
						border-color: var(--color-border-primary-light);
					}
				}
			}
			.card_link {
				.item_top {
					.title_info {
						// padding-right: 24px;
						.main_title {
							padding-right: 30px;
							// background: url(../images/icon/arrowRight_disabled_ty2.svg) no-repeat right bottom / 20px auto;
						}
					}
				}
			}
		}
	}

	& + .inp_checkbox {
		margin-top: var(--gap-8);
	}
	&.ty3 {//MY
		.item_top {
			.title_info {
				& + .desc {
					margin-top: 0;
					font-weight: 700;
					font-size: var(--font-size-heading-small);
					color: var(--color-text-bolder);
				}
			}
		}
	}
}



/* Card - information Type (예외 case에서만 사용됨)*/
.card_item_wrap.info_type {

	& + .info_gray {
		margin-top: var(--gap-11);
	}

	.card_item {
		background: var(--color-surface-secondary-subtler);
		border: 0;
	}

	.inp_checkbox input[type=checkbox] + .chk_label::before {
		background: #ffffff;
		border: var(--border-width-static-regular) solid var(--color-border-gray-dark);
	}

	.inp_checkbox input[type=checkbox]:checked + .chk_label::before {
		background: #F8633C url(../images/icon/check_ty1.svg) no-repeat center / 12px auto;
		border-color: #F8633C;
	}

	.card_list_ty1 {
		> li {
			padding-bottom: var(--gap-5);
			.title {
				font-size: var(--font-size-body-small);
				color: var(--color-text-subtle);
			}
	
			.cont {
				font-size: var(--font-size-body-small);
				color: var(--color-text-basic);
			}

			&.result {
				// padding-top: 16px;
				// border-top: 1px solid var(--color-input-border-disabled);
				strong {
					font-size: var(--font-size-body-large);
				}
			}
		}
	}
	
}

.card_list_wrap {
	> li {
		+ li {
			margin-top: var(--gap-5);
		}
		.card_wrap {
			padding: 24px 20px;
			background: var(--color-surface-white-subtle);
			border: var(--border-width-static-regular) solid var(--color-border-gray-light);				
			border-radius: var(--radius-large2);
			> dt {
				.title {
					display: block;
					font-size: var(--font-size-heading-small);
					font-weight: 700;
					&.icon {
						padding-left: 28px;
						background-repeat: no-repeat;
						background-size: 24px auto;
						background-position: left center;
						&.car {
							background-image: url(../images/icon/icon_connected_car.svg);
						}
						&.handlebar {
							background-image: url(../images/icon/icon_handlebar.svg);
						}
						&.advanced_safety {
							background-image: url(../images/icon/icon_advanced_safety.svg);
						}
						&.blackbox {
							background-image: url(../images/icon/icon_blackbox.svg);
						}
						&.child_discount {
							background-image: url(../images/icon/icon_child_discount.svg);
						}
						&.accident_free {
							background-image: url(../images/icon/icon_accident_free.svg);
						}
					}
					& + .sub_text {
						margin-top: var(--gap-3);
					}
				}
				.sub_text {
					font-size: var(--font-size-body-small);
				}
			}
			> dd {
				margin-top: var(--gap-5);
				padding-top: 16px;
				border-top: var(--border-width-static-regular) solid var(--color-border-gray-light);
				&.card_cont_list {
					dl {
						display: flex;
						justify-content: space-between;
						align-items: center;
						gap: var(--gap-5);
						dt {
							color: var(--color-text-subtle);
						}
						dd {
							text-align: right;
						}
						& + dl {
							margin-top: var(--gap-4);
						}
						.point {
							color: var(--color-text-primary-bold);
							font-weight: 700;
						}
					}
				}
			}
		}
	}
}


.form_card_wrap {
	.form_card_case {
		& + .form_card_case {
			margin-top: var(--gap-5);
		}
	}
	& + .btn_area {
		margin-top: var(--gap-5);
	}
}


.form_card_case {
	position: relative;
	padding: 16px 20px 24px;
	border: var(--border-width-static-regular) solid var(--color-border-gray-light);
	border-radius: 24px;

	& + .form_card_case,
	& + .btn_area.btn_area_space2 {
		margin-top: var(--gap-5);
	}
	.select_item {
		& + .form_group_wrap {
			margin-top: var(--gap-5);
		}
	}
	& + .btn_area {
		margin-top: var(--gap-8);
	}

	.btn_rd_close {
		position: absolute;
		top: 16px;
		right: 16px;
		margin: 0;
	}
}

.all_checking {
	& + .card_item_wrap {
		margin-top: var(--gap-5);
	}
}
.insu_plan {
	margin-bottom: var(--gap-4);
	.tit {
		margin-bottom: 4px;
		display: flex;
		align-items: center;
		gap: 4px;
		font-size: var(--font-size-body-medium);
		line-height: 1;

		.badge_wrap {
			width: auto;
		}
	}
	p {
		color: var(--color-text-subtle);
	}
}