/* Checkbox */
.inp_checkbox {
	position: relative;

	input[type='checkbox']{
		// overflow: hidden;
		position: absolute;
		width: 20px;
		height: 20px;
		// clip: rect(0,0,0,0);
		opacity: 0;
		z-index: 1;

		& ~ .label_area {
			> .label_cont {
				display: block;
				font-size: var(--font-size-label-large);

				.badge_wrap {
					width: auto;
					gap: 4px;
				}
				.cheking_color {
					font-weight: 700;
					color: var(--color-text-disabled-on);
				}
				.ess {
					font-weight: 700;
					color: var(--color-text-primary-bold);

					&.ess_t1 {
						position: relative;
						top: -1px;
						font-size: var(--font-size-heading-xxsmall);
						&.off {
							color: var(--color-text-disabled-on);
						}
					}
				}
			}
			.sub_g_txt {
				display: block;
				padding-top: 8px;
				font-size: var(--font-size-label-medium);
				color: var(--color-text-subtle);
			}
		}
		
		& + .chk_label {
			// h_chk
			// position: static;
			// h_chk
			position: relative;
			display: block;
			padding-left: 28px;
			cursor: pointer;
			> .label_cont {
				display: block;
				font-size: var(--font-size-label-medium);
				//color: var(--color-text-bolder);
				color: var(--color-text-basic);

				.badge_wrap {
					width: auto;
					gap: 4px;
					// vertical-align: bottom;
				}
				.cheking_color {
					font-weight: 700;
					color: var(--color-text-disabled-on);
				}
				.ess {
					font-weight: 700;
					color: var(--color-text-primary-bold);
					&.ess_t1 {
						position: relative;
						top: -1px;
						font-size: var(--font-size-heading-xxsmall);
						&.off {
							color: var(--color-text-disabled-on);
						}
					}
				}
			}
			.sub_g_txt {
				display: block;
				padding-top: 4px;
				font-size: var(--font-size-label-small);
				color: var(--color-text-subtle);
			}

			&::before {
				content:'';
				position: absolute;
				top: 0;
				left: 0;
				width: 20px;
				height: 20px;
				border: var(--border-width-static-regular) solid var(--color-border-gray-dark);
				border-radius: var(--radius-small1);
				background-color: var(--color-surface-white-subtle);
			}

			&.more_add {
				padding-right: 64px;
			}
			&.more_add2 {
				padding-right: 34px;
			}
			&.chk_label_ty2 {
				padding-left: 32px;
				&::before {
					top: 1px;
					width: 24px;
					height: 24px;
					border-radius: var(--radius-small2);
				}
				> .label_cont {
					font-weight: 700;
					font-size: var(--font-size-heading-small);
					color: var(--color-text-bolder);
				}
				.sub_g_txt {
					display: block;
					padding-top: var(--gap-1);
					//padding-top: 4px;
					font-weight: 400;
					color: var(--color-text-subtle);
					font-size: var(--font-size-body-xsmall);
				}
			}
			&.chk_label_ty3 {
				padding-left: 32px;
				&::before {
					width: 24px;
					height: 24px;
					border-radius: var(--radius-small2);
				}
				> .label_cont {
					font-size: var(--font-size-label-large);
					color: var(--color-text-basic);
				}
				.sub_g_txt {
					padding-top: 8px;
					font-size: var(--font-size-label-medium);
					color: var(--color-text-subtle);
				}
				& + .ag_more_btn {
					line-height: 24px;
				}
				& + .chk_lby {
					padding-top: var(--gap-3);
				}
			}
			&.chk_label_ty4 {
				padding-left: 20px;
				> .label_cont {
					font-size: var(--font-size-body-small);
				}
				&::before {
					border-radius: 0;
					border: none;
					background: url(../images/icon/check_ty2.svg) no-repeat center;
				}
			}
			
			&.chk_label_ty5 {
				padding: var(--padding-6);
				min-height: var(--size-height-8);
				// text-align: center;
				border-radius: var(--radius-medium1);
				> .label_cont {
					font-size: var(--font-size-label-large);
				}

				&.large {
					min-height: 72px;
				}
				&::before {
					display: none;
				}
				&:after {
					content:'';
					position: absolute;
					top:0;
					left:0;
					display: block;
					width: 100%;
					height: 100%;
					border: var(--border-width-static-regular) solid var(--color-border-gray-light);
					border-radius: var(--radius-medium1);
					transition: border-color 0.3s;
				}
				span {
					padding-left: 28px;
					position: relative;
					display: inline-block;
					&::before {
						content: '';
						display: block;
						position: absolute;
						top: 0;
						left: 0;
						width: 20px;
						height: 20px;
						background: url(../images/icon/check_ty2.svg) no-repeat center;
					}
				}
			}
			&.switch_check {
				cursor: pointer;
				position: relative;
				padding-left: 40px;
				height: 20px;
				> .label_cont {
					line-height: 20px;
				}
				&::before {
					width: 32px;
					height: 20px;
					background: var(--color-element-gray);
					border: var(--border-width-static-regular) solid var(--color-element-gray);
					border-radius: var(--radius-medium1);
				}
				&::after {
					content: "";
					position: absolute;
					top: 2px;
					left: 2px;
					display: inline-block;
					width: 16px;
					height: 16px;
					background: var(--color-element-inverse) url(../images/icon/toggle_close.svg) no-repeat center / 8px auto;
					background-size: 8px;
					border-radius: 50%;
					transition: left 250ms linear;
				}
				&.lg {
					padding-left: 48px;
					height: 24px;
					> .label_cont {
						font-size: var(--font-size-label-large);
						line-height: 24px;
					}
					&.txt_sm > .label_cont {
						font-size: var(--font-size-body-xsmall);
						color: var(--color-text-disabled-on);       
					}
					&::before {
						width: 40px;
						height: 24px;
					}
					&::after {
						width: 20px;
						height: 20px;
						background-size: 10px auto;
					}
				}
				&.text_empty {
					padding-left: 32px;
					&.lg {
						padding-left: 40px;
					}
				}
			}
		}

		&.right {
			right: 0;
			& + .switch_check {
				position: relative;
				padding-left: 0;
				padding-right: 40px;
				text-align: right;
				&::before {
					position: absolute;
					left: calc(100% - 32px);
				}
				&::after {
					left: calc(100% - 30px);
				}
				&.lg {
					padding-right: 48px;
					&::before {
						left: calc(100% - 40px);
					}
					&::after {
						left: calc(100% - 38px);
					}
				}
			}
		}
		// &:focus {
		// 	+ label {
		// 		outline: 1px dashed gray;
		// 	}
		// }
		&:disabled {
			& + .chk_label {
				&::before {
					background-color: var(--color-element-gray-lighter);
					border: 1px dashed var(--color-border-disabled);
				}

				> .label_cont {
					// color: var(--color-text-disabled);
					color: var(--color-text-basic);
				}

				&.more_add {
					> .label_cont {
						color: var(--color-text-basic);
					}
				}
				
				&.chk_label_ty4 {
					&::before {
						background: url(../images/icon/check_ty2.svg) no-repeat center;
						border: none;
					}
				}
				&.chk_label_ty5 {
					background-color: var(--color-action-disabled);
					&::after {
						border-style: dashed;
						border-color: var(--color-border-disabled);
					}
					& > .label_cont {
						color: var(--color-text-disabled-on);
					}
					span {
						&::before {
							background: url(../images/icon/check_ty2.svg) no-repeat center;
						}
					}
				}
				
				&.switch_check {
					height: 24px;
					&::before {
						background-color: var(--color-element-inverse);
						border-style: solid;
						border-color: var(--color-border-gray-light);
					}
					&::after {
						background-color: var(--color-element-gray-light);
					}
					.label_cont {
						color: var(--color-text-disabled);
					}
				}
			}
		}


		&:checked {
			& + .chk_label {
				&::before {
					background: var(--color-element-primary) url(../images/icon/check_ty1.svg) no-repeat center / 12px auto;
					border-color: var(--color-element-primary);
				}
				.cheking_color {
					color: var(--color-text-primary-bold);
				}
				&.chk_label_ty2,
				&.chk_label_ty3 {
					&::before {
						background-size: 16px auto;
					}
				}
				&.chk_label_ty4 {
					&::before {
						// background: var(--color-element-inverse) url(../images/icon/check_ty4.svg) no-repeat center;
						background: url(../images/icon/check_ty4.svg) no-repeat center;
					}
				}
				&.chk_label_ty5 {
					&:after {
						border: var(--border-width-static-medium) solid var(--color-border-primary);
					}
					span {
						&::before {
							background: url(../images/icon/check_ty4.svg) no-repeat center;
						}
					}
				}
				&.switch_check {
					&::before {
						background:  var(--color-element-primary);
					}
					&::after {
						content: '';
						left: 14px;
						background: var(--color-element-inverse) url(../../images/icon/toggle_open.svg) no-repeat center / 10px auto;
					}
					&.lg {
						&::after {
							left: 18px;
							background-size: 14px auto;
						}
					}
				}
				&.check_hide {
					.sub_g_txt {
						overflow: hidden;
						position: absolute;
						width: 1px;
						height: 1px;
						clip: rect(0, 0, 0, 0);
					}
					& + .chk_lby {
						overflow: hidden;
						position: absolute;
						width: 1px;
						height: 1px;
						clip: rect(0, 0, 0, 0);
					}
				}
			}
			&.right {
				& + .switch_check {
					&::after {
						left: calc(100% - 18px);
					}
					&.lg {
						&::after {
							left: calc(100% - 22px);
						}
					}
				}
			};
			&:disabled {
				& + .chk_label {
					&::before {
						background:  var(--color-element-gray-lighter) url(../images/icon/check_ty5.svg) no-repeat center / 12px auto;
						border: var(--border-width-static-regular) solid var(--color-border-gray-light);
					}
					&.chk_label_ty2,
					&.chk_label_ty3 {
						&::before {
							background-size: 16px auto;
						}
					}
					
					&.chk_label_ty4 {
						&::before {
							background-image: url(../images/icon/check_ty6.svg);
							background-color: transparent;
							border: none;
							background-size: 20px auto;
						}
					}
					&.chk_label_ty5 {
						& > .label_cont {
							color: var(--color-text-disabled-on);
						}
						&::after {
							border: var(--border-width-static-regular) solid var(--color-action-disabled);
						}
						span {
							&::before {
								background: url(../images/icon/check_ty5.svg) no-repeat center;
							}
						}
					}
					&.switch_check {
						&::before {
							background: var(--color-element-inverse);
							border-color: var(--color-border-gray-light);
						}
						&::after {
							background-color: var(--color-element-gray-light);
							filter: grayscale(100%);
						}
					}
				}
			}
		}
	}

	&:has(.label_area){
		display: flex;
		gap: var(--gap-3);

		input[type='checkbox']{
			width: 24px;
			height: 24px;
			& + .chk_label {
				width: 24px;
				height: 24px;
				padding-left: 24px;
				border-radius: var(--radius-small2);
			}
		}
	}

	&.rd_box {
		padding: var(--padding-8) var(--padding-7);
		flex: 1;
		border: var(--border-width-static-regular) solid var(--color-border-gray-light);
		border-radius: var(--radius-large2);

		& + .form_group_wrap {
			margin-top: var(--gap-8);
		}
		
		& + .radio_group_wrap_ty2 {
			margin-top: var(--gap-11);
		}

		input[type=checkbox] {
			top: 24px;
			left: 24px;
			width: 24px;
			height: 24px;

			& + [class^=chk_label] {
				position: static;
				padding-left: calc(20px + 8px); //32px;

				&.chk_label_ty3 {
					padding-left: calc(24px + 8px); //32px;
				}

				&::before {
					top: 24px;
					left: 20px;
				}

			// h_chk
				// &::after {
				// 	content: '';
				// 	position: absolute;
				// 	top: 0;
				// 	left: 0;
				// 	z-index: 1;
				// 	width: 100%;
				// 	height: 100%;
				// }

				// button {
				// 	position: relative;
				// 	z-index: 20;
				// }
				// h_chk
			}
		}
		&.question {
			padding-right: 16px;
			display: flex;
			justify-content: space-between;
			gap: var(--gap-3);
			input[type=checkbox] {
				& + .chk_label {
					padding-right: 0;
				}
			}
			.question_mark_btn {
				position: relative;
				z-index: 20;
			}
		}
		// &.question:not( > button.question_mark_btn) {
		// 	align-items: center;
		// }

		.chk_lby {
			padding-left: 32px;
		}

		.ag_more_btn {
			position: absolute;
			top: 24px;
			right: 24px;
			// h_chk
			// z-index: 20;
			// h_chk
		}

		label {
			& + .btn_area {
				padding: 4px 0 0 32px;
			}
		}
		// h_chk
		// button {
		// 	position: relative;
		// 	z-index: 20;
		// }
		// h_chk
	}
	
	&.rd_check_btn {
		flex: 1;
		min-width: 40%;

		input[type='checkbox'] { 
			& + .chk_label_ty5 {
				span {
					&:before {
						top: calc(50% - 10px);
					}
				}
			}
		}

		&.lg {
			input[type='checkbox'] {
				& + .chk_label {
					&.chk_label_ty5 {
						display: flex;
						align-items: center;
						min-height: var(--size-height-10);

						// span {
						// 	&:before {
						// 		top: calc(50% - 10px);
						// 	}
						// }

						&::after {
							border-radius: var(--radius-medium3);  
						}

						& > .label_cont {
							padding-left: calc(20px + var(--gap-4));
						}
					}
				}
			}
		}
		&.sm {
			input[type='checkbox'] {
				& + .chk_label {
					&.chk_label_ty5 {
						display: flex;
						align-items: center;
						min-height: var(--size-height-6);
						padding: var(--padding-3) var(--padding-4);

						span {
							padding-left: calc(var(--gap-2) + var(--size-height-3));
							&.label_cont {
								font-size: var(--font-size-button-medium);

							}
							// &:before {
							// 	top: calc(50% - 10px);
							// }
						}

						&::after {
							border-radius: var(--radius-small3);
						}
					}
				}
			}
		}
	}

	.chk_lby {
		padding: 12px 0 0 32px;
	}
	.chk_lby2 {
		padding: 4px 0 0 28px;
		.badge_wrap {
			width: auto;
			gap:4px;
		}
		.btn_link {
			position: relative;
			z-index: 20;
		}
	}
	.ag_more_btn {
		position: absolute;
		top: 0;
		right: 0;
		display: block;
		padding-right: 16px;
		font-size: var(--font-size-button-medium);
		background: url(../images/icon/arrowRight_ty4.svg) no-repeat right center / 16px auto;
	}
	.ag_more_btn2 {
		position: absolute;
		top: 0;
		right: 0;
		display: block;
		width: 20px;
		height: 20px;
		// padding-right: 16px;
		font-size: var(--font-size-button-small);
		// line-height: 24px;
		background: url(../images/icon/arrowRight_ty4.svg) no-repeat center center / 20px auto;
	}
}

.checkbox_group_wrap {
	display: inline-flex;
	flex-flow: row wrap;
	gap: 12px;
	width: 100%;

	&.ty2 {
		display: flex;
		flex-flow: row wrap;
		gap: 12px;

		.inp_checkbox {
			flex: 0 1 calc(50% - 6px);
			min-width: auto;
		}
	} 

	& + * {
		margin-top: var(--gap-5);
	}

	& + .checkbox_group_wrap {
		margin-top: var(--gap-8);
	}
	
	& + .form_list {
		margin-top: var(--gap-9);
	} 
	& + .car_type_option {
		margin-top: var(--gap-11);
	}
	& + .info_gray {
		margin-top: var(--gap-8);
	}
}

.checkbox_group_wrap {
	&.column {
		flex-direction: column;
		gap: 0;

		// xlarge, large
		&:has(.chk_label_ty2),
		&:has(.chk_label_ty3) {
			.inp_checkbox {
				~ .inp_checkbox {
					margin-top: var(--gap-7);
				}
			}
		}

		//small
		&:has(.chk_label_ty4){
			.inp_checkbox {
				~ .inp_checkbox {
					margin-top: var(--gap-5);
				}
			}
		}

		//medium
		.inp_checkbox {
			& + .inp_checkbox {
				margin-top: var(--gap-6);
			}
		}
		.inp_checkbox.lg {
			& ~ .lg {
				margin-top: var(--gap-7);
			}
		}
		.inp_checkbox.sm {
			& ~ .sm {
				margin-top: var(--gap-5);
			}
		}
		.inp_checkbox.rd_box {
			& ~ .rd_box {
				margin-top: var(--gap-5);
			}
		}
	}
	&.end {
		justify-content: end;
	}
	+ .info_cont {
		margin-top: var(--gap-8);
	}
}