
@mixin blind {
	overflow: hidden;
	position: absolute;
	width: 1px;
	height: 1px;
	clip: rect(0, 0, 0, 0);
}

.blind {
	@include blind;
}

.sr-only {
	@include blind;
	padding: 0;
	margin: -1px;
	clip-path: inset(50%);
	border: 0;
}
/* Common */

/* unit class */
.mt_52 {
	margin-top: 52px;
}

.mt_gap_3 {
	margin-top: var(--gap-3); // 8px
}
.mt_gap_4 {
	margin-top: var(--gap-4); // 12px
}
.mt_gap_5 {
	margin-top: var(--gap-5); // 16px
}
.mt_gap_6 {
	margin-top: var(--gap-6); // 20px
}
.mt_gap_8 {
	margin-top: var(--gap-8); // 32px
}
.mt_gap_11 {
	margin-top: var(--gap-11); // 52px
}
/* unit class */

/* scroll margin top */
.smt_ty1 {
	// scroll-margin-top: 56px;
	scroll-margin-top: 86px;
}
/* scroll margin top */

body {
	&.scroll_lock {
		height: 100%;
		overflow: hidden;
	}
}

html {
	// scroll-behavior: smooth;
}

//display:none;
.hidden {
	// display: none !important;
	display: none;
}
.block {
	display: block;
}

//강조 text
strong {
	font-weight: 700;
}

//기본색
.txt_basic {
	color: var(--color-text-basic);
}

//text 강조색
// 기본 강조색으로 사용 - 공통영역 ex) content_top 
.point {
	// color: #d82600 !important;
	color: var(--color-text-primary-bold);
	font-weight: 700;
}
// 기본 강조색으로 사용 - 공통영역 ex) content_top 

.success {
	// color: #009419 !important;
	color: #009419;
}

.disabled_on {
	// color: #009419 !important;
	color: var(--color-text-disabled-on);
}

// 예외 사항시 사용 ex) title혹은 리스트 상이 아닌 비쥬얼 영역의 사용 시 사용 / 예외처리 필요 판단 필요
.primary {
	color: var(--color-text-primary);
}

.primary_bold {
	color: var(--color-text-primary-bold);
	font-weight: 700;
}
// 예외 사항시 사용 ex) title혹은 리스트 상이 아닌 비쥬얼 영역의 사용 시 사용 / 예외처리 필요 판단 필요

//부족, 위험
.danger {
	color: var(--color-text-danger);
}

.secondary {
	color: var(--color-text-secondary-light);
}


.bold {
	font-weight: 700;
}
//background 색상
.bg_white { background-color: #ffffff;}

//텍스트 ellipsis
.truncate {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.underline {
	text-decoration: underline;
}
//정렬
.space_between {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.txt_left {
	text-align: left;
}

.txt_center {
	text-align: center;
}

.txt_right {
	text-align: right;
}

.flex_start {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 4px;
}

.etc_btn_area {
	width:100%;
	display: flex;
	align-items: center;

	&.right { 
		justify-content: flex-end;
	}
}

sup {
	vertical-align: top;
}

.wrap {
	display: block;
	position: relative;
	display: block;
	min-width: 1280px;
	height: auto;
	min-height: 100%;
	padding: 120px 0 0 0;
	&:has(.header_pc_nd) {
		padding: 72px 0 64px 0;
	}
	&:has(.header_pc_error) {
		padding: 72px 0 64px 0;
	}
	&:has(.footer) {
		.container {
			// background-color: blue;
			padding: 0 0 var(--padding-12);
		}
	}
	&:has(.footer[style*="display: none"]) {
		.container {
			padding-bottom: 0;
			// background-color: red;
		}
	}

	&.scroll_lock {
		height: 100%;
		overflow: hidden;
	}

	.container {
		position: relative;
		display: flex;
		flex-direction: row;
		justify-content: center;
		flex-flow: row wrap;
		gap: var(--gap-12);
		width: 1188px;
		margin: 0 auto;
		min-height: calc(100vh - 375px);
		overflow: inherit;
		&.main_container {
			display: block;
			width: auto;
			padding-bottom: 0;
		}

		.content {
			flex: none;
			width: 836px;
			&.content_st1 {
				width: 1188px;
			}
			
			& > * {
				&:first-child {
					&.content_ty1 {
						margin-top: -16px;
					}
				}
			}
		}

		.side_panel {
			width: 288px;
		}

		&.container_tp2 {
			gap: var(--gap-8);
			 
			.content {
				width: 781px;
			}
			.side_panel {
				width: 375px;
			}
		}

	}

	&.wrap_ty2 {
		.header {
			transition: background-color 0.3s ease-in-out;
		}

		&.scrollTop {
			.header {
				background: var(--color-surface-secondary-subtler);
			}
		}		

		.container {
			padding: 0px 0px 1px;
		}

		.content {
			padding: var(--padding-6) var(--padding-8) var(--gap-8);
			background-color: #ffffff;		
		}

		.content_ty1 {
			background: var(--color-surface-secondary-subtler);

			& + .content_ty2 {
				padding-top: var(--padding-9);
			}
		}
		
		.content_ty2{			
			padding: var(--gap-9) var(--padding-8);

			.card_item_wrap + .total_price_display_ty1 {
				margin-top: var(--gap-5);
			}
		}

		.content.content_ty2 + .content.content_ty2 {
			margin-top: var(--gap-3);
			position: relative;
	
			&:before {
				content: '';
				display: block;
				width: 100%;
				height: 8px;
				background: var(--color-divider-gray-light);
				position:absolute;
				top: -8px;
				margin-left: -24px;
				margin-right: -24px;
			}
		}
		
		.bottom_fix_wrap {
			background-color: #ffffff;
		}
	}

	&.service {
		.header {
			background-color: var(--color-surface-warning-subtler);
		}
		.container {
			padding-bottom: 16px;
		}
	}

	/* 조건별 container 상단 간격 */
	.header_pc {
		+ .container {
			margin-top: var(--gap-12);
		}
		+ .container_form {
			margin-top: var(--gap-12);
		}
	}

	.breadcrumb {
		+ .container {
			padding-top: var(--gap-8);
		}
		+ .container_form {
			padding-top: var(--gap-8);
		}
	}
	/* 조건별 container 상단 간격 */


	aside {
		position: absolute;
		top:0;
		left: calc(100% + 32px);
		width: 128px;
	}

}


/* _하단 고정버튼 영역 */
.bottom_fix_wrap {
	padding: var(--padding-5) var(--padding-8) var(--padding-6);
	// padding: 0 24px 16px 24px;
	.banner_box {
		margin-bottom: var(--gap-4);
	}
	.btn_area {
		gap: var(--gap-3);

		&.column {
			gap: var(--gap-4);
		}
	}
	.info_gray {
		&.basic {
			&+.btn_area {
				margin-top: var(--gap-4);
			}
		}
	}
}
.bottom_fix_wrap_ty2 {
	padding: 0 24px 32px;

	& + .bottom_fix_wrap {
		margin-top: -8px;
	}
}

.content {
	.content_top {
		// & + .bann_text_wrap_ty1,
		// & + .bann_text_wrap_ty2,
		// & + .form_group_wrap,
		// & + .select_driver_range,
		// & + .card_item_wrap {
		// 	margin-top: var(--gap-8);
		// }
		// content_top + * 은 기본적으로 32px 간격을 두고 있음
		// 예외 간격은 별도 처리
		& + * {
			margin-top: var(--gap-8);
		}
		& + .text_sub {
			margin-top: var(--gap-4);
		}
		& + .card_item_wrap {
			margin-top: var(--gap-5);
		}
		.title_h2 + .btn_area {
			margin-top: var(--gap-3);
		}
		.title_h2 + .desc_area {
			margin-top: var(--gap-3);
		}
		.desc_area {
			color: var(--color-text-subtle);
			font-size: var(--font-size-body-small);
			+ .title_h2 {
				margin-top: var(--gap-2);
			}
		}

		&.space_between {
			* {
				margin-top: 0;
			}
		}
	}

	.content_ty1 {
		margin: 0 -24px;
		padding: var(--padding-6) var(--padding-8) var(--padding-9);
		background-color: var(--color-surface-secondary-subtler);

		& + .content_top {
			margin-top: var(--gap-8);

			& + .card_item_wrap {
				margin-top: var(--gap-6);
			}
		}
	}
}

.content_ty2 {
	.content_top + .card_item_wrap {
		margin-top: var(--gap-6);
	}	

	.content_top + .text_sub {
		margin-top: var(--gap-6);
	}

	.text_sub + .card_item_wrap {
		margin-top: var(--gap-5);
	}
}

//차량가액 표시 박스
.total_price_display_ty1 {
	display: flex;
	width: 100%;
	height: 56px;
	margin-bottom: var(--gap-4);
	padding: 4px 16px;
	justify-content: space-between;
	align-items: center;
	border-radius: var(--radius-medium3);
	border: var(--border-width-static-regular) solid var(--color-border-primary);
	background: #FFF;

	.price_label {
		color: var(--color-text-subtle);
		font-size: var(--font-size-body-small);
		line-height: 150%;	
	}

	.price_val {
		font-size: var(--font-size-body-large);
		font-weight: 700;
		line-height: 150%;
	}
}

/* 개발에서 제어하는 부분 */
.case_dp {
	display: none;
	&.active {
		display: block;
	}
}
/* 개발에서 제어하는 부분 */


.info_help_list {
	dt {
		margin-bottom: var(--gap-4);
		font-size: var(--font-size-heading-small);
		font-weight: 700;
		color: var(--color-text-bolder);
		& ~ dt {
			margin-top: var(--gap-9);
		}
	}
	dd {
		font-size: var(--font-size-body-medium);
	}
}

.sticky_fix {
	position: sticky;
	top: 0;
	z-index: 11;
	background-color: #fff;
}

.bg_area {
	margin: 0 -24px;
	padding: var(--padding-8);
	background-color: var(--color-background-gray-subtler);

	& + .tab_wrap {
		margin-top: var(--gap-7);
	}
	& + .img_area {
		margin-top: var(--gap-11);
	}

	&.ty2 {
		background-color: var(--color-surface-primary-subtler);

		.card_item_wrap {
			.card_item {
				border: none;
			}
		}
	}
}

.img_area {
	text-align: center;

	& + * {
		margin-top: var(--gap-11);
	}
	&.space1 + * {
		margin-top: var(--gap-8);
	}
	img {
		display: block;
		margin: 0 auto;
	}

	& + .btn_area {
		margin-top: var(--gap-8);
	}
}

//icon list
.radio_group_wrap {
	&.icon_case {
		.inp_radio {
			input[type=radio] + label {
				padding-left: 60px;
			}
		}
	}
}






// 목록이나 데이터가 존재하지 않는 경우
.no_list_area {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 4px;
	padding: var(--gap-7) 0;
	color:  var(--color-text-subtle);
	font-size: var(--font-size-body-medium);
	text-align: center;
	min-height: 160px;

	.hd_icon {
		width: 32px;
		height: 32px;
	}

	.desc {
		font-size: var(--font-size-body-small);
		color: var(--color-text-disabled-on);
		&.tac {
			text-align: center;
		}
	}

	// 버튼 있는 경우
	> .btn_area {
		margin-top: 12px;
	}
}

// 목록 미노출 간격 재정의
.card_item_wrap {
	&[style*="display: none"] {
		+ .no_list_area {
			margin-top: var(--gap-8);
		}
	}
}


// 파일등록
[class*='file_upload_wrap']{
	padding: var(--padding-8) var(--padding-7);
	background: var(--color-surface-information-subtler);
	border-radius: var(--radius-large2);

	& + .info_gray,
	& + .info_type {
		margin-top: var(--gap-11);
	}

	.title_h3 {
		font-size: var(--font-size-heading-xsmall);
	}

	.title_h3,
	.title_h4 {
		& + .list_depth,
		& + dl {
			margin-top: var(--gap-5);
		}
		& + .file_attach_box {
			margin-top: var(--gap-6);
		}
		& + .info_text {
			margin-top: var(--gap-4);
		}
	}

	.info_text {
		font-size: var(--font-size-body-medium);
	}
	.btn_area {
		margin-top: var(--gap-5);

		& + [class^=list_ty]{
			margin-top: var(--gap-5);
		}
	}
}

// 이미지영역
.file_attach_box {
	position: relative;

	& + [class^=list_ty]{
		margin-top: var(--gap-5);
	}

	& + .btn_area {
		margin-top: var(--gap-5);
	}

	& + .file_attach_box {
		margin-top: 32px; // 임시값 추가
	}

	&.active {
		.file_thumbnail {
			&:before {
				content: none;
			}

			&:after {
				border: var(--border-width-static-regular) solid rgba(0, 0, 0, 0.10);
			}
		}
	}

	.file_thumbnail {
		overflow: hidden;
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		height: 180px;
		// padding: var(--padding-5);
		background-color: #fff;
		font-size: 0;
		line-height: 0;
		border-radius: var(--radius-medium3);

		&.load {
			&:before {
				content: none;
			}
		}
		
		&:before {
			content:'';
			position: absolute;
			top:0;
			left: 0;
			z-index: 1;
			width: 100%;
			height: 100%;
			background-image: url("../images/frame/bg_image_frame_tl.svg"), url("../images/frame/bg_image_frame_tr.svg"), url("../images/frame/bg_image_frame_bl.svg"), url("../images/frame/bg_image_frame_br.svg");
			background-position: top 14px left 14px, top 14px right 14px, bottom 14px left 14px, bottom 14px right 14px;
			background-repeat: no-repeat;
			background-size: 16px auto;
		}

		&:after {
			content:'';
			position: absolute;
			top:0;
			left: 0;
			z-index: 1;
			width: 100%;
			height: 100%;
			border: var(--border-width-static-regular) solid var(--color-border-gray-light);
			border-radius: 16px;
		}

		img {
			position: relative;
			max-width: 100%;
			max-height: 100%;
		}

		.swiper-slide {
			height: 180px;
			text-align: center;
		}

		.no_list_area {
			min-height: auto;
			padding:0;
			p {
				line-height: 24px;
			}
		}
	}

	.btn_file_delete {
		position: absolute;
		top: 12px;
		right: 12px;
		z-index: 2;
		width: 32px;
		height: 32px;
		border-radius: 100%;
		background: rgba(0, 0, 0, 0.50);

		> span {
			display: block;
			width: 32px;
			height: 32px;
			font-size: 0;
			line-height: 0;
			background: url(../images/icon/icon_remove.svg) no-repeat center / 16px auto;
		}
	}

	.swiper-pagination {
		position: static !important;
		transform: translateY(4px);
	}

	.swiper_button  {
		position: absolute;
		top: calc(50% - 30px);
		z-index: 10;

		&.swiper-button-lock {
			display: none;
		}

		&_left {
			left: 4px;
		}

		&_right {
			right: 4px;
		}

		// &[aria-disabled="true"]{
			// display: none;
		// }
	}
}

.inp_checkbox {
	& + .file_attach_box {
		margin-top: var(--gap-5);
	}
	
	& + .form_file_attach_box {
		.file_attach_box {
			margin-top: var(--gap-5);
		}
	}
}

.form_file_attach_box {
	& + .btn_area {
		margin-top: var(--gap-5);
	}
}


// 이미지버튼
.file_btn {
	input[type=file]{
		display: none;
	}
}

.file_upload_wrap_ty2 {
	background-color: var(--color-surface-white-subtle);
	border: var(--border-width-static-regular) solid var(--color-border-gray-light);

	.btn_area{
		&.center {
			& + .form_group_wrap {
				margin-top: var(--gap-7);
			}
		}
	}

	& + [class^=title_h] {
		margin-top: var(--gap-11);
	}
}


//content 내부 버튼 정렬 영역
.plan_btn_area {
	&.space_between {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&.center {
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

//invalid 메시지
.invalid_msg {
	display: flex;
	gap:4px;
	align-items: flex-start;
	color: var(--color-text-danger);
	font-size: var(--font-size-label-medium);

	.icon {
		margin-top: 2px;
		
		.hd_icon {
			display: block;
			width: 16px;
			height: 16px;
			background-size: 100% auto;
			background-position: left top;
		}
	}

	& + .info_gray { 
		margin-top:20px;
	}

}

// .form_box {
// 	& + .form_box { 
// 		margin-top:52px;
// 	}
// }


// Lottie Case
.process_info_area {
	text-align: center;

	.process_info_icon_area {
		width: 64px;
		height: 64px;
		margin: 38px auto;
	}

	.complete_info {
		width: 120px;
		height: 120px;
		margin: 0 auto;
		text-align: center;
		&.complete_info_gif {
			&::before {
				content: '';
				display: inline-block;
				width: 120px;
				height: 120px;
				background: url(../json/lottie_complete2.gif) no-repeat center / 120px auto;
			}
		}
	}

	.process_title {
		font-size: var(--font-size-heading-large);
		color: var(--color-text-bolder);

		&.kakao_case {
			margin-top: var(--gap-7);
			padding-top: 76px;
			background: url(../images/common/cert/icon_cert_kakao.svg) no-repeat top center / 64px auto;

		}

		& + .process_desc {
			margin-top: var(--gap-3);
		}
	}
	.process_desc {
		font-size: var(--font-size-body-medium);
		color: var(--color-text-basic);
		word-break: keep-all;
	}

	&.ico_type {
		padding-top: 76px;
		background-repeat: no-repeat;
		background-position: top center;
		background-size: 64px auto;
		&.ico_type01 {
			background-image: url(../images/common/cert/icon_cert_bio.svg);
		}
		&.ico_type02 {
			background-image: url(../images/common/cert/icon_cert_simple_pw.svg);
		}
		&.ico_type03 {
			background-image: url(../images/common/cert/icon_cert_fin_cert.svg);
		}
		&.ico_type04 {
			background-image: url(../images/common/cert/icon_cert_common_cert.svg);
		}
	}

	// margin-top 52
	+ .btn_area {
		margin-top: var(--gap-11);
	}

	// margin-top 32;
	+ .btn_area.basic,
	+ .form_group_wrap,
	+ .info_gray,
	+ .table_wrap,
	+ .title_h3,
	+ .space_list_ty2,
	+ .space_list_ty4,
	+ .info_cont {
		margin-top: var(--gap-8);
	}

	// margin-top 16;
	&.process_info_area_case02 {
		+ .info_gray {
		margin-top: var(--gap-5);
		}
	}
	
}

// 완료 Case
.pl_msg_top {
	font-weight: 700;
	font-size: var(--font-size-heading-medium);
	// text-align: center;
	
	& + .pl_txt1 {
		margin-top: var(--gap-5);
	}

	&[class*=pl_ico_ty_] {
		text-align: center;
	}

	&.normal {
		font-weight: 400;
	}
}
.popup_wrap {
	.popup_container {
		.popup_cont	{
			.pl_msg_top {
					&.msg_ty1 {
						text-align: left;
						font-weight: normal;
						font-size: var(--font-size-body-medium);
						span {
							display: block;
							margin-top: var(--gap-4);
						}
				}
			}
		}
	}
}


[class*=pl_ico_ty_] {
	padding-top: 48px;
	background-repeat: no-repeat;
	background-position: top center;
	background-size: 32px auto;

	& + .pl_txt1,
	& + .pl_txt2 {
		margin-top: var(--gap-5);
	}
	
	& + [class^=list_ty]{
		margin-top: var(--gap-5);
	}
}

.pl_ico_ty_case1 {
	background-image: url(../images/icon/icon_exclamation.svg);
}
.pl_ico_ty_case2 {
	background-image: url(../images/icon/icon_complete_error.svg);
}


//error_masage
// .msg_error {
// 	padding-left: 20px;
// 	background: url(../images/icon/icon_error.svg) no-repeat left center / 16px auto;
// 	font-size: var(--font-size-label-medium);
// 	line-height: 21px;
// 	color: var(--color-text-danger);
// }

.link_area {
	&.right {
		text-align: right;
	}
}


.coverage_level_box {
	position: relative;
	margin-top: var(--gap-2);
	padding-bottom: 30px;

	&:before {
		position: absolute;
		bottom:0;
		left:0;
		content:'부족';
		padding: 2px 4px;
		background-color: var(--color-border-secondary);
		font-size: var(--font-size-label-xsmall);
		color: #fff;
		border-radius: var(--radius-small1);
	}

	&:after {
		position: absolute;
		bottom:0;
		right:0;
		content:'충분';
		padding: 2px 4px;
		background-color: var(--color-border-secondary);
		font-size: var(--font-size-label-xsmall);
		color: #fff;
		border-radius: var(--radius-small1);
	}
	
	.level_list {
		position: relative;
		display: flex;
		margin: 0 4px;
		padding-top: 32px;
		
		&:before {
			content: '';
			position: absolute;
			bottom: 1px;
			left: 0;
			// z-index: -1;
			width: 100%;
			height: 2px;
			background-color: var(--color-background-gray-subtle);
		}

		> .level {
			position: relative;
			width: 25%;

			&:before {
				position: absolute;
				top: -2px;
				left: -4px;
				content:'';
				width: 8px;
				height: 8px;
				background: url(../images/icon/level_dot.svg) no-repeat center/8px auto;
			}

			&:after {
				position: absolute;
				top: -2px;
				right: -4px;
				content:'';
				width: 8px;
				height: 8px;
				background: url(../images/icon/level_dot.svg) no-repeat center/8px auto;
			}

			&.on {
				> span {
					position: relative;
					display: block;
					width: 100%;
					height: 4px;
					background-color: var(--color-border-secondary);

					&:before {
						position: absolute;
						top: -2px;
						left: -4px;
						z-index: 1;
						content:'';
						width: 8px;
						height: 8px;
						background: url(../images/icon/progressbar_dot.svg) no-repeat center/8px auto;
					}

					&:after {
						position: absolute;
						top: -2px;
						right: -4px;
						z-index: 1;
						content:'';
						width: 8px;
						height: 8px;
						background: url(../images/icon/progressbar_dot.svg) no-repeat center/8px auto;
					}

					> i {
						position: absolute;
						bottom: 6px;
						left: calc(50% - 22px);
						content:'';
						width: 44px;
						height: 32px;
						background: url(../images/icon/car_jeep.svg) no-repeat center/ 36px auto;
					}
				}
			}
		}
	}
}



.compare_rank_list {
	& + .title_h3 {
		margin-top: var(--gap-11);
	}

	> li {
		.info_rank {
			display: flex;
			gap: var(--gap-2);

			& + .info_bar {
				margin-top: var(--gap-2);
			}

			.hd_badge {
				flex: none;
				width: 36px;
			}
			.desc {
				font-size: var(--font-size-body-small);
				line-height: 24px;
				color: var(--color-text-subtle);
			}
		}
		.info_bar {
			display: flex;
			align-items: center;
			gap: var(--gap-3);

			.progress_bar_ty2 {
				flex: 1;
			}
			.percent {
				flex: none;
				width: 46px;

				.hd_badge {
					width: 100%;
					text-align: center;
				}
			}
		}
		& + li {
			padding-top: 12px;
		}
	}
}


// 증가, 감소
.trend {
	display: flex;
	align-items: center;
	// gap: 3px;

	&.up {
		color: var(--color-text-point);
	}

	&.down {
		color: var(--color-light-secondary-60);
	}
}


//info알럿
.info_alert_cont {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: var(--gap-5);

	.info_cont {
		p {
			margin: 0;
		}
	}
}

//icon
[class^=ico_top_ty]{
	.ico {
		display: block;
		width: 64px;
		height: 64px;
		margin: 0 auto;
		background-repeat: no-repeat;
		background-size: 64px auto;

		&.app_intd {
			background-image:url(../images/temp/icon_title_ltht_01.svg);
		}
	}
	& + [class^=title_h]{
		margin-top: var(--gap-4);
	}
}



// 상속 컨텐츠 Case
.and {
	margin-top: var(--gap-5) !important;
}


// 관리자_다이나믹 랜딩 배너
.prd_bann_box {
	> a {
		display: block;
	}
	img {
		display: block;
		width: 100%;
		height: 100%;
	}
}


// 가입 이벤트
.event_img_box {
	overflow: hidden;
	border-radius: var(--radius-large2);

	img {
		display: block;
	}

	& + .form_group_wrap {
		margin-top: var(--gap-8);
	}
}


.form_title_box {
	display: flex;
	justify-content: space-between;

	.checkbox_group_wrap {
		flex: none;
		width: auto;
		min-width: 134px;
		margin-top: 0;
	}

	& + * {
		margin-top: 10px;
	}
}