.blockUI,
.c_loading {
	position: fixed;
	top: 0 !important;
	left: 0 !important;
	bottom: auto !important;
	z-index: 1500;
	width: 100% !important;
	height: 100% !important;
	display: flex !important;
	align-items: center !important;
	justify-content: center !important;
	flex-direction: column !important;

	// &.cl_ty1 {
		
	// }
	&.cl_ty2 {
		// 검은판
		background-color: rgba(0, 0, 0, 0.75);
	}
	&.cl_ty3 {
		// 흰판 opa 0.3
		background-color: rgba(255, 255, 255, 0.75);
	}

	.cl_inner {
		padding: 0 24px;
	}
	.ci_balls {
		display: flex;
		align-items: flex-end;
		height: 52px;
		font-size: 0;
		justify-content: center;
		.ci_balls_bi {
			display: inline-block;
			margin: 0 2px;
			width: 16px;
			height: 16px;
			border-radius: 50%;
			background-color: var(--color-graphic-brand);
		}

		.ci_balls_bi {
			animation: bounceColor 3.2s ease-in-out infinite;
		}
		.ci_balls_bi:nth-child(2) {
			animation-delay: 0.2s;
		}
		.ci_balls_bi:nth-child(3) {
			animation-delay: 0.4s;
		}
	}


	.ci_content {
		padding-top: 32px;
		text-align: center;

		&.cc_ty1 {
			color: var(--color-text-bolder-inverse);
		}
		&.cc_ty2 {

		}


		.ci_content_tit {
			display: block;
			font-size: var(--font-size-heading-large);
		}
		.ci_content_desc {
			padding-top: 12px;
			font-size: var(--font-size-body-large);
		}
	}


}


@keyframes bounceColor {
	/* 1차 점프 + 색상 전환 */
	0% {
		transform: translateY(0);
		background-color: var(--color-graphic-brand);
	}
	16% {
		transform: translateY(-25px);
	}
	33% {
		transform: translateY(0);
		background-color: var(--color-graphic-accent-blue-subtler);
	}

	/* 2차 점프 + 색상 전환 */
	50% {
		transform: translateY(-25px);
	}
	67% {
		transform: translateY(0);
		background-color: var(--color-graphic-accent-yellow);
	}

	/* 3차 점프 + 색상 전환 */
	84% {
		transform: translateY(-25px);
	}
	100% {
		transform: translateY(0);
		background-color: var(--color-graphic-brand);
	}
}

