.divider {
	&_ty1 {
		margin: 40px -24px;
		height: 8px;

		& + .content_top {
			margin-top: var(--gap-11);
		}
	}
	&_ty2 {
		// margin: 12px 0;
		height: 1px;
	}
	// &_ty3 {
	// 	margin: var(--gap-11) 0;
	// 	height: 1px;
	// }
}

[class^=divider_ty]{
	background: var(--color-divider-gray-light);
}

.wrap {
	.divider_ty1 {
		height: var(--size-height_small-1);
		margin: var(--gap-11) 0;
	}
	.divider_ty2 {
		height: var(--size-height_small-1);
		margin: var(--gap-11) 0;
	}
}