/* Footer */
.footer {

}

// 하단 고정메뉴
.footer {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 210px;
	font-weight: 700;
	font-size: 24px;
}

.fix_nav_menu {
	display: flex;
	align-items: center;

	> li {
		flex: 1;
		text-align: center;

		> a[class^=menu_]{
			display: block;
			padding: 20px 0 10px;
			font-size: 12px;

			&::before {
				content: '';
				display: block;
				width: 24px;
				height: 24px;
				margin : 0 auto 10px;
				background: skyblue;
			}
		}
	}
}