/* Footer */

.b_float_cont {
	position: fixed;
	bottom: 0;
	left: calc(((100% - 1288px) / 2) + 46px);
	z-index: 2;
	display: flex;
	gap: var(--gap-8);
	width: 836px;
	padding: var(--padding-5) var(--padding-8) var(--padding-6) var(--padding-8);
	border-radius: var(--radius-xlarge2) var(--radius-xlarge2) 0 0;
	background: var(--color-surface-white);
	box-shadow: 0 var(--shadow-y-minus2, -6px) var(--shadow-blur-2, 8px) 0 var(--color-alpha-shadow1, rgba(0, 0, 0, 0.05));
	> .hd_btn {
		&.hd_btn_ty_3 {
			order: 1;
		}
		&.hd_btn_ty_1 {
			order: 3;
		}
	}
	.b_float_cont_fin {
		order: 2;
		flex: 1 1 0;
		display: flex;
		align-items: center;
		justify-content: flex-end;
		.bff_in {
			display: inline-flex;
			align-items: center;
			gap: var(--gap-4);
		}
		.stat_data {
			display: flex;
			align-items: center;
			font-weight: 700;
			color: var(--color-text-primary-bold);
			font-size: var(--font-size-heading-large);
			white-space: nowrap;
		}
		.bff_in_msg {
			font-size: var(--font-size-body-medium);
			color: var(--color-text-information);
		}
	}
	
}

@media screen and (max-width: 1280px) {
	.b_float_cont {
		left: 46px;
	}
}


.footer {
	width: 100%;
	height: 203px;
	padding-top: var(--padding-7);
	text-align: center;
	border-top: var(--border-width-variable-regular) solid var(--color-divider-gray-light);
	background: var(--color-background-white);
	> .inner {
		display: inline-flex;
		flex-direction: column;
		width: 1188px;
	}
	.footer_top {
		display: flex;
		align-items: center;
		justify-content: space-between;

		.ft_left {
			flex: 1 1 0;
			display: flex;
			align-items: center;
			gap: 0 var(--gap-8);
			.ftl_item {
				flex: none;
				text-align: left;
				.tc {
					display: flex;
					align-items: center;
					gap: var(--gap-2);
					font-weight: 700;
					.text {
						font-size: var(--font-size-body-small);						
					}
					.tel {
						font-size: var(--font-size-body-medium);
						&.f_tel_ty1 {
							color: var(--color-text-primary-bold);
						}
						&.f_tel_ty2 {
							color: var(--color-text-secondary-light);
						}						
					}
				}

				.sub_text {
					display: block;
					padding-top: var(--gap-1);
					font-size: var(--font-size-body-xsmall);
					color: var(--color-text-subtle);
				}
			}
		}

		.ft_right {
			flex: none;

			.ftr_sns {
				position: relative;
				width: 240px;
				.ftr_sns_box {
					.ftr_sns_open {
						width: 100%;
						min-height: 24px;
						padding: 12px 44px 13px 16px;
						color: var(--color-text-subtle);
						word-break: break-all;
						border: var(--border-width-static-regular) solid var(--color-input-border);
						border-radius: var(--radius-medium2);
						background: var(--color-input-surface) url(../images/icon/arrowDown_ty3.svg) no-repeat right 16px center/ 16px auto;
						> .text {
							display: block;
							font-size: var(--font-size-label-medium);
							color: var(--color-text-subtle);
						}
					}
				}

				.ftr_sns_list {
					position: absolute; 
					bottom: 100%;
					left: 0;
					width: 100%;
					padding: var(--padding-6) var(--padding-5);
					border-radius: var(--radius-small2);
					border: var(--border-width-static-regular) solid var(--color-border-gray-light);
					background-color: var(--color-background-gray-subtler);
					visibility: hidden;
					opacity: 0;
					transform-origin: bottom center;
					transform: scaleY(0);
					transition: 0.3s;
					> li {
						a {
							display: block;
							padding: var(--padding-5);
							font-size: var(--font-size-body-medium);
							color: var(--color-text-subtle);
							text-align: left;
							border-radius: var(--radius-medium2);
							transition: background-color 0.3s;
							&:hover,
							&:focus {
								background-color: var(--color-surface-gray-subtle);
							}
						}
					}
					&.active {
						opacity: 1;
						visibility: visible;
						transform: scaleY(1);
					}
				}
			}
		}

	}
	.footer_bottom {
		display: flex;
		align-items: flex-end;
		justify-content: space-between;
		padding-top: var(--gap-8);

		.fb_left {
			flex: 1 1 0;
			text-align: left;

			.fbl_top {
				display: flex;
				align-items: center;
				gap: 0 17px;
				.ft_links_item {
					position: relative;
					> a {
						display: block;
						font-size: var(--font-size-button-medium);
						padding: 0 var(--padding-1);
					}
					& + .ft_links_item {
						&::before {
							content: '';
							position: absolute;
							top: 50%;
							left: -8px;
							width: 1px;
							height: 13px;
							background-color: var(--color-divider-gray-light);
							transform: translateY(-50%);
						}
					}
				}
			}

			.fbl_bottom {
				padding-top: var(--gap-3);
				font-size: var(--font-size-body-xsmall);
				color: var(--color-text-disabled-on);
				address {
					> span {
						padding-right: var(--padding-2);
					}
				}
			}
		}

		.fb_right {
			flex: none;
			display: flex;
			align-items: center;
			gap: 0 20px;
			> a {
				display: block;
				background-repeat: no-repeat;
				background-position: left center;
				> .text {
					display: block;
					font-size: var(--font-size-body-xsmall);
					color: var(--color-text-subtle);
					text-align: left;
				}
				&.fi_ty1 {
					padding-left: 40px;
					background-image: url(../images/footer/icon_fi_ty1.png);
				}
				&.fi_ty2 {
					padding-left: 40px;
					background-image: url(../images/footer/icon_fi_ty2.png);
				}
				&.fi_ty3 {
					padding-left: 45px;
					background-image: url(../images/footer/icon_fi_ty3.png);
				}
				&.fi_ty4 {
					padding-left: 43px;
					background-image: url(../images/footer/icon_fi_ty4.png);
				}
				&.fi_ty5 {
					padding-left: 51px;
					background-image: url(../images/footer/icon_fi_ty5.png);
				}
			}
		}
	}

	&.footer_simple {
		height: auto;
		padding: var(--padding-7) 0;
		.ffs_inner {
			display: inline-flex;
			align-items: center;
			width: 836px;
			gap: var(--gap-5);
			text-align: left;
			.ffs_inner_logo {
				flex: none;
				font-size: 0;
			}
			.ffs_inner_cont {
				flex: 1 1 0;
				font-size: var(--font-size-body-xsmall);
				color: var(--color-text-disabled-on);

				.i_info {
					display: flex;
					gap: var(--gap-3);
				}
			}
		}
	}



}

