// Header
.header_pc {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 50;
	width: 100%;
	height: 120px;
	background: var(--color-background-white);
	text-align: center;

	&::after {
		content: '';
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
		border-bottom: 1px solid var(--color-divider-gray-light);
		pointer-events: none;
	}

	&.header_pc_nd {
		height: 72px;
		background-color: var(--color-element-primary);
	}
	.header_pc_inner {
		display: inline-flex;
		flex-direction: column;
		width: 1188px;
	}
}

.hpi_top {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	padding-top: 16px;

	// 모드 전환
	.hpi_change_area {
		flex: none;
		.hpi_cm {
			font-size: 0;
			border-radius: var(--radius-small2);
			background-color: var(--color-element-gray-lighter);
			white-space: nowrap;
			> .hpi_cm_btn {
				display: inline-block;
				width: 48px;
				padding: 2px 0;
				font-size: var(--font-size-label-small);
				border-radius: var(--radius-small2);
				&.active {
					border: 1px solid var(--color-border-gray-light);
					background: var(--color-element-inverse, #FFF);
				}
			}
		}

	}



	.hpi_utils {
		display: inline-flex;
		gap: 0 4px;
		margin-left: auto;
		.hpi_utils_items {
			flex: none;
			> a {
				display: block;
				padding: 6px 8px 5px 8px;
				font-size: var(--font-size-navigation-depth-small);
			}
		}
	}
}

// .hpi_sub_utils {
// 	background-color: rgba(0, 0, 0, 0.3);
// }
// .hpi_bottom {
// 	background-color: #ddd;
// }

.hpi_bottom {
	// position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 72px;

	.hpi_l {
		display: inline-flex;
		align-items: center;
		width: 240px;
		&.hpi_l_nd {
			width: auto;
		}
		.hpi_logo {
			font-size: 0;
			a {
				display: block;
			}
		}
		.hpi_l_prd_name {
			flex: none;
			position: relative;
			padding-left: 17px;
			font-size: var(--font-size-heading-xsmall);
			color: var(--color-text-bolder-inverse);
			&::before {
				content: '';
				position: absolute;
				top: 50%;
				left: 8px;
				height: 16px;
				border-left: 1px solid var(--color-divider-inverse);
				opacity: 0.2;
				transform: translateY(-50%);
			}

		}
	}
}


.hpi_sub_utils {
	flex: none;
	display: inline-flex;
	align-items: center;
	> .item {
		padding: 8px;
		&.item_chatbot {
			padding: 0 16px 0 0;
		}
		.hus_btn:not(.hsu_chatbot) {
			display: block;
			width: 24px;
			height: 24px;
			font-size: 0;
			background-repeat: no-repeat;
			background-position: center center;
			&.hsu_alarm {
				background-image: url(../images/header/bg_header_alarm.png);
			}
			&.hsu_cart {
				background-image: url(../images/header/bg_header_cart.png);
			}
			&.hsu_search {
				background-image: url(../images/header/bg_header_search.png);
			}
			&.hsu_menu_all {
				background-image: url(../images/header/bg_header_menuall.png);
			}
			&.hsu_menu_all {
				background-image: url(../images/header/icon_hamburger.svg);
			}			
			&.hsu_close {
				background-image: url(../images/header/bg_header_out.png);
			}
			&.hsu_home {
				background-image: url(../images/header/icon_home.svg);
			}
		}
		.hsu_chatbot {
			display: block;
			min-width: 88px;
			padding: 6px 12px;
			border-radius: var(--radius-medium1);
			border: var(--border-width-static-regular) solid var(--color-button-secondary-fill);
			> .text {
				display: block;
				padding-left: 20px;
				font-size: var(--font-size-button-small);
				color: var(--color-text-basic-inverse);
				background: url(../images/header/bg_header_chatbot.png) no-repeat left center;
			}
		}
	}
}

.header_pc_nd {
	.hpi_sub_utils {
		> .item {
			.hus_btn {
				&.hsu_home {
					background-image: url(../images/header/icon_home_etc.svg);
				}
			}
		}
	}
}

.change_mode {
	position: relative;
	display: inline-flex;
	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		border-radius: var(--radius-medium2);
		border: 1px solid var(--color-border-danger);
		background-color: var(--color-element-primary-dark);
	}
	> .item {
		position: relative;
		width: 117px;
		.cm_btn {
			display: block;
			width: 100%;
			text-align: center;
			border-radius: var(--radius-medium1);
			background-color: transparent;
			transition: 0.3s;
			> .text {
				display: inline-block;
				padding-left: 40px;
				font-size: var(--font-size-button-medium);
				color: var(--color-text-inverse-static);
				line-height: 40px;
				background-repeat: no-repeat;
				background-position: left center;
				background-size: 32px auto;
			}

			&.cm_btn_dog {
				> .text {
					background-image: url(../images/header/mode_dog_off.png);
				}
				&.active {
					> .text {
						background-image: url(../images/header/mode_dog_on.png);
					}
				}
			}
			&.cm_btn_cat {
				> .text {
					background-image: url(../images/header/mode_cat_off.png);
				}
				&.active {
					> .text {
						background-image: url(../images/header/mode_cat_on.png);
					}
				}
			}

			&.active {
				background-color: var(--color-button-secondary-fill);
				> .text {
					font-weight: 700;
					color: var(--color-text-primary-bold);
					&::after {
						content: '현재 선택됨';
						position: absolute;
						font-size: 0;
					}
				}
			}

			

			// mode_dog_off
		}
	}
}


/* 스크를 이벤트 관련 css */
.sc_down {
	.header_pc {
		&:has(.header_pc_nd) {
		}
	}	
}
/* 스크를 이벤트 관련 css */