// Header
.header {
	// height: 48px;

	&.h_none {
		.header_inner {
			min-height: auto;
			padding: 0;
		}
	}

	.header_inner {
		flex: 1;
		position: relative;
		display: flex;
		// align-items: center;
		align-items: flex-start;
		justify-content: space-between;
		min-height: 56px;
		padding: 12px 16px;

		.header_connect {
			flex: 1 1 0;
			// width: 100%;
			padding: 3px 4px 0 4px;
			// padding: 0 36px;

			.header_title {
				font-weight: 700;
				// font-size: min(5vw, 18px);
				// font-size: min(4vw, var(--font-size-heading-small));
				font-size: var(--font-size-heading-small);
				color: var(--color-text-bolder);
				overflow: hidden;
			}
		}

		.header_left {
			flex: none;
			> button {
				background-color: transparent;
			}
			.history_back {
				width: 32px;
				height: 32px;
				font-size: 0;
				background: url(../images/icon/arrowLeft_ty1.svg) no-repeat center / 24px auto;
			}
			.btn_go_home {
				width: 32px;
				height: 32px;
				font-size: 0;
				background-image: url(../images/header/icon_home.svg);
			}
		}
		.header_right {
			// position: absolute;
			// top: 12px;
			// right: 16px;
			flex: none;
			display: flex;
			align-items: center;
			gap: var(--gap-3);
			// transform: translateY(-50%);

			.allmenu_open {
				width: 32px;
				height: 32px;
				font-size: 0;
				background: url(../images/header/icon_hamburger.svg) no-repeat center center / 32px auto;
				// &::before {
				// 	content: '메뉴열기';
				// }
			}
			.insChk {
				width: 32px;
				height: 32px;
				font-size: 0;
				background: url(../images/icon/icon_insurance_check.svg) no-repeat center / 24px auto;
			}
			.btn_chatbot {
				width: 32px;
				height: 32px;
				font-size: 0;
				background: url(../images/header/icon_chatbot.svg) no-repeat center center / 32px auto;
			}
			.h_step_dp {
				position: relative;
				width: 32px;
				height: 32px;
				background: url(../images/header/icon_car_step.svg) no-repeat center center / 32px auto;
				.text {
					position: absolute;
					top: 6px;
					left: 50%;
					font-weight: 700;
					font-size: var(--font-size-label-xsmall);
					color: var(--color-text-primary-bold);
					transform: translateX(-50%);
				}
			}
		}
	}
}
