// icon

.updown {
	--trangle-width: 20px;
	--trangle-height: 12px;
	--increase: #ff0000;
	--decrease: #0000ff;
	display: inline-flex;
	width: var(--trangle-width);
	font-size: 0;
	line-height: 0;
	border-bottom: var(--trangle-height) solid;
	border-left: calc(var(--trangle-width) / 2) solid transparent;
	border-right: calc(var(--trangle-width) / 2) solid transparent;
	&.increase {
		border-bottom-color: var(--increase);	
	}
	&.decrease {
		border-bottom-color: var(--decrease);
	}
}


	.hd_icon {
		display: inline-block;
		mask-size: cover;
		background-color: var(--iconColor);
		mask-image: var(--iconSrc);
		border : 1px solid red;

		//(임시)버튼 사이즈를 상속받아 icon 사이즈를 조절
		&.s_1, &.s_2 {
			width:24px;
			height: 24px;			
		}
		&.s_3, &.s_4, &.s_5 {
			width:16px;
			height:16px;			
		}
	}
	