// icon

.updown {
	--trangle-width: 14px;
	--trangle-height: 10px;
	--increase: var(--color-text-point);
	--decrease: #052B57;
	display: inline-flex;
	width: var(--trangle-width);
	font-size: 0;
	line-height: 0;
	border-left: calc(var(--trangle-width) / 2) solid transparent;
	border-right: calc(var(--trangle-width) / 2) solid transparent;
	&.increase {
		border-bottom-color: var(--increase);
		border-bottom: var(--trangle-height) solid;
	}
	&.decrease {
		border-top-color: var(--decrease);
		border-top: var(--trangle-height) solid;
	}
}

@mixin getSvg($fileName) {
	background-image: url(../images/#{$fileName}.svg);
}

//SVG아이콘 컴포넌트
.hd_icon {
	display: inline-block;
	width: 24px;
	height: 24px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;

	&.downloadSvg_ty1 {
		@include getSvg("icon/download_ty1");
	}
	&.arrowRightSvg_ty1 {
		@include getSvg("icon/arrowRight_ty1");
	}
	&.downloadSvg_ty2 {
		@include getSvg("icon/download_ty2");
	}
	&.arrowRightSvg_ty2 {
	 	@include getSvg("icon/arrowRight_ty2");
	}
	&.cameraSvg {
		@include getSvg("icon/camera");
	}
	&.downloadSvg {
		@include getSvg("icon/download_ty3");
	}
	&.arrowRightSvg {
		@include getSvg("icon/arrowRight_ty4");
	}
	&.openWindowSvg {
		@include getSvg("icon/icon-open-window");
	}
	&.mailSvg {
		@include getSvg("icon/mail");
	}
	&.documentSvg {
		@include getSvg("icon/document");
	}
	&.pictureSvg {
		@include getSvg("icon/picture");
	}
	&.pdfSvg {
		@include getSvg("icon/icon_pdf");
	}
	&.docSvg {
		@include getSvg("icon/icon_doc");
	}
	&.registerSvg {
		@include getSvg("icon/icon_register");
	}
	&.shareSvg {
		@include getSvg("icon/icon_share");
	}
	&.searchGraySvg {
		@include getSvg("icon/icon_search_ty3");
	}
	&.docSearchSvg {
		@include getSvg("icon/icon_document_search");
	}
	&.hiwalkSvg {
		@include getSvg("icon/icon_hiwalk");
	}
	&.callSvg {
		@include getSvg("icon/icon_call");
	}
	
	
	
	&.jpgSvg {
		@include getSvg("icon/icon_jpg");
	}
	&.pngSvg {
		@include getSvg("icon/icon_png");
	}
	&.gifSvg {
		@include getSvg("icon/icon_gif");
	}
	&.bmpSvg {
		@include getSvg("icon/icon_png");
	}
}

/**
* 아이콘 에셋
*/

//아이콘 에셋 불러오기
@mixin getSvg($fileName) {
	background-image: url(../images/#{$fileName}.svg);
}

/*
.hd_btn {
	&_ty_1 {
		.downloadSvg {
			@include getSvg("icon/download_ty1");
		}
		.arrowRightSvg {
			@include getSvg("icon/arrowRight_ty1");
		}
	}
	&_ty_2 {
		.downloadSvg {
			@include getSvg("icon/download_ty2");
		}
		.arrowRightSvg {
			@include getSvg("icon/arrowRight_ty2");
		}
		.cameraSvg {
			@include getSvg("icon/camera");
		}
	}
	&_ty_3 {
		.downloadSvg {
			@include getSvg("icon/download_ty3");
		}
		.arrowRightSvg {
			@include getSvg("icon/arrowRight_ty3");
		}
		.openWindowSvg {
			@include getSvg("icon/icon-open-window");
		}
		.mailSvg {
			@include getSvg("icon/mail");
		}
		.documentSvg {
			@include getSvg("icon/document");
		}
		.pictureSvg {
			@include getSvg("icon/picture");
		}
		.pdfSvg {
			@include getSvg("icon/icon_pdf");
		}
		.docSvg {
			@include getSvg("icon/icon_doc");
		}
	}
}
*/

//추후 btn_sample클래스명 변경시 위의 .btn그룹으로 편입 예정
.hd_btn {
	&:disabled {
		.downloadSvg {
			@include getSvg("icon/download_disabled");
		}
		.arrowRightSvg {
			@include getSvg("icon/arrowRight_disabled");
		}
	}
}

/********
* logo 스타일
*********/

//차량로고 아이콘
.logo {
	display: inline-block;
	line-height: 0;
	.hd_icon {
		width: 32px;
		height: 32px;
		background-position: center;
	}
}


.logo_ins_ {	
	&hyundai {
		@include getSvg("logo/ins_hyundai");
	}
	&hyundai2 {
		@include getSvg("icon/banner/icon_hyundai");
	}
	&samsung {
		@include getSvg("logo/ins_samsung");
	}
}

.logo_car_ {
	&chevrolet {
		@include getSvg("logo/car_chevrolet");
	}	
	&hyundai {
		@include getSvg("logo/car_hyundai");
	}
	&hyundai_card {
		@include getSvg("logo/car_hyundai_card");
	}
	&kgm {
		@include getSvg("logo/car_kgm");
	}
	&kia {
		@include getSvg("logo/car_kia");
	}
	&samsung {
		@include getSvg("logo/car_samsung");
	}
}

.logo_sns_ {
	&facebook {
		@include getSvg("logo/sns_facebook");
	}	
	&kakao {
		@include getSvg("logo/sns_kakao");
	}
	&kakaotalk {
		@include getSvg("logo/sns_kakaotalk");
	}
}

.logo_pay_ {	
	&kakao {
		@include getSvg("logo/pay_kakao");
	}
	&naver {
		@include getSvg("logo/pay_naver");
	}	
	&toss {
		@include getSvg("logo/pay_toss");
	}
	&kakao_card {
		@include getSvg("logo/pay_kakao_card");
	}
	&naver_card {
		@include getSvg("logo/pay_naver_card");
	}	
	&toss_card {
		@include getSvg("logo/pay_toss_card");
	}
}



/* 카드사, 증권사, 은행로고 */
$logo-numbers: "000", "002", "003", "004", "005", "007", "011", "012", "020", "023", "027", "031", "032", "034", "035", "037", "039", "041", "045", "048", "050", "054",  "055", "057", "058", "059", "060", "061", "062", "063", "064", "065", "066", "067", "068", "069", "070", "071", "072", "073", "074", "075", "076", "077", "078", "079", "081", "088", "089", "090", "092", "209", "218", "230", "238", "240", "243", "247", "261", "262", "263", "264", "265", "266", "267", "268", "269", "270", "278", "280", "287", "289", "290", "291", "292", "361", "365", "366", "367", "368", "370", "371", "374", "381", "900";
@each $num in $logo-numbers {
  .i_logo_#{$num} {
    background-image: url("../images/logo/i_logo_#{$num}.svg");
  }
}






/********
* 기타 아이콘
*********/

//화면 상태 표시 아이콘
.status_icon {
	display: inline-block;
	line-height: 0;
	.hd_icon {
		width: 32px;
		height: 32px;
		background-position: center;
	}
}

.arrowRightSvg_ty1 {
	@include getSvg("icon/arrowRight_ty1");
}
.arrowRightSvg_ty2 {
	 @include getSvg("icon/arrowRight_ty2");
}
.arrowRightSvg {
	@include getSvg("icon/arrowRight_ty4");
}

// .arrowRight_ty3 {
// 	@include getSvg("icon/arrowRight_ty3");
// }

// .arrowRightSvg_ty4 {
// 	@include getSvg("icon/arrowRight_ty4");
// }

.arrowRightSvg_ty5 {
	@include getSvg("icon/arrowRight_ty5");
}
.arrowRightSvg_ty6 {
	@include getSvg("icon/arrowRight_ty6");
}
.arrowRightSvg_ty7 {
	@include getSvg("icon/arrowRight_ty7");
}
.arrowRightSvg_ty8 {
	@include getSvg("icon/arrowRight_ty8");
}
.arrowRightSvg_ty9 {
	@include getSvg("icon/arrowRight_ty9");
}
.arrowRightSvg_ty10{
	@include getSvg("icon/arrowRight_ty10");
}
// .downloadSvg_ty3 {
// 	@include getSvg("icon/download_ty3");
// }

.searchSvg {
	@include getSvg("icon/icon_search");
}

.plusSvg {
	@include getSvg("icon/icon_plus");
}

.resetSvg {
	@include getSvg("icon/icon_reset_ty2");
}

.keyboardSvg {
	@include getSvg("icon/icon_keyboard");
	&.on {
		@include getSvg("icon/icon_keyboard_on");
	}
}



.popover_help {
	@include getSvg("icon/popover_help");
}

.fill_18_info {
	@include getSvg("icon/info");
}

.deleteSvg {
	@include getSvg("icon/icon_delete");
}

.deleteSvg {
	@include getSvg("icon/icon_delete");
}

.exclamationSvg {
	@include getSvg("icon/icon_exclamation");
}


.carmeraSvg {
	@include getSvg("icon/icon_carmera_ty1");
}

.carmeraSvg2 {
	@include getSvg("icon/icon_carmera_ty2");
}


.carmeraSvg2 {
	@include getSvg("icon/icon_carmera_ty2");
}

.icon_errorSvg {
	@include getSvg("icon/icon_error_red");
}

.carDiscountSvg {
	@include getSvg("icon/banner/icon_car_discount");
}
.comparisonSvg {
	@include getSvg("icon/banner/icon_comparison");
}

.icon_pensionSvg {
	@include getSvg("icon/icon_pension");
}
.icon_savingSvg {
	@include getSvg("icon/icon_saving");
}
.icon_info_ty2_Svg {
	@include getSvg("icon/icon_info_ty2");
}