/* info box */
.info_gray {
	padding: var(--padding-8) var(--padding-7);
	border-radius: var(--radius-large2);
	background: var(--color-surface-secondary-subtler);

	// margin-top 16
	& + & {
		&.ty2 {
			margin-top: var(--gap-5);
			&:not(.and) {
				margin-top: var(--gap-11);
			}

			//안내문구 FDS 아웃콜 안내
			&.msg_box {
				margin-top: var(--gap-8);
			}
		}
	}
	
	// margin-top 32
	& + .selectitem_wrap,
	& + .btn_area.ty2 {
		margin-top: var(--gap-8);
	}

	// margin-top 16
	& + .text_sub,
	& + [class^=list_ty],
	& + [class^=list_depth_ty] {
		margin-top: var(--gap-5);
	}

	// margin-top 52
	& + .middle_text {
		margin-top: var(--gap-11);
	}

	& + .hd_icon {
		&.infoArrowSvg {
			display: block;
			margin: var(--gap-3) auto 0;
		}
		& + .info_gray {
			margin-top: var(--gap-3);
		}
	}

	&.bg_etc01 {
		background-color: var(--color-surface-white-subtle);		
	}
	
	&[class*="icon_"]{
		padding: 16px 20px;
		border-radius: var(--radius-medium3);
		.title_sub {
			min-height: 32px;
			position: relative;
			padding-left: calc(32px + 12px);
			display:flex;
			align-items: center;
			&::before {
				content:"";
				display: inline-flex;
				position: absolute;
				top:0;
				left:0;
				width:32px; 
				height:32px;
				padding:4px;
				background-color: var(--color-surface-white-subtle);
				background-repeat: no-repeat;				
				background-position: center center;
				background-size: 24px auto;
				border-radius: 12px;			
			}
			span {
				color:var(--color-text-basic);
			}
		}
		&.icon_call {
			.title_sub {
				&::before {
					background-image: url(../images/icon/icon_call_fill.svg);	
				}
			}
		}
		&.icon_call_check {
			.title_sub {
				&::before {
					background-image: url(../images/icon/icon_call_check.svg);	
				}
			}
		}
	}
	
	&.ty2 {
		background-color: var(--color-surface-information-subtler);
		+ .call_box {
			margin-top: var(--gap-5);
			&.space1 {
				margin-top: var(--gap-8);
			}
		}
		dl + .footer_dl {  
			border-color: var(--color-divider-gray-light);
		}

		//안내문구 FDS 아웃콜 안내
		&.msg_box {
			[class^="msg_"]{
				margin-top: 0;
			}	
		}
		.data_box {

			&:has(dl:nth-of-type(2)) {
				dl:nth-of-type(odd) {
					border-right-color: var(--color-divider-gray-light);
				}
			}
		}
	}

	&.ty3 {
		background: var(--color-action-secondary);
		border: var(--border-width-static-regular) solid var(--color-border-gray-light);
	}

	&.ty4 {
		background-color: var(--color-surface-secondary-subtle);
	}

	&.btn_item {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: var(--gap-3);
		word-break: break-all;
		> .btn_area {
			margin-top: 0;
		}
	}
	
	&.bg_primary {
		background: var(--color-surface-primary-subtler);
	}
	img {
		display: block;
	}
	&.summary {
		.title_h2 {
			font-weight: 700;

			.badge_wrap {
				// display: inline;
				display: inline-block;
				width: auto;
				vertical-align: bottom;
				// background-color: blue;
			}
		}
		[class^=title_h]{
			& + .data_box {
				margin-top: var(--gap-6);
			}
		}
		.data_box {
			> dl {
				padding-top: var(--gap-3);
				border: 0 !important;
			}
		}
	}
	
	// margin-top 52
	& + [class^=title_h]{
		&.ty2 {
			margin-top: var(--gap-11);
		}
	}
	& + .call_box,
	& + .ag_groups,
	& + .ag_group_wrap,
	& + .chk_group_wrap {
		margin-top: var(--gap-11);
	}

	// margin-top 32
	& + .space_list_ty5,
	& + .info_cont,
	& + .title_h3,
	& + .title_h4,
	& + .btn_area.btn_area_space2,
	& + .form_group_wrap,
	& + .acd_item_ty2,//0429변경사항(피그마위치:운전자-청약내용확인)
	& + .acd_item_ty7,
	& + .select_driver_range,
	& + .banner_box.ty2,
	& + .all_checking,
	& + .text_sub_ty2,
	& + .checkbox_group_wrap {
		margin-top: var(--gap-8);
	}
	& + .tab_wrap {
		margin-top: var(--gap-8);

		&.tab_wrap_ty2 {
			margin-top: var(--gap-8);
		}
	}

	// margin-top 24
	& + .acd_item_ty3,
	& + .table_wrap {
		margin-top: var(--gap-7);
	}

	// margin-top 16 {
	> .info_gray {
		margin-top: var(--gap-6);
		background-color: var(--color-surface-secondary-subtle);
	}

	// margin-top 16
	& + .list_depth,
	& + .info_gray,
	& + .inp_checkbox,
	& + .card_item_wrap,
	& + .list_ty2,
	& + .checkbox_group_wrap.space1 {
		margin-top: var(--gap-5);
	}

	// margin-top 12
	& + .info_text {
		margin-top: var(--gap-4);
	}

	& + .banner_box {
		margin-top: var(--gap-5);
		
		&.basic {
			margin-top: var(--gap-8);
		}
	}

	& + .table_wrap {
		margin-top: var(--gap-7);
	}

	& + .form_box {
		margin-top: var(--gap-8);
	}

	& + .acd_item_ty2 {
		margin-top: var(--gap-11);
	}

	.badge_wrap {
		& + dl {
			margin-top: var(--gap-2);
		}
	}

	.badge_wrap_ty2 {
		display: flex;
		gap: var(--gap-3);
		align-items: center;
	}
	.cont_tel {
		font-size: var(--font-size-heading-medium);
		font-weight: 700;		
	}

	.badge_wrap + [class^="title_h"],
	.hd_badge + [class^="title_h"] {
		margin-top: var(--gap-2);
	}

	[class^="title_h"] {
		& + .info_text {
			margin-top: var(--gap-4);
		}
		& + .list_depth {
			margin-top: var(--gap-5);
		}
	}

	.title_h2 {
		color: var(--color-text-bolder);
		font-size: var(--font-size-heading-small);
	}
	.title_h3 {
		color: var(--color-text-bolder);
		font-size: var(--font-size-heading-xsmall);

		& + [class^=title_h]{
			margin-top: 0;
		}

		& + .list_ty3 {
			margin-top: var(--gap-5);
		}
	}
	.title_h4 {
		color: var(--color-text-bolder);
		font-size: var(--font-size-heading-xxsmall);
		& + dl,
		& + .data_box {
			margin-top: var(--gap-4);
		}
	}

	.info_gray_tit_text {
		font-size: var(--font-size-body-medium, 16px);
		color: var(--color-text-basic, #1E2124);
		& + .list_depth {
			margin-top: var(--gap-4);
		}
	}


	.ft_lg {
		font-size: var(--font-size-body-large);
	}
	.btn_area {
		margin-top: var(--gap-5);
	}

	// button  {
	// 	// margin-top: var(--gap-5);
	// }
	.top_item_info {
		font-size: var(--font-size-body-small);
		color: var(--color-text-subtle);
		.tit {
			margin: 4px 0 8px;
			display: block;
			font-size: var(--font-size-heading-small);
			color: var(--color-text-bolder);
		}
		& + .footer_dl {
			margin-top: var(--gap-4);
		}
	}
	.info_text {
		& + ul {
			margin-top: var(--gap-4);
		}
	}

	.list_depth {
		& + .footer_dl {
			margin-top: var(--gap-6);
			padding-top: var(--gap-6);
			border-top: var(--border-width-static-regular) solid var(--color-border-gray-light);
		}
	}

	dl {
		display: flex;
		justify-content: space-between;
		gap: var(--gap-3);
		width: 100%;
		font-size: var(--font-size-body-small);
		&.middle {
			align-items: center;
		}
		&.bottom {
			align-items: flex-end;
		}
		& + ul {
			margin-top: var(--gap-5);
		}

		dt {
			color: var(--color-text-subtle);
			flex-shrink: 0;
		}
		dd {
			text-align: right;

			.big {
				font-size: var(--font-size-body-large);
			}
			.rise,
			.trend {
				justify-content: flex-end;
			}
		}
		.sub_text {
			display: block;
			font-size: var(--font-size-body-xsmall);
			color: var(--color-text-subtle);
		}
		
		& + dl {
			margin-top: var(--gap-5);
		}
		& + .footer_dl {
			margin-top: var(--gap-6);
			padding-top: var(--gap-6);
			border-top: var(--border-width-static-regular) solid var(--color-border-gray-light);
		}
		&.footer_dl {
			align-items: center;
			

			dd {
				font-size: var(--font-size-body-large);
				font-weight: 700;
				word-break: break-all;

				&.normal {
					font-size: var(--font-size-body-small);
				}

				span.text_sub {
					display: block;
					color: var(--color-text-subtle);
					font-size: var(--font-size-body-small);
					font-weight: 400;
					text-decoration: line-through;
				}
			}

			& + .footer_dl {
				border:0;
				padding-top: 0;
				margin-top: var(--gap-5);
			}

			& + dl:not(.footer_dl) {
				dt {
					line-height: 24px;
				}
			}
		}
	}

	.car_alarm_box {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: var(--gap-4);
	
		.info {
			font-size: var(--font-size-body-medium);
			font-weight: 700;
		}
		.date {
			font-size: var(--font-size-body-small);
		}
	}
	.total {
		.big {
			font-size: var(--font-size-body-large);
		}
		&:not(.car) {
			dl {
				align-items: center;
			}
		}
		&.car {
			dl + dl {
				margin-top: var(--gap-4);
			}
			.total_car {
				align-items: center;

				&:has(.del){
					margin-top: 21px;
				dd {
					margin-top: -21px;
					}
				}

				dd {
					del {
						display: block;
						font-size: var(--font-size-body-small);
						color: var(--color-text-subtle);
						font-weight: 400;
					}
				}
			}
			& + .info_top_cont {
				display: none;
				margin-top:  var(--gap-4);
				padding-top:  var(--padding-6);

				dl {
					align-items: center;					
				}
			}
			&.ty2 {
				& + .info_top_cont {
					display: block;
				}
			}
		}
		&.only {
			dl {
				align-items: center;
			}
		}
	}
	.total_bic {
		font-size: var(--font-size-display-medium);
		color: var(--color-text-primary-bold);
	}
	.info_top_cont {
		margin-top: var(--gap-6);
		padding-top: var(--padding-7);
		border-top: var(--border-width-static-regular) solid var(--color-border-gray-light);
		dl {
			dt {
				min-width: 80px;
			}
			& + dl {
				margin-top: var(--gap-4);
			}
			&.sm {
				margin-top: var(--gap-2);
				dt {
					font-size: var(--font-size-body-xsmall);
				}
			}
		}
	}
	&.flex_row {
		display: flex;
		dl {
			flex-direction: column;
			justify-content: center;
			gap: 0;
			dt {
				text-align: center;
				font-size: var(--font-size-body-xsmall);
			}
			dd {
				text-align: center;
				margin-top: var(--gap-2);
				font-size: var(--font-size-heading-small);
				font-weight: 700;
				span  {
					font-size: var(--font-size-heading-medium);
				}
			}
			& + dl {
				position: relative;
				margin: 0;
				&::before {
					position: absolute;
					top: 0;
					left: 0;
					content: '';
					width: 1px;
					height: 52px;
					background: var(--color-divider-gray-light);
				}
			}
		}
	}

	.list_depth_ty2_group {
		margin: var(--padding-5) 0 0 var(--padding-3);
		.list_depth_ty2 {
			> li {
				font-size: var(--font-size-body-medium);
			}
			
		}
	}

	.picture_info_top {
		.big {
			font-size: var(--font-size-heading-medium);
		}
	}

	.updown {
		width: 12px;
		height: 12px;
	}

	&:has(.form_group_wrap) {
		padding: 32px var(--padding-card-small);
		.form_group_wrap {
			justify-content: center;
			.comp_wrap {
				background: var(--color-background-white);
			}
		}
	}

	.data_box {
		display: flex;
		flex-flow: row wrap;

		&:has(dl:nth-of-type(2)) {
			dl:nth-of-type(odd) {
				border-right: var(--border-width-static-regular) solid var(--color-divider-secondary-light);
			}
		}

		> dl {
			justify-content: flex-start;
			margin: 0;
			width: 50%;
			padding-top: var(--gap-5);
			gap: var(--gap-4);
			border-right: none;


			&:nth-child(-n+2){
				padding-top: 0;
			}

			&:nth-child(2n-1){
				padding-right: var(--gap-8);
			}

			&:nth-child(2n){
				padding-left: var(--gap-8);
			}

			dt {
				flex: none;
				min-width: 50px;
			}
			dd {
				text-align: left;
			}

			&.footer_dl {
				width: 100%;
				padding: var(--gap-6) 0 0 0;
				margin-top: var(--gap-6);
			}
		}
		&.df_type_w_ty1 {//100
			> dl {
				dt {
					width: 100px;
				}
			}
		}
		&.df_type_w_ty2 {//130
			> dl {
				dt {
					width: 130px;
				}
			}
		}
		&.df_type_w_ty3 {//50,100
			> dl {
				&:nth-child(2n) {
					dt {
						width: 100px;
					}
				}

				&.footer_dl {
					dt {
						width: 50px;
					}
				}
			}
		}
		&.df_type_w_ty4 {//50,130
			> dl {
				&:nth-child(2n) {
					dt{
						width: 130px;
					}
				}

				&.footer_dl {
					dt {
						width: 50px;
					}
				}
			}
		}
		&.df_type_w_ty5 {//100,50
			> dl {
				dt{
					width: 100px;
				}
				&:nth-child(2n) {
					dt {
						width: 50px;
					}
				}

				&.footer_dl {
					dt {
						width: 100px;
					}
				}
			}
		}
		&.df_type_w_ty6 {//100,130
			> dl {
				dt {
					width: 100px;
				}
				&:nth-child(2n) {
					dt {
						width: 130px;
					}
				}

				&.footer_dl {
					dt {
						width: 100px;
					}
				}
			}
		}
		&.df_type_w_ty7 {//130,50
			> dl {
				dt{
					width: 130px;
				}
				&:nth-child(2n) {
					dt {
						width: 50px;
					}
				}

				&.footer_dl {
					dt {
						width: 130px;
					}
				}
			}
		}
		&.df_type_w_ty8 {//130,100
			> dl {
				dt{
					width: 130px;
				}
				&:nth-child(2n) {
					dt {
						width: 100px;
					}
				}

				&.footer_dl {
					dt {
						width: 130px;
					}
				}
			}
		}
		
		&.df_type_w_ty9 {//90 자동차 문서확인
			padding-bottom: var(--gap-6);
			border-bottom: var(--border-width-static-regular) solid var(--color-divider-gray-light);
			> dl {
				&:nth-child(2n-1){
					border-right: 0;
				}
				dt {
					width: 90px;
				}

				&.footer_dl {
					dt {
						width: 90px;
					}
				}
			}
			+ .btn_area {
				margin-top: var(--gap-6);
			}
		}		
	}
	
	.icon_text_area {
		background-size: 48px auto;
		background-position: left top;
		&.hihealth {
			background-image: url(../images/content/bn/img_logo_hihealth.png);
		}
	}
}

.info_white {
	padding: calc(var(--padding-8) - 1px) calc(var(--padding-7) - 1px);
	border-radius: var(--radius-large2);
	border: var(--border-width-static-regular) solid var(--color-border-gray-light);
	background: var(--color-surface-white-subtle);
	& + & {
		margin-top: var(--gap-5);
	}
	& + .title_h4 {
		margin-top: var(--gap-9);
	}
}

.call_box {
	margin-top: var(--gap-11);
	.info_text + .info_gray {
		margin-top: var(--gap-5);
	}
	.info_gray.ty2 {
		.call_link {
			& + [class^=list_ty]{
				margin-top: var(--gap-3);
			}
		}
		.center_info {
			.title_h4 {
				padding-bottom: var(--gap-3);
				.title_h4_cb_p {
					display: block;
				}
				.title_h4_cb_d {
					display: block;
					small {
						font-weight: 400;
						font-size: var(--font-size-heading-xxsmall);
					}
				}
			}

			& + .list_ty5 {
				margin-top: var(--gap-3);
			}
		}
	}

	&.call_box_space2 {
		margin-top: var(--gap-5);
	}

	&.call_box_icoadd {		
		.info_gray {
			&.ty2 {
				.center_info {
					padding-right: 30px;
					background: url(../images/icon/icon_tel.svg) no-repeat right center / 24px auto;
				}
			}
		}
	}

	&.call_box_o_ty1 {
		margin-top: var(--gap-8);
		margin-bottom: 0;
		& + .call_box_o_ty1 {
			margin-top: var(--gap-5);
		}
	}
}

.function_item {
	margin-top: var(--gap-2);
	.info_gray {
		.tit {
			display: block;
			font-size: var(--font-size-heading-xsmall);
			text-align: center;
		}
	}
	.equals,
	.plus {
		display: block;
		height: 25px;
		background-size: 17px auto;
		background-position: center center;
		background-repeat: no-repeat;
	}
	.equals {
		background-image: url(../images/icon/icon_equals.svg);
	}
	.plus {
		background-image: url(../images/icon/icon_plus_ty2.svg);
	}
	& + .info_gray.ty2 {
		margin-top: var(--gap-3);
		ul {
			margin-top: 0;
		}
	}
}

.pay_notice {
	.msg_info {
		background-position: left 2px;
		+ .list_ty2 {
			margin: var(--gap-6) 0 0 var(--gap-6);
		}
	}
	+ .tab_wrap {
		margin-top: var(--gap-8);
	}
}


.info_gray_wrap {
	&.wrap_type1 {
		& + .acd_item_ty2 {
			margin-top: var(--gap-11);
		}
	}
	&.wrap_type2 {
		& + .info_gray {
			margin-top: var(--gap-5);
		}
	}
}



/* 바닥 페이지용 */
.wrap {
	.info_gray {
		.middle {
			justify-content: flex-start;
			gap: var(--gap-4);
		}
		.footer_dl {
			justify-content: flex-start;
		}
	}
	
	.card_item_wrap {
		&.ty4 {
			.card_item {
				.item_inner {
					.sub_title {
						font-weight: 700;
					}
					.hd_icon {
						width: 40px;
						height: 40px;
					}
				}
			}
		}
	}
}