
.input_text {
	position: relative;
	border-radius: var(--radius-medium3);
	display: flex;
	align-items: center;
	gap: var(--gap-3);
	border: var(--border-width-variable-regular) solid var(--color-input-border);
	transition: border-color 0.3s;
	border: var(--border-width-variable-regular) solid var(--color-input-border);
	background: var(--color-input-surface);
	border-radius: var(--radius-medium3);
	// overflow: hidden; 


	&.inp_mi {
		border-radius: var(--radius-medium1);
		input {
			height: calc(48px - 2px);
			font-size: var(--font-size-body-small);
		}
	}
	&.inp_sm {
		border-radius:  var(--radius-small3);
		input {
			height: calc(40px - 2px);
			padding: 4px 16px;
			font-size: var(--font-size-body-xsmall);
		}
	}

	&.big {
		input {
			border-color: var(--color-border-gray-light);
			height: calc(var(--size-height-10) - 2px); 
			font-size: var(--font-size-heading-medium);
			font-weight: 700;
		}
		&.phone {
			.int_txt {
				padding-top: 0;
				font-size: var(--font-size-heading-medium);
				font-weight: 700;
			}
		}
	}

	& + .btn_area,
	& + .checkbox_group_wrap {
		margin-top: var(--gap-5);
	}

	.inp {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		background: transparent;
		border-radius: inherit;
		border: none;
		&.active {
			.del {
				display: block;
			}
		}
	}

	input {
		position: relative;
		display: block;
		width: 100%;
		// height: var(--size-height-8);
		height: calc(var(--size-height-8) - 2px);
		padding: 3px 32px 3px 16px;
		font-size: var(--font-size-body-medium);
		line-height: 24px;
		appearance: none;               
		box-sizing: border-box;
		border-radius: inherit;
		border: none;
		background-color: var(--color-input-surface);

		&::placeholder {
			color: var(--color-text-disabled);
		}

		&:read-only {
			background-color: var(--color-input-surface-disabled);
			& + .del {
				display: none !important;
			}
		}
		&:disabled {
			color: var(--color-text-disabled-on) !important;
			background-color: var(--color-input-surface-disabled);
		}
		&:focus {
			outline: none;
		}
	}

	&.readonly,
	&.disabled {
		background-color: var(--color-input-surface-disabled);
		border-color: var(--color-input-border-disabled);  
	}
	&.disabled {
		.int_txt {
			color: var(--color-text-disabled-on);
		}
	}
	.int_txt {
		flex: none;
		font-size: var(--font-size-body-medium);
		&.left {
			padding-top: 2px;
			padding-left: 16px;
		}
		&.right {
			padding-right: 16px;
		}
	}
	.del,
	.calendar_call,
	.btn_search {
		position: absolute;
		top: 50%;
		right: 0;
		transform: translateY(-50%);
	}
	.del {
		display: none;
		width: 44px;
		height: 50px;
		background: url(../images/icon/icon_reset.svg) no-repeat center right 16px / 20px auto;
	}

	&:has(.int_txt.right) {
		input {
			padding-right: 28px;
		}
		.del {
			width: 28px;
			background-position: center right;
		}
	}

	//phone
	&.phone {
		width: 100%;
		.inp {
			input {
				padding-left: 0;
			}
		}
		&.readonly,
		&.disabled {
			gap: 6px;
		}

	}

	&.calendar {
		input {
			padding-right: 44px;
		}
		.del {
			right: 26px;
		}
	}

	&.search {
		input {
			padding-right: 74px;
		}
		.del {
			right: 42px;
			width: 28px;
			background: url(../images/icon/icon_reset.svg) no-repeat center center / 20px auto;
		}
		.btn_search {
			right: 16px;
			&::after {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				width: 28px;
				height: 28px;
				margin: -2px 0 0 -2px;
			}
		}
	}

	//birth
	.birth_all {
		position: relative;
	}
	

	// file
	.inp_file {
		width: 100%;
		input[type="file"] {
			position: absolute;
			width: 1px;
			height: 1px;
			overflow: hidden;
			clip: rect(0, 0, 0, 0);
			border: none;
			background: var(--color-input-surface);

			& + label {
				display: flex;
				justify-content: space-between;
				align-items: center;
				height: 54px;
				width: 100%;
				padding: 3px 16px;
				font-size: var(--font-size-body-medium);
				line-height: 24px;
				.file_name {
					flex: 1;
					white-space: nowrap;
					text-overflow: ellipsis;
					overflow: hidden;
				}

			}
		}
	}
	&:focus-within {
		border-color: var(--color-input-border-active);
	}
	&.error {
		border: 3px solid var(--color-input-border-error);
		input {
			height: calc(var(--size-height-8) - 6px);
		}
		&:focus-within {
			border-color: var(--color-input-border-error);
		}
	}
}

// Error 문구
.msg_info {
	//margin-top: 9px;
	margin-top: var(--gap-3);
  padding-left: 20px;
  background: url(../images/icon/icon_error.svg) no-repeat left center/16px auto;
  font-size: var(--font-size-label-medium);
  line-height: 21px;
  color: var(--color-text-information);
}
.msg_success {
	//margin-top: 9px;  
	margin-top: var(--gap-3);
  padding-left: 20px;
  background: url(../images/icon/icon_success.svg) no-repeat left center/16px auto;
  font-size: var(--font-size-label-medium);
  line-height: 21px;
  color: var(--color-text-success);
}
.msg_error {
	//margin-top: 9px;
	margin-top: var(--gap-3);
  padding-left: 20px;
  background: url(../images/icon/icon_fail.svg) no-repeat left center/16px auto;
  font-size: var(--font-size-label-medium);
  line-height: 21px;
  color: var(--color-text-danger);
}


/* _조합 input */
.comp_wrap {
	position: relative;	
	display: flex;
	align-items: center;
	gap: 4px;
	border: var(--border-width-variable-regular) solid var(--color-input-border);
	border-radius: var(--radius-medium3);
	&:focus-within {
		border-color: var(--color-text-basic);
	}
	
	&.error {
		border: 3px solid var(--color-input-border-error);
		.input_text {
			input {
				height: calc(var(--size-height-8) - 6px);
			}
			&:focus-within {
				border-color: var(--color-input-border-error);
			}

		}
	}

	&.card {
		.comp_wrap_keypad_call {
			flex: none;
			.pin_area {
				&.default {
					justify-content: center;
				}
			}
		}
	}

	&.business {
		.input_text {
			flex: 1;
			input {
				padding: 0;
				text-align: center;
			}
		}
	}

	.dash {
		font-size: var(--font-size-body-medium);
	}

	.input_text {
		display: flex;
		align-items: center;
		border: none;
	}

	/* comp_wrap 내부에서 보안키패드 호출 버튼 공통 사용요소 - 필요시 각 class별로 별도 설정 필요 */
	.comp_wrap_keypad_call {
		flex: 1 1 0;
		min-width: 0;
		.keypad_call {
			display: block;
			width: 100%;
			&.active {
				background-color: blue;
			}
		}
	}

	.input_text {
		input {
			&:read-only {
				z-index: 1;
				background-color: var(--color-input-surface-disabled);
				border-radius: 12px;
			}
			&:disabled {
				z-index: 1;
				background-color: var(--color-input-surface-disabled);
				border-radius: 12px;
			}
		}
		&.price {
			margin-right:4px;
		}
	}
	
	// 주민번호
	&.birth {
		padding: 3px;
		display: flex;
		align-items: center;
		gap: 4px;
		width: 100%;
		& > .input_text {
			min-width: 0;
			width: calc(50% - 8px);
		}
		input {
			height: 48px;
			&:read-only {
				text-align: center;
			}
		}
		.id_pass_box {
			display: flex;
			align-items: center;
			width: calc(50% - 8px);
			gap: 4px;
			.input_text {
				border: none;
			}
			input {
				padding: 0;
				width: 20px;
				height: 25px;
				text-align: center;
				border-bottom: 1px solid #6D7882;
				border-radius: 0;
			}
			.id_pass {
				line-height: 48px;
				width: 100%;
				font-size: var(--font-size-body-medium);
				text-align: center;
				background-color: var(--color-input-surface-disabled);
				border-radius: 12px;
			}
			.id_pass2 {
				line-height: 48px;
				width: 100%;
				font-size: var(--font-size-body-medium);
				text-align: center;
				border-radius: 12px;
			}

			&.read_only {

				input {
					border-bottom: 0;
					background-color: transparent;
				}			
			}
		}
	}

	//금액
	&.key_number {
		& + .btn_area.basic {
			margin-top: var(--gap-4);

			.hd_btn_s_4 {
				min-width: 54px;
			}
		}

		&:has(.phone.readonly),
		&:has(.phone.disabled) {
			overflow: hidden;
			&::before {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background-color: var(--color-input-surface-disabled);

			}
			.hd_btn {
				position: relative;
			}
		}

		/* 현업 요청에 의한 색상 재정의 */
		.hd_btn {
			--color-button-tertiary-fill: rgba(255, 255, 255, 1);
			&.hd_btn_ty_3 {
				background: var(--color-button-tertiary-fill);
			}
		}

	}
}

// 금액
.price {
	width: 100%;
	&.input_text {
	.inp {
		width: 100%;
		justify-content: space-between;
		input {
			padding-right: 0;
			text-align: right;
		}
			&.active {
				input {
					padding-right: 28px;
				}
			}
		}
	}
	
	.del {
		//right: calc(100% - 48px);
		width: 28px;
		background-position: center right;
	}
	&.big {
		input {
			color: var(--color-text-primary-bold);
			font-size: var(--font-size-body-large);
			font-weight: 700;
			line-height: 54px;
			&::placeholder {
				font-weight: 700;
				font-size: var(--font-size-body-large);
			}
		}
		.int_txt {
			font-size: var(--font-size-body-small);
			&.right {
				font-weight: 700;
				font-size: var(--font-size-body-large);
				color: var(--color-text-primary-bold);
			}
		}
		.del {
			right: calc(100% - 36px);
		}
			
		&:focus-within {
			border-color: #F2650E !important;
		}
	}
}
//카드
.card {
	padding: 0 16px;
	width: 100%;
	&.readonly,
	&.disabled,
	&.readonly .input_text,
	&.disabled .input_text,
	&.readonly input,
	&.disabled input {
		background-color: var(--color-input-surface-disabled);
	}
	& > div {
		flex: 1;
	}
	& > .int_txt {
		flex: none;
    font-size: var(--font-size-body-medium);
	}
	input {
		padding: 0;
		text-align: center;
	}
}
.key_number {
	width: 100%;
	padding-right: 16px;
	.input_text {
		flex: auto;
		.int_txt {
			&.right {
				padding-right: 0;
				font-size: var(--font-size-button-small);
				color: var(--color-text-point);
			}
			// background-color: blue;
		}
	}
	button {
		flex: none;
		.text {
			white-space: nowrap;
		}
	}
	@media screen and (max-width: 359px) {
		padding-right: 12px;
		gap: 4px;
		.input_text {
			gap: 4px;
			input {
				padding: 3px 0 3px 12px
			}
		}
		.hd_btn_s_4 {
			padding: 6px var(--padding-3);
		}
	}
}


//계약번호
.contractNum {
	padding: 0 16px;
	width: 100%;
	&.readonly,
	&.disabled,
	&.readonly .input_text,
	&.disabled .input_text,
	&.readonly input,
	&.disabled input {
		background-color: var(--color-input-surface-disabled);
	}

	& > .int_txt {
		flex: none;
    font-size: var(--font-size-body-medium);
		padding-top: 2px;
	}

	.input_text  {
		width: 60px;
		&.grow {
			margin : 0 4px;
			flex-grow: 1;
		}
	}

	input {
		padding: 0;
		text-align: left;
	}
}
.extra_area {
	& + .form_list {
		margin-top: var(--gap-8);
	}
}

/* Form group */
.form_group_wrap {

	// & + & {
	// 	margin-top: var(--gap-8);
	// }
	& + .info_gray.ty2,
	& + .radio_group_wrap,
	& + .checkbox_group_wrap,
	& + .spacebox6,
	& + .title_h3 {
		// margin-top: var(--gap-8);
		margin-top: var(--gap-11);
	}

	& + .text_sub_ty2,
	& + .select_item,
	& + .form_group_wrap.space2 {
		margin-top: var(--gap-5);
	}
	// & + *:not(.divider_ty1, .divider_ty2, .btn_rd_close) {
	// 	margin-top: var(--gap-11);
	// }
	// & + *:not(.divider_ty1, .divider_ty2) {
	// 	margin-top: var(--gap-9);
	// }

	> * {
		~ .row {
			margin-top: var(--gap-8);
		}
	}

	& + .acd_item,
	& + .info_gray,
	& + .bann_wrap,
	& + .banner_slide_wrap,
	& + .checkbox_group_wrap.space2,
	& + .file_attach_box {
		margin-top: var(--gap-8);
	}

	& + .text_sub,
	& + .form_card_wrap,
	& + .form_card_case {
		margin-top: var(--gap-7);
	}

	& + [class^=list_ty],
	& + .btn_area,
	& + .table_wrap,
	& + .opt_case4 {
		margin-top: var(--gap-5);
	}

	

	[class^=form_line] {
		.label_tit {
			font-size: var(--font-size-label-medium);
			line-height: 150%;
			margin-bottom: var(--padding-3);
			// .question_mark_btn {
			// 	transform: translateY(5px);
			// }
			&.box {
				display: flex;
				justify-content: space-between;
				align-items: end;
			}

			& + .address_item {
				margin-top: 0;
			}

			& + .checkbox_group_wrap {
				margin-top: 0;
			}

			.tooltip_wrap {
				vertical-align: top;
				z-index: 11;
				.tooltip_panel {
					top: calc(100% + 32px);
				}
			}
		}

		.input_text + .btn_link.short_cut,
		.form_line,
		.btn_area {
			margin-top: var(--gap-5);

			& ~ .info_gray { 
				margin-top: var(--gap-5);
			}
		}

		.inp_checkbox {
			& + .radio_group_wrap {
				margin-top: var(--gap-5);
			}
		}
		.explain_text {
			position: relative;
			display: inline-block;
			padding-left: 20px;
			margin-top: var(--padding-3);
			color: var(--color-text-information);
			font-size: var(--font-size-label-medium);
			line-height: 150%;
			letter-spacing: var(--typo-letter-spacing-0);

			&::before {
				content: "";
				position: absolute;
				top: calc(50% - 8px);
				left:0;
				width: 16px;
				height: 16px;
				background: url(../images/icon/info_ty2.svg) no-repeat center/contain;
			}
		}

		.line_group {
			display: flex;
			gap: 12px;

			.line {
				flex: 1;
			}
		}
		button.full {
			width: 100%;
		}
		.select_item {
			& + .input_text {
				margin-top: var(--gap-5);
			}
		}

		& ~ .form_line,
		& ~ .extra_area {
			margin-top: var(--gap-8);
		}

		&.hidden {
			+ .form_line {
				margin-top: 0;
			}
		}
		.info_gray {
			&.ty2 {
				margin-top: var(--gap-5);
			}
		}
	}

	> .form_line_ty2 {
		& + .form_line_ty2 {
			margin-top: var(--gap-5);
		}
		& + .row {
			margin-top: var(--gap-5);
		}
	}

	.form_group_wrap > .form_line ~ .form_line {
		margin-top: var(--gap-5);
	}

	.form_group_wrap > .form_line {
		.info_gray {
			margin-top: var(--gap-5);
		}
	}
	
	.info_gray {
		margin-top: var(--gap-8);
	}

	.row {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 12px;

		.form_line {
			flex: 1 1 0;
			& + .form_line {
				margin-top: 0;
			}
			&.fix_w_case01 {
				flex: none;
				width: 100px;
			}
			&.fix_w_case02 {
				margin-top: 0;
				flex: none;
				width: 100px;
			}
		}

		.grow {
			flex-grow: 1;
		}

		.fit {
			&.input_text input { 
				padding-right:0;
			}
		}

		&.balance {
			& > * { 
				width: 50%;
			}
		}

		& + .form_line {
			margin-top: var(--gap-5);
		} 
		& + .total_price_display_ty1 {
			margin: 32px 0 0;
		}

		.radio_comb {
			flex: none;
		}
	}

	.column {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: var(--gap-5);

		> * {
			flex: 1;
			width: 100%;
		}
	}

	.checkbox_group_wrap {
		&.column {
			gap: 0;
			width: 100%;
		}
	}

	.radio_group_wrap {
		& + .form_group_wrap {
			.label_tit {
				padding-top: var(--gap-5);
			}
			&.row {
				margin-top: var(--gap-5);
			}
		}
	}


	//툴팁 버튼이 있는 텍스트
	.form_group_title {
		display: inline-block;
		width:100%;
		font-weight: 700;
		word-wrap: break-word;
		line-height: 24px;	
		& ~ * {
			margin-top: var(--gap-5);
		}
	}

	.extra_area ~ .form_line {
		margin-top: var(--gap-8);
	}
	.list_ty2 {
		margin-top: var(--gap-5);

		& + .info_gray.ty2 {
			margin-top: var(--gap-5);
		}
	}

	.list_depth_ty2,
	.title_sub {
		margin-top: var(--gap-5);
	}
	.title_sub + .list_depth_ty2 {
		margin-top: var(--gap-3);
	}
	&.rd_box {
		padding: var(--padding-8) var(--padding-7);
		border: var(--border-width-static-regular) solid var(--color-border-gray-light);
		border-radius: var(--radius-large2);
	}
}

/* Form group hidden용 */
.hidden_fg {
	+ .checkbox_group_wrap {
		margin-top: var(--gap-8);
	}
}


//기간 달력
.range_calrendar {
	display: flex;
	align-items: center;
	gap: 12px;
	> div {
		flex: 1;
	}

	& + .btn_area.basic {
		.hd_btn_s_4 {
			min-width: 54px;
		}
	}
}


// 보안키패드
.form_key {
	position: relative;
	border-radius: 12px;
	.pin_area {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 56px;
		gap: 2px;
		padding: 0 16px;
		font-size: var(--font-size-body-medium);
		color: var(--color-text-disabled);
		&.default {
			justify-content: flex-start;
		}
		.dot_mark {
			flex: none;
			display: inline-block;
			width: 12px;
			height: 12px;
			border-radius: 50%;
			border: var(--border-width-static-regular) solid var(--color-surface-white-subtle);
			background-color: var(--color-surface-white-subtle);
			&.active {
				border: var(--border-width-static-regular) solid var(--color-text-basic);
				background-color: var(--color-text-basic);
			}
		}
	}
	input[type="password"] {
		position: absolute;
		top: 0;
		right: 0;
		width: 0;
		height: calc(100% + 8px);
		border: 0 !important;
	}
	&[aria-disabled="true"] {
		background-color: var(--color-input-surface-disabled);
	}
	&.big {
		.pin_area {
			font-weight: 700;
			font-size: var(--font-size-heading-medium);
		}
	}

	&.pin_type {
		.pin_area {
			align-items: flex-end;
			gap: var(--gap-3);
			height: 44px;
			.dot_mark {
				width: 20px;
				height: 20px;
				border: var(--border-width-static-regular) solid var(--color-text-disabled);
				background-color: var(--color-text-disabled);

				&.active {
					border-color: var(--color-text-basic);
					background-color: var(--color-text-basic);
				}
			}
		}

		&.error {
			.pin_area {
				.dot_mark {
					border: var(--border-width-static-regular) solid var(--color-text-danger);
					background-color: var(--color-text-danger);
				}
			}
		}
	}
}
.search_inp_box {
	+ .tag_item_wrap {
		margin-top: var(--gap-3);
	}
}