

/* box_list(목록형) */
.box_list_wrap {
	//리스트 컨테이너
	.box_list {
		li.box_list_item {			
			border-bottom: 1px solid var(--color-border-gray-light);
			display: flex;
			align-items: stretch;

			&:first-of-type {
				border-top: 1px solid var(--color-border-gray-light);
			}

			.item_inner_cont {
				position: relative;
				width: 100%;
				display: flex;
				flex-direction: column;
				gap: var(--gap-2);
				padding: var(--padding-6) 0;

				.item_title {
					font-size: var(--font-size-body-medium);
				}

				.item_meta {
					display: flex;
					align-items: center;
					gap: var(--gap-2);

					font-size: var(--font-size-body-small);
					color: var(--color-text-information);
					word-break: break-all;

					.author {
						flex-shrink: 0;
						position: relative;
						padding-right: var(--gap-2);

						&:after {
							display: block;
							content: "";
							width: 1px;
							height: 12px;
							background-color: var(--color-border-gray-light);
							position: absolute;
							top: 50%;
							transform: translateY(-50%);
							right: 0;
						}
					}

					.desc {
						color: var(--color-text-subtle);
					}
				}
			}
		}

		//링크타입
		&.ty_link {
			li.box_list_item {			
				.item_inner_cont {
					padding-right: var(--number-13);
					&:after {
						display: block;
						content: "";
						width: 24px;
						height: 24px;
						position: absolute;
						top: 50%;
						transform: translateY(-50%);
						right: 0;
						background: url(../images/icon/arrowRight_ty3.svg) no-repeat center / 20px auto;
					}

					.item_title {
						overflow: hidden;
						text-overflow: ellipsis;
						white-space: nowrap;
					}

					&.hasImg {
						padding-left : 80px;
						.thumbnail {
							width:68px;
							height: 38px;
							border-radius: var(--radius-small2);
							overflow: hidden;
							position: absolute;
							left: 0;
							top: 0;
							transform: translateY(50%);
						
							img {
								display:block;
							}
						}
					}//.hasImg
				}
			}
		}//.ty_link

	}
}