
@mixin list-style(
  // $ul-padding: 0,
  // $ul-margin: 0,
  $li-padding: 0, 
  $li-margin: 0, 
  $li-font-size: var(--font-size-body-medium),
	$li-line-height: 20px,
  $li-color: inherit,
	$li-dot-color: inherit
) {
  // margin: $ul-margin;
  // padding: $ul-padding;

  > li {
		position: relative;
    margin: $li-margin;
    padding: $li-padding;
    font-size: $li-font-size;
    line-height: $li-line-height;
    color: $li-color;

		&::before {
			background-color: $li-dot-color;
		}
  }
  @content;
}

.list_ty1 {
  @include list-style(
    $li-padding: 0 0 0 10px,
    $li-font-size: var(--font-size-body-small),
    $li-color: var(--color-text-basic),
		$li-dot-color: #3E4A58
  ) {
    // ul.list-1에 대한 추가적인 스타일
		// background-color: var(--color-primary);
    > li {
			&::before {
				content: '';
				position: absolute;
				top: 8px;
				left: 0;
				width: 2px;
				height: 2px;
				border-radius: 50%;
			}
    }
  }

	> li {
		& ~ li {
			margin-top: var(--gap-3);
		}
		> .list_ty2 {
			margin-top: var(--gap-4);
		}
	}
	&.black {
		@include list-style(
		  $li-padding: 0 0 0 10px,
		  $li-font-size: var(--font-size-body-medium),
		  $li-color: var(--color-text-basic),
			  $li-dot-color: #33363D
		){
			> li {
				& ~ li {
					margin-top: var(--gap-4);
				}
			}
		}
	}

	& + .list_ty1 {
		margin-top: var(--gap-4);
	}
}

.list_ty2 {
  @include list-style(
    $li-padding: 0 0 0 10px,
    $li-font-size: var(--font-size-body-small),
    $li-color: var(--color-text-subtle)
  ) {
    // ul.list-1에 대한 추가적인 스타일
		// background-color: var(--color-primary);
    > li {
			&::before {
				content: '-';
				position: absolute;
				top: 0;
				left: 0;
			}
    }
  }

	> li {
		& ~ li {
			margin-top: var(--gap-3);
		}
		> .list_ty5 {
			margin-top: var(--gap-2);
		}
	}

	& + .title_h4 {
		margin-top: var(--gap-9);
	}

	+ .title_h5 {
		margin-top: var(--gap-6);
	}

	& + .radio_group_wrap,
	& + .banner_box {
		margin-top: var(--gap-8);
	}
	& + .title_h3,
	& + .card_item_wrap,
	+ .table_wrap {
		margin-top: var(--gap-11);
	}
	& + .btn_area{
		margin-top: var(--gap-5);
	}
}

.list_ty3 {
  @include list-style(
    $li-padding: 0 0 0 8px,
		$li-line-height: 150%,
    $li-color: var(--color-text-basic),
		$li-dot-color: #33363D
  ) {
    // ul.list-1에 대한 추가적인 스타일
		// background-color: var(--color-primary);
    > li {
			&::before {
				content: '';
				position: absolute;
				top: 10px;
				left: 0;
				width: 3px;
				height: 3px;
				border-radius: 100%;
			}
			.btn_link_area {
				margin-top: var(--gap-2);
			}
	
			.table_wrap {
				padding-top: var(--padding-5);
			}
    }
  }
	& + .tab_wrap {
		margin-top: var(--gap-8);
	}
	& + .pop_title_h1,
	+ .acd_item {
		margin-top: var(--gap-11);
	}

	> li {
		& ~ li {
			margin-top: var(--gap-4);
		}
		> .list_ty2, .circle_list, .list_depth_ty2 {
			margin-top: var(--gap-4);
		}
	}

	& + .file_attach_box,
	& + .btn_area {
		margin-top: var(--gap-5);
	}
	
	+ .grid,
	+ .space_list_ty2,
	+ .tab_wrap,
	+ .table_wrap,
	+ .info_cont,
	+ .btn_area.ty4,
	+ .title_h3 {
		margin-top: var(--gap-8);
	}
}

.list_ty4 {
  @include list-style(
    $li-padding: 0 0 0 8px,
		$li-line-height: 150%,
    $li-font-size: var(--font-size-body-small),
    $li-color: var(--color-text-basic),
  ) {
    // ul.list-1에 대한 추가적인 스타일
		// background-color: var(--color-primary);
    > li {
			&::before {
				content: '';
				position: absolute;
				top: 8px;
				left: 0;
				width: 2px;
				height: 2px;
				border-radius: 50%;
				background-color: #6D7882;
			}
    }
  }

	> li {
		& ~ li {
			margin-top: var(--gap-4);
		}

		ul.list_depth_ty2 {
			margin-top: var(--gap-4);

			&.subtle {
				color: var(--color-text-subtle);
			}
		}
	}
}

.list_ty5 {
  @include list-style(
    $li-padding: 0 0 0 10px,
		$li-line-height: 150%,
    $li-font-size: var(--font-size-body-xsmall),
    $li-color: var(--color-text-information),
		$li-dot-color: var(--color-text-information)
  ) {
    // ul.list-1에 대한 추가적인 스타일
		// background-color: var(--color-primary);
    > li {
			&::before {
				content: '';
				position: absolute;
				top: 8px;
				left: 0;
				width: 2px;
				height: 2px;
				border-radius: 50%;
			}
    }
  }

	> li {
		& ~ li {
			margin-top: var(--gap-3);
		}
	}

	+ .info_gray {
		margin-top: var(--gap-11);
	}
}


.list_ty6 {
  @include list-style(
    $li-padding: 0 0 0 8px,
		$li-line-height: 150%,
    $li-font-size: var(--font-size-body-small),
    $li-color: var(--color-text-subtle),
  ) {
    > li {
			&::before {
				content: '';
				position: absolute;
				top: 8px;
				left: 0;
				width: 2px;
				height: 2px;
				border-radius: 50%;
				background-color: #6D7882;
			}
    }
  }

	> li {
		& ~ li {
			margin-top: var(--gap-4);
		}

		ul.list_depth_ty2 {
			margin-top: var(--gap-4);

			&.subtle {
				color: var(--color-text-subtle);
			}
		}
	}
}

/* 검색 리스트 관련 스타일*/

//search_list_type
.popup_cont.search_list_type{
	max-height: calc(100% - 72px);
	overflow-y: hidden !important;

	.popup_content{
		display: flex;
		flex-direction: column;
		overflow-y:hidden;

		.search_inp_box {
			margin-bottom: var(--gap-11);
		}
	}
}

//search_list_type2(tab_wrap내부에서 사용할 때)
.popup_cont.search_list_type2 {
	position: relative;
	// max-height: calc(100% - 55px);
	overflow-y: hidden !important;
	// padding: 0 24px 64px !important;
	
	.tab_wrap{
		position:absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 64px;
		display: flex;
		flex-direction: column;

		.tab_wrap_list_ty1 {
			margin : 0 0 32px;
		}

		.tab_wrap_list_ty2 {
			margin : 0 0 32px;
		}

		.tab_wrap_content {
			padding: 0 24px;
		}

	}

	.has_scroll.active{
		flex:1;
		display: flex;
		flex-direction: column;
		max-height: inherit;
		overflow-y: hidden;
	}

	.search_inp_box {
		display: flex;
		flex-direction: column;
		gap: var(--gap-4);
		margin-bottom: var(--gap-11);

		.desc {
			& > * + * {
				margin-top: var(--gap-2);
			}
		}

		.point {
			color: var(--color-text-primary);
		}

		// 검색 결과에 따른 추천 리스트 표출
		// & ~ .suggestion_list_wrap {
		// 	display: block;			
		// }
		// &.search_on ~ .suggestion_list_wrap {
		// 	display: none;
		// }


		// 검색 결과에 따른 결과 리스트 표출
		// & ~ .search_reult_list_container {
		// 	display: none;
		// }
		// &.search_on ~ .search_reult_list_container {
		// 	display: block;
		// }

		//초성 검색 버튼 리스트
		.search_letter_btn_list{		
			.keypad_chip_item {
				padding: 0;
			}
		}
	}	
}



.suggestion_list_wrap {
	.title_h4 {
		margin-bottom:16px;
	}
	.item_wrap {
		display:flex;
		gap: var(--gap-3);
		flex-wrap:wrap;
	}

	& + .title_h3 {
		margin-top: var(--gap-8);
	}
	& + & {
		margin-top: var(--gap-8);
	}
}

.search_reult_list_container {
	flex:1;
	padding: 0;
	overflow-y: auto;
	border-top: var(--border-width-static-regular) solid var(--color-border-gray-light);

	ul.search_reult_list {
		li {
			border-bottom: var(--border-width-static-regular) solid var(--color-divider-gray-light);			
			a {
				display: block;
				position: relative;
				padding: 16px 36px 16px 0;

				// border-top: var(--border-width-static-regular) solid var(--color-border-gray-light);
				// border-bottom: var(--border-width-static-regular) solid var(--color-divider-gray-light);

				color: var(--color-text-basic);
				font-size: var(--font-size-body-medium);
				font-style: normal;
				font-weight: 400;
				// line-height: 150%;

				display: flex;
				flex-direction: column;
				gap: 4px;

				.hd_badge {
					width: fit-content;
				}

				i {
					font-style: normal;
					font-weight: 700;
					color: var(--color-text-primary-bold);
				}
				.sub_text {
					font-size: var(--font-size-body-small);
					&:not(i){
						color: var(--color-text-subtle);
					}
				}
				&::after {
					content: '';
					position: absolute;
					top: calc(50% - 12px);
					right: 0;
					width: 24px;
					height: 24px;
					background: url(../images/icon/arrowRight_ty5.svg) no-repeat center / 20px auto; //24px auto;
				}
				&.disabled {
					&::after{
						background-image: url(../images/icon/arrowRight_disabled_ty2.svg);
					}
				}
			}

			
			.item_inner {
				width: 100%;
				padding: 16px 0;				
				display: flex;
				justify-content: space-between;
				align-items: center;
				gap: var(--gap-4);				
				font-size: var(--font-size-body-medium);

				button {
					flex-shrink: 0;
				}
			}

		}		  
		li.add_item a { 
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			padding-right: 0;

			&::after { 
				content: none; 
			}
		}

		&.all_srla {
			li {
				a {
					i {
						font-weight: 700;
						color: var(--color-text-primary-bold);
					}
					&::after {
						content: none;
					}
				}
			}
		}

		&.no_link { 
			li a {
				cursor: default;
				&::after {
					display: none;
				}
			}
		}
	}

	&.no_data {
		border-top: none;
		.search_reult_list {
			li {
				border-bottom: none;
			}
		}
	}
}


/* 검색결과 표기 */
.search_result_count {
	// margin-top: var(--gap-5);
	color: var(--color-text-subtle);
	font-size: var(--font-size-body-small);
	.point {
		color: var(--color-text-primary-bold);
	}
	+ * {
		margin-top: var(--gap-4);
	}
	// + .sr_list {
	// 	margin-top: var(--gap-4);
	// }
	// + .search_reult_list_container {
	// 	margin-top: var(--gap-4);
	// }
	// + .search_reult_list_container {
	// 	margin-top: var(--gap-4);
	// }
}
/* 검색결과 표기 */


/* 로고 리스트 관련 스타일*/
.select_list_ty_logo {
	display: flex;
	gap: 12px 24px;
	width: 100%;
	flex-wrap: wrap;
	// padding-bottom: var(--gap-7);
	> li {
		width: calc(50% - 12px);
		.item {
			width: 100%;
		}
	}

	/* 은행선택 로고 추가 후 수정 필요 */
	.item {
		width: calc(50% - 12px);
		height: 48px;
		font-size: var(--font-size-body-medium);

		user-select: none;
		cursor: pointer;
		background-color: #fff;

		.text {
			display: flex;
			justify-content: start;
			align-items: center;
			gap: 12px;
			position: relative;
		}
	}
	/* 은행선택 로고 추가 후 수정 필요 */


	.hd_icon {
		flex: none;
		width: 32px;
		height: 32px;
	}
}

/* 카드사 선택 목록 */
.select_list_ty_card {
	// padding-bottom: var(--gap-7);
	> li {
		+ li {
			margin-top: var(--gap-4);
		}
	}
	.item {
		display: flex;
		align-items: center;
		gap: var(--gap-4);
		width: 100%;
		padding: var(--padding-3) 0px;
		font-size: var(--font-size-body-medium);
		.text {
			flex: 1 1 0;
			display: flex;
			align-items: center;
			gap: var(--gap-4);
		}
		.able_opt_wrap {
			flex: none;
			display: flex;
			align-items: center;
			gap: var(--gap-3);
		}
		.able_opt {
			flex: none;
			padding-left: 22px;
			font-size: var(--font-size-label-small);
			background-repeat: no-repeat;
			background-position: left center;
			background-size: 20px auto;
			&.able_opt_appcard {
				background-image: url(../images/logo/bg_card_appcard.svg);
			}
			&.able_opt_point {
				background-image: url(../images/logo/bg_card_point.svg);
			}
		}
	}


	.hd_icon {
		flex: none;
		width: 32px;
		height: 32px;
	}
}


.list_depth {
	@include list-style(
		$li-padding: 0 0 0 8px,
		$li-font-size: var(--font-size-body-medium),
		$li-color: var(--color-text-basic),
		$li-line-height: 1.5,
		$li-dot-color: #33363D
	) {
		> li {
			&::before {
				content: '';
				position: absolute;
				top: 9px;
				left: 0;
				width: 3px;
				height: 3px;
				border-radius: 50%;
			}
			&.st_none {
				padding-left: 0;
				&::before {
					display: none;
				}
				ul {
					margin-top: var(--gap-5);
				}
				.title_h2 {
					margin-top: var(--gap-9);
				}
			}
			.new_open {
				padding-right: 22px;
				font-size: var(--font-size-body-medium);
				font-weight: inherit;
				background-size: 20px auto;
			}
			& ~ li {
				margin-top: var(--gap-4);
			}
			> ul {
				margin-top: var(--gap-4);
				@include list-style(
					$li-padding: 0 0 0 8px,
					$li-font-size: var(--font-size-body-small),
					$li-color: var(--color-text-basic),
					$li-line-height: 1.5
				) {
					> li {
						&::before {
							content: '-';
							position: absolute;
							top: 0;
							left: 0;
						}
						& ~ li {
							margin-top: var(--gap-3);
						}
						> ul {
							margin-top: var(--gap-2);
							@include list-style(
								$li-padding: 0 0 0 8px,
								$li-font-size: var(--font-size-body-xsmall),
								$li-color: var(--color-text-information),
								$li-line-height: 1.5,
								$li-dot-color: #6D7882
							) {
								> li {
									&::before {
										content: '';
										position: absolute;
										top: 8px;
										left: 0;
										width: 2px;
										height: 2px;
										border-radius: 50%;
									}
									& ~ li {
										margin-top: var(--gap-3);
									}
								}
							}
						}
					}
				}
			}
		}
		.table_wrap {
			margin-top: var(--gap-4);
		}
		.point {
			font-weight: 700;
		}
		.normal {
			font-weight: 400;
		}
		.list_ty2 {
			@include list-style(
			  $li-padding: 0 0 0 10px,
			  $li-font-size: var(--font-size-body-small),
			  $li-color: var(--color-text-subtle)
			) 
		}
	}
	& + .info_gray {
		margin-top: var(--gap-5);
	}
	& + .radio_group_wrap_ty2 {
		margin-top: var(--gap-11);
	}
	& + .inp_checkbox {
		margin-top: var(--gap-8);
	}
}

//레벨2부터 사용하는 depth_list
.list_depth_ty2 {
	.sub_title {
		font-size: var(--font-size-body-small);
		line-height: 1.5;

		& + li {
			margin-top: var(--gap-4);
		}
	}

	li {
		position: relative;
		padding-left: 8px;
		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;			
		}
	}

	& > li {		
		margin: 0;
		font-size: var(--font-size-body-small);
		&::before {
			content: '-';
			background-color: none;
		}

		& ~ li {
			margin-top: var(--gap-3);
		}

		
		& > ul {
			margin-top: var(--gap-2);
			& > li {
				padding: 0 0 0 8px;
				font-size: var(--font-size-body-xsmall);
				color: var(--color-text-information);

				&::before {
					top: 8px;
					width: 2px;
					height: 2px;
					border-radius: 50%;
					background-color: var(--color-text-information);
				}

				& ~ li {
					margin-top: var(--gap-3);
				}
			}
		}


		& > ol {
			margin-top: var(--gap-2);
			& > li {
				padding: 0 0 0 8px;
				font-size: var(--font-size-body-xsmall);
				color: var(--color-text-information);
				
				//기본 : circle_list
				&::before {
					top: 8px;
					width: 2px;
					height: 2px;
					background-color: var(--color-text-information);
				}

				& ~ li {
					margin-top: var(--gap-3);
				}
			}

			&.number_list {
				& > li {
					padding-left: 16px;
					&::before {
						top: 0;
						left: 0;
						width: 12px;
						height: 18px;
						// background-color: var(--color-text-information);
						background-color: transparent;
					}
				}			
			}
		}
	}	
}

.list_depth_ty2_area {
	
	.list_depth_ty2 { 
		margin-top: 0px !important;
	}

	.sub_title { 
		margin-top: var(--gap-3);
	}
}

//bullet이 없는 케이스
.no_bullet li {
	padding-left: 0 !important;
	&::before { 
		display: none !important;		
	}
}

.number_list {
	counter-reset: number 0;
	li {

		& + li {
			margin-top: var(--gap-4);
		}
	}
	& > li {
		position: relative;
		padding-left: 18px;
		font-size: var(--font-size-body-medium);
		&:nth-child(n+10) {
			padding-left: 24px;
		}
		&::before {
			position: absolute;
			top: 0;
			left: 0;
			counter-increment: number 1;
			content: counter(number) '. ';
		}
		> p {
			margin-top: var(--gap-2);
			font-size: var(--font-size-body-small);
			color: var(--color-text-subtle);
		}
		
	}
	&.big {
		> li {
			padding-left: 0;
			font-size: var(--font-size-heading-small);
			&::before {
				position: static;
				font-weight: 700;
			}
			& + li {
				margin-top: var(--gap-9);
			}
			> p {
				font-size: var(--font-size-body-medium);
			}
			> ol,
			> ul {
				margin-top: var(--gap-5);
				> li {
					& + li {
						margin-top: var(--gap-5);
					}
				}
			}
			.img_box {
				margin-top: var(--gap-4);
				> img {
					display: block;
					width: 100%;
				}
			}
			.info_gray {
				.img_box {
					margin-top: var(--gap-3);
					& + .title_h4,
					& + ul {
						margin-top: var(--gap-5);
					}
				}
				& + .pop_title_h3{
					margin-top: var(--gap-7);
				}
			}
			.form_group_wrap {
				margin-bottom: 16px;
			}
			.list_checking {
				margin-top: var(--gap-4);
			}
		}
	}
	.text_star1,
	.text_star2 {
		&::before {
			display: inline-block;
		}
		&::after {
			display: none;
		}
	}
	.list_depth_ty2 {
	
		li {
			padding-left: 8px;
			position: relative;
		}
	
		& > li {		
			margin: 0;
			font-size: var(--font-size-body-small);
			&::before {
				position: absolute;
				top:0;
				left: 0;
				content: '-';
				width: 0;
				height: 0;
				background-color: none;
			}
			& ~ li {
				margin-top: var(--gap-3);
			}
		}
	}
}


.circle_list  {
// 	margin-top: var(--gap-4);
// 	counter-reset: circle 0;

	// & + .list_ty4 {
	// 	margin-top: var(--gap-5);
	// }

	& + .text_sub,
	& + [class^=pop_title_h]{
		margin-top: var(--gap-11);
	}
	
// 	& > li {
// 		position: relative;
// 		padding-left: 18px;
// 		font-size: var(--font-size-body-small);

// 		& ~ li {
// 			margin-top: var(--gap-4);
// 		}

// 		> strong {
// 			display: block;
// 			margin-top: var(--gap-2);
// 			font-size: var(--font-size-body-xsmall);
// 			color: var(--color-text-subtle);
// 			font-weight: 400;			
// 		}
// 		&::before {
// 			position: absolute;
// 			top: 11px;
// 			left: 0.4em;
// 			transform: translateY(-50%);
// 			counter-increment: circle 1;
// 			content: counter(circle);
// 			font-size: 0.65em;
// 		}
// 		&::after {
// 			content: '';
// 			position: absolute;
// 			top: 11px;
// 			left: 0;
// 			transform: translateY(-50%);
// 			display: inline-block;
// 			border: var(--border-width-static-regular) solid #333;
// 			border-radius: 50%;
// 			width: 0.9em;
// 			height: 0.9em;
// 		}
// 		ol {
// 			margin-top: var(--gap-3);
// 			counter-reset: number 0;
// 			& > li {
// 				font-size: var(--font-size-body-xsmall);
// 				color: var(--color-text-information);
// 				& + li {
// 					margin-top: var(--gap-3);
// 				}
// 			}
// 		}
// 	}
// }

// .circle_list_ty2  {
	counter-reset: circle 0;

	& + [class^=title_h]{
		margin-top: var(--gap-11);
	}

	& + .text_sub {
		margin-top: var(--gap-8);
	}

	& > li {
		position: relative;
		padding-left: 20px;
		font-size: var(--font-size-body-small);

		& ~ li,
		ul + strong {
			margin-top: var(--gap-3);
		}

		&::before {
			position: absolute;
			top: 11px;
			// left: 0.4em;
			left: 0;
			transform: translateY(-50%);
			counter-increment: circle 1;
			content: counter(circle);
			font-size: 0.65em;
			min-width: 13px;
			text-align: center;
		}

		&::after {
			content: '';
			position: absolute;
			top: 11px;
			left: 0;
			transform: translateY(-50%);
			display: inline-block;
			border: var(--border-width-static-regular) solid var(--color-icon-gray-light);
			border-radius: 50%;
			width: 13px;
			height: 13px;
		}
		.circle_tit {
			display: block;
			margin-top: var(--gap-2);
			font-size: var(--font-size-body-xsmall);
			color: var(--color-text-subtle);
			font-weight: 400;	
		}
		p {
			margin-top: var(--gap-2);
			color: var(--color-text-subtle);
			font-size: var(--font-size-body-xsmall);
			& + ul, 
			& + ol {
				margin-top: var(--gap-3);
			}
		}
		ol {
			margin-top: var(--gap-3);
			counter-reset: number 0;
			
			& > li {
				position: relative;
				font-size: var(--font-size-body-xsmall);
				color: var(--color-text-information);
				padding-left: 15px;

				&::before {
					display: block;
					content:'';
					position: absolute;
					top: 0;
					left: 0;
					counter-increment: number 1;
					content: counter(number) '. ';
					font-size: var(--font-size-body-xsmall);
					width: 11px;
					height: 18px;
				}	
				& + li {
					margin-top: var(--gap-3);
				}
			}
		}
		
		ul {
			margin-top: var(--gap-3);
			& > li {
				position: relative;
				padding: 0 0 0 8px;
				font-size: var(--font-size-body-xsmall);
				color: var(--color-text-information);

				&::before {
					display: block;
					content:'';
					position: absolute;
					top: 8px;
					left: 0;
					width: 2px;
					height: 2px;
					border-radius: 50%;
					background-color: var(--color-text-information);
				}

				& + li {
					margin-top: var(--gap-3);
				}
				strong {
					& + ul,
					& + ol {
						margin-top: var(--gap-2);
					}
				}
			}

		}

		dl {
			margin-top: var(--gap-3);

			dt, dd {
				font-size: var(--font-size-body-xsmall);
				color: var(--color-text-information);
			}
			dd {
				margin-top: var(--gap-2);
			}
		}
	}

}

.clause_list {
	counter-reset: number 0;
	> li {
		font-size: var(--font-size-body-medium);
		strong {
			font-size: var(--font-size-heading-medium);
			&::before {
				counter-increment: number 1;
				content: '제' counter(number) '조 ';
			}
			& + * {
				margin-top: var(--gap-4);
			}
		}
		& + li {
			margin-top: var(--gap-8);
		}
		p {
			margin-top: var(--gap-4);

			& + * {
				margin-top: var(--gap-5);
			}
		}
		.list_ty1 {
			margin-top: var(--gap-3);
		}
	}
}

.star_list {
	margin-top: var(--gap-2);

  	> span {
		display: block;
		position: relative;
		padding-left : 16px;
		color: var(--color-text-information);
		font-size: var(--font-size-body-small) !important;
		line-height: 1.5 !important;

		&::before {
			display: block;
			content:'*';
			width: 12px;
			height: 18px;
			position: absolute;
			top: 0;
			left: 0;
			color: var(--color-text-primary);
		}

		&:nth-child(2) {
			&::before {
				content:'**';
			}
		}
	}

	& > span + span {
		margin-top: var(--gap-2);
	}
}
.text_star1,
.text_star2 {
	&::before,
	&::after {
		display: inline-block;
		content:'*';
		color: var(--color-text-primary-bold);
	}
	&::before {
		display: none;
	}
}
.text_star2 {
	&::before,
	&::after {
		content:'**';
	}
}
.list_checking {
	padding: var(--padding-8) var(--padding-7);
	border: var(--border-width-static-regular) solid var(--color-border-gray-light);
	border-radius: var(--radius-large2);
	.circle_list {
		li {
			margin-bottom: 16px;
			padding-bottom: 16px;
			border-bottom: var(--border-width-static-regular) solid var(--color-border-gray-light);
			&:last-child {
				margin-bottom: 0;
				padding-bottom: 0;
				border-bottom: 0;
			}
		}
	}
	.radio_group_wrap {
		margin-top: var(--gap-4);
		justify-content: end;
		gap: var(--gap-6);
	}
}


//보험가입 진행 정보
.data_list {
	li {
		dl {
			display: flex;
			gap: var(--gap-2);
			font-size: var(--font-size-body-small);
			dt {
				flex: 0 0 auto;
				color: var(--color-text-disabled-on);
				padding-left: 26px;
				background-repeat: no-repeat;
				background-position: 4px 2px;
				background-size: 16px auto;
				//대상
				&.person {
					background-image: url(../images/content/bi/icon_stepper_person.svg);
				}
				//운전
				&.car {
					background-image: url(../images/content/bi/icon_stepper_car.svg);
				}
				//기간
				&.date {
					background-image: url(../images/content/bi/icon_stepper_date.svg);
				}
				//생년월일
				&.birth {
					background-image: url(../images/content/bi/icon_stepper_birth.svg);
				}
				//성별
				&.gender {
					background-image: url(../images/content/bi/icon_stepper_gender.svg);
				}
				//직업
				&.job {
					background-image: url(../images/content/bi/icon_stepper_job.svg);
				}
				//국가
				&.country {
					background-image: url(../images/content/bi/icon_stepper_country.svg);
				}
				//
				&.period {
					background-image: url(../images/content/bi/icon_stepper_period.svg);
				}
				//목적
				&.work {
					background-image: url(../images/content/bi/icon_stepper_work.svg);
				}
				//출산예정일
				&.pregnant {
					background-image: url(../images/content/bi/icon_stepper_pregnant.svg);
				}
				// 견종
				&.dog {
					background-image: url(../images/content/bi/icon_stepper_dog.svg);
				}
				// 암수
				&.sex {
					background-image: url(../images/content/bi/icon_stepper_sex.svg);
				}
				// 등록
				&.reg {
					background-image: url(../images/content/bi/icon_stepper_reg.svg);
				}
				// 고양이
				&.cat {
					background-image: url(../images/content/bi/icon_stepper_cat.svg);
				}
				// 금액
				&.won {
					background-image: url(../images/content/bi/icon_stepper_won.svg);
				}
				// 제조사
				&.maker {
					background-image: url(../images/content/bi/icon_stepper_car_maker.svg);
				}
				// 세부차명
				&.detail1 {
					background-image: url(../images/content/bi/icon_stepper_car_detail1.svg);
				}
				// 세부형식
				&.detail2 {
					background-image: url(../images/content/bi/icon_stepper_car_detail2.svg);
				}
				// 주택유형
				&.home {
					background-image: url(../images/content/bi/icon_stepper_home.svg);
				}
				// 동/호수
				&.building {
					background-image: url(../images/content/bi/icon_stepper_building.svg);
				}
				// 층
				&.floor {
					background-image: url(../images/content/bi/icon_stepper_floor.svg);
				}
				// 음식점
				&.store {
					background-image: url(../images/content/bi/icon_stepper_store.svg);
				}
				// 보험
				&.insurance {
					background-image: url(../images/content/bi/icon_stepper_insurance.svg);
				}
				// 정보
				&.info {
					background-image: url(../images/content/bi/icon_info.svg);
				}
				//사업자형태
				&.business {
					background-image: url(../images/content/bi/icon_stepper_business.svg);
				}
				//건물 형태
				&.structure {
					background-image: url(../images/content/bi/icon_stepper_structure.svg);
				}
				//업종
				&.type { 
					background-image: url(../images/content/bi/icon_stepper_type.svg);
				}
				//사업자번호
				&.regist {
					background-image: url(../images/content/bi/icon_stepper_motorcycle.svg);
				}
			}
			dd {
				color: var(--color-text-basic);
			}
		}
		& ~ li {
			margin-top: var(--gap-3);
		}

		> .info {
			padding-left: 26px;
			background: url(../images/content/bi/icon_info.svg) no-repeat 4px 3px /16px auto;
			font-size: var(--font-size-body-small);
			color: var(--color-text-disabled-on);
		}
	}
	& + .info_gray {
		margin-top: var(--gap-7);
	}

	.info_list {
		& > li {
			display: flex;
			font-size: var(--font-size-body-medium);
			color: var(--color-text-basic);
			&::before {
				content:"";
				display: flex;
				flex:none;
				width: 16px;
				height: 16px;
				background: url(../images/content/bi/icon_info.svg) no-repeat center center;
				background-size: 16px auto;
				margin: var(--padding-2) var(--gap-3) 0 var(--padding-2);
			}
		}
	}

	& + .divider_ty2 {
		margin-top: var(--gap-7);
		margin-bottom: var(--gap-7);
	}
}
.step_list {
	> li {
		position: relative;
		padding: 0 0 8px 14px;
		display: flex;
		justify-content: space-between;
		align-items: flex-start;

		&::before {
			content: '';
			position: absolute;
			top: 8px;
			left: 0;
			width: 1px;
			height: 100%;
			border-radius: 50%;
			background-color: var(--color-border-gray-light);
		}
		dl {
			display: block;
			.title {
				font-size: var(--font-size-body-medium);
				color: var(--color-text-disabled-on);
				&::after {
					content: '';
					position: absolute;
					top: 23px;
					left: -1px;
					width: 3px;
					height: 3px;
					background-color: var(--color-icon-gray);
					border-radius: 50%;
				}
			}
			dd {
				margin-top: var(--gap-3);
				font-size: var(--font-size-body-small);
				color: var(--color-text-disabled-on);
				text-align: left;
				ul {
					li {
						color: var(--color-text-disabled-on);
						span {
							color: var(--color-text-basic);
						}
						+ li {
							margin-top: var(--gap-3);
						}
					}
				}
				.info {
					margin-top: var(--gap-3);
					// display: none;
				}
			}
		}
		.modify {
			width: 32px;
			height: 32px;
			padding: 7px;
			border: 1px solid var(--color-button-icon-fill-border);
			border-radius: 50%;
			.hd_icon {
				width: 16px;
				height: 16px;
			}
		}
		& + li {
			padding-top: var(--gap-5);
		}
		&:first-child {
			dl {
				dt {
					&::after {
						top: 8px;
					}
				}
			}
		}
		&:last-child {
			&::before {
				height: 18px;
			}
		}
		&.active {
			> dl {
				> dt {
					color: var(--color-text-basic);
					font-weight: 700;
				}
			}
			.info {
				display: block;
			}
			
			& ~ li {
				dl dd,
				.modify {
					display: none;
				}
			}
		}
	}
}

.repair_list {
	.item {
		padding: 16px 0 16px 44px;
		background-repeat: no-repeat;
		background-position: left center;
		background-size: 32px auto;

		@for $i from 1 through 5 {
			&.opt#{$i}{
				background-image: url(../images/content/cpbn/icon_repair#{$i}.svg);
			}
		}
		.cont {
			font-size: var(--font-size-body-medium);

			& + .desc {
				margin-top: var(--gap-2);
			}
		}
		.desc {
			font-size: var(--font-size-body-small);
			color: var(--color-text-subtle);
		}
		& + .item {
			border-top: var(--border-width-static-regular) solid var(--color-divider-gray-light);
		}
	}
}
.call_info_list {
	.item {
		position: relative;
		display: block;
		background-repeat: no-repeat;
		background-position: 20px center;
		//background-size: 24px auto;
		background-size: 32px auto;
		border: var(--border-width-static-regular) solid var(--color-divider-gray-light);
		border-radius: var(--radius-large2);
		//padding: 24px 64px 24px 56px;
		padding: calc(var(--padding-8) - 1px) 55px calc(var(--padding-8) - 1px) 63px;



		@for $i from 1 through 5 {
			&.opt#{$i}{
				background-image: url(../images/content/cnsl/icon_call_info#{$i}.svg);
			}
		}

		&::after {
				content: '';
				position: absolute;
				top: 50%;
				right: 20px;
				width: 32px;
				height: 32px;
				background: transparent url(../images/icon/arrowRight_ty4.svg) no-repeat center / 24px auto;
				transition: all 0.3s;
				transform: translateY(-50%);
			}
		&.call {
			// padding: 24px 64px 24px 56px;
			&::after {
				background-image: url(../images/icon/icon_call_fill_ty2.svg);
			}
		}
		.title {
			font-size: var(--font-size-body-medium);
			& + .cont {
				//margin-top: 1px;
				margin-top: var(--gap-2);
			}
		}
		.cont {
			display: flex;
			align-items: center;
			flex-wrap: wrap;
			strong {
				display: flex;
				align-items: center;
				gap: var(--gap-2);
				font-size: var(--font-size-heading-small);
				color: var(--color-text-bolder);
				&::after {
					content: '';
					display: block;
					width: 1px;
					height: 12px;
					margin-right: var(--gap-2);
					background: var(--color-border-gray-light);
				}
			}
			+ .desc {
				margin-top: var(--gap-3);
			}
			&:not(.no_flex) {
				// gap: var(--gap-3);
			}
			&.no_flex {
				.desc {
					margin-top: var(--gap-2);
				}
			}
		}
		.desc {
			font-size: var(--font-size-body-small);
			color: var(--color-text-subtle);
		}
		& + .item {
			margin-top: var(--gap-5);
		}
	}
}

.has_title {
	li {
		& + li {
			margin-top: var(--gap-9);
		}
		&::before {
			top: 43px;
		}
		.pop_title_h2 {
			margin-left: -18px;
			margin-bottom: var(--gap-5);
		}
	}
}

ul li .table_wrap,
ol li .table_wrap {
	margin-top: var(--gap-4);
	& + .table_wrap {
		margin-top: var(--gap-3);
	}
	& + .list_ty2 {
		margin-top: var(--gap-3);
		li + li {
			margin-top: var(--gap-3);
		}
	}
}