/* Header Navigation */
.nav_menu_wrap {
	visibility: hidden;
	position: fixed;
	top:0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 100;
	// background: rgba(0,0,0,.5);
	transition: all .3s ease;

	&::before {
		content:'';
		position: absolute;
		top:0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0,0,0,.6);
		opacity: 0;
		transition: opacity .3s ease;
	}

	.nav_menu_inner {
		height: 100%;
		padding: 10px;
		background-color: #fff;
		transform: translateX(100%);
		transition: transform .4s ease;
	}

	&.active {
		visibility: visible;
		opacity: 1;

		&:before {
			opacity: 1;
		}

		.nav_menu_inner {
			transform: translateX(0);
		}
	}
}

*:focus {
	background: red;
}