.hpi_gnb {
	display: inline-flex;
	align-self: flex-end;
}

.nav_list {
	display: flex;
	.nl_dept1_link {
		position: relative;
		z-index: 11;
		display: block;
		width: 120px;
		padding: 8px 0 24px 0;
		&::after {
			content: '';
			position: absolute;
			bottom: 0;
			left: 50%;
			width: 0;
			border-bottom: 3px solid var(--color-divider-gray-darker);
			transition: width 0.3s, left 0.3s;
			pointer-events: none;
		}
		> .text {
			display: block;
			font-weight: 700;
			font-size: var(--font-size-navigation-depth-medium);
		}
		&.active {
			&::after {
				left: 0;
				width: 100%;
			}
		}
	}
}

.nld_cont {
	position: absolute;
	top: 120px;
	left: 0;
	z-index: 10;
	width: 100%;
	text-align: center;
	border-radius: 0px 0px var(--radius-xxlarge) var(--radius-xlarge2);
	background-color: var(--color-background-white);
	visibility: hidden;
	opacity: 0;
	transform-origin: top center;
	transform: scaleY(0);
	transition: 0.3s;
	.nld_cont_inner {
		display: inline-block;
		width: 1188px;
		padding: var(--gap-8) 0px var(--gap-12) 0px;
		text-align: left;		
		.nld_cont_top {
			display: flex;
			padding: var(--padding-3) var(--padding-5);
			.nld_cont_top_btn {
				display: inline-block;
				padding-left: 52px;
				background-repeat: no-repeat;
				background-position: left center;
				> .text {
					display: block;
					padding: 0 28px 0 0;
					font-weight: 700;
					font-size: var(--font-size-navigation-title-medium);
					line-height: 40px;
					background: url(../images/icon/arrowRight_ty5.svg) no-repeat right center / 24px auto;
				}
				// &.nld_cont_top_btn_ty1 {
					
				// }
			}
		}

		.nld_cont_body {
			padding: var(--gap-6) 0 0 var(--padding-11);
		}
	}


	.nld_cont_body_list {
		display: flex;
		width: 100%;
		> li {
			flex: none;
			position: relative;
			width: 246px;
			+ li {
				padding-left: 49px;
				&::before {
					content: '';
					position: absolute;
					top: 0;
					left: 24px;
					height: 100%;
					border-left: 1px solid var(--color-divider-gray-light);
				}
			}
		}

		.nl_dept2 {
			> .nl_dept2_tit {
				display: block;
				padding: 0 var(--padding-5);
				font-weight: 700;
				font-size: var(--font-size-heading-xxsmall);
				+ .nl_dept2_list {
					padding-top: var(--gap-3);
				}
			}
		}

		.nl_dept2_list {
			> .item {
				a {
					display: block;
					padding: var(--padding-3) var(--padding-5);
					border-radius: var(--radius-small2);
					transition: 0.3s;
					> .text {
						display: inline-block;
						font-size: var(--font-size-navigation-depth-medium);
						background-repeat: no-repeat;
						background-position: right center;
					}
					&:hover,
					&:focus {
						background-color: var(--color-button-tertiary-fill-hover);
					}
					&.ex_con {
						> .text {
							padding-right: 20px;
							background-image: url(../images/header/icon_gnb_link_ty1.png);
						}
						&.active {
							> .text {
								color: var(--color-text-primary);
								background-image: url(../images/header/icon_gnb_link_ty2.png);
							}
						}
					}
				}
			}
		}
	}
}

.nl_dept1 {
	&:has(*:hover),
	&:has(*:focus) {
		.nl_dept1_link {
			&::after {
				left: 0;
				width: 100%;
			}
		}
		.nld_cont {
			opacity: 1;
			visibility: visible;
			transform: scaleY(1);
		}
	}
}

.header_pc_nd {
	.nav_list {
		.nl_dept1_link {
			&::after {
				border-bottom: 3px solid var(--color-border-warning-light, #FFE0A3);
			}
			> .text {
				color: var(--color-text-bolder-inverse);
			}
		}
		.nld_cont {
			top: 72px;
		}
	}
}


.wrap {
	&::before {
		content: '';
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 40;
		background-color: rgba(0, 0, 0, 0.75);
		opacity: 0;
		visibility: hidden;
		transition: 0.3s;
	}
	&:has(.nl_dept1 *:hover),
	&:has(.nl_dept1 *:focus) {
		&::before {
			opacity: 1;
			visibility: visible;
		}
	}

}

