/* Pager */
.pager_wrap {
	display: flex;
	justify-content: center;
	.pager_cont {
		display: inline-flex;
		justify-content: space-around;
		gap: var(--gap-3);
		.pager {
			display: flex;
			align-items: center;
			justify-content: space-around;
		}
		button {
			border-radius: 12px;
			font-size: var(--font-size-body-medium);
			color: var(--color-text-subtle);
			&.number {
				width: 40px;
				height: 40px;
				color: inherit;
				text-align: center;
				background: transparent;
			}
			&.pager_btn {
				height: 40px;
				&.first {
					padding: 0 8px 0 24px;
					background: url(../images/icon/arrowLeft_ty1.svg) no-repeat 4px center / 20px auto;
				}
				&.prev {
					padding: 0 8px 0 24px;
					background: url(../images/icon/arrowLeft_ty1.svg) no-repeat 4px center / 20px auto;
				}
				&.next {
					padding: 0 24px 0 8px;
					background: url(../images/icon/arrowRight_ty4.svg) no-repeat right 4px center / 20px auto;
				}
				&.last {
					padding: 0 24px 0 8px;
					background: url(../images/icon/arrowRight_ty4.svg) no-repeat right 4px center / 20px auto;
				}
			}
			&.active {
				background: var(--color-action-secondary-active);
				> span {
					font-weight: 700;
					color: var(--color-text-inverse-static);
				}
			}
			&:not(.active):active {
				background-color: var(--color-action-secondary-pressed);
			}
		}
		

	}
}