
.progress_bar {
	&.progress_bar_ty1 {
		.progress_bar_per_cover {
			padding: 10px 0;
		}
		
		.progress_bar_per {
			position: relative;
			border-radius: 50px;
			background-color: var(--color-element-gray-light);
			// &::before {
			// 	// content: '';
			// 	position: absolute;
			// 	top: calc(50% - 2px);
			// 	left: 0;
			// 	// z-index: -1;
			// 	width: 100%;
			// 	height: 4px;
			// 	border-radius: 50px;
			// 	background-color: var(--color-element-gray-light);
			// }
			.per_bar {
				position: relative;
				right: 0;
				width: 0;
				height: 4px;
				border-radius: 50px;
				background-color: var(--color-element-primary);
				&.active {
					transition: width 1.3s ease;
					.per_bar_dp {
						left: auto;
						right: 0;
						transform: translateX(50%);
					}
				}
				&.pos {
					position: static;
					.per_bar_dp {
						left: 0;
						right: auto;
						transform: none;
						transition: none;
					}
				}
				&.poe {
					position: static;
					.per_bar_dp {
						left: auto;
						right: 0;
						transform: none;
						transition: right 1.3s ease;
					}
				}
			}
		}
		.per_bar_dp {
			position: absolute;
			top: calc(50% - 12px);
			// top: calc(50% - 28px);
			// left: 0;
			right: 100%;
			padding: 0 8px;
			font-size: var(--font-size-body-xsmall);
			color: var(--color-text-point);
			line-height: 22px;
			border-radius: var(--radius-large1);
			border: var(--border-width-static-regular) solid var(--color-border-primary);
			background-color: var(--color-surface-primary-subtler);
			white-space: nowrap;
			transition: left 1.3s ease;
			> .text {
				display: block;
				padding-left: 20px;
				background-repeat: no-repeat;
				background-position: left center;
				background-size: 16px auto;
			}
			&.dp_ic1 {
				> .text {
					background-image: url(../images/icon/icon_progress_ty1.svg);
				}
			}
			&.dp_ic2 {
				> .text {
					background-image: url(../images/icon/icon_progress_ty2.svg);
				}
			}			
		}

		.progress_bar_bottom {
			display: flex;
			align-items: center;
			justify-content: space-between;
			margin-top: var(--gap-3);
			font-size: var(--font-size-body-xsmall);
			color: var(--color-text-disabled-on);
		}
	}
	
}

.progress_bar_ty2 {
	.progress_bar_per {
		position: relative;
		border-radius: 50px;
		
		.per_bar {
			position: relative;
			height: 2px;
			border-radius: 4px;
			background-color: var(--color-element-gray-light);
		}
	}
	.per_bar_dp {
		position: absolute;
		top: -1px;
		left: 0;
		width: 0;
		height: 4px;
		font-size: var(--font-size-body-xsmall);
		color: var(--color-text-point);
		line-height: 22px;
		border-radius: 4px;
		background-color: var(--color-border-secondary);
		white-space: nowrap;
		transition: width 1.3s ease;

		&:after {
			position: absolute;
			top: -3px;
			right: -2px;
			content:'';
			width: 10px;
			height: 10px;
			background: url(../images/icon/progressbar_dot.svg) no-repeat center / 8px auto;
		}
	}
	.text_item {
		margin-top: var(--gap-3);
		display: flex;
		justify-content: space-between;
		align-items: center;
		font-size: var(--font-size-body-xsmall);
		color: var(--color-text-subtle);
	}
	&.danger {
		.per_bar_dp {
			background-color: var(--color-border-danger);
		}
	}
}

.progress_bar_ty3 {
	.progress_bar_per_cover {

		.per_bar {
			overflow: hidden;
			display: flex;
			gap: 1px;
			border-radius: 16px;

			.per_bar_dp {
				display: block;
				height: 32px;

				&.dp_ty1 {
					background-color: var(--color-element-primary);
				}
				&.dp_ty2 {
					background-color: var(--color-element-secondary);
				}
			}
		}
	}
	.progress_bar_bottom {
		display: flex;
		justify-content: space-between;
		gap:8px;
		margin-top: var(--gap-3);
		font-size: var(--font-size-label-small);
		color: var(--color-text-subtle);

		.pbb_right {
			text-align: right;
		}

		strong {
			color: var(--color-text-secondary);

			&.point {
				color: var(--color-text-primary-bold);
			}
		}
	}
	.progress_bar_title {
		margin-top: var(--gap-4);
		font-size: var(--font-size-body-small);
		color: var(--color-text-subtle);
		text-align: center;
	}
}

.progress_bar_ty4 {
	.progress_bar_per {
		position: relative;
		border-radius: 50px;
		
		.per_bar {
			position: relative;
			height: 2px;
			border-radius: 4px;
			background-color: var(--color-element-gray-light);
		}
	}
	.per_bar_dp {
		position: absolute;
		top: -1px;
		left: 0;
		width: 0;
		height: 4px;
		font-size: var(--font-size-body-xsmall);
		color: var(--color-text-point);
		line-height: 16px;
		border-radius: 4px;
		background-color: var(--color-border-danger);
		white-space: nowrap;
		transition: width 1.3s ease;

		&:after {
			position: absolute;
			top: -2px;
			right: -2px;
			content:'';
			width: 8px;
			height: 8px;
			background: var(--color-surface-white);
			border-radius: 50%;
			border: 1px solid var(--color-border-danger);
		}
	}
	.text_item {
		margin-top: 6px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		font-size: var(--font-size-body-xsmall);
		color: var(--color-text-subtle);
	}
	&.sufficient {
		.per_bar_dp {
			background-color: var(--color-border-secondary);
			&:after {
				border-color: var(--color-border-secondary);
			}

		}
	}
}