/* Radiobutton */
.inp_radio {
	&[class*=rd_btn]{
		input[type='radio']{
			& + label {
				position: relative;
				display: flex;
				width: 100%;
				height: 100%;
				align-items: center;
				padding: var(--padding-3) var(--number-6);

				&.ty2 {
					flex-direction: column;
					justify-content: center;
					align-items: start;
				}

				&:before {
					content: none;
				}
				&:after {
					content:'';
					position: absolute;
					top:0;
					left:0;
					display: block;
					width: 100%;
					height: 100%;
					border: var(--border-width-static-regular) solid var(--color-border-gray-light);
					border-radius: var(--radius-medium1);
					transition: border-color 0.3s;
				}

				.sm_txt {
					display: block;
					margin-top: var(--gap-2);
					color: var(--color-text-subtle);
					font-size: var(--font-size-body-small);
				}

				.label_cont {
					.badge_wrap {
						width: auto;
						gap: 4px;
					}
				}
			}

			&:checked {
				& + label {
					&:after {
						border: var(--border-width-static-medium) solid var(--color-border-primary);
					}
				}
			}
			
			&:disabled {
				& + label {
					color: var(--color-text-disabled-on);
					background-color: var(--color-action-disabled);
					&:after {
						border: 1px dashed var(--color-border-disabled);
					}
				}
				&:checked {
					& + label {
						color: var(--color-text-disabled-on);
						// background-color: var(--color-action-disabled);
						background-color: var(--color-element-gray-lighter);
						& > .label_cont {
							color: var(--color-text-basic);
						}
						&:after {
							// border: var(--border-width-static-regular) solid var(--color-action-disabled);
							border: var(--border-width-static-regular) solid var(--color-border-gray-darker);
						}
					}
				}

			}
		}
	}

	&.rd_btn {
		input[type='radio']{
			& + label {
				min-height: 56px;
				justify-content: center;
				border-radius: var(--radius-medium1);
				// padding: var(--padding-5) var(--padding-6);
				padding: 0 var(--padding-6);

				> span {
					font-size: var(--font-size-button-large);
					text-align: center;
				}
			}
		}

		&_s1 {
			input[type='radio']{
				& + label {
					min-height: 72px;
					padding: calc(var(--padding-5) - 2px) var(--padding-6);
					color: var(--color-text-basic);
					border-radius: var(--radius-medium3);
					> span {
						text-align: left;
						font-size: var(--font-size-button-large);
						span {
							display: block;
							padding-top: var(--gap-2);
							font-size: var(--font-size-body-small);
							color: var(--color-text-subtle);
						}
					}
				}
			}
		}

		&_s2 {
			input[type='radio']{
				& + label {
					min-height: 40px;
					justify-content: center;
					border-radius: var(--radius-small3);
					padding: 0 var(--padding-6);

					> span {
						font-size: var(--font-size-button-medium);
						line-height: 21px;
					}
				}
			}
		}

		&_s3 {
			input[type='radio']{
				& + label {
					min-height: 89px;
					border-radius: var(--radius-medium3);
					padding: var(--padding-5) var(--padding-6);

					> span {
						text-align: left;
						font-size: var(--font-size-button-large);
					}
				}
			}
		}

		&_s4 {
			input[type='radio']{
				& + label {
					min-height: 48px;
					justify-content: center;
					border-radius: var(--radius-medium1);
					padding: 0 var(--padding-6);
					
					> span {
						font-size: var(--font-size-button-medium);
					}
				}
			}
		}
	}

	&.rd_img {
		--count: 100% / 3;
		flex: 0 1 calc(var(--count) - 12px);
		text-align: center;
		border-radius: var(--radius-medium1);

		input[type=radio]{
			position: absolute;
			top: 10px;
			left: 10px;
			width: 20px;
			height: 20px;
			opacity: 0;

			& + label {
				padding-left: 0;

				&:before {
					top: 10px;
					left: 10px;
					z-index: 10;
					background-color: var(--color-element-inverse);
					border-color: var(--color-border-gray-dark);
				}

				.img {
					overflow: hidden;
					position: relative;
					display: block;
					border-radius: var(--radius-medium1);

					img {
						display: block;
						width: 100%;
						height: 100%;
					}
				}

				.label_cont {
					margin-top: var(--gap-3);
					font-size: var(--font-size-label-medium);
					// color: var(--color-text-disabled);
				}
			}

			&:checked {
				& + label {
					&:before {
						background: var(--color-element-primary) url(../images/icon/check_ty1.svg) no-repeat center center/14px auto;
  					border: var(--border-width-static-regular) solid var(--color-element-primary);
					}

					.img {
						&:after {
							position: absolute;
							top:0;
							left: 0;
							content:'';
							width: 100%;
							height: 100%;
							border: var(--border-width-static-medium) solid var(--color-element-primary);
							border-radius: var(--radius-medium1);
						}

						img {
							filter: grayscale(0);
						}
					}

					.label_cont {
						color: var(--color-text-basic);
					}
				}
			}
		}
	}

	// 자동차 기초정보입력
	&.logo_add {		
		input[type='radio'] {
			+ label {
				&::before {
					content: '';
					position: static;
					display: inline-block;
					width: 32px;
					height: 32px;
					margin-right: 12px;
					border: none;
					border-radius: var(--radius-small3);
					background-repeat: no-repeat;
					background-position: center center;
					background-size: 24px auto;
					background-color: var(--color-surface-gray-subtler);
				}
			}
		}
		&.la_1 {
			label {
				&::before {
					background-image: url(../images/content/bi/icon_brand_hyundai.svg);
				}
			}
		}
		&.la_2 {
			label {
				&::before {
					background-image: url(../images/content/bi/icon_brand_kia.svg);
				}
			}
		}
		&.la_3 {
			label {
				&::before {
					background-image: url(../images/content/bi/icon_brand_renault.svg);
				}
			}
		}
		&.la_4 {
			label {
				&::before {
					background-image: url(../images/content/bi/icon_brand_gm.svg);
				}
			}
		}
		&.la_5 {
			label {
				&::before {
					background-image: url(../images/content/bi/icon_brand_kgm.svg);
				}
			}
		}
		&.la_6 {
			label {
				&::before {
					background-image: url(../images/content/bi/icon_brand_global.svg);
				}
			}
		}
	}
}


.radio_comb {
	position: relative;
	display: flex;
	font-size: var(--font-size-label-medium);
	border-radius: var(--radius-medium3);
	background: var(--color-element-gray-lighter);
	transition: all 0.3s;
	&.origin {
		&:before {
			content:'';
			position: absolute;
			top: 0;
			left: 0;
			z-index: 1;
			width: 100%;
			height: 100%;
			border-radius: var(--radius-medium3);
			border: var(--border-width-static-regular) solid var(--color-border-gray-light);
			background-color: var(--color-element-inverse);
		}
		&::after {
			content:'';
			display: block;
			position: absolute;
			top: 0;
			left: 50%;
			z-index: 10;
			width: 1px;
			height: 100%;
			background-color: var(--color-border-gray-light);
		}
		&:has(input:checked) {
			&::before {
				border: none;
				background-color: var(--color-element-gray-lighter);
			}
			&::after {
				content: none;
			}
		}
	}

	.inp_radio.rd_btn {
		position: static;
		z-index: 2;
		width: 56px;
		height: 56px;
		span.label_cont {
			position: relative;
			width: 100%;
			height: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
			font-size: var(--font-size-body-small);
		}

		input[type=radio] {
			& + label {
				// position: static;
				width: 56px;
				padding: 1px;
				border-radius: 0;
				&::before {
					content:'';
					position: absolute;
					top: 0;
					left: 0;
					display: block;
					width: 100%;
					height: 100%;
					border: none;
					border-radius: 0;
					background-color: transparent;

					// z-index: 0;
					pointer-events: none;
				}
				&::after {
					content: none;
					border-color: transparent;
				}				
				.label_cont {
					border-radius: var(--radius-medium3);
				}
			}
			&:checked {
				+ label {
					padding: 0;
					&::before {
						background-image: none;
					}
					.label_cont {
						border-radius: var(--radius-medium3);;
						background-color: var(--color-element-inverse);
						&::after {
							content: '';
							position: absolute;
							top: 0;
							left: 0;
							width: 100%;
							height: 100%;
							border-radius: var(--radius-medium3);
							border: var(--border-width-static-medium) solid var(--color-border-primary);
						}
					}
				}
			}

			&:disabled + label {
				background-color: transparent;//기존스타일 초기화

				&:after {
					background-color: var(--color-element-gray-lighter);
				}
			}
		}
	}
}



// 담보 Case
.select_radio_item {

	& + .title_h3 {
		margin-top: var(--gap-11);
	}

	.rd_btn {
		input[type=radio]{
			width: 100%;
			height: 100%;

			& + label {
				box-sizing: border-box;
				min-height: 130px;
				padding: 16px 10px;
				text-align: center;
			}
		}
		.hd_badge {
			& + .option_box {
				margin-top: var(--gap-2);
			}
		}

		.option_box {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			font-size: var(--font-size-body-small);
			color: var(--color-text-subtle);
	
	
			> strong {
				font-size: var(--font-size-button-large);
				color:  var(--color-text-basic);
			}
	
			> .trend {
				margin-top: var(--gap-2);
				font-size: var(--font-size-body-small);
	
				&.up {
					color: var(--color-text-point);
				}
				&.down {
					color: var(--color-light-secondary-60);
				}
			}
		}
	}
}