/* 선택 목록 스타일 */
.opt_select_wrap {
	position: relative;
	font-size: 0;
	text-align: center;
	margin: 0 -24px;

	& + & {
		margin-top: var(--gap-5);
	}
	& + .list_ty2 {
		margin-top: var(--gap-8);
	}
	
	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1;
		width: 64px;
		height: 100%;
		background: #fff;
		background: linear-gradient(90deg,rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 70%, rgba(255, 255, 255, 0) 100%);
		pointer-events: none;
	}
	&::after {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		z-index: 1;
		width: 64px;
		height: 100%;
		background: #fff;
		background: linear-gradient(270deg,rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 70%, rgba(255, 255, 255, 0) 100%);
		pointer-events: none;
	}

	.opt_select_inner {
		display: inline-flex;
		gap: var(--gap-5);
		white-space: nowrap;
		width: 100%;
		overflow-x: auto;
		scroll-snap-type: x mandatory;
		-ms-overflow-style: none;
    scrollbar-width: none;
		&::-webkit-scrollbar {
			display: none;
		}
		&.active {
			scroll-behavior: smooth;
		}
	}
	.opt_select {
		flex: none;
		position: relative;
		display: inline-block;
		scroll-snap-align: center;
		input {
			position: absolute;
			top: 0;
			left: 0;
			opacity: 0;
			+ label {
				display: inline-flex;
				align-items: center;
				justify-content: center;
				height: 56px;
				font-weight: 700;
				font-size: var(--font-size-button-CTA-bold);
				color: var(--color-text-disabled);
				border-radius: var(--radius-medium3);
				border: var(--border-width-static-regular) solid var(--color-element-inverse);
				background-color: var(--color-element-inverse);
				transition: border-color 0.3s background-color 0.3s;
			}
			&:checked {
				& + label {
					color: var(--color-text-basic);
					border-color: var(--color-element-secondary-lighter);
					background-color: var(--color-element-secondary-lighter);
				}
			}
		}
		&.opt_select_dmp {
			height: 56px;
		}
		&.opt_select_w1 {
			input {
				+ label {
					min-width: 98px;
					padding: 0 20px;
				}
			}
		}
	}

	.swiper_button {
		position: absolute;
		top: 50%;
		z-index: 2;
		transform: translateY(-50%);
		&_left {
			left: 8px;
		}
		&_right {
			right: 8px;
		}
	}
}

/* 선택 목록 스타일 */