* {
	& + .opt_select_list {
		&.opt_case1 {
			margin-top: var(--gap-8);
		}
		&.opt_case2 {
			margin-top: var(--gap-8);
		}
	}
}

.opt_select_list {
	// opt_case1
	&.opt_case1 {
		.option {
			padding: 5px 0;
			cursor: pointer;
			> .text {
				position: relative;
				display: block;
				padding: 23px 63px 23px 19px;
				font-size: var(--font-size-body-medium);
				color: #3E4A58;
				line-height: 24px;
				border-radius: 16px;
				border: var(--border-width-static-regular) solid #E1E3EA;
				background: url(../images/icon/arrowRight_ty4.svg) no-repeat right 20px center ;
			}

			&.active {
				> .text {
					padding: 22px 62px 22px 18px;
					border: var(--border-width-static-medium) solid var(--color-border-primary);
				}
			}

			& ~ .option {
				margin-top: var(--gap-4);
			}
		}
	
	}
	// opt_case2
	&.opt_case2 {
		.option {
			display: block;
			border-top: var(--border-width-static-regular) solid var(--color-divider-gray-light);
			> .text {
				display: block;
				padding: 24px 30px 24px 0;
				font-size: var(--font-size-body-medium);
				background: url(../images/icon/arrowRight_ty4.svg) no-repeat center right / 24px auto;
				.point {
					color: var(--color-text-primary-bold);
				}
			}


			&.active {
			}
			&.fixed {
				> .text {
					&::after {
						content: '입력';
						display: inline-block;
						margin-left: 4px;
						padding: 0 8px;
						font-size: var(--font-size-label-small);
						color: var(--color-text-subtle);
						line-height: 20px;
						border-radius: 8px;
						background: var(--color-element-gray-lighter);
					}
				}
			}
			// & ~ .option {
			// 	margin-top: 10px;
			// }
		}
	
		&.sm {
			border-bottom: var(--border-width-static-regular) solid var(--color-divider-gray-light);
			.option {
				> .text {
					padding:var(--padding-6) calc(24px + var(--padding-6)) var(--padding-6) 0;
					background-size: 20px auto; 
					background-position-x: calc(100% - 2px);
				}
			}
		}
	}
	// opt_case3 
	&.opt_case3 {
		margin: 0 -24px;
		.option {
			display: flex;
			align-items: center;
			padding: 0 24px;

			> .text {
				flex: 1;
				position: relative;
				display: block;
				padding: 16px 0;
				font-size: var(--font-size-body-medium);
				color: var(--color-text-basic);
				line-height: 24px;
			}
			> .desc {
				padding: 16px 0;
				font-size: var(--font-size-body-medium);
				color: var(--color-text-basic);
				line-height: 24px;
			}

			&.link {
				> .text {
					padding-right: 32px;
					background: url(../images/icon/arrowRight_ty4.svg) no-repeat right center / 20px auto;
				}
			}
			&.blank {
				> .text {
					padding-right: 32px;
					background: url(../images/icon/icon_blank.svg) no-repeat right center / 20px auto;
				}
			}

			

			&.active {
				background-color: var(--color-action-secondary-selected);
			}

			// icon_blank
		}
	
	}
	// opt_case4 {
	&.opt_case4 {
		&.align_center {
			.option {
				.item {
						align-items: center;
					}
			}
		}                         

		&.align_end {
			.option {
				.item {
					align-items: flex-end;
				}
			}
		}

		.option {
			display: block;
			padding: 16px 0;
			border-top: var(--border-width-static-regular) solid var(--color-divider-gray-light);

			.name {
				flex: none;
				display: block;
				font-size: var(--font-size-label-medium);
			}
			.date {
				flex: none;
				display: block;
				font-size: var(--font-size-body-xsmall);
				color: var(--color-text-subtle);
			}

			> .item {
				display: flex;
				align-items: flex-start;
				justify-content: space-between;
				gap: 0 8px;
				font-size: var(--font-size-body-medium);
				color: var(--color-text-basic);
				.data_l {
					display: flex;
					flex-direction: column;
					gap: 4px 0;
					// padding-top: 2px;
				}
				.data_r {
					text-align: right;
					.price {
						display: block;
						font-weight: 700;
						font-size: var(--font-size-body-medium);
						color: var(--color-text-primary-bold);
					}

				}
				&.flex_st {
					justify-content: flex-start;
					gap: 4px;
					.badge_wrap {
						width: auto;
					}
				}
			}

			.item {
				& + .item {
					margin-top:.4rem;
				}
			}

			&:last-child {
				border-bottom: var(--border-width-static-regular) solid var(--color-divider-gray-light);
			}
		}
		a.option {
			padding: 16px 32px 16px 0;
			background: url(../images/icon/arrowRight_ty4.svg) no-repeat right 16px;
		}

		+ .info_gray {
			margin-top: var(--gap-5);
		}

		+ .btn_area {
			margin-top: var(--gap-5);
		}
	
	}

	// opt_case5 {
	&.opt_case5 {
		> li {
			.option {
				display: block;
				padding: 16px 32px 16px 0;
				border-top: var(--border-width-static-regular) solid var(--color-divider-gray-light);
				background-image: url(../images/icon/arrowRight_ty4.svg);
				background-position: center right;
				background-size : 24px 20px;
				background-repeat: no-repeat;
				&.link {
					background-image: url(../images/icon/icon_new_open.svg);
				}

				.opi_t1 {
					display: block;
					font-size: var(--font-size-body-medium);
					
				}
				.opi_t2 {
					display: block;
					font-size: var(--font-size-body-small);
					color: var(--color-text-subtle);
					margin-top: var(--gap-2);
				}
			}
			&:last-child {
				.option {
					border-bottom: var(--border-width-static-regular) solid var(--color-divider-gray-light);
				}
			}
		}

		+ .title_h3 {
			margin-top: var(--gap-11);
		}
	}
}


.opt_select_list_top {
	padding-bottom: var(--gap-5);
	&.right {
		text-align: right;
	}
}