.selectitem_wrap {
	display: flex;
	align-items: stretch;
	justify-content: space-between;
	gap: 12px;
	&.row_ty1 {
		> div:first-child {
			flex: 1.9 1 0;
		}
	}
	&.row_ty2 {
		> div:last-child {
			flex: 1.9 1 0;
		}
	}
	.select_item {
		flex: 1 1 0;

		&.select_item_case01 {
			& + .select_item_case01 {
				margin-top: 0;
			}

			.select_item_inner {
				height: 100%;
				.si_item {
					display: flex;
					align-items: center;
					height: 100%;					
				}
			}

			&.select_item_case01_mi {
				& + .select_item_case01_mi {
					margin-top: 0;
				}
			}
			&.select_item_case01_sm {
				& + .select_item_case01_sm {
					margin-top: 0;
				}
			}
		}

		& + .select_item {
			margin-top: 0;
		}
	}
	+ .search_inp_box {
		margin-top: var(--gap-4);
	}
	+ .btn_area,
	+ .search_result_count {
		margin-top: var(--gap-5);
	}
}


.select_item {
	&.select_item_case01 {
		.si_item {
			position: relative;
			min-height: 24px;
			padding: 16px 44px 16px 16px;
			font-size: var(--font-size-label-large);
			color: var(--color-text-subtle);
			word-break: break-all;
			border-radius: var(--radius-medium3);
			background: var(--color-input-surface) url(../images/icon/arrowDown_ty3.svg) no-repeat right 16px center / 20px auto;
			+ .si_stat {
				position: absolute;
				width: 1px;
				height: 1px;
				overflow: hidden;
				white-space: nowrap;
				clip: rect(0, 0, 0, 0);
				clip-path: inset(50%);
			}
			&:empty {
				&::before {
					content: attr(data-placeholder);
					display: block;
					min-height: 24px;
					color: var(--color-text-disabled);					
				}
				+ .si_stat {
					display: none;
				}
			}
			&::after {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				border-radius: var(--radius-medium3);
				border: var(--border-width-static-regular) solid var(--color-input-border);
				pointer-events: none;
				transition: all 0.3s;
			}
		}
		&:focus {
			.si_item {
				color: var(--color-text-basic);
			}
		}
		&.select_item_case01_mi {
			min-height: 21px;

			& + .select_item_case01_mi,
			& + .search_result_count {
				margin-top: var(--gap-5);
			}

			.si_item {
				padding: 13px 40px 14px 16px;
				font-size: var(--font-size-label-medium);
				border-radius: var(--radius-medium2);
				background-size: 16px auto;
				&:empty {
					&::before {
						min-height: 18px;
					}
				}
				&::after {
					border-radius: var(--radius-medium2);
				}
			}
		}
		&.select_item_case01_sm {
			min-height: 18px;

			& + .select_item_case01_sm {
				margin-top: var(--gap-5);
			}

			.si_item {
				padding: 11px 40px 11px 16px;
				font-size: var(--font-size-label-small);
				border-radius: var(--radius-medium1);
				background-size: 16px auto;
				&:empty {
					&::before {
						min-height: 18px;
					}
				}
				&::after {
					border-radius: var(--radius-medium1);
				}
			}
		}
	}

	&.select_item_case02 {
		cursor: pointer;
		.si_item {
			position: relative;
			width: fit-content;
			min-height: 24px;
			padding: 0 24px 0 0;
			font-size: var(--font-size-heading-small);
			word-break: break-all;
			background: transparent url(../images/icon/arrowDown_ty3.svg) no-repeat right center / 18px auto;
			+ .si_stat {
				position: absolute;
				width: 1px;
				height: 1px;
				overflow: hidden;
				white-space: nowrap;
				clip: rect(0, 0, 0, 0);
				clip-path: inset(50%);
			}
			&:empty {
				&::before {
					content: attr(data-placeholder);
					display: block;
					min-height: 24px;
					color: var(--color-text-disabled);				
				}
				+ .si_stat {
					display: none;
				}
			}
			&::after {
				display: none;
			}
		}

		&.title_h4 {
			.si_item {
				font-size: var(--font-size-heading-small);
				font-weight: 700;
			}
		}

		&[aria-disabled="true"] {
			pointer-events: none;
			.si_item {
				background-color: transparent;
				&:empty {
					&::before {
						color: var(--color-text-disabled-on);					
					}
				}
				&::after {
					border: none;
				}
			}
		}

	}

	&.si_ellipsis {
		.si_item {
			display: block;
			text-overflow: ellipsis;
			white-space: nowrap;
			overflow: hidden;
		}
	}
	&.error {
		.si_item {
			&::after {
				border: var(--border-width-static-medium) solid var(--color-input-border-error);
			}
		}
	}
	&[aria-disabled="true"] {
		pointer-events: none;
		.si_item {
			background-color: var(--color-input-surface-disabled);
			&:empty {
				&::before {
					color: var(--color-text-disabled-on);					
				}
			}
			&::after {
				border: var(--border-width-static-regular) solid var(--color-input-border-disabled);
			}
		}
	}

	& + & {
		margin-top: var(--gap-8);
	}
	& + .input_text,
	& + .info_gray,
	& + .btn_area,
	& + .inp_checkbox {
		margin-top: var(--gap-5);
	}
}