// space_list_ty1
.space_list_ty1 {
	> * {
		+ * {
			margin-top: var(--gap-4);
		}
	}
}

// space_list_ty2
.space_list_ty2 {
	> * {
		+ * {
			margin-top: var(--gap-5);
		}
	}

	& + .dp_cont_ty1,
	& + [class^=title_h] {
		margin-top: var(--gap-11);
	}
}

// space_list_ty3
.space_list_ty3 {
	> * {
		+ * {
			margin-top: 30px;
		}
	}
}

// space_list_ty4
.space_list_ty4 {
	> * {
		+ * {
			margin-top: var(--gap-11);
		}
	}
	& + .space_list_ty4_next {
		&.space_list_ty4_next_ty1 {
			margin-top: var(--gap-8);
		}
	}
}

// space_list_ty 
.space_list_ty5 {
	> * {
		+ * {
			margin-top: var(--gap-8);
		}
	}

	& + .banner_box {
		margin-top: var(--gap-8);
	}
	
	& + .search_result_count { 
		margin-top: var(--gap-5);
	}
}


// 스크롤 이벤트 간격 정의용
.pec_point_wrap {
	&.ppw_space_1 {
		.pec_point {
			// padding-bottom: var(--gap-11);
			&:last-child {
				padding-bottom: 0;
			}
			// &:first-child {
			// 	padding-top: 0;
			// }
		}
	}

}

/* 컨텐츠 show/hide 용 */
.fake_form_group_wrap {
	+ .form_group_wrap {
		margin-top: var(--gap-8);
	}
	// &.hidden,
	&[style*="display: none"] {
		+ .form_group_wrap {
			margin-top: 0;
		}		
	}
}

.form_group_wrap {
	+ .fake_form_group_wrap {
		> .title_h3 {
			&:first-child {
				margin-top: var(--gap-11);
			}
		}
	}
}
/* 컨텐츠 show/hide 용 */



/* 조회 탭 결과 컨텐츠 간격용 */
.tab_wrap_rst {
	&.tab_wrap_rst_ty1 {
		padding-top: var(--gap-5);
	}
}
/* 조회 탭 결과 컨텐츠 간격용 */