// space_list_ty1
.space_list_ty1 {
	> * {
		+ * {
			margin-top: var(--gap-4);
		}
	}
}

// space_list_ty2
.space_list_ty2 {
	> * {
		+ * {
			margin-top: var(--gap-5);
		}
	}

	& + .dp_cont_ty1,
	& + [class^=title_h] {
		margin-top: var(--gap-11);
	}
}

// space_list_ty3
.space_list_ty3 {
	> * {
		+ * {
			margin-top: 30px;
		}
	}
}

// space_list_ty4
.space_list_ty4 {
	> * {
		+ * {
			margin-top: var(--gap-11);
		}
	}
}

// space_list_ty 
.space_list_ty5 {
	> * {
		+ * {
			margin-top: var(--gap-8);
		}
	}

	& + .banner_box {
		margin-top: var(--gap-8);
	}
}


// 스크롤 이벤트 간격 정의용
.pec_point_wrap {
	&.ppw_space_1 {
		.pec_point {
			// padding-bottom: var(--gap-11);
			&:last-child {
				padding-bottom: 0;
			}
			// &:first-child {
			// 	padding-top: 0;
			// }
		}
	}

}