/* 예시 */
#swiper1 {
	.swiper-slide {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 100px;
		background-color: skyblue;
		&:nth-child(even) {
			background-color: #ddd;
		}
	}
}