.tab_wrap {

}

.tab_wrap_list {
	.tab_btn {
		padding: 10px 20px;
		font-size: 12px;
		&.active {
			background-color: blue;
			color: #FFF;
		}
	}
}

.tab_wrap_content {
	display: none;
	&.active {
		display: block;
	}
}

.tab_scroll_box {
	overflow-x: auto;
	.tab_wrap_list {
		display: inline-flex;
		align-items: center;

		.tab_btn {
		}
	}
}