.tab_wrap {
	& + .info_gray,
	& + .acd_item_ty4 {
		margin-top: var(--gap-11);
	}

	[class^=tab_scroll_box]{
		position: relative;
	}
}


// tab type1
.tab_wrap_list_ty1 {
	display: flex;
	margin: 0 -24px;
	border-bottom: var(--border-width-static-regular) solid var(--color-border-gray-light);

	.tab_btn {
		position: relative;
		flex:1;
		padding: 12px 8px;
		font-size: var(--font-size-body-medium);
		line-height: 24px;
		color: var(--color-text-subtle);
		background-color: var(--color-background-white);
		text-align: center;

		.hd_badge {
			margin-left: var(--gap-2);
			vertical-align: top;
		}

		&.active {
			font-weight: 700;
			color: var(--color-text-basic);

			&:before { 
				position: absolute;
				bottom: -1px;
				left: 0;
				z-index: 5;
				content:'';
				width: 100%;
				height: 3px;
				background-color: #1E2124;
			}
		}

		&:disabled {
			color: var(--color-text-disabled);
		}
	}

	&.scroll {
		.tab_btn {
			&.active {
				&:before { 
					bottom: 0;
				}
			}
		}
	}
}

// tab type2
.tab_wrap_list_ty2 {
	display: flex;
	border-radius: var(--radius-medium1);
	background-color: var(--color-surface-gray-subtle);
	overflow: hidden;
	.tab_btn {
		flex: 1 1 0;
		padding: 12px 16px;
		font-size: var(--font-size-body-medium);
		text-align: center;
		border-radius: var(--radius-medium1);
		border: var(--border-width-static-regular) solid var(--color-surface-gray-subtle);
		background-color: var(--color-surface-gray-subtle);
		transition: all 0.3s;	

		&.icon_add {
			.text {
				display: inline-block;
				padding-left: 36px;
				background-repeat: no-repeat;
				background-position: left center;
				background-size: 32px auto;
			}
			&.icon_add_ty1 {
				.text {
					background-image: url(../images/icon/icon_tab_ty1_off.svg);
				}
			}
			&.icon_add_ty2 {
				.text {
					background-image: url(../images/icon/icon_tab_ty2_off.svg);
				}
			}
			&.icon_add_ty3 {
				.text {
					background-image: url(../images/icon/icon_tab_ty3_off.svg);
				}
			}
			&.icon_add_ty4 {
				.text {
					background-image: url(../images/icon/icon_tab_ty4_off.svg);
				}
			}
		}

		&.active {
			border: var(--border-width-static-regular) solid var(--color-border-gray-dark);
			background-color: var(--color-action-white);
			box-shadow: 0px 1px 2px 0px var(--color-alpha-shadow1, rgba(0, 0, 0, 0.05)), 0px 0px 2px 0px var(--color-alpha-shadow1, rgba(0, 0, 0, 0.05));
			
			&.icon_add {
				&.icon_add_ty1 {
					.text {
						background-image: url(../images/icon/icon_tab_ty1.svg);
					}
				}
				&.icon_add_ty2 {
					.text {
						background-image: url(../images/icon/icon_tab_ty2.svg);
					}
				}
				&.icon_add_ty3 {
					.text {
						background-image: url(../images/icon/icon_tab_ty3.svg);
					}
				}
				&.icon_add_ty4 {
					.text {
						background-image: url(../images/icon/icon_tab_ty4.svg);
					}
				}
			}
		}
	}

	&.tag {
		gap: var(--gap-3);
		background: none;
		.tab_btn {
			flex: 0 0 auto;
			min-width: 40px;
			// padding: var(--padding-2, 4px) var(--padding-4, 10px);
			// padding: 7px var(--padding-4, 10px);
			padding:var(--padding-4) 12px;
			background-color: var(--color-element-secondary-lighter);
			// font-size: var(--font-size-label-small);
			font-size: var(--font-size-label-medium);
			line-height: 20px;
			color: var(--color-text-basic);
			border-radius: var(--radius-max);
			border: 0;
			box-shadow:none;

			&.active {
				background-color: var(--color-border-secondary);
				color: var(--color-text-basic-inverse);
			}
		}
	}
}

.tab_wrap_content {
	display: none;
	padding-top: var(--padding-9);

	&.active {
		display: block;
	}

	&.has_scroll {
		overflow-y: auto;
	}
}

.tab_wrap {
	&.tab_wrap_ty2 {
		.tab_wrap_content {
			padding-top: var(--padding-8);
		}

		& + .list_ty2 {
			margin-top: var(--gap-11);
		}
		// 탭인탭 간격(버튼태그 디자인)
		&:has(.tab_wrap_list_ty2.tag) {
			.tab_wrap_content {
				padding-top: var(--padding-9);
			}	
		}
	}

	& + .title_h3 {
		margin-top: var(--gap-11);
	}
}

[class^=tab_scroll_box] {
	overflow-x: auto;
	margin: 0 -24px;
	padding: 0 24px;
	// scrollbar-color: #aaa white;
	
	[class^=tab_wrap_list] {
		&.scroll {
			position: relative;
			display: inline-flex;
			align-items: center;
			white-space: nowrap;
		}
	}
}

.tab_scroll_box_ty1 {
	border-bottom: var(--border-width-static-regular) solid var(--color-border-gray-light);

	.tab_wrap_list_ty1 {
		margin: 0;
		border-bottom: 0;
		
		.tab_btn {
			min-width: 64px;
			padding: 12px 8px;
			flex: none;
			&:first-child {
				margin-left: 24px;
			}
		}
	}
}


/* 조회 탭 결과 컨텐츠 간격용 */
.tab_wrap_rst {
	&.tab_wrap_rst_ty1 {
		padding-top: var(--gap-5);
	}
}
/* 조회 탭 결과 컨텐츠 간격용 */