.table_wrap {
	& + & {
		margin-top: var(--gap-8);
	}

	& + .coverage_item_list_ty3,
	& + [class^=list_ty],
	& + [class^=list_depth],
	& + .opt_case4 {
		margin-top: var(--gap-5);
	}

	& + .btn_area {
		margin-top: var(--gap-5);
		&.ty2 {
			margin-top: var(--gap-5);
		}
	}

	& + .title_h3 {
		margin-top: var(--gap-11); 
	}

	& + .title_h4 {
		margin-top: var(--gap-6); //var(--gap-9);
	}

	& + .title_h5 {
		margin-top: var(--gap-6);
	}

	& + .space_list_ty2,
	& + .checkbox_group_wrap,
	& + .tab_wrap {
		margin-top: var(--gap-8);
	}

	& + .banner_box { 
		margin-top: var(--gap-11);
	}

	& + .title_h3 {
		// margin-top: var(--gap-6);
		margin-top: var(--gap-11);
		&.ty2 {
			margin-top: var(--gap-8);
		}
	}
	
	.list_depth_ty2 {
		& + .form_line {
			margin-top: var(--gap-5);
			color: var(--color-text-basic);

			& .radio_group_wrap {
				margin-top: var(--gap-3);
			}
		}
		&.list_depth_ty2_icadd {
			> li {
				padding-left: 0;
				&::before {
					content: none;
				}

				.list_ty5 {
					padding-left: 8px;
				}
			}
		}
	}
	

	.title_h3 {
		margin-bottom: 20px
	}

	.info_gray .title_h3 {
		margin-bottom: 0;
	}

	.title_h6 {
		margin-bottom: var(--gap-2);
	}


	.table_info_top {
		display: flex;
		align-items: center;
		justify-content: flex-end;

		> li {
			position: relative;
			font-size: var(--font-size-body-small);
			color: var(--color-text-subtle);

			& + li {
				padding-left: 25px;

				&:before {
					position: absolute;
					top: calc(50% - 6px);
					left: 12px;
					content:'';
					width: 1px;
					height: 12px;
					background-color: var(--color-divider-gray);
				}
			}
		}

		& + .table {
			margin-top: var(--gap-4);
		}
	}

	.table {
		width: 100%;
		table-layout: fixed;
		border-top: var(--border-width-static-regular) solid var(--color-divider-gray-light);
		// border-collapse: separate;
		border-collapse: collapse;
		&.bd_l {
			th, td {
				border-width: 0 0 1px 1px;
				word-break: break-all;
				&:first-child{
					border-left: none;
				}
			}
		} 
		&.table_c {
			th, td {
				text-align: center;
				word-break: break-all;
			}
			.ta_l {
				.badge_wrap {
					padding-bottom: 4px;
				}
			}
		}

		&.table_num_type01 {
			th,td:first-child {
				text-align: center;
			}
			td {
				text-align: right;
				word-break: break-all;
			}
		}

		&.table_num_type02 {
			th,td:first-child {
				text-align: left;
			}
			td {
				text-align: right;
				word-break: break-all;
			}
		}

		&.table_v_mid {
			td {
				vertical-align: middle;
			}
		}

		th,td {
			border: var(--border-width-static-regular) solid var(--color-divider-gray-light);
			// border-width: 0 1px 1px 0;
			word-break: break-all;

			&:last-child{
				border-right: none;
			}
			&.primary_bold {
				font-weight: 700;
				color: var(--color-text-primary-bold);
			}
			.g_bold {
				font-weight: 700;
				color: var(--color-text-subtle);
			}
			&.v_mid {
				vertical-align: middle;
			}
			.tooltip_wrap {
				vertical-align: baseline;
				.tooltip_head {
					&.active {
						//tooltip arrow
						&::after {
							top: calc(100% - 9px);
						}
					}
				}
			}

			.inp_checkbox {
				text-align: left;
				input[type=checkbox]{
					& +  .chk_label {
						&::before {
							top: calc(50% - 10px);
						}
					}
				}
			}
		}
		th {
			vertical-align: middle;
			// vertical-align: top;
			//padding: var(--padding-5) var(--padding-3);
			padding: var(--padding-5) var(--padding-5);
			font-size: var(--font-size-heading-xxsmall);
			text-align: left; 
			font-weight: 700;
			word-break: keep-all;
			background-color: var(--color-surface-gray-subtler);	
			color: var(--color-text-bolder);		
		}
		td {
			vertical-align: top;
			padding: var(--padding-5) var(--padding-3);
			font-size: var(--font-size-label-medium);
			color: var(--color-text-subtle);
			
			.btn_link {
				padding-left: 0;
			}
			&.td_point {
				color: var(--color-text-primary-bold);
				font-weight: 700;
				background: var(--color-surface-primary-subtler);
			}

			.inp_checkbox {
				input[type=checkbox]{
					& +  .chk_label {
						.label_cont {
							color: var(--color-text-subtle);
						}
					}
				}
			}

			.sub_t {
				display: block;
				font-size: var(--font-size-body-xsmall);
				color: var(--color-text-primary-bold);
			}
			
			.list_depth_ty2 {
				> li {
					//color: var(--color-text-basic);

					.bold,
					strong {
						font-size: var(--font-size-body-medium);
						font-weight: 700;
						color: var(--color-text-bolder);
					}
				}
				&.g_bold {
					> li {
						font-weight: 700;
						color: var(--color-text-subtle);
					}
				}
				&.bold {
					> li {
						font-size: var(--font-size-body-medium);
						font-weight: 700;
						color: var(--color-text-bolder);
					}
				}
				+ p {
					margin-top: var(--gap-3);
				}
			}

			strong.bold,
			&.bold {
				font-size: var(--font-size-body-medium);
				font-weight: 700;
				color: var(--color-text-bolder);
			}
		}

		> thead {
			th {
				padding: calc(var(--padding-3) + 1px) var(--padding-3);
				vertical-align: middle;
				text-align: center;
			}

			> tr {
				> th,
				> td {
					&:first-child {
						border-left: none;
					}
				}
			}

			& + tbody {
				td {
					padding: var(--padding-5) var(--padding-3);
				}
				
				&:has(th) {
					td {
						padding: var(--padding-5);
					}
					&:has(.body_th){
						td {
							padding: var(--padding-5) var(--padding-3);
						}
					}
				}
					
				th.body_th {
					padding: var(--padding-5);
					& ~ td {
						padding: var(--padding-5);
					}
				}
			}
		}

		> tbody {
			th {
				vertical-align: unset;
				padding: var(--padding-5) var(--padding-7) var(--padding-5) var(--padding-3);
				
				&.body_th {
					padding-left: var(--padding-3);
					padding-right: var(--padding-3);
					font-weight: 400;
					background-color: #fff;
				}
				& ~ td {
					padding: var(--padding-5);
				}
			}
			td {
				padding: var(--padding-5);
			}
			> tr {
				&:first-child {
					th,
					td {
						border-top: none;
					}
				}
				> th,
				> td {
					&:first-child {
						border-left: none;
					}
				}
			}
		}

		.ta_l {
			text-align: left !important;
		}
		
		.ta_c {
			text-align: center !important;
		}

		.ta_r {
			text-align: right !important;
		}
		& + .title_h3 {
			margin-top: var(--gap-11);
		}

		.recommend {
			background-color: var(--color-surface-primary-subtler);
		}

		.txt_small {
			font-size: var(--font-size-body-xsmall);
		}

		// 약관용 별도 처리
		&.table_ag_type {
			> tbody {
				> tr {
					th {
						font-size: var(--font-size-heading-xsmall);
					}
				}
			}
		}
		// 약관용 별도 처리


		// table icon 타입
		.icon_agt {
			display: inline-block;
			padding-top: 28px;			
			background-position: left top;
			background-repeat: no-repeat;
			background-size: 24px auto;
			&.icon_agt_type1 {
				background-image: url(../images/common/agree/icon_ag_tbl_th_ty1.svg);
			}
			&.icon_agt_type2 {
				background-image: url(../images/common/agree/icon_ag_tbl_th_ty2.svg);
			}
			&.icon_agt_type3 {
				background-image: url(../images/common/agree/icon_ag_tbl_th_ty3.svg);
			}
		}
		.icon_agc {
			display: inline-block;
			padding-left: 24px;
			background-position: left 2px;
			background-repeat: no-repeat;
			background-size: 20px auto;
			&.icon_agc_type1 {
				background-image: url(../images/common/agree/icon_ag_tbl_td_ty1.svg);
			}
			&.icon_agc_type2 {
				background-image: url(../images/common/agree/icon_ag_tbl_td_ty2.svg);
			}
			&.icon_agc_type3 {
				background-image: url(../images/common/agree/icon_ag_tbl_td_ty3.svg);
			}
			&.icon_agc_type4 {
				background-image: url(../images/common/agree/icon_ag_tbl_td_ty4.svg);
			}
		}
		// table icon 타입
	
	}

	.table_wrap.type_mini {
		.table_ty_mini {
			th {
				position: relative;
				font-weight: normal;
				background: transparent;
				// border-right: none !important;
			}
		}
	}
}


.table_wrap.type_mini {

	& + .type_mini {
		margin-top: var(--gap-5);
	}

	.title {
		font-size: var(--font-size-body-xsmall);
		margin-bottom: 8px;
	}

	.table_ty_mini {
		width: 100%;

		th,td {
			vertical-align: middle;
			padding: var(--padding-2) var(--padding-3);
			color: var(--color-text-subtle);
			font-size: var(--font-size-body-xsmall);
			background: var(--color-surface-white-subtle);
		
			&.ta_c {
				text-align: center;
			}
			&.bold {
				font-weight: 700;
			}
		}

		thead th {
			font-weight: 700 !important;		
		}

		tbody th {
			text-align: left;
			font-weight: normal;
		}
		td {
			.sub_text {
				& + .number_list {
					margin-top: var(--gap-3);
				}
			}
			.number_list {
				li {
					font-size: var(--font-size-body-xsmall);
					ul {
						margin-top: var(--gap-2);
					}
				}
			}
		}
	}
}


.coverage_type {
	dt, dd {
		text-align: right;
	}
	dt {
		font-weight: 700;
		color: var(--color-text-bolder);

		& ~ dt {
			margin-top: var(--gap-6); //var(--gap-8);
			margin-bottom: var(--gap-3);
		}
	}
	dd {
		color: var(--color-text-subtle);

		& + dd {
			margin-top: var(--gap-4);
		}

		.tit {
			font-size: var(--font-size-body-small);//var(--font-size-label-small);
			line-height: 18px;

			&:first-child {
				margin-top: var(--gap-3);//var(--gap-4);
			}
		}
		.cont {
			font-size: var(--font-size-label-medium);
			line-height: 21px;
		}
	}
}