/* Textarea */
.textarea_wrap {
	textarea {
		width: 100%;
		padding: 10px;
		font-size: 14px;
		line-height: 20px;
		resize: none;
	}

	.counter {
		font-size: 14px;
		line-height: 20px;
		text-align: right;
	}

	&.byte_check {

	}
	
	&.length_check {

	}
}