//title

//리스트와 관련된 컴포넌트 상단 제목(card, table 등)
.list_top_wrap {
	display: flex;
	gap: var(--gap-2);
	color: var(--color-text-basic);
	font-size: var(--font-size-body-small);
	font-weight: 400;
	line-height: 150%;
	letter-spacing: var(--typo-letter-spacing-0);

	.left {
		display: flex;
		align-items: center;
		gap: var(--gap-2);
	}

	& + .card_item_wrap {
		margin-top: var(--gap-4);
	}
}
