

.toolbar {
    padding: var(--padding-6) var(--padding-5);
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: var(--color-surface-white-subtler);
    > a {
        padding: var(--padding-2) var(--padding-3) var(--padding-2) 30px;
        font-size: var(--font-size-body-small);
        color: var(--color-text-disabled);
        background-repeat: no-repeat;
        background-position: 8px center;
        background-size: 20px auto;
        &.home {
            background-image: url(../images/content/ho/icon_home.svg);
        }
        &.join {
            background-image: url(../images/content/ho/icon_join.svg);
        }
        &.benefit {
            background-image: url(../images/content/ho/icon_benefit.svg);
        }
        &.register {
            background-image: url(../images/content/ho/icon_register.svg);
        }
    }
    &.ty1 {
        .home {
            color: var(--color-text-bolder);
            font-weight: 700;
            background-color: var(--color-button-tertiary-fill-pressed);
            border-radius: var(--radius-max);
            background-image: url(../images/content/ho/icon_home_fill.svg);
        }
    }
    &.ty2 {
        .join {
            color: var(--color-text-bolder);
            font-weight: 700;
            background-color: var(--color-button-tertiary-fill-pressed);
            border-radius: var(--radius-max);
            background-image: url(../images/content/ho/icon_join_fill.svg);
        }
    }
    &.ty3 {
        .benefit {
            color: var(--color-text-bolder);
            font-weight: 700;
            background-color: var(--color-button-tertiary-fill-pressed);
            border-radius: var(--radius-max);
            background-image: url(../images/content/ho/icon_benefit_fill.svg);
        }
    }
    &.ty4 {
        .register {
            color: var(--color-text-bolder);
            font-weight: 700;
            background-color: var(--color-button-tertiary-fill-pressed);
            border-radius: var(--radius-max);
            background-image: url(../images/content/ho/icon_register_fill.svg);
        }
    }
}