/* Tooltip */
.tooltip_wrap {
	position: relative;
	z-index: 1;
	display: inline;
	// vertical-align: sub;
	width: 20px;
	height: 20px;
	text-align: left;
	font-size: 0;
	line-height: 0;
	// background-color: #ddd;

	&.active {
		z-index: 2;
	}

	.tooltip_head {
		position: relative;
		display: inline-block;
		width: 20px;
		height: 20px;
		// line-height: 0;
		vertical-align: top;
		// transform: translateY(4px);
		button {
			position: relative;
			width: 20px;
			height: 20px;
			line-height: 0;

			.hd_icon {
				position: absolute;
				top: 50%;
				left: 50%;
				width: 18px;
				height: 18px;
				cursor: pointer;
				transform: translateX(-50%) translateY(-50%);
			}

			&.trigger_btn {
				background-color: transparent;
			}
		}

		.open {
			display: inline-block;
			width: 20px;
			height: 20px;
		}

		&.active {
			//tooltip arrow
			z-index: 1;
			&::after {
				content: "";
				position: absolute;
				left: calc(50% - 7px);
				top: calc(100% - 9px);
				width: 8px;
				height: 8px;
				pointer-events: none;
				// border: var(--border-width-static-regular) solid var(--color-element-information);
				border: 8px solid var(--color-element-information);
 				border-left-color: transparent;
 				border-right-color: transparent;
 				border-top-color: transparent;
			}
		}

		//tooltip position=top
		&.top {
			//tooltip arrow
			&::after {
				top: -11px;
				transform: scaleY(-1);
			}

			&.active {
				& + .tooltip_panel {
					margin-top: 0;
					// bottom: 28.5px;
					bottom: 28px;
					top: auto;
				}
			}
		}
	}

	.tooltip_panel {
		display: block;
		box-sizing: border-box;
		position: absolute;
		// width: calc(100vw - 40px);
		// width: calc(100vw - 48px);
		width: auto;
		z-index: 11;
		// top: calc(100% + 9.5px);
		// 상황별 top 수정 필요
		top: calc(100% + 9px);
		//top: calc(100% + 6px);
		width: max-content;
		max-width: 327px;
		min-width: 120px;

		border-radius: var(--radius-medium1);
		background: var(--color-element-information);
		box-shadow: 0px var(--shadow-y-2) var(--shadow-blur-2) 0px var(--color-alpha-shadow1, rgba(0, 0, 0, 0.05));
		
		.inner {
			position: relative;
			box-sizing: border-box;
			display: none;
			padding: 12px 44px 12px 16px;
			background-color: var(--color-element-information);
			border-radius: 10px;
			color: #ffffff;
			text-align: left;
			font-weight: 400;
			font-size: var(--font-size-body-xsmall);
			line-height: 150%;

			.inner_title {
				height: 100%;
				font-weight : 700;
				& + .inner_contents {
					margin-top: var(--gap-2);
					padding-right: 28px;
				}
			}

			.inner_contents {

				& + .inner_footer {
					margin-top: var(--gap-3);
				}

				[class^=list_ty] > li {
					color: #ffffff;			
				}

				.list_ty1 > li::before {
					background-color: #ffffff;
				}
			}

			.inner_footer {
				& > .btn_link {
					display: block;

					span {
						display: flex;
						align-items: center;
						line-height: 18px;
						color: #fff;

						&:after {
							display: inline-block;
							content: "";
							width: 16px;
							height: 16px;
							background: url(../images/icon/arrowRight_ty1.svg) no-repeat center/contain;
						}
					}

					&:active > span,
					&:focus > span {
						color: var(--color-text-basic);
						&:after {
							background-image: url(../images/icon/arrowRight_ty4.svg);
						}
					}
				}
			}

			.close {
				position: absolute;
				display: inline-block;
				top: 12px;
				right: 16px;
				width: 16px;
				height: 16px;
				background: url(../images/icon/close_ty2.svg) no-repeat center/contain;
			}
		}
	
		&.al_left {
			.tooltip_panel {
				left: -16px;
			}
		}
		&.al_center {
			.tooltip_panel {
				left: 50%;
				transform: translateX(-50%);
			}
		}
		&.al_right {
			.tooltip_panel {
				right: -16px;
			}
		}
	}

	.tooltip_wrap_text {
		line-height: 1.5;
	}

	&.rp {
		.tooltip_panel {
			right: -10px;
			width: calc(100vw - 56px);
		}
	}
}

.title_has_tooltip {
	display: inline-block;
	width:100%;
	font-weight: 700;
	word-wrap: break-word;
	line-height: 24px;	

	.tooltip_wrap .tooltip_head.top{
		&.top {
			//tooltip arrow
			&::after {
				top: -11px;
				transform: scaleY(-1);
			}
		}
	}

	
}


/* 툴팁 조건별 위치 조정 */
.title_h3 {
	.tooltip_wrap {
		top: 6px;
		.tooltip_head.active {
			&::after {
				top: calc(100% - 7px);
			}
		}
		.tooltip_panel {
			top: calc(100% + 4px);
		}
	}
}
.info_text {
	.tooltip_wrap {
		top: 2px;
	}
}
.table {
	.tooltip_wrap {
		top: 0;
		.tooltip_panel {
			width: calc(100vw - 62px);
		}
	}
}
.form_group_wrap {
	.label_tit {
		.tooltip_wrap {
			top: 0;
			z-index: 11;
		}
	}
}
.card_item {
	.tooltip_wrap {
		top: 4px;
		.tooltip_head {
			.hd_icon {
				width: 20px;
				height: 20px;
			}
			&.active {
				&::after {
					top: calc(100% - 8px);
				}
			}
		}
		.tooltip_panel {
			top: calc(100% + 5px);
			width: calc(100vw - 70px);
		}
	}
}
.info_gray {
	.tooltip_wrap {
		top: 1px;
	}
}
.bi_top {
	.bit_inner_sub_text {
		.tooltip_wrap {
			top: 0;
		}
	}
}
/* 툴팁 조건별 위치 조정 */



//안내 풍선
.tip_item {
	--tl: 34px;
	position: absolute;
	left: 0;
	z-index: 1;
	padding: 0 var(--tl) 0 var(--tl);
	.tip_item_cont {
		display: block;
		padding: 8px 16px;
		font-weight: 700;
		font-size: var(--font-size-body-xsmall);					
		color: var(--color-text-primary-bold);
		border-radius: var(--radius-medium1);
		border: var(--border-width-static-regular) solid var(--color-border-primary);
		background-color: var(--color-element-primary-lighter);
		box-shadow: 0px var(--shadow-y-2) var(--shadow-blur-2) 0px var(--color-alpha-shadow1, rgba(0, 0, 0, 0.05));
		&::before {
			content: '';
			position: absolute;
			z-index: 1;
			left: calc(var(--tl) + 26px);
			width: 12px;
			height: 6px;
			// border-left: 6px solid transparent;
			// border-right: 6px solid transparent;
			background-image: url(../images/icon/tooltip_arrow_ty2.svg);
			background-size: contain;
			background-repeat: no-repeat;
			background-position: center;
		}
		// &::after {
		// 	content: '';
		// 	position: absolute;
		// 	left: calc(var(--tl) + 26px);
		// 	width: 12px;
		// 	height: 6px;
		// 	border-left: 6px solid transparent;
		// 	border-right: 6px solid transparent;
		// }
	}
	&.bottom {
		top: calc(100% + 6px);
		.tip_item_cont {
			&::before {
				top: -5px;
				transform: rotate(180deg);
				// border-bottom: 8px solid var(--color-element-primary-lighter);
			}
			// &::after {
			// 	top: -6px;
			// 	border-bottom: 8px solid var(--color-border-primary);
			// }
		}
	}
	&.top {
		bottom: calc(100% + 6px);
		.tip_item_cont {
			&::before {
				bottom: -5px;
				// border-top: 8px solid var(--color-element-primary-lighter);
			}
			&::after {
				bottom: -7px;
				// border-top: 8px solid var(--color-border-primary);
			}
		}
	}

	&.etc_c_1 {
		width: 100%;
		bottom: calc(100% + 10px);
		padding: 0;
		text-align: center;
		.tip_item_cont {
			padding: 8px 10px;
			&::before {
				left: 50%;
				transform: translateX(-50%);
			}
			&::after {
				left: 50%;
				transform: translateX(-50%);
			}
		}

	}

	&.ty2 {
		z-index: 21;
		&:has(.close){
			.tip_item_cont {
				.inner {
					padding-right: 44px;
				}
			}
		}

		.tip_item_cont {
			padding: var(--padding-5, 12px) var(--padding-6, 16px);
			background-color: var(--color-element-information);
			border: 0;

			&:before {
				height: 8px;
				pointer-events: none;
				background: none;
				border: 8px solid var(--color-element-information);
				border-left-color: transparent;
				border-right-color: transparent;
				border-top-color: transparent;
				top: -14px;
				transform: rotate(360deg);
			}
			
			.inner {
				font-weight: normal;
				color: var(--color-text-basic-inverse);

				> span {
					font-weight: bold;
				}
			}
		}

		.close {
			position: absolute;
			display: inline-block;
			top: 12px;
			right: 16px;
			width: 16px;
			height: 16px;
			background: url(../images/icon/close_ty2.svg) no-repeat center/contain;
		}
	}
}