/* Tooltip */
.tooltip_wrap {
	position: relative;
	display: inline;

	.tooltip_head {
		position: relative;
		display: inline-block;

		&.active {
			&::after {
				content:'';
				position: absolute;
				left: calc(100% - 28px);
				bottom: -13px;
				width: 8px;
				height: 8px;
				border: 8px solid gray;
				border-left-color: transparent;
				border-right-color: transparent;
				border-top-color: transparent;
			}
		}

		&.top {
			&::after {
				top: -12px;
				bottom: auto;
				border-top-color: gray;
				border-bottom-color: transparent;
			}

			&.active {
				& + .tooltip_text {
					margin-top: 0;
					bottom: 24px;
					top: auto;
				}
			}
		}
	}

	.tooltip_text {
		display: block;
		position: absolute;
		width:calc(100vw - 40px);
		z-index: 10;
		top: calc(100% + 13px);

		.inner {
			display: none;
			overflow-y: auto;
			max-height: 100px;
			padding: 10px;
			background-color: gray;
			border-radius:10px;
		}
		
		.close {
			position: absolute;
			top: 4px;
			right: 6px;
		}
	}
}