.bg_list {
	&.bg_list_case01 {
		padding: 20px 16px;
		border-radius: var(--radius-medium3);
		background-color: var(--color-element-primary-lighter);
		> li {
			padding-left: var(--padding-8);
			background: url(../images/icon/bg_heart.svg) no-repeat left top / 20px auto;
			> .tit {
				display: block;
				font-size: var(--font-size-heading-xxsmall);
				line-height: 20px;
				.point {
					color: var(--color-text-primary-bold);
				}
			}
			> .desc {
				margin-top: var(--gap-2);
				font-size: var(--font-size-body-small);
				color: var(--color-text-subtle);
				line-height: 20px;
			}
			+ li {
				margin-top: var(--gap-5);
			}
		}

	}

	&.bg_list_case02 {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: var(--padding-6) var(--padding-7);
		border-radius: var(--radius-medium4);
		background-color:  var(--color-surface-primary-subtler);
		> li {
			&.total_status {
				padding-left: calc(24px + var(--gap-2));
			background: url(../images/icon/bg_heart_ty2.svg) no-repeat left center / 24px auto;
			}

			&.year_status {
				// padding-top: var(--gap-4);
				// margin-top: var(--gap-4);
				text-align: center;
				font-size: var(--font-size-body-xsmall);
				color:  var(--color-text-subtle);
				padding: 0;
				margin: 0;
				border: none;
			}

			> .tit {
				display: flex;
				justify-content: space-between;
				padding: 1px 0 2px;
				gap: var(--gap-3);
				font-size: var(--font-size-heading-xxsmall);
				
				.label {
					font-size: var(--font-size-body-small);
				}
			}		
			+ li {
				border-top: var(--border-width-static-regular) solid var(--color-divider-inverse);
			}
		}

		& + .tab_wrap {
			margin-top: 32px;
		}

	}
}

