.bg_list {
	&.bg_list_case01 {
		padding: 20px 16px;
		border-radius: 16px;
		background-color: var(--color-element-primary-lighter);
		> li {
			padding-left: 24px;
			background: url(../images/icon/bg_heart.svg) no-repeat left top / 20px auto;
			> .tit {
				display: block;
				font-size: var(--font-size-heading-xxsmall);
				line-height: 20px;
				.point {
					color: var(--color-text-primary-bold);
				}
			}
			> .desc {
				margin-top: var(--gap-2);
				font-size: var(--font-size-body-small);
				color: var(--color-text-subtle);
				line-height: 20px;
			}
			+ li {
				margin-top: var(--gap-5);
			}
		}

	}
}

