.form_key_pc {
	display: flex;
	width: 100%;
	> input {
		flex: 1 1 0;
		min-width: 0;
		height: calc(var(--size-height-8) - 2px);
		padding: var(--padding-5);
		font-size: var(--font-size-body-medium);
		color: var(--color-text-basic) !important;
		text-align: center;
		border: none;
		background-color: var(--color-input-surface) !important;
		border-radius: var(--radius-medium3);
		&::placeholder {
			color: var(--color-text-disabled);
			text-align: left;
		}
		&:read-only {
			+ span {
				> input {
					+ label {
						background-image: url(../images/icon/icon_keypad_on.png);
					}
				}
			}
		}
		&:read-only,
		&:disabled {
			border-radius: 12px;
			background-color: var(--color-input-surface-disabled) !important;
		}
		& + span {
			> input:disabled {
				+ label {
					background-image: url(../images/icon/icon_keypad_disabled.png);
				}
			}
		}
	}
	> span {
		flex: none;
		display: block;
		width: 48px;
		padding-left: var(--padding-3);
		> input {
			position: absolute;
			opacity: 0;
			+ label {
				display: block;
				width: 100%;
				height: 100%;
				font-size: 0;
				background-repeat: no-repeat;
				background-position: center center;
				background-image: url(../images/icon/icon_keypad.png);
				cursor: pointer;
			}
		}
	}
}


/* 키패드 이미지 보정 */
.kpd-group {
	&.number {
		img {
			max-width: none;
		}
	}
}
/* 키패드 이미지 보정 */