.main_cont_wrap {

	&.main_cont_wrap_ty2 {
		padding-top: var(--gap-11);
		padding-bottom: var(--gap-12);
		background: var(--color-surface-secondary-subtler);
	}

	.mcw_cont {
		position: relative;
		display: flex;
		gap: var(--gap-12);
		width: 1188px;
		margin: 0 auto;

		.mc_l_cont {
			flex: 1 1 0;
			padding-bottom: var(--gap-11);
		}

		.mc_r_cont {
			flex: none;
			width: 288px;
		}
	}


	// 메인 Visual
	.main_visual_box {
		min-height: 260px;
		background: url(../images/content/main/img_main_car_kv.png) no-repeat right top / auto 260px;
		.title_view_wrap {
			.page_title {
				.p_info {
					color: var(--color-text-secondary-light);
				}
			}
			.btn_area {
				margin-top: var(--gap-5);
				.hd_btn {
					min-width: 160px;
				}
			}
		}

		.visual_link {
			display: block;
			> img {
				vertical-align: top;
			}
		}
	}

	.main_product_box {
		display: flex;
		flex-direction: column;
		gap: var(--gap-5);

		// 메인 Banner 
		.banner_box {
			gap: var(--gap-5);
	
			> * {
				flex: 1;
			}
		}
	
		// 추천 상품
		.main_recommend_box {
			padding: var(--padding-6) var(--padding-7) var(--padding-5);
			border: var(--border-width-static-regular) solid var(--color-border-gray-light);
			border-radius: var(--radius-large2);

			.title {
				font-size: var(--font-size-heading-xsmall);
				font-weight: 700;
				color: var(--color-text-bolder);

				& + .re_product_list {
					margin-top: var(--gap-5);
				}
			}

			.re_product_list {
				display: flex;
				> li {
					flex: 1;
					position: relative;

					&:has(.re_link:hover, .re_link:focus){
						& + li {
							&:after {
								content: none;
							}
						}
					}

					.re_link {
						display: block;
						padding: 65px var(--padding-7) var(--padding-2);
						background-repeat: no-repeat;
						background-position: center 5px;
						background-size: 56px auto;
						font-size: var(--font-size-body-small);
						color: var(--color-text-subtle);
						text-align: center;

						.tip_item {
							opacity: 0;
							bottom: 80%;
							left: 50%;
							transform: translateX(-50%);
							padding: 0;
							white-space: nowrap;

							.tip_item_cont {
								&:before {
									left: calc(50% - 6px);
								}
							}
						}

						&.driver {
							background-image: url(../images/content/main/icon_product_driver.svg);
						}
						&.children {
							background-image: url(../images/content/main/icon_product_child.svg);
						}
						&.pet {
							background-image: url(../images/content/main/icon_product_pet.svg);
						}
						&.home {
							background-image: url(../images/content/main/icon_product_home.svg);
						}
						&.travel {
							background-image: url(../images/content/main/icon_product_travel.svg);
						}

						&:focus,
						&:hover {
							background-color: var(--color-action-secondary-hover);
							border-radius: var(--radius-medium4);

							.tip_item {
								opacity: 1;
								bottom: calc(100% - 2px);
								transition: all .3s ease-in;
							}
						}
					}

					& ~ li {
						&:after {
							content:'';
							position: absolute;
							top: 12px;
							left: 0;
							z-index: -1;
							width: 1px;
							height: 67px;
							background-color:  var(--color-divider-gray-light);
						}
					}
				}
			}
		}
	}
}


.mcont_items_wrap {
	.mcont_items {
		padding-top: var(--gap-11);
	}
}



/* 메인 상품별 아이콘 처리 */
.main_prd {
	.main_prd_title {
		padding-bottom: var(--gap-6);
		font-weight: 700;
		font-size: var(--font-size-heading-medium);
		color: var(--color-text-bolder);
	}

	.main_prd_cont {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: var(--gap-5);

		.mpc_item {
			flex: 1 1 calc(50% - 8px);
			position: relative;
			display: block;
			padding: var(--padding-8, 24px) 0px var(--padding-8, 24px) var(--padding-7, 20px);
			border-radius: var(--radius-large2, 24px);
			background-repeat: no-repeat;
			transition: all 0.3s;
			&:focus,
			&:hover {

			}

			&.mpc_item_ty1 {
				padding-right: 159px;
				border: var(--border-width-static-regular) solid var(--color-border-primary);
				background-color: var(--color-action-primary-fill);
				background-position: right center;
				background-size: 160px 106px;
				box-shadow: 0px 0px 0px 0px rgba(248, 99, 60, 0.20);
				@for $i from 1 through 8 {
					&.mit1_ic#{$i} {
						background-image: url(../images/content/main/icon_mit1_ic#{$i}.png);
					}
				}
			}
			&.mpc_item_ty2 {
				padding-right: 107px;
				background-position: right 36px center;
				border: var(--border-width-static-regular, 1px) solid var(--color-border-inverse, #FFF);
				background-color: var(--color-action-secondary-fill);
				@for $i from 1 through 16 {
					&.mit2_ic#{$i} {
						background-image: url(../images/content/main/icon_mit2_ic#{$i}.png);
					}
				}
			}

			.mpc_item_cont {
				display: flex;
				height: 118px;
				flex-direction: column;
				> .title {
					font-weight: 700;
					color: var(--color-text-bolder, #131416);
					font-size: var(--font-size-heading-xsmall, 16px);
				}
				> .text {
					padding-top: var(--gap-2);
					color: var(--color-text-subtle, #464C53);
					font-size: var(--font-size-body-small, 14px);
				}
				.fb_c {
					padding-top: var(--gap-5);
				}
			}
		}
	}
}
/* 메인 상품별 아이콘 처리 */

/* 메인 베너별 관리 */
.main_banner {
	&.main_banner_qr {
		display: flex;
		align-items: center;
		height: 128px;
		padding-left: 248px;
		background: url(../images/content/main/bg_main_banner_qr.png) no-repeat;
		.main_banner_qr_text {
			color: var(--color-text-bolder, #131416);
			font-size: var(--font-size-heading-medium, 20px);
			strong {
				display: block;
				font-weight: 700;
			}
		}
	}
}
/* 메인 베너별 관리 */




.mc_r_cont {
	display: flex;
	flex-direction: column;
	gap: var(--gap-4);
}
.mc_bann_wrap {
	position: relative;
	text-align: center;

	.swiper {
		width: 100%;
		border-radius: var(--radius-large2);

		.swiper-wrapper {
			.swiper-slide {
				img {
					vertical-align: top;
				}
			}
		}
	}

	.swiper_control {
		display: flex;
		align-items: center;
		position: absolute;
		// bottom: 32px;
		left: 50%;
		transform: translateX(-50%);
		bottom: 8px;
		z-index: 10;
		padding: 0 24px;

		.swiper-pagination {
			position: relative;
			width: auto;
			left: auto;
			top: auto;
			bottom: auto;
			padding: var(--padding-3);
			display: flex;
			gap: var(--gap-2);

			&.sp_ty1 {
				.swiper-pagination-bullet {
					margin: 0;
				}
			}
		}

		.swiper_button {
			position: absolute;
			width: 24px;
			height: 24px;
			top: 50%;
			transform: translateY(-50%);
			background-color: transparent;
			background-size: 16px;

			&.swiper_button_left {
				left: 0;
			}
			&.swiper_button_right {
				right: 0;
			}
		}

		.swiper-button-play-pause {
			width: 24px;
			height: 24px;
			font-size: 0;
			background: url(../images/icon/icon_stop.svg) no-repeat center / 16px;

			&.active {
				background-image: url(../images/icon/icon_play.svg);
			}
		}
	}
}




// hover Case 영역
.prd_module_box {
	background-color: var(--color-surface-secondary-subtler);
	border-radius: var(--radius-large2);

	.prd_login {
		padding: var(--padding-6) var(--padding-5) var(--padding-3);
		border-bottom: 1px solid var(--color-divider-secondary-light);

		> button {
			position: relative;
			width: 100%;
			height: 48px;
			padding: var(--padding-3) 40px var(--padding-3) 52px;
			background: url(../images/icon/arrowRight_ty4.svg) no-repeat right 16px center / 16px;

			&:before {
				content:'';
				position: absolute;
				top: 50%;
				left: var(--padding-3);
				transform: translateY(-50%);
				width: 32px;
				height: 32px;
				background: var(--color-element-secondary-light) url(../images/content/main/icon_login_person.svg) no-repeat center / 16px;
				border-radius: var(--radius-medium1);
			}


			.text {
				font-size: var(--font-size-body-small);
				color: var(--color-text-subtle);

				strong {
					color: var(--color-text-basic);
				}
			}
		}
		
		// change effect
		.chg_item {
			&:hover,
			&:focus {
				background-color: #DEE6EF;
				// background-color: var(--color-menu-secondary-fill-hover);
				border-radius: var(--radius-medium1);
				transition: background-color .3s ease-in;

				&:before {
					background-color: var(--color-element-secondary-lighter);
					transition: background-color .3s ease-in;
				}
			}
		}
	}

	.prd_module_list {
		padding: var(--padding-6) var(--padding-5);

		> button {
			width: 100%;
			height: 40px;
			padding: var(--padding-3) var(--padding-5) var(--padding-3) 52px;
			background-repeat: no-repeat;
			background-position: left 12px center;
			background-size: 20px;

			.text {
				font-size: var(--font-size-body-small);
			}

			&.prd_ic1 {
				background-image: url(../images/content/main/icon_prd_document_fill.svg);
			}
			&.prd_ic2 {
				background-image: url(../images/content/main/icon_prd_change.svg);
			}
			&.prd_ic3 {
				background-image: url(../images/content/main/icon_prd_infomation.svg);
			}
			&.prd_ic4 {
				background-image: url(../images/content/main/icon_prd_tmapsafety.svg);
			}
		}
		
		// change effect
		.chg_item {
			&:hover,
			&:focus { 
				padding: var(--padding-3) var(--padding-6) var(--padding-3) 56px;
				background-color: #DEE6EF;
				background-position: left 16px center;
				// background-color: var(--color-menu-secondary-fill-hover);
				border-radius: var(--radius-medium1);
				transition: all .3s ease-in;
			}
		}
	}
}
.chg_hover_box {


}