.main_cont_wrap {
	padding-bottom: var(--gap-11);

	&:not(.main_cont_wrap_ty2){
		.mcw_cont {
			.mc_r_cont {
				position: relative;
				z-index: 12;		
			}
		}
	}

	&.main_cont_wrap_ty2 {
		padding-top: var(--gap-11);
		// padding-top: calc(var(--gap-11) - var(--gap-6));
		padding-bottom: var(--gap-12);
		background: var(--color-surface-secondary-subtler);
	}

	.mcw_cont {
		position: relative;
		display: flex;
		gap: var(--gap-12);
		width: 1188px;
		margin: 0 auto;

		.mc_l_cont {
			--calc-shadow-area: 18px;
			flex: 1 1 0;
			min-width: 0;
			display: flex;
			flex-direction: column;
			align-items: stretch;
			gap: var(--gap-4);

			.main_sticky_cont {
				.msc_inner {
					position: relative;
					// overflow: hidden;
					transition: top 0.3s;
					&::before {
						content: '';
						position: absolute;
						top: 0;
						left: 50%;
						// width: 130vw;
						height: calc(100% - var(--calc-shadow-area));
						transform: translateX(-50%);
					}
					.main_evt_tab {
						padding-bottom: 0;
						.tag_item {
							> .text {
								transition: background-color 0.3s;
							}
						}
					}
					&.active {
						position: fixed;
						width: 100%;
						top: 72px;
						left: 0;
						z-index: 2;
						&::before {
							width: 130vw;
							background-color: var(--color-background-white);
							box-shadow: 0 var(--shadow-y-2, 6px) var(--shadow-blur-2, 8px) 0 rgba(0, 0, 0, 0.05);
						}
						.main_evt_tab {
							width: 1188px;
							margin: 0 auto;
							padding-top: var(--padding-6);
							padding-bottom: calc( var(--padding-8) + var(--calc-shadow-area));
							
							.tag_item {
								> .text {
									border-color: var(--color-element-secondary-lighter);
									background-color: var(--color-element-secondary-lighter);
								}
								&.active {
									> .text {
										border-color: var(--color-border-secondary);
										background-color: var(--color-border-secondary);
									}
								}
							}
						}
					}
				}
			}

			.main_evt_tab {
				margin-bottom: 0;
				background-color: transparent;
				&.main_sticky {
					// padding: var(--padding-6) 0 var(--padding-8) 0;
					padding: 0 0 var(--padding-8) 0;
					z-index: 10;
				}
			}
		}

		.mc_r_cont {
			flex: none;
			display: flex;
			flex-direction: column;
			align-items: stretch;
			width: 288px;
		}


		.main_banner {
			display: flex;
			flex-flow: row wrap;
			gap: var(--gap-5);
			> a {
				display: block;
				font-size: 0;
				flex: 0 1 calc(50% - 8px);				
			}
		}


		// 우측 
		.main_benefit {
			position: relative;
			top: 0;
			transition: top 0.3s, max-height 0.3s;
			
			&.active {
				// max-height: 100vw;
				overflow: auto;
			}

			.main_benefit_title {
				font-weight: 700;
				font-size: var(--font-size-heading-small);
				color: var(--color-text-bolder);
			}

			.main_benefit_cont {
				margin-top: var(--gap-5);
				~ .main_benefit_cont {
					margin-top: var(--gap-4);
				}
			}

			.main_benefit_cont {
				padding: var(--padding-8) var(--padding-7);
				border-radius: var(--radius-large2);
				background: var(--color-surface-secondary-subtle);
				.mbc_title {
					padding-bottom: var(--gap-5);
					font-weight: 700;
					font-size: var(--font-size-heading-xsmall);
					color: var(--color-text-bolder);
				}

				.mbc_list {
					> li {
						> .item {
							position: relative;
							display: flex;
							// align-items: center;
							align-items: flex-start;
							gap: 0 var(--gap-3);
							padding: var(--padding-6) 0;
							transition: padding 0.3s;

							.badge_wrap {
								position: relative;
								flex: none;
								width: auto;
							}
							.text {
								position: relative;
								flex: 1 1 0;
								min-width: 0;
								// font-size: var(--font-size-body-small);
								font-size: var(--font-size-body-medium);
								// background: blue;
								color: var(--color-text-basic);
								.word {
									display: block;
									word-break: keep-all;
									overflow-wrap: break-word;
								}
							}
							.tit {
								position: relative;
								display: block;
								width: 100%;
								font-weight: 700;
								font-size: var(--font-size-body-small);
								color: var(--color-text-secondary-light);
								text-align: left;
								text-overflow: ellipsis;
								overflow: hidden;
								white-space: nowrap;
							}
							&.column {
								flex-direction: column;
								gap: var(--gap-2) 0;
								.text {
									width: 100%;
									justify-content: flex-start;
								}
							}
							&::before {
								content: '';
								position: absolute;
								top: 0;
								left: calc(-1 * var(--padding-5));
								width: calc(100% + (var(--padding-5) * 2));
								height: 100%;
								border-radius: var(--radius-medium1);
								background-color: var(--color-surface-secondary-subtle);
								transition: background-color 0.3s;
							}
							&:focus,
							&:hover {
								padding-left: var(--padding-2);
								padding-right: var(--padding-2);
								&::before {
									background-color: var(--color-action-secondary-dark-fill-hover);
									// outline: var(--border-width-static-medium) solid #000;
									// outline-offset: -2px;
								}
							}
							&:active {
								padding-left: var(--padding-2);
								padding-right: var(--padding-2);
								&::before {
									background-color: var(--color-action-secondary-subtle-fill-pressed);
									// outline: var(--border-width-static-medium) solid #000;
									// outline-offset: -2px;
								}
							}
						}
						border-bottom: var(--border-width-static-regular) solid var(--color-divider-secondary-light);
						&:last-child {
							border-bottom: none;
						}
					}
				}

				.mbc_ins_list {
					> li {
						> .item {
							display: flex;
							align-items: center;
							min-height: 96px;
							padding: var(--padding-7) 88px var(--padding-7) var(--padding-6);
							border-radius: var(--radius-medium3);
							background-repeat: no-repeat;
							background-position: right 16px center;
							background-size: 56px auto;
							background-color: var(--color-action-secondary-inverse-fill);
							transition: background-color 0.3s;
							.inner {
								display: inline-flex;
								flex-direction: column;
								gap: var(--gap-2) 0;
								min-width: 0;
								.tit {
									width: 100%;
									font-weight: 700;
									font-size: var(--font-size-body-small);
									text-align: left;
									display: block;
									text-overflow: ellipsis;
									overflow: hidden;
									white-space: nowrap;
									&.tit_ty1 {
										color: var(--color-text-primary);
									}
									&.tit_ty2 {
										color: var(--color-text-secondary-light);
									}
								}
								.text {
									width: 100%;
									display: block;
									font-size: var(--font-size-body-medium);
									color: var(--color-text-basic);
									text-align: left;
									text-overflow: ellipsis;
									overflow: hidden;
									white-space: nowrap;
								}
							}
							&:hover,
							&:focus {
								background-color: var(--color-action-secondary-inverse-hover);
								// outline: var(--border-width-static-medium) solid #000;
								// outline-offset: -2px;
							}
							&:active {
								background-color: var(--color-action-secondary-inverse-pressed);
							}
							&.item_ico_ty1 {
								background-image: url(../images/content/main/bg_item_ico_ty1.png);
							}
							&.item_ico_ty2 {
								background-image: url(../images/content/main/bg_item_ico_ty2.png);
							}

							
						}
						& + li {
							margin-top: var(--gap-4);
						}
					}

				}

				.mbc_desc_wrap {
					padding-top: calc(var(--padding-5) + 1px);
					border-top: var(--border-width-static-regular) solid var(--color-divider-secondary-light);
					.desc_txt {
						position: relative;
						padding-left: var(--padding-3);
						font-size: var(--font-size-body-small, 14px);
						color: var(--color-text-subtle, #464C53);
						&::before {
							content: '';
							position: absolute;
							top: 10px;
							left: 0;
							width: 4px;
							border-bottom: 1px solid #464C53;
							border-radius: 50%;
						}
					}
				}
			}
			// 삭제
			.dd {
				// background-color: var(--color-background-white);
				margin-top: var(--gap-4);
				font-size: 0;
				img {
					display: block;
				}
			}
			// 삭제
		}
	}


	// 메인 Visual
	.main_visual_box {
		min-height: 248px;
		.title_view_wrap {
			.page_title {
				.p_info {
					color: var(--color-text-secondary-light);
				}
			}
			.btn_area {
				margin-top: var(--gap-5);
				.hd_btn {
					min-width: 160px;
				}
			}
		}

		.visual_link {
			display: block;
			> img {
				vertical-align: top;
			}
		}
	}

	.main_product_box {
		flex: 1;
		display: flex;
		flex-direction: column;
		justify-content: stretch;
		gap: var(--gap-5);

		// 메인 Banner 
		.banner_box {
			gap: var(--gap-5);
	
			> * {
				flex: 1;
			}
		}
	
		// 추천 상품
		.main_recommend_box {
			flex: 1;
			position: relative;
			padding: var(--padding-6) var(--padding-7) var(--padding-5);
			border: var(--border-width-static-regular) solid var(--color-border-gray-light);
			border-radius: var(--radius-large2);
			box-sizing: border-box;

			&:not(.dragging){
				.re_link {
					&:hover {
						border-radius: var(--radius-medium4);
						background-color: var(--color-action-secondary-hover);
	
						.tip_item {
							bottom: calc(100% - 1px);
							opacity: 1;
							transition: all .3s ease-in;
						}
					}
				}
			}

			&.corp {
				flex:none;
				height: 159px;

				.re_product_list {
					&:not(.swiper-wrapper) {
						> li {
							min-width: 0;
						}
					}
					> li {
						.re_link {
							display: flex;
							justify-content: center;
							align-items: center;
							min-width: 0;
							width: 100%;
							min-height: auto;
							padding-bottom: 6px;

							> span {
								display: block;
								white-space: nowrap;
								overflow: hidden;
								text-overflow: ellipsis;
							}
						}
						a[target="_blank"]{
							> span {
								position: relative;
								padding-right: 20px;

								&:after {
									position: absolute;
									top: 2px;
									right: 0;
									content:'';
									width: 16px;
									height: 16px;
									background: url(../images/icon/arrow_link.svg) no-repeat right center/16px auto;
									vertical-align: middle;
								}
							}
						}
					}
				}
			}

			&:has(.swiper){
				// padding: var(--padding-6) 0 var(--padding-5);
				padding: 15px 0 11px;


				&:before {
					content:'';
					position: absolute;
					bottom: 0;
					left: calc(417px - 50vw);
					z-index: 10;
					width: calc(50vw - 418px);
					height: 117px;
					background: white;
				}

				&:after {
					content:'';
					position: absolute;
					bottom: 0;
					right: -87px;
					z-index: 10;
					width: 86px;
					height: 117px;
					background: white;
				}

				.title {
					padding: 0 var(--padding-7);
				}
			}

			.title {
				font-size: var(--font-size-heading-xsmall);
				font-weight: 700;
				color: var(--color-text-bolder);

				& + .re_product_list {
					margin-top: var(--gap-5);
				}
			}

			.re_product_list {
				// display: flex;
				&:not(.swiper-wrapper){
					display: flex;
					> li {
						flex: 1;
					}
				}

				> li {
					// flex: 1;
					position: relative;

					&:has(.re_link:hover, .re_link:focus){
						& + li {
							&:after {
								content: none;
							}
						}
					}

					.re_link {
						display: block;
						min-height: 110px;
						padding: 64px var(--padding-7) var(--padding-2);
						font-size: var(--font-size-body-small);
						font-weight: 700;
						// color: var(--color-text-subtle);
						color:  var(--color-text-basic);
						text-align: center;
						background-repeat: no-repeat;
						background-position: center top 4px;
						background-size: 56px auto;

						.text {
							display: block;
						}

						.tip_item {
							opacity: 0;
							bottom: 80%;
							left: 50%;
							padding: 0;
							white-space: nowrap;
							transform: translateX(-50%);

							.tip_item_cont {
								&:before {
									left: calc(50% - 6px);
								}
							}
						}

						&.driver {
							background-image: url(../images/content/main/icon_product_driver.svg);
						}
						&.children {
							background-image: url(../images/content/main/icon_product_child.svg);
						}
						&.pet {
							background-image: url(../images/content/main/icon_product_pet.svg);
						}
						&.home {
							background-image: url(../images/content/main/icon_product_home.svg);
						}
						&.travel {
							background-image: url(../images/content/main/icon_product_travel.svg);
						}
						&.building {
							background-image: url(../images/content/main/icon_product_building.svg);
						}
						&.save {
							background-image: url(../images/content/main/icon_product_save.svg);
						}
						&.motor {
							background-image: url(../images/content/main/icon_product_motor.svg);
						}

						//법인
						&.c_apply {
							background-image: url(../images/content/main/icon_corp_apply.svg);
						}
						&.c_change {
							background-image: url(../images/content/main/icon_corp_change.svg);
						}
						&.c_sign {
							background-image: url(../images/content/main/icon_corp_sign.svg);
						}
						&.c_search {
							background-image: url(../images/content/main/icon_corp_search.svg);
						}

						&:focus {
							border-radius: var(--radius-medium4);
							background-color: var(--color-action-secondary-hover);

							.tip_item {
								bottom: calc(100% - 1px);
								opacity: 1;
								transition: all .3s ease-in;
							}
						}

						&.active {
							background-color: #fff;

							.tip_item {
								display: none;
							}
						}
					}

					& ~ li {
						&:after {
							// content:'';
							position: absolute;
							top: 12px;
							left: 0;
							z-index: -1;
							width: 1px;
							height: 67px;
							background-color:  var(--color-divider-gray-light);
						}
					}
				}
			}

			// swiper case
			> .swiper {
				position: relative;
				overflow: visible;
				padding: var(--gap-5) var(--padding-7) 0;
				// padding: 56px var(--padding-7) 0;

					// &:before {
					// 	content:'';
					// 	position: absolute;
					// 	top:0;
					// 	right: 0;
					// 	width: 86px;
					// 	height: 100%;
					// 	z-index: 10;
					// 	background: red;
					// 	// background:  var(--color-action-secondary, rgba(255, 255, 255, 0.00));
					// 	border-radius: 8px;
					// 	opacity: 0.5;
					// }

				.swiper-wrapper {
					.swiper-slide {
						width: 146px;
						opacity: 0;

						&:first-child {
							&.disabled_slide {
								&.swiper-slide-prev {
									opacity: 0;
								}
							}
						}

						&.disabled_slide {
							opacity: 0.3;
							pointer-events: none;
						}

						&.active_slide {
							opacity: 1;
						}
					}
				}
			}

			.disabled-slide {
				opacity: 0.5;
				cursor: not-allowed;
			}

			.swiper_control {
				.swiper_button {
					position: absolute;
					top: calc(50% - 20px);
					z-index: 30;

					&.swiper_button_left {
						left: -20px;
					}
					&.swiper_button_right {
						right: -20px;
					}
					&:focus {
						background-color: var(--color-action-white);
					}
				}
			}
		}
	}
}


.mcont_items_wrap {
	width: 100%;

	.mcont_items {
		padding-top: var(--gap-11);

		&:first-child {
			padding-top: var(--padding-7);
		}

		.acd_item_ty5 {
			.acd_head_title {
				width: 170px;
				padding-left: var(--padding-8);
				background-size: 20px auto;
			}

			.acd_btn {
				width: 32px;
				height: 32px;
				background-size: 24px auto;
			}

			.acd_cont {
				.inner {
					padding: 0 var(--padding-3) var(--padding-8);
				}
			}
		}

		.info_gray.ty4 {	
			.title_h3 {
				&.notice {
					padding-left: var(--padding-8);
					background: url(../images/icon/point_circle.svg) no-repeat left 50%/20px auto;
					color: var(--color-text-basic)s;
				}
			}
			.list_depth {
				margin-top: 20px;
				> li {
					font-size: var(--font-size-body-small);
					&:before {
						width: 2px;
						height: 2px;
						background-color: var(--color-icon-information);
					}
				}

				& + .list_depth_ty2 {
					margin-top: var(--gap-5);
					
					li {
						color: var(--color-text-subtle);
					}
				}
			}
		}
	}
	&.main_evt_box {
		.mcont_items {
			padding-top: var(--gap-11);
		}
	}
}



/* 메인 상품별 아이콘 처리 */
.main_prd {
	.main_prd_title {
		display: flex;
		align-items: center;
		padding-bottom: var(--gap-6);
		font-weight: 700;
		font-size: var(--font-size-heading-medium);
		color: var(--color-text-bolder);
		.n_msg {
			display: inline-block;
			margin-left: var(--gap-3);
			padding-left: 20px;
			padding-top: var(--gap-2);
			font-weight: 400;
			color: var(--color-text-information);
			font-size: var(--font-size-label-medium);
			background: url(../images/icon/info_ty2.svg) no-repeat left top 7px / 16px auto;			
		}
	}

	.main_prd_cont {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: var(--gap-5);

		.mpc_item {
			flex: 1 1 calc(50% - 8px);
			position: relative;
			top: 0;
			display: flex;
			align-items: center;
			// padding: var(--padding-8) 80px var(--padding-8) var(--padding-7);
			padding: var(--padding-8) var(--padding-7);
			height: 174px;
			border-radius: var(--radius-large2);
			border: var(--border-width-static-regular) solid #fff;
			background-repeat: no-repeat;
			background-position: right center;
			background-size: 160px auto;
			transition: all 0.3s;

			&:focus,
			&:hover,
			&:active {
				top: calc(-1 * var(--gap-2));
				border: var(--border-width-static-regular) solid var(--color-border-primary);
				box-shadow: 0 4px 8px 0 var(--color-alpha-shadow5, rgba(248, 99, 60, 0.20));
			}

			&.mpc_item_ty1 {
				background-color: var(--color-action-primary-fill);
				background-size: 160px 106px;
				@for $i from 1 through 8 {
					&.mit1_ic#{$i} {
						background-image: url(../images/content/main/icon_mit1_ic#{$i}.png);
					}
				}
			}
			&.mpc_item_ty2 {
				background-color: var(--color-action-secondary-fill);
				background-size: 160px 106px;
				@for $i from 1 through 21 {
					&.mit2_ic#{$i} {
						background-image: url(../images/content/main/icon_mit2_ic#{$i}.png);
					}
				}
			}

			.mpc_item_cont {
				display: flex;
				height: 100%;
				flex-direction: column;
				justify-content: space-between;
				gap: var(--gap-5);

				> .title {
					font-weight: 700;
					color: var(--color-text-bolder);
					font-size: var(--font-size-heading-small);
					line-height: 150%;
				}

				> .text {
					padding-top: var(--gap-2);
					color: var(--color-text-subtle);
					font-size: var(--font-size-body-medium);
				}

				.mpc_title {
					display: flex;
					flex-direction: column;
				
					.badge_wrap {
						gap: var(--gap-2);
						width: auto;
						vertical-align: middle;
						padding-top: 2px;
						padding-left: var(--gap-3);
						
						.hd_badge {
							font-weight: 400;
							height: 24px;
						}

						+ .title {
							margin-top: var(--gap-4);
						}
					}

					> .title {
						font-size: 0;
						display: flex;
						.t_name {
							flex: unset;
							font-weight: 700;
							color: var(--color-text-bolder);
							font-size: var(--font-size-heading-small);
							line-height: 150%;
							vertical-align: middle;
						}
						.badge_wrap {
							flex: 1;
						}
					}
					> .text {
						padding-top: var(--gap-2);
						color: var(--color-text-basic);
						font-size: var(--font-size-body-medium);

						.sd {
							display: block;
							font-weight: 400;
							font-size: var(--font-size-body-small, 14px);
							line-height: normal;
						}
					}
				}
				
				.fb_c {
					min-height: 32px;
					//padding-top: var(--gap-5);
				}
			}
		}
	}
}
/* 메인 상품별 아이콘 처리 */

/* 메인 베너별 관리 */
.main_banner {
	&.main_banner_qr {
		display: flex;
		align-items: center;
		justify-content: space-between;
		height: 128px;
		padding: var(--padding-6) var(--padding-7) var(--padding-6) 248px;
		background: url(../images/content/main/bg_main_banner_qr.png) no-repeat left top / cover;
		.main_banner_qr_text {
			color: var(--color-text-bolder, #131416);
			font-size: var(--font-size-heading-medium, 20px);
			strong {
				display: block;
				font-weight: 700;
			}
		}
		.main_banner_qr_box {
			width: 96px;
			height: 96px;
			padding: var(--padding-3);
			background: var(--color-surface-white-subtle);
			border-radius: var(--radius-medium3);
			img {
				width: 80px;
				height: 80px;
			}
		}
	}
}
/* 메인 베너별 관리 */






.mc_r_cont {
	display: flex;
	flex-direction: column;
	gap: var(--gap-4);
}

.mc_bann_wrap {
	position: relative;
	text-align: center;

	&.active {
		.swiper_control {
			display: flex;
		}
	}

	.swiper {
		width: 100%;
		border-radius: var(--radius-large2);

		.swiper-wrapper {
			.swiper-slide {
				img {
					vertical-align: top;
				}
			}
		}

		&.swiper-initialized {
			.swiper_control {
				display: block;
			}
		}
	}

	.swiper_control {
		display: none;
		// display: flex;
		align-items: center;
		position: absolute;
		// bottom: 32px;
		left: 50%;
		transform: translateX(-50%);
		bottom: 8px;
		z-index: 10;
		padding: 0 24px;

		.c_inner {
			display: flex;
			align-items: center;
		}

		.swiper-pagination {
			position: relative;
			width: auto;
			left: auto;
			top: auto;
			bottom: auto;
			padding: var(--padding-3);
			display: flex;
			gap: var(--gap-2);

			&.sp_ty1 {
				.swiper-pagination-bullet {
					margin: 0;
				}
			}
		}

		.swiper_button {
			position: absolute;
			width: 24px;
			height: 24px;
			top: 50%;
			transform: translateY(-50%);
			background-color: transparent;
			background-size: 16px;

			&.swiper_button_left {
				left: 0;
			}
			&.swiper_button_right {
				right: 0;
			}
		}

		.swiper-button-play-pause {
			width: 24px;
			height: 24px;
			font-size: 0;
			background: url(../images/icon/icon_stop.svg) no-repeat center / 16px;

			&.active {
				background-image: url(../images/icon/icon_play.svg);
			}
		}
	}
}

// hover Case 영역
.prd_module_box {
	flex: 1;
	background-color: var(--color-surface-secondary-subtler);
	border-radius: var(--radius-large2);

	.prd_login {
		padding: var(--padding-6) var(--padding-5) var(--padding-3);
		border-bottom: var(--border-width-static-regular) solid var(--color-divider-secondary-light);
		

		> .chg_item {
			position: relative;
			display: block;
			width: 100%;
			padding: var(--padding-3) var(--padding-3) var(--padding-3) 52px;
			border-radius: var(--radius-medium1);
			transition: background-color 0.3s;
			background-color: var(--color-menu-secondary-fill-hover);

			&:before {
				content:'';
				position: absolute;
				top: 50%;
				left: var(--padding-3);
				width: 32px;
				height: 32px;
				border-radius: var(--radius-medium1);
				background: var(--color-element-secondary-light) url(../images/content/main/icon_login_person.svg) no-repeat center / 16px;
				transform: translateY(-50%);
				transition: background-color 0.3s;
			}

			.text {
				display: block;
				padding: 6px 0 5px 0;
				font-size: var(--font-size-body-large);
				color: var(--color-text-subtle);

				strong {
					display: inline-block;
					max-width: 100%;
					color: var(--color-text-basic);
					vertical-align: top;
					&.truncate {
						vertical-align: middle;
					}
				}
				> span {
					display: inline-block;
					vertical-align: middle;
				}
			}
		}

		> a.chg_item {
			padding: var(--padding-3) 40px var(--padding-3) 52px;
			background: url(../images/icon/arrowRight_ty4.svg) no-repeat right 16px center / 16px;
		
			.text {
				font-size: var(--font-size-body-small);
			}
		}
				
		// change effect
		.chg_item {
			&:hover,
			&:focus {
				background-color: var(--color-action-secondary-subtle-fill-hover);

				&:before {
					background-color: var(--color-element-secondary-lighter);
				}
			}
		}
	}

	.prd_module_list {
		padding: var(--padding-6) var(--padding-5);

		.item {
			display: flex;
			align-items: center;
			width: 100%;
			height: 40px;
			padding: var(--padding-3) var(--padding-5) var(--padding-3) 52px;
			background-repeat: no-repeat;
			background-position: left 12px center;
			background-size: 20px;
			transition: all 0.3s;

			.text {
				display: block;
				// font-size: var(--font-size-body-small);
				// background-color: blue;
				font-size: var(--font-size-body-medium);
			}

			&.prd_ic1 {
				background-image: url(../images/content/main/icon_prd_document_fill.svg);
			}
			&.prd_ic2 {
				background-image: url(../images/content/main/icon_prd_change.svg);
			}
			&.prd_ic3 {
				background-image: url(../images/content/main/icon_prd_infomation.svg);
			}
			&.prd_ic4 {
				background-image: url(../images/content/main/icon_prd_tmapsafety.svg);
			}
		}
		
		// change effect
		.item {
			&:hover,
			&:focus { 
				padding: var(--padding-3) var(--padding-6) var(--padding-3) 56px;
				background-color: var(--color-action-secondary-subtle-fill-hover);
				background-position: left 16px center;
				border-radius: var(--radius-medium1);
			}
		}
	}
}

/* 알려드려요 */
.item_news_link {
	display: flex;
	padding: 0 var(--padding-5);
	border-radius: var(--radius-medium1);
	background-color: transparent;
	transition: padding 0.3s, background-color 0.3s;
	min-width: 0;
	width: 100%;

	.item_news_link_inner	{
		position: relative;
		flex: 1 1 0;
		display: flex;
		align-items: center;
		min-width: 0;
		> .text {
			position: relative;
			min-width: 0;
			padding-left: var(--gap-3);
			font-size: var(--font-size-body-medium);
			color: var(--color-text-basic);
			line-height: 48px;
			&::before {
				content: '';
				position: absolute;
				top: 50%;
				left: 0;
				width: 3px;
				border-bottom: 3px solid #33363D;
				border-radius: 50%;
				transform: translateY(-50%);
			}
			.tit {
				display: block;
				max-width: 100%;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
			}
		}
		.date {
			flex: none;
			padding-left: var(--gap-4);
			font-size: var(--font-size-body-small);
			font-variant-numeric: tabular-nums;
			color: var(--color-text-subtle, #464C53);
		}
	}
	&:hover,
	&:focus {
		padding: 0 var(--padding-6);
		background-color: var(--color-action-secondary-dark-fill-hover);
	}
	&.item_news_link_ty2 {		
		.item_news_link_inner {
			justify-content: flex-end;
		}
	}
}
/* 알려드려요 */




/* 법인 홈 */
.mc_sub_bann {
	display: flex;
	flex-direction: column;
	gap: var(--gap-4);
}

.mc_corp_link {
	display: block;
	height: 248px;
	padding: var(--padding-8, 24px) var(--padding-7, 20px);
	background: var(--color-surface-secondary-subtler) url(../images/content/main/img_corp_link_bg.png) no-repeat right bottom 12px / 180px auto;
	border-radius: var(--radius-large2);

	.sub_title {
		display: block;
		font-weight: 700;
		font-size: var(--font-size-heading-xxsmall);
		color: var(--color-text-secondary-light);
		.sd {
			display: block;
			font-weight: 400;
			font-size: var(--font-size-body-small, 14px);
			line-height: normal;
		}
	}
	.main_title {
		display: block;
		margin-top: var(--gap-2);
		font-size: var(--font-size-heading-xsmall);
	}
	.btn_area {
		margin-top: var(--gap-5);
	}
}
.mc_corp_evt {
	display: block;
	height: 159px;
}

.main_prd_link_list {
	display: flex;
	gap: var(--gap-5);

	.link_item {
		flex: none;
		position: relative;
		top: 0;
		width: 224px;
		padding: 70px var(--padding-7) var(--padding-5);
		background-color: var(--color-action-secondary-fill);
		background-repeat: no-repeat;
		background-position: center 20px;
		background-size: 40px auto;
		font-size: var(--font-size-body-medium);
		color:  var(--color-text-basic);
		text-align: center;
		border-radius: var(--radius-large2);
		border: var(--border-width-static-regular) solid var(--color-border-inverse);
		// transition: all 0.3s;
		transition: transform 0.3s ease,
								box-shadow 0.3s ease,
								border-color 0.3s ease;
		
		.text {
			padding-right: 20px;
			background: url(../images/icon/arrow_link.svg) no-repeat right center / 16px auto;
		}

		//증명서발급
		&.l1_it1{
			background-image: url(../images/content/main/icon_link1_it1.svg);
		}
		&.l1_it2{
			background-image: url(../images/content/main/icon_link1_it2.svg);
		}
		&.l1_it3{
			background-image: url(../images/content/main/icon_link1_it3.svg);
		}
		&.l1_it4{
			background-image: url(../images/content/main/icon_link1_it4.svg);
		}
		&.l1_it5{
			background-image: url(../images/content/main/icon_link1_it5.svg);
		}

		//보상가이드
		&.l2_it1{
			background-image: url(../images/content/main/icon_link2_it1.svg);
		}
		&.l2_it2{
			background-image: url(../images/content/main/icon_link2_it2.svg);
		}
		&.l2_it3{
			background-image: url(../images/content/main/icon_link2_it3.svg);
		}

		&:active,
		&:focus,
		&:hover {
			top: calc(-1 * var(--gap-2));
			box-shadow: 0 var(--shadow-y-2) var(--shadow-blur-2) 0 var(--color-alpha-shadow1, rgba(0, 0, 0, 0.05));
			// transition: all 0.3s;
  		transform: translateY(calc(-1 * var(--gap-2)));
			border-color: var(--color-border-gray-dark);
		}
	}
}



// .main_cont_wrap {
// 	position: relative;

// 	&:not(.main_cont_wrap_ty2){
// 		&:has(.swiper){
// 			&:after {
// 				content:'';
// 				position: absolute;
// 				bottom: 53px;
// 				left: 0;
// 				width: 100%;
// 				height: 110px;
// 				background: white;
// 				z-index: -1;
// 			}
// 		}
// 	}
// }