.bottom_panel{
	width:100%;
	background-color: var(--color-surface-white-subtle);		
	.item_hidden {
		display: none;
		overflow: hidden;
	}

	.bottom_panel_toggle {
		display: inline-flex;
		align-items: center;
		background-image: none;
		// margin-bottom:16px;
		padding:0 2px;
		font-size:var(--font-size-button-large);
		&::after {
			content:"";
			display: inline-flex;
			width:20px;
			height:20px;
			background: url(../images/icon/arrowDown_ty3.svg) no-repeat center center / 20px auto;
			transform: rotate(-180deg);
		}
	}

	.bottom_panel_cont {
		padding-top: var(--gap-5);
		
		.info_gray {	
			&.bg_etc01 {
				margin-top:0;	
				padding:0;
			}
			&:not(.bg_etc01) {
				margin-top: var(--gap-8);
			}	 
		}
	}

	&.active {
		position: fixed;
		bottom:0;
		left:0;
		.bottom_panel_toggle {
			&::after {
				transform: rotate(0deg);
			}
		}
	}
	
	&.ft_fix {
		position: sticky;
		bottom: 0;
		left: 0;
		z-index: 30;
		box-shadow: 0px var(--shadow-y-minus2) var(--shadow-blur-2) 0px var(--color-alpha-shadow1, rgba(0, 0, 0, 0.05));

		> * {
			max-width: 836px;
			margin: 0 auto;
		}

		.bottom_panel_cont {
			.total {
				display: flex;
				align-items: center;
				gap: var(--gap-8);
				min-height: 56px;

				> dl {
					flex: 1;
					display: flex;
					flex-direction: row;
					justify-content: space-between;
					align-items: center;
					gap: var(--gap-5);

					dt {
						position: relative;
						padding-left: 72px;
						font-size: var(--font-size-body-medium);
						font-weight: 700;
						color: var(--color-text-bolder);

						&:before {
							position: absolute;
							top: calc(50% - 28px);
							left: 0;
							content:'';
							width: 56px;
							height: 56px;
							background-color: var(--color-surface-primary-subtler);
							background-image: url(../images/icon/icon_price.svg);
							background-position: center;
							background-repeat: no-repeat;
							background-size: 32px;
							border-radius: var(--radius-medium1);
						}

						.sub {
							font-size: var(--font-size-body-small);
						}
					}
					dd {
						font-size: var(--font-size-heading-large);
					}
				}

				> .btn_area {
					.hd_btn {
						min-width: 121px;
					}
				}
			}
		}
	}
}

