.reg_case {
	+ .checkbox_group_wrap {
		&.column {
			margin-top: var(--gap-8);
		}
	}
}

.info_help_list {
	dt {
		margin-bottom: var(--gap-4);
		font-weight: 700;
		font-size: var(--font-size-heading-small);
		color: var(--color-text-bolder);
		& ~ dt {
			margin-top: var(--gap-9);
		}
	}
	dd {
		font-size: var(--font-size-body-medium);
	}
}