.title_h4  {
	& + .info_gray.ty3 {
		margin-top: 12px;
	}
	
}
.info_gray {
	&.ty3 {
		.tit {
			font-size: var(--font-size-label-medium);
		}
		.txt {
			font-size: var(--font-size-label-small);
			color: var(--color-text-subtle);
		}
		.point {
			padding:0 var(--padding-1);
			font-size: var(--font-size-button-large);
		}
		.list {
			display: flex;
			flex-direction: column;
			gap: var(--gap-2);
			& + .list {
				margin-top: var(--gap-5);
			}
		}
	}
}