/* 운전자보험 | 보험료확인 */
.guarantee_top {
	padding-bottom: var(--gap-8);
	&_item {
		display: none;
		&.active {
			display: block;
		}
	}
}

/* 상단 이미지 영역 */
.guarantee_visuval {
	position: relative;
	font-size: 0;
	line-height: normal;
	text-align: center;
	img {
		display: block;
		height: 160px;
		margin: auto;
	}
	.visual_msg {
		position: absolute;
		top: 0;
		left: 50%;
		margin-left: 52px;
		padding: var(--padding-2) var(--padding-6);
		background: var(--color-element-primary);
		border-radius: 100px; 
		&.ty2 {
			margin-left: 65px;
		}

		.msg_text {
			position: relative;
			font-size: var(--font-size-body-xsmall);
			font-weight: 700;
			line-height: 18px;
			color: #FFF;
			border-radius: 100px; 

			&:after {
				position: absolute;
				bottom: -7px;
				left: -16px;
				z-index: 0;
				content:'';
				width: 17px;
				height: 18px;
				background: url(../images/icon/icon_bb_tail.svg) no-repeat center / 100% auto;
			}
		}
	}
}
/* 상단 이미지 영역 */

// 

.guarantee_list_wrap {
	display: flex;
	flex-direction: column;
	gap: 16px 0;
	//margin-top: var(--gap-3);
}
.gtl_special {
	height: 0;
	visibility: hidden;
	opacity: 0;
	transition: all 0.3s;
	&.active {
		height: auto;
		opacity: 1;
		visibility: visible;
	}
}


.guarantee_choice_wrap {
	position: relative;
	border-radius: var(--radius-large2);
	background-color: var(--color-surface-white-subtle);
	transition: background-color 0.3s;
	&::after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		border-radius: var(--radius-large2);
		border: var(--border-width-static-regular) solid var(--color-border-gray-light);
		pointer-events: none;
	}
	&.active {
		background-color: var(--color-surface-gray-subtler);
		&::after {
			border: var(--border-width-static-regular) solid var(--color-surface-gray-subtler);
		}
	}
}
 
.guarantee_item {
	position: relative;
	.gi_radio {
		input {
			position: absolute;
			top: 0;
			left: 0;
			opacity: 0;
			+ label {
				&::after {
					content: '';
					position: absolute;
					top: 0;
					left: 0;
					z-index: 1;
					width: 100%;
					height: 100%;
				}

			}
		}
	}
	&_top {
		display: flex;
		align-items: center;
		gap: 0 16px;
		padding: 20px;
		.git_l {
			flex: none;
		}
		.git_r {
			flex: 1 1 0;
			position: relative;
			font-size: var(--font-size-body-medium);
			// line-height: 24px;
			.git_r_sub {
				display: block;
				.git_r_sub_point {
					font-weight: 700;
				}
			}
		}

		
	}

	&_cont {
		position: relative;
		z-index: 1;
		display: none;
		padding: 20px;
		border-radius: var(--radius-large2);
		border: var(--border-width-static-medium) solid var(--color-border-primary);
		background-color: var(--color-surface-white-subtle);
		.gic_inner_top {
			position: relative;
			display: flex;
			align-items: center;
			gap: var(--gap-3);
			padding-right: 140px;
			font-size: var(--font-size-label-small);
			.badge_wrap {
				flex: none;
				width: auto;
			}
			.text {
				flex: 1 1 0;
			}
		}
		.gic_inner {
			// display: none;
			margin-top: var(--gap-5);
			border-top: var(--border-width-static-regular) solid var(--color-divider-gray-light);
		}
		.gic {
			padding: 24px 0 0;
			.tit {
				display: block;
				padding-top: 96px;
				text-align: center;
				font-size: var(--font-size-heading-small);
				background-repeat: no-repeat;
				background-position: top center;
				background-size: 80px auto;
			}
			.desc {
				padding-top: 4px;
				color: var(--color-text-subtle);
				font-size: var(--font-size-body-medium);
				line-height: 24px;
				text-align: center;
			}
			&.gic_01 {
				.tit {
					background-image: url(../images/content/mprl/img_MPRLTDR10003000000_02.svg);
				}

				&.ltct {
					.tit {					
						background-image: url(../images/content/ltct/img_MPRLTCT11003000000_02.svg);
					}						
				}
			}
			&.gic_02 {
				.tit {
					background-image: url(../images/content/mprl/img_MPRLTDR10003000000_03.svg);
				}
			}
			&.gic_03 {
				.tit {
					background-image: url(../images/content/mprl/img_MPRLTDR10003000000_04.svg);
				}

				&.ltct {
					.tit {
						background-image: url(../images/content/ltct/img_MPRLTCT11003000000_03.svg);
					}
						
				}
			}

		}
	}

	.short_cut {
		position: absolute;
		top: 23px;
		right: 20px;
		z-index: 1;
		display: none;
	}


	& + & {
		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: 20px;
			width: calc(100% - 40px);
			border-bottom: var(--border-width-static-regular) solid var(--color-divider-gray-light);
		}
	}
	& + &.active {
		&::before {
			content: none;
		}
	}

	&.active {
		+ .guarantee_item {
			&::before {
				content: none;
			}
		}
		.short_cut {
			display: block;
			line-height: 24px;
		}
	}
	// checked style 정의
}

.guarantee_container {
	position: relative;
	min-height: 100%;
	margin: 0 -24px;

	&.detail_only {
		margin: 0;

		.guarantee_detail_mini {
			width: 100%;
			margin: 0;
			padding: 16px 16px 0;


			.item_wrap {
				.i_data {

					& + .i_data {
						margin: 0;
					}
				}
			}
		}
	}

	&.active {
		.guarantee_container_left {
			position: absolute;
			left: -100%;
			height: 100%;
		}
		.guarantee_container_right {
			left: 0;
			height: auto;
			width: 100%;
			opacity: 1;
			visibility: visible;
			overflow: initial;
		}
	}
}

.guarantee_container_left {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	height: auto;
	padding: 0 24px;
	transition: all 0.5s ease;
}

.guarantee_container_right {
	position: relative;
	top: 0;
	left: 100%;
	width: 0;
	height: 0;
	padding: 0 24px;
	opacity: 0;
	visibility: hidden;
	transition: left 0.5s;
	overflow: hidden;
}

.gdi_info_list {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: var(--gap-5);
	padding-top: 12px;
	border-top: var(--border-width-static-regular) solid var(--color-border-gray-light);

	dl {
		display: flex;
		align-items: center;
		gap: var(--gap-2);

		dt, dd {
			font-size: var(--font-size-body-small);
		}
	}
}
 
.guarantee_detail {
	&:focus {
		outline: none;
	}
	// background-color: blue;

	.guarantee_detail_top {
		margin: -24px -24px 0 -24px;
		padding: 24px 24px 20px 24px;
		background-color: var(--color-surface-secondary-subtler);
	}

	.gd_item {
		position: relative;
		min-height: 100%;
		padding: var(--padding-8);
		border-radius: var(--radius-large2);
		background-color: var(--color-surface-white-subtle);
		.rdo_box {
			input {
				position: absolute;
				opacity: 0;
				+ label {
					&::after {
						content: '';
						position: absolute;
						top: 0;
						left: 0;
						width: 100%;
						height: 100%;
						pointer-events: none;
					}
				}
			}
		}

		.gdi_content {

			.badge_wrap.hasText {
				display: flex;
				justify-content: space-between;
				align-items: center;

				.desc {
					color: var(--color-text-subtle);
					font-size: var(--font-size-body-small);
				}
			}

			.head_text {
				padding-top: 8px;
				font-size: var(--font-size-body-medium);

				&.no_text {
					.price {
						padding-top: 0;
					}
				}

				.price {
					display: block;
					padding-top: 8px;
					.price_num {
						display: inline-block;
						vertical-align: middle;
						font-weight: 700;
						font-size: var(--font-size-display-medium);
					}
					.won {
						display: inline-block;
						vertical-align: bottom;
						padding: 0 0 var(--padding-3) var(--padding-1);
						font-size: var(--font-size-body-large);
					}
					.left_txt {
						display: inline-block;
						vertical-align: middle;
						padding-right: var(--gap-4);;
						font-weight: 700;
						font-size: var(--font-size-body-small);
					}

					&.ty2 {
						color: var(--color-text-subtle);
						
						.price_num {
							font-size: var(--font-size-heading-medium);
						}
						.won {
							font-size: var(--font-size-body-small);
						}
					}
				}

				+ .comb_info {
					border-radius: var(--radius-medium3);
					display: flex;
					padding: var(--padding-6) var(--padding-7);
					align-items: center;
					align-self: stretch;
					font-size: var(--font-size-body-small);
					color: var(--color-text-subtle);
					margin-top: var(--gap-3);
					margin-bottom: var(--gap-4);
					gap: var(--gap-2);

					&.ty_gray {
						background: var(--color-surface-gray-subtler);
					}
					&.ty_dashed {
						border: 1px dashed var(--color-border-gray-light);
					}

					i.plus {
						display: block;
						width: 12px;
						height: 12px;
						background: url(../images/icon/icon_plus_ty2.svg) no-repeat center/12px;
						margin: 0 4px;
					}

					+ .head_text {
						padding-top: 0;

						.price.ty2 {
							padding-top: 0;
						}
					}
				}

				+ .gdi_content_list {
					margin-top: var(--gap-4);
				}
			}

			.head_desc_text {
				display: flex;
				gap: var(--gap-2);
				margin: 8px 0;
				font-size: var(--font-size-body-small);
				color: var(--color-text-subtle);
			}

			.gdi_content_list {
				> li {
					padding-top: var(--padding-6);
 					border-top: var(--border-width-static-regular) solid var(--color-border-gray-light);
					 + li {
						margin-top: var(--gap-5);
					}
					.item {
						display: flex;
						align-items: center;
						width: 100%;
						min-height: 40px;
						font-size: var(--font-size-body-small);
						background-repeat: no-repeat;
						background-position: right center;
						background-size: 40px auto;

						
						.txt {
							.question_mark_btn {
								vertical-align: top;
							}
						}

						.add_text_btn {						
							.txt{
								position: relative;
								font-size: var(--font-size-body-small);
								line-height: 150%;

								&::after {
									content: '';
									// position:absolute;
									display: inline-block;
									vertical-align: bottom;
									width: 16px;
									height: 16px;
									background: url(../images/icon/arrowRight_ty4.svg) no-repeat right center / 16px auto;
									bottom: 0;
									transform: translateY(-4px);
								}						
							}

							&:hover {
								background-color: #ffffff;
							}
						}
						


					}
					&.ico_add {						
						.item {
							padding-right: 50px;
						}
						&.ico_add_ty1 {//자동차
							.item {
								background-image: url(../images/content/guarantee/icon_gil_01.svg);
							}
						}
						&.ico_add_ty2 {//현대카드
							.item {
								background-image: url(../images/content/guarantee/icon_gil_02.svg);
							}
						}
						&.ico_add_ty3 {//펫-강아지
							.item {
								background-image: url(../images/content/guarantee/icon_gil_03.svg);
							}
						}
						&.ico_add_ty4 {//펫-고양이
							.item {
								background-image: url(../images/content/guarantee/icon_gil_04.svg);
							}
						}
						&.ico_add_ty5 {//여행
							.item {
								background-image: url(../images/content/guarantee/icon_gil_05.svg);
							}
						}
						&.ico_add_ty6 {//골프
							.item {
								background-image: url(../images/content/guarantee/icon_gil_06.svg);
							}
						}
						&.ico_add_ty7 {//건강1
							.item {
								background-image: url(../images/content/guarantee/icon_gil_07.svg);
							}
						}
						&.ico_add_ty8 {//건강2
							.item {
								background-image: url(../images/content/guarantee/icon_gil_08.svg);
							}
						}
						&.ico_add_ty9 {//해외장기체류
							.item {
								background-image: url(../images/content/guarantee/icon_gil_09.svg);
							}
						}
						&.ico_add_ty10 {//어린이보험
							.item {
								background-image: url(../images/content/guarantee/icon_gil_10.svg);
							}
						}
					}
					
				}
			}
		}
	}

	.guarantee_detail_mini {
		display: flex;
		align-items:center;
		justify-content: space-between;
		gap: var(--gap-5);
		width: 100%;
		padding: 0 16px;
		margin-top: var(--gap-7);
		
		.item_wrap {
			flex: 1 1 0;
			display: flex;
			flex-flow: row wrap;
			gap: 4px 12px;
			min-width: 0;
			// background-color: rgba(0, 0, 0, 0.05);
		}

		.i_data {
			position: relative;
			display: flex;
			gap: var(--gap-3);
			padding-right: var(--padding-3);
			font-size: var(--font-size-body-small);
			color: var(--color-text-subtle);
			// background-color: rgba(200, 255, 255, 0.55);
			.text {
				flex: none;
			}
			.data {
				flex: 1 1 0;
				font-weight: 700;
				overflow-wrap: anywhere;

			}
			&::before {
				content: '';
				position: absolute;
				top: 10px;
				left: 0;
				width: 2px;
				height: 2px;
				background-color: var(--color-icon-information);
				border-radius: 50%;
			}

			& + .i_data { 
				// margin-left: var(--gap-4)
			}
		}

		.modify_ba {
			flex: none;
		}
	}	


	.btn_area {
		&.gd_middle_ba {
			margin-top: var(--gap-8);

			& + .coverage_item_wrap {
				margin-top: var(--gap-7);
			}
		}
		+ .acc_group {
			margin-top: var(--gap-8);
		}
	}

	.acc_group {
		& + .btn_area {
			margin-top: var(--gap-11);
		}
	}

}

.guarantee_detail.ty2 {
	.guarantee_detail_mini {
		width: 100%;
		margin-top: var(--gap-5);
		
		.item_wrap {
			flex: 1 1 0;
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			grid-template-rows: repeat(2, auto);
			gap: 4px var(--gap-4);
			&.flex_type {
				display: flex;
			}

			.i_data {
				min-width: 110px;
			}

			.i_data + .i_data { 
				margin: 0;
			}
		}
		

	.modify_ba {
		justify-self: flex-end;
	}
}

	.btn_area {
		gap: var(--gap-4);

		&.ty2 + .acc_group{
			margin-top: var(--gap-8);
		}
	}
}


/* 간편정보 */
.simple_info_wrap {
	position: sticky;
	top: -24px;
	z-index: 11;
	margin: 0 -24px;
	background: var(--color-surface-white-subtler, #FFF);
	& + .form_box,
	& + .title_h3,
	& + .tab_wrap,
	& + .btn_area {
		margin-top: var(--gap-8);
	}
	
	.simple_info_item {
		display: none;
		width: 100%;
		// height: 0;
		overflow: hidden;
		padding: var(--padding-6) var(--padding-8);
		border-radius: 0px 0px var(--padding-6) var(--padding-6);
		background: var(--color-surface-white-subtler, #FFF);
		box-shadow: 0px var(--shadow-y-2) var(--shadow-blur-2) 0px var(--color-alpha-shadow1, rgba(0, 0, 0, 0.05));
		
		.sii_list {
			> li {
				display: flex;
				align-items: center;
				justify-content: space-between;
				// padding: var(--gap-5) 0;
				font-size: var(--font-size-body-small);
				+ li {
					margin-top: var(--gap-5);
					padding-top: var(--gap-5);
					border-top: var(--border-width-static-regular) solid var(--color-border-gray-light);
					&.sil_li_ty2 {
						padding-top: 0;
						border-top: 0;
					}
					.btn_link {
						.text {
							color: var(--color-text-basic);
						}
					}
					.text {
						color: var(--color-text-subtle);
					}
					strong{
						color: var(--color-text-basic);
						&.point {
							color: var(--color-text-primary-bold);
						}
						&.trend {
							color: var(--color-text-basic);
						}
						&.trend.up {
							color: var(--color-text-point);
						}
						&.trend.down {
							color: var(--color-light-secondary-60);
						}
					}
				}
				.bold {
					font-weight: 700;
				}

				.sii_list_r {
					text-align: right;
				}

				del {
					display: block;
				}
				.price {
					font-size: var(--font-size-body-medium);
				}
				.pipe {
					position: relative;
					margin-left: 14px;
					&::before {
						content: '';
						position: absolute;
						top: 50%;
						left: -9px;
						height: 12px;
						border-left: var(--border-width-static-regular) solid var(--color-divider-gray-light);
						transform: translateY(-50%);
					}
				}
			}
		}

		.acd_item_ty6 {
			.acd_head {
				.acd_btn {
					padding: 0 32px 0 0;
					&:before {
						right: 0;
					}
				}
			}
			.acd_cont {
				.info_gray {
					padding-bottom: 0;
					&.bg_etc01 {
						padding: 0;
						dl {
							align-items: center;
						}
					}
				}
			}

			& + .acd_item_ty6 {
				.acd_head {
					.acd_btn {
						margin-top: var(--gap-5);
					}
					&.active {
						padding-top: var(--gap-5);

						& + .acd_cont {
							> .info_gray {
								padding-bottom: 0;
							}
						}
					}
					& + .acd_cont {
						.info_gray {
							dl {
								margin-top: var(--gap-5);
							}
						}
					}
				}
			}
		}
	}

	&.ty2 {
		.simple_info_item  {
			border-radius: 0;
			box-shadow: none;

			&.active {
				padding-bottom: 0;
			}
		}
	}

	& + .sticky {
		&.tag_item_wrap {
			margin: 0 -24px;
			padding: var(--padding-9) var(--padding-8);

			&.active {
				position: sticky;
				z-index: 10;
				padding-top: var(--padding-6);
				padding-bottom: var(--padding-6);
				background-color: var(--color-background-white);
				box-shadow: 0px var(--shadow-y-2) var(--shadow-blur-2) 0px var(--color-alpha-shadow1, rgba(0, 0, 0, 0.05));
				border-radius: 0px 0px var(--padding-6) var(--padding-6);
			}
		}
	}
}

.position_event_wrap {
	&:has(.pec_point_wrap) {
		.pec_point_wrap {
			.pec_point {
				~ .pec_point {
					margin-top: 52px;
				}
			}
		}
	}
}
/* 간편정보 */


.coverage_item_wrap {
	padding: var(--number-10) var(--padding-7);
	border: var(--border-width-static-regular) solid var(--color-border-gray-light);
	border-radius: var(--radius-large2);

	.coverage_item_list {
		> .list {
			flex-direction: row;
			justify-content: space-between;

			& + .list {
				margin-top: var(--gap-6);
				padding-top: var(--padding-7);
				border-top: var(--border-width-static-regular) solid var(--color-border-gray-light);
			}
		}
	}
}

.coverage_item_list {
	> .list {
		display: flex;
		flex-direction: column;
		gap: var(--gap-2);

		.item_title {
			font-size: var(--font-size-label-medium);
		}

		.item_title_ty2 {
			display: flex;
			justify-content: space-between;
			gap: var(--gap-2);
			font-size: var(--font-size-label-medium);
		}


		.item_bottom {
			display: flex;
			gap: var(--gap-3);
		}

		& ~ .list {
			margin-top: var(--gap-5);
		}
	}
}

.coverage_item_list_ty2 {
	> .list {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		gap: var(--gap-2);

		& ~ .list {
			margin-top: var(--gap-5);
		}

		.item_title {
			font-size: var(--font-size-label-medium);
			line-height: 24px;
		}
		.item_bottom {
			display: flex;
			gap: var(--gap-3);
		}

		.sub_txt_area {
			padding-top: 0;
		}

		& + .table_wrap.type_mini {
			margin-top: var(--gap-5);
		}
	}
}
.card_item {
	.coverage_item_list {
		li + li {
			padding-top: var(--padding-7);
			border-top: var(--border-width-static-regular) solid var(--color-border-gray-light);
		}
	}
}

.acc_group {
	& + .form_group_wrap {
		margin-top: var(--gap-8);
	}
}


.set_value_box {
	padding: 14px var(--padding-7) 15px;
	background: var(--color-element-secondary-lighter);
	border-radius: var(--radius-medium3);
	text-align: center;

	strong {
		font-size: var(--font-size-button-cta-bold);
		color: var(--color-text-basic);
	}
}


.guarantee_container_right {
	.title_h3 + .info_text {
		margin-top: var(--gap-4);

		.tooltip_wrap {
			vertical-align: baseline;

			.tooltip_panel {
				top: calc(100% + 15px);
			}
		}
		
	}
}
