/* 자동차보험 | 운전자 정보 - 운전자 범위 선택 */
@mixin activeState(){
	&:before {
		opacity: 1;
	}
	
	> span {
		font-weight: 700;
	}
}

@mixin activeImage($count){
	background-image: url(../images/content/mtps/img_rel_case#{$count}_on.svg);

}

.select_driver_range {
	.driver_relationship_state {
		// display: flex;
		// align-items: flex-end;
		// gap: 24px;
	}

	// .relationship_box {
	// 	display: flex;
	// 	flex-direction: column;
	// 	gap: 24px;

	// 	&:first-child {
	// 		flex: 1;
	// 		align-items: center;
	// 	}

	// 	.line {
	// 		display: flex;
	// 		justify-content: space-between;

	// 		[class^=rel_case]{
	// 			position: relative;
	// 			padding: 0 13px;
	// 			background-color: #FFF;
	// 			text-align: center;
	// 			border-radius: 20px;

	// 			> span {
	// 				display: block;
	// 				padding: 8px 0;
	// 				font-size: 14px;
	// 				line-height: 21px;
	// 				color: #3E4A58;
	// 				border-radius: 20px;

	// 				img {
	// 					display: block;
	// 					height: 44px;
	// 					margin: 0 auto;
	// 					margin-bottom: 4px;
	// 				}
	// 			}

	// 			&.active {
	// 				font-weight: 700;

	// 				&:after {
	// 					position: absolute;
	// 					top:0;
	// 					left: 0;
	// 					content:'';
	// 					width: 100%;
	// 					height: 100%;
	// 					border: 2px solid #F8633C;
	// 					border-radius: 20px;
	// 				}
	// 			}
	// 		}

	// 		.rel_group {
	// 			display: inline-flex;
	// 			gap: var(--gap-5);

	// 			.parent {
	// 				display: flex;
	// 				gap: 10px;
	// 				background-color: #FFF;
	// 				padding: 0 24px;

	// 				i {
	// 					max-width: 100px;
	// 				}
	// 			}
	// 		}
	// 	}
	// }
}

.driver_relationship_state {
	margin: var(--gap-8) -24px 0;
	padding: var(--padding-9) var(--padding-8);
	border-radius: var(--radius-xlarge2);
	background: var(--color-surface-gray-subtler);
}

.relationship_box {
	position: relative;
	height: 323px;
	overflow: hidden;

	[class^=rel_case]{
		position: absolute;
		z-index: 10;
		display: flex;
		background-color: var(--color-action-white);
		border-radius: var(--radius-large1);

		&:before {
			content: '선택됨';
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			z-index: 1;
			width: 100%;
			height: 100%;
			font-size: 0;
			border: var(--border-width-static-medium) solid var(--color-border-primary);
			border-radius: var(--radius-large1);
			opacity: 0;
			transition: all .5s;
		}

		> span {
			display: flex;
			flex-direction: column;
			justify-content: center;
			min-width: 70px;
			padding: 56px 13px var(--padding-3);
			background-repeat: no-repeat;
			background-size: auto 44px;
			background-position: center 8px;
			font-size: var(--font-size-body-small);
			text-align: center;
			white-space: nowrap;
			transition: background-image .5s;

			i {
				font-style: normal;
				font-size: var(--font-size-body-xsmall);
			}

			&.ty2 {
				// padding-top: 52px;
				min-width: 78px;
			}			
		}
	}
	.rel_case1 {
		top: 0;
		left: 0;
		display: flex;
		// justify-content: center;
		justify-content: space-between;
		gap: var(--gap-3);
		// width: 256px;
		width: calc(50% + 90px);
		padding: 0 24px;

		> span {
			position: relative;
			min-width: 99px;
			
			&:after {
				content:'';
				display: block;
				position: absolute;
				top: 100%;
				left: 50%;
				z-index: 1;
				width: 1px;
				height: 100vh;
				background-color: var(--color-border-gray-light);
			}

			&.ty1 {
				background-image:url(../images/content/mtps/img_rel_case1.svg);
			}
	
			&.ty2 {
				background-image:url(../images/content/mtps/img_rel_case1_2.svg);
			}
	
		}
		&:after {
			content:'';
			display: block;
			position: absolute;
			top: 161px;
			left: 50%;
			z-index: 1;
			width: 1px;
			height: 100vh;
			background-color: var(--color-border-gray-light);
		}
	}
	.rel_case2 {
		top: 109px;
		left: 30px;

		&.man {
			> span {
				background-image:url(../images/content/mtps/img_rel_case_man.svg);
			}
		}
		&.woman {
			> span {
				background-image:url(../images/content/mtps/img_rel_case_woman.svg);
			}
		}

		> span {
			width: 90px;
			min-height: 103px;

			&:before {
				content:'';
				display: block;
				position: absolute;
				top: 100%;
				left: 1px;
				width: 100%;
				height: 100vw;
				background-color: var(--color-surface-gray-subtler);
			}
	
			&:after {
				content:'';
				display: block;
				position: absolute;
				top: 50%;
				left: 100%;
				z-index: 1;
				width: 100vw;
				height: 1px;
				background-color: var(--color-border-gray-light);
			}
		}
	}
	.rel_case3 {
		top: 109px;
		left: 50%;
		margin-left: -28px;

		&.man {
			> span {
				background-image:url(../images/content/mtps/img_rel_case_man.svg);
			}
		}
		&.woman {
			> span {
				background-image:url(../images/content/mtps/img_rel_case_woman.svg);
			}
		}

		> span {
			width: 90px;
			min-height: 103px;

			&:before {
				content:'';
				display: block;
				position: absolute;
				top: 100%;
				left: 1px;
				width: 100%;
				height: 100vw;
				background-color: var(--color-surface-gray-subtler);
			}

			&:after {
				content:'';
				display: block;
				position: absolute;
				top: calc(50% - 5px);
				left: 100%;
				z-index: 1;
				width: 100vw;
				height: 1px;
				background-color: var(--color-surface-gray-subtler);
			}
		}
	}
	.rel_case4 {
		top: 109px;
		right: 0;
		
		> span {
			background-image:url(../images/content/mtps/img_rel_case4.svg);
		}
	}
	.rel_case5 {
		bottom: 0;
		left: 30px;
		justify-content: center;
		width: calc(50% + 32px);

		> span {
			width: 196px;
			background-image:url(../images/content/mtps/img_rel_case5.svg);
		}
	}
	.rel_case6 {
		bottom: 0;
		right: 0;
		
		> span {
			background-image:url(../images/content/mtps/img_rel_case6.svg);
		}
	}

	/* 활성화 상태 */
	//본인만
	&.pick1 {
		.rel_case2  {
			@include activeState;

			&.man {
				> span {
					background-image:url(../images/content/mtps/img_rel_case_man_on.svg);
				}
			}
			&.woman {
				> span {
					background-image:url(../images/content/mtps/img_rel_case_woman_on.svg);
				}
			}
		}
	}

	//부부
	&.pick2 {
		.rel_case2 {
			@include activeState;

			&.man {
				> span {
					background-image:url(../images/content/mtps/img_rel_case_man_on.svg);
				}
			}
			&.woman {
				> span {
					background-image:url(../images/content/mtps/img_rel_case_woman_on.svg);
				}
			}
		}
		.rel_case3 {
			@include activeState;

			&.man {
				> span {
					background-image:url(../images/content/mtps/img_rel_case_man_on.svg);
				}
			}
			&.woman {
				> span {
					background-image:url(../images/content/mtps/img_rel_case_woman_on.svg);
				}
			}
		}
	}

	//가족
	&.pick3 {
		.rel_case1 {
			@include activeState;

			> span {
				&.ty1 {
					@include activeImage(1);
				}
				&.ty2 {
					@include activeImage(1_2);
				}
			}
		}
		.rel_case2 {
			@include activeState;
			
			&.man {
				> span {
					background-image:url(../images/content/mtps/img_rel_case_man_on.svg);
				}
			}
			&.woman {
				> span {
					background-image:url(../images/content/mtps/img_rel_case_woman_on.svg);
				}
			}
		}
		.rel_case3 {
			@include activeState;

			&.man {
				> span {
					background-image:url(../images/content/mtps/img_rel_case_man_on.svg);
				}
			}
			&.woman {
				> span {
					background-image:url(../images/content/mtps/img_rel_case_woman_on.svg);
				}
			}
		}
		.rel_case5 {
			@include activeState;
			> span {
				@include activeImage(5);
			}
		}
	}

	//누구나
	&.pick4 {
		@for $count from 1 to 7 {
			@if $count != 4 {
				.rel_case#{$count}{
					@include activeState;
					@if $count == 2 or $count == 3{
						&.man {
							> span {
								background-image:url(../images/content/mtps/img_rel_case_man_on.svg);
							}
						}
						&.woman {
							> span {
								background-image:url(../images/content/mtps/img_rel_case_woman_on.svg);
							}
						}
					}
					& > span {
						@if $count == 1 {
							&.ty1 {
								@include activeImage(1);
							}
							&.ty2 {
								@include activeImage(1_2);
							}
						}
						@else {
							background-image: url("../images/content/mtps/img_rel_case#{$count}_on.svg");
						}
					}
				}
			}	
		}
	}

	//임직원
	&.pick5 {
		.rel_case4 {
			@include activeState;
			> span {
				@include activeImage(4);
			}
		}
	}

	//본인+1인
	&.pick6 {
		.rel_case2 {
			@include activeState;

			&.man {
				> span {
					background-image:url(../images/content/mtps/img_rel_case_man_on.svg);
				}
			}
			&.woman {
				> span {
					background-image:url(../images/content/mtps/img_rel_case_woman_on.svg);
				}
			}
		}
		.rel_case6 {
			@include activeState;
			> span {
				@include activeImage(6);
			}
		}
	}

	//부부+1인
	&.pick7 {
		.rel_case2 {
			@include activeState;

			&.man {
				> span {
					background-image:url(../images/content/mtps/img_rel_case_man_on.svg);
				}
			}
			&.woman {
				> span {
					background-image:url(../images/content/mtps/img_rel_case_woman_on.svg);
				}
			}
		}
		.rel_case3 {
			@include activeState;
			&.man {
				> span {
					background-image:url(../images/content/mtps/img_rel_case_man_on.svg);
				}
			}
			&.woman {
				> span {
					background-image:url(../images/content/mtps/img_rel_case_woman_on.svg);
				}
			}
		}
		.rel_case6 {
			@include activeState;
			> span {
				@include activeImage(6);
			}
		}
	}

	//부부+자녀
	&.pick8 {
		.rel_case2 {
			@include activeState;
			&.man {
				> span {
					background-image:url(../images/content/mtps/img_rel_case_man_on.svg);
				}
			}
			&.woman {
				> span {
					background-image:url(../images/content/mtps/img_rel_case_woman_on.svg);
				}
			}
		}
		.rel_case3 {
			@include activeState;
			&.man {
				> span {
					background-image:url(../images/content/mtps/img_rel_case_man_on.svg);
				}
			}
			&.woman {
				> span {
					background-image:url(../images/content/mtps/img_rel_case_woman_on.svg);
				}
			}
		}
		.rel_case5  {
			@include activeState;
			> span {
				@include activeImage(5);
			}
		}
	}

	//본인+자녀
	&.pick9 {
		.rel_case2 {
			@include activeState;
			&.man {
				> span {
					background-image:url(../images/content/mtps/img_rel_case_man_on.svg);
				}
			}
			&.woman {
				> span {
					background-image:url(../images/content/mtps/img_rel_case_woman_on.svg);
				}
			}
		}
		.rel_case5 {
			@include activeState;
			> span {
				@include activeImage(5);
			}
		}
	}

	//자녀
	&.pick10 {
		.rel_case5 {
			@include activeState;
			> span {
				@include activeImage(5);
			}
		}
	}
}