.acd_item {
	@for $i from 1 through 5 {
		.acd_ico_rcd_ty#{$i}{
			background-image: url(../images/content/mtps/icon_MPRMTPS10007000905_ty0#{$i}.svg);
		}
	}
}



.border_list {
	.list {
		display: flex;
		justify-content: space-between;
		gap: var(--gap-3);

		& ~ .list {
			margin-top: var(--gap-5);
		padding-top: var(--padding-6);
			border-top: var(--border-width-static-regular) solid var(--color-border-gray-light);
		}

		.left {
			.inp_checkbox {
			}
		}

		.right {
			flex: 1 0 auto;
			text-align: right;

			.price {
				font-size: var(--font-size-body-medium);
			}
		}
	}

	& + .badge_wrap {
		margin-top: var(--gap-5);
		padding-top: var(--padding-6);
		border-top: var(--border-width-static-regular) solid var(--color-border-gray-light);
	}
}

/* 개발 요청 생성 별도 wrap */
.custom_wrap {
	&.custom_wrap_ty1 {
		margin-top: var(--gap-11);
		+ .acd_item,
		.banner_box {
			margin-top: var(--gap-11);
		}
		+ .btn_area {
			// margin-top: var(--gap-11);
			margin-top: var(--gap-8);
		}
	}
}
/* 개발 요청 생성 별도 wrap */