.sii_wrap {
	padding-bottom: 60px;

	.tag_item_wrap {
		// padding-bottom: 16px;
		background-color: #fff;
		&.sticky {
			position: sticky;
			top: 0;
			z-index: 1;
			// padding-bottom: 16px;
			// margin-bottom: 0;
			padding: 0 24px 16px;
			margin: 0 -24px 0;
			&::before {
				content: '';
				position: absolute;
				top: -16px;
				// left: -16px;
				// width: calc(100% + 32px);
				left: -24px;
				width: calc(100% + 24px);
				height: 16px;
				background-color: #fff;
			}
		}

		// + .summary_ii {
		// 	padding-top: 32px;
		// }
	}

	.position_event_content {
		// margin-top: 32px;
	}
}

.summary_ii {
	--sili-space: 52px;
	overflow: hidden;
	margin-top: var(--gap-5);
	> li {
		position: relative;
		// padding-bottom: 52px;
		padding-bottom: var(--sili-space);
		&:last-child {
			padding-bottom: 0;
			&::after {
				content: none;
			}
		}
		&::before {
			content: '';
			position: absolute;
			top: 32px;
			left: 16px;
			height: calc(100% - 32px);
			border-left: var(--border-width-static-regular) solid var(--color-border-gray-light);
		}
		&::after {
			content: '';
			position: absolute;
			bottom: 0;
			left: 16px;
			height: var(--sili-space);
			// border-left: 1px solid #fff;
			border-left: var(--border-width-static-regular) solid var(--color-border-inverse);
		}
		[class ^="title_"] {
			&.side_b {
				padding-right: 60px;
			}
		}
		> .sic_modify {
			position: absolute;
			top: 3px;
			right: 0;

		}
	}

	.summary_ii_top {
		padding: 1px 0 1px 40px;
		//  padding-left: 40px;
		background-repeat: no-repeat;
		background-position: left top;
		background-size: 32px auto;

		&.sit_ty1 {
			background-image: url(../images/content/mtps/icon_MPRMTPS10009000000_01.svg);
		}
		&.sit_ty2 {
			background-image: url(../images/content/mtps/icon_MPRMTPS10009000000_02.svg);
		}
		&.sit_ty3 {
			background-image: url(../images/content/mtps/icon_MPRMTPS10009000000_03.svg);
		}
		&.sit_ty4 {
			background-image: url(../images/content/mtps/icon_MPRMTPS10009000000_04.svg);
		}
		&.sit_ty5 {
			background-image: url(../images/content/mtps/icon_MPRMTPS10009000000_05.svg);
		}
		&.sit_ty6 {
			background-image: url(../images/content/mtps/icon_MPRMTPS10009000000_06.svg);
		}

		+ .summary_ii_cont {
			margin-top: var(--gap-5);
		}


		// &.active {
		// 	background-color: blue;
		// }


	}

	.summary_ii_cont {
		position: relative;
		padding-left: 40px;
	}

	.sic_cont_inner {
		position: relative;
		+ .sic_cont_inner {
			margin-top: var(--gap-9);
		}
		.title_h4 {
			+ .sic_list {
				margin-top: var(--gap-5);
			}
		}
		> .sic_modify {
			position: absolute;
			top: 1px;
			right: 0;
		}
	}

	.sic_list {
		> li {
			display: flex;
			align-items: flex-start;
			justify-content: space-between;
			gap: var(--gap-3);
			font-size: var(--font-size-body-small);
			+ li {
				margin-top: var(--gap-5);
			}
		}
		.sic_list_l {
			flex: none;
			max-width: 130px;
			color: var(--color-text-subtle);
			word-break: keep-all;
		}
		.sic_list_r {
			flex: 1 1 0;
			text-align: right;
		}

	}
}