//차량관련 확인사항

.view_img_list {
	display: flex;
	flex-flow: row wrap;
	gap: 12px;

	> li {
		width: calc((100% - 24px) / 3);
		text-align: center;

		.thumnail {
			overflow: hidden;
			box-sizing: border-box;
			display: flex;
			align-items: center;
			justify-content: center;
			border: var(--border-width-static-regular) solid var(--color-element-gray-light);
			border-radius: 12px;

			& + .name {
				margin-top: var(--gap-3);
			}
		}

		> .name {
			font-size: var(--font-size-label-medium);
		}
	}

	& + .title_h5 {
		margin-top: var(--gap-9);
	}
}