/* 자동차보험 | 기본 정보 */
// progress
.insurance_policyBox {
	position: relative;
	z-index: 0;

	.insurance_barbox {
		position: relative;

		&:before {
			position: absolute;
			top: 21px;
			left: 0;
			z-index: -1;
			content:'';
			width: 100%;
			height: 2px;
			background-color: var(--color-border-gray-light);
			border-radius: 4px;
		}

		&.ty2 {
			&:before {
				z-index: 0;
				top: 20px;
			}
		}
	}

	// 동일동시
	&.same {
		.insurance_barbox {
			&:before {
				width: 50%;
			}
	
			&:after {
				position: absolute;
				top: 21px;
				right: 0;
				z-index: -1;
				content:'';
				width: 50%;
				height: 2px;
				background-image: url(../images/content/mtps/img_progress_border.svg);
				border-radius: 4px;
			}
		}
	}

	// 설계차량
	&.target {
		.progress_box {
			.ing {
				i {
					&.start {
						&.left {
							&:before {
								left: -2px;
								background-image: url(../images/icon/progressbar_dot_end.svg);
								background-size: 9px auto;
								transform:rotate(180deg);
							}
						}
					}
	
					&.end {
						&:before {
							right: 12px;
							background-image: url(../images/icon/progressbar_dot.svg);
							background-size: 8px auto;
						}
					}
				}
			}
		}
	}
}



.progress_box {
	position: relative;
	// padding: 19px 0 21px;
	// padding: 12px 0 21px;
	padding: 20px 2px 26px;
	height: 48px;
	
	.date {
		position: absolute;
		top: -19px;
		left: 38%;
		display: inline-block;
		padding: 0 4px;
		background-color: var(--color-border-gray-darker);
		font-size: var(--font-size-label-xsmall);
		line-height: 15px;
		color: #FFF;
		border-radius: 8px;
		white-space: nowrap;
	}

	.ing {
		position: relative;
		display: block;
		width: 50%;
		height: 4px;
		background-color: var(--color-border-secondary);
		text-align: center;

		i {
			position: absolute;
			top: 8px;

			display: block;
			width: 34px;
			// margin: 10px 0 0 -14px;
			padding: 0 4px;
			background-color: var(--color-border-secondary);
			// background-color: red;
			font-size: var(--font-size-label-xsmall);
			line-height: 17px;
			font-style: normal;
			color: #FFF;
			white-space: nowrap;
			border-radius: var(--radius-small1);
			text-align: center;

			&:before {
				position: absolute;
				top: -11px;
				content:'';
				width: 10px;
				height: 10px;
				// background-color: var(--color-border-secondary);
				background-repeat: no-repeat;
				background-position: right center;
				background-position: 8px auto;
				background-image: url(../images/icon/progressbar_dot.svg);
				filter: drop-shadow(0px 0px 2px var(--color-alpha-shadow1, rgba(0, 0, 0, 0.05))) drop-shadow(0px 1px 2px var(--color-alpha-shadow1, rgba(0, 0, 0, 0.05)));
			}

			&.start {
				left: -16px;
				&:before {
					left: 12px;
				}

				&.left {
					left: 0;
					&:before {
						left: -2px;
					}
				}
			}

			&.end {
				right: -16px;

				&:before {
					right: 12px;
					background-image: url(../images/icon/progressbar_dot_end.svg);
					background-size: 9px auto;
				}

				&.right {
					right: 0;
					&:before {
						right: -2px;
					}
				}
			}
		}
	}
}


.progress_box_ty2 {
	position: relative;
	// padding: 19px 0 23px;
	padding: 20px 2px 26px;
	height: 48px;
	
	.date {
		position: absolute;
		top: -19px;
		left: 50%;
		transform: translateX(-50%);
		display: inline-block;
		padding: 0 4px 1px;
		background-color: var(--color-border-gray-darker);
		font-size: var(--font-size-label-xsmall);
		line-height: 14px;
		color: #FFF;
		border-radius: 8px;
		white-space: nowrap;
	}

	i {
		position: absolute;
		top: 8px;

		.spot {
			position: relative;
			display: block;
			width: 34px;
			padding: 2px 4px;
			background-color: var(--color-border-secondary);
			font-size: var(--font-size-label-xsmall);
			line-height: 15px;
			font-style: normal;
			color: #FFF;
			white-space: nowrap;
			border-radius: var(--radius-small1);
			text-align: center;
		}

		em {
			position: absolute;
			top: -10px;
			content:'';
			width: 8px;
			height: 8px;
			background-repeat: no-repeat;
			background-position: right center;
			background-size: 8px auto;
			background-image: url(../images/icon/progressbar_dot.svg);
			filter: drop-shadow(0px 0px 2px var(--color-alpha-shadow1, rgba(0, 0, 0, 0.05))) drop-shadow(0px 1px 2px var(--color-alpha-shadow1, rgba(0, 0, 0, 0.05)));
		}

		&.start {
			left: 0;
			top: 27px;
			z-index: 5;

			em{
				left: -2px;
			}
		}

		&.newStart {
			left: 0;
			z-index: 10;

			em {
				left: 0;
			}

			&.small {
				display: flex;
				justify-content: flex-end;
				width: 100%;
			}
		}

		&.end {
			right: 0;

			em{
			// &:before {
				right: -2px;
			}
		}
	}

	.ing {	
		position: absolute;
		top: 19px;
		display: block;
		width: 50%;
		height: 4px;
		background-color: var(--color-border-secondary);
		text-align: center;
		right: 0;
	}
}

// card 내 존재
.card_item {
	.insurance_policyBox {
		margin-top: var(--gap-5);
	}
}