.acd_item {
	@for $i from 1 through 5 {
		.acd_ico_rcd_ty#{$i}{
			background-image: url(../images/content/mtps/icon_MPRMTPS10007000905_ty0#{$i}.svg);
		}
	}
}



.border_list {
	.list {
		display: flex;
		justify-content: space-between;
		gap: var(--gap-3);

		& ~ .list {
			margin-top: var(--gap-5);
		padding-top: var(--padding-6);
			border-top: var(--border-width-static-regular) solid var(--color-border-gray-light);
		}

		.right {
			flex: 1 0 auto;
			text-align: right;

			.price {
				font-size: var(--font-size-body-medium);
			}
		}
	}

	& + .badge_wrap {
		margin-top: var(--gap-5);
		padding-top: var(--padding-6);
		border-top: var(--border-width-static-regular) solid var(--color-border-gray-light);
	}
}

.coverage_level_box {
	position: relative;
	margin-top: var(--gap-2);
	padding-bottom: 30px;

	&:before {
		position: absolute;
		bottom:0;
		left:0;
		content:'부족';
		padding: 2px 4px;
		background-color: var(--color-border-secondary);
		font-size: var(--font-size-label-xsmall);
		color: #fff;
		border-radius: var(--radius-small1);
	}

	&:after {
		position: absolute;
		bottom:0;
		right:0;
		content:'충분';
		padding: 2px 4px;
		background-color: var(--color-border-secondary);
		font-size: var(--font-size-label-xsmall);
		color: #fff;
		border-radius: var(--radius-small1);
	}
	
	.level_list {
		position: relative;
		display: flex;
		margin: 0 4px;
		padding-top: 32px;
		
		&:before {
			content: '';
			position: absolute;
			bottom: 1px;
			left: 0;
			// z-index: -1;
			width: 100%;
			height: 2px;
			background-color: var(--color-background-gray-subtle);
		}

		> .level {
			position: relative;
			width: 25%;

			&:before {
				position: absolute;
				top: -2px;
				left: -4px;
				content:'';
				width: 8px;
				height: 8px;
				background: url(../images/icon/level_dot.svg) no-repeat center/8px auto;
			}

			&:after {
				position: absolute;
				top: -2px;
				right: -4px;
				content:'';
				width: 8px;
				height: 8px;
				background: url(../images/icon/level_dot.svg) no-repeat center/8px auto;
			}

			&.on {
				> span {
					position: relative;
					display: block;
					width: 100%;
					height: 4px;
					background-color: var(--color-border-secondary);

					&:before {
						position: absolute;
						top: -2px;
						left: -4px;
						z-index: 1;
						content:'';
						width: 8px;
						height: 8px;
						background: url(../images/icon/progressbar_dot.svg) no-repeat center/8px auto;
					}

					&:after {
						position: absolute;
						top: -2px;
						right: -4px;
						z-index: 1;
						content:'';
						width: 8px;
						height: 8px;
						background: url(../images/icon/progressbar_dot.svg) no-repeat center/8px auto;
					}

					> i {
						position: absolute;
						bottom: 6px;
						left: calc(50% - 22px);
						content:'';
						width: 44px;
						height: 32px;
						background: url(../images/icon/car_jeep.svg) no-repeat center/ 36px auto;
					}
				}
			}
		}
	}
}


.compare_rank_list {
	& + .title_h3 {
		margin-top: var(--gap-11);
	}

	> li {
		.info_rank {
			display: flex;
			gap: var(--gap-2);

			& + .info_bar {
				margin-top: var(--gap-2);
			}

			.hd_badge {
				flex: none;
				width: 36px;
			}
			.desc {
				font-size: var(--font-size-body-small);
				line-height: 24px;
				color: var(--color-text-subtle);
			}
		}
		.info_bar {
			display: flex;
			align-items: center;
			gap: var(--gap-3);

			.progress_bar_ty2 {
				flex: 1;
			}
			.percent {
				flex: none;
				width: 46px;

				.hd_badge {
					width: 100%;
					text-align: center;
				}
			}
		}
		& + li {
			padding-top: 12px;
		}
	}
}

/* 개발 요청 생성 별도 wrap */
.custom_wrap {
	&.custom_wrap_ty1 {
		margin-top: var(--gap-11);
		+ .acd_item,
		.banner_box {
			margin-top: var(--gap-11);
		}
		+ .btn_area {
			// margin-top: var(--gap-11);
			margin-top: var(--gap-8);
		}
	}
}
/* 개발 요청 생성 별도 wrap */