// 설계정보 입력

.main_title {
	font-size: var(--font-size-heading-medium);
	color: var(--color-text-bolder);
}

// 상단 영역
.product_main_top {
	margin: 0 -24px;
	padding: 0 24px 60px;
	background: url(../images/content/mtps/img_MPRMTPS10002010000.png) no-repeat right bottom / 156px auto;


	.logo {
		& + .secondary,
		& + .title_h2 {
			margin-top: var(--gap-5);
		}
	}
	
	.secondary {
		font-size: var(--font-size-heading-xsmall);
		font-weight: 700;
		line-height: 24px;
	}

	& + .bg_area {
		margin-top: -26px;
	}
}

// 정보입력 폼
.input_form_box {
	margin-top: -26px;
	background-color: var(--color-border-information-light);
	border-radius: 16px;

	& + .bg_area {
		margin-top: var(--gap-9);
	}
	& + .checkbox_group_wrap {
		margin-top: var(--gap-6);
		margin-bottom: var(--gap-9);
	}

	.input_title {
		padding: 16px 24px;
		font-size: var(--font-size-label-medium);
		color: var(--color-text-basic);
	}

	// 자동차 소유 정보 입력영역
	.input_item_wrap {
		overflow: hidden;
		border-radius: 16px;
		box-shadow: 0 0 2px 0 var(--color-alpha-shadow1, rgba(0, 0, 0, 0.05)), 0 4px 8px 0 var(--color-alpha-shadow2, rgba(0, 0, 0, 0.08));

		.acd_item {
			position: relative;
			overflow: hidden;
			// box-shadow: 0 0 2px 0 var(--color-alpha-shadow1, rgba(0, 0, 0, 0.05)), 0 4px 8px 0 var(--color-alpha-shadow2, rgba(0, 0, 0, 0.08));
			// transition: margin .4s ease-in-out;

			&:before {
				content: '';
				position: absolute;
				top:0;
				left: 0;
				width: 100%;
				height: 100%;
				z-index: -1;
				box-shadow: 0 0 2px 0 var(--color-alpha-shadow1, rgba(0, 0, 0, 0.05)), 0 4px 8px 0 var(--color-alpha-shadow2, rgba(0, 0, 0, 0.08));
			}

			& ~ .acd_item {
				border-top: var(--border-width-static-regular) solid var(--color-border-gray-light);
			}

			// &:first-child {
			// 	margin-top: 0;

			// 	& + .open {
			// 		margin-top: 0;
			// 	}
			// 	&.open {
			// 		margin-top: 0;
			// 	}
			// }

			// &.open {
			// 	margin-top: -30px;

			// 	& + .acd_item {
			// 		margin-top: -30px;

			// 		&.open {
			// 			margin-top: -30px;
			// 		}
			// 	}
			// }

			.acd_head {
				overflow: hidden;
				// padding-bottom: 8px;
				background-color: #fff;
				// border-radius: 16px 16px 0 0;
				
				.acd_btn {
					position: relative;
					width: 100%;
					// padding: 20px 48px 12px 24px;
					padding: 20px 48px 20px 24px;
					background-color: #fff;
					font-size: var(--font-size-label-medium);

					&:after {
						position: absolute;
						right: 24px;
						top: calc(50% - 12px);
						content:'';
						width: 24px;
						height: 24px;
						background: url(../images/icon/arrowDown_ty1.svg) no-repeat right center / 24px auto;
					}
					
					&[aria-expanded='true']{
						transition: border-radius .4s ease-in;
						// border-radius: 16px 16px 0 0 ;

						&:after {
							transform: rotate(180deg);
						}
					}
				}
				&.active {
					& + .acd_cont {
						.inner {
						}
					}
				}
			}

			.acd_cont {
				background-color: #fff;
				// border-radius: 0 0 16px 16px;
				.inner {
					// padding: 0 24px 50px;
					padding: 0 24px 20px;

					.input_text {
						border-color: var(--color-border-gray-light);
					}
				}
			}
		}

		.birth {
			gap: var(--gap-3);
			border-color: var(--color-border-gray-light);

			&.active {
				.input_text {
					&.big {
						& + .dash {
							color: var(--color-text-basic);
						}
					}
				}
			}

			.input_text {
				&.big {
					input {
						caret-color: var(--color-element-primary);
	
						&::placeholder {
							font-size: var(--font-size-heading-medium);
						}
					}
	
					& + .dash {
						font-size: var(--font-size-heading-medium);
						font-weight: 700;
						color: var(--color-text-disabled);
					}
				}
			}
		}
	}

	.comp_wrap {
		> * {
			flex-basis: 50%;
			&.dash {
				flex: none;
			}
		}

		.input_text {
			.del {
				width: 24px;
				background-position: right 6px center;
				background-size: 20px auto;
			}
		}
	}
}

.bg_area:has(.discount_item_box) {
	padding: var(--padding-10) var(--padding-8);
}

// 특약 리스트

.discount_item_box {
	padding: var(--padding-8) var(--padding-7);
	background-color: #fff;
	border-radius: var(--radius-large2);

	.item {
		padding: 16px 0 16px 44px;
		background-repeat: no-repeat;
		background-position: left center;
		background-size: 32px auto;

		@for $i from 1 through 11 {
			&.opt#{$i}{
				background-image: url(../images/content/mtps/icon_MPRMTPS10002010000_ty#{$i}.svg);
			}
		}
		&:first-child {
			padding-top: 0;
		}
		&:last-child {
			padding-bottom: 0;
		}

		// > a {
		// 	display: block;
		// 	padding: 24px 36px 24px 44px;
		// 	background: url(../images/icon/arrowRight_ty4.svg) no-repeat right center;
		// }

		.cont {
			font-size: var(--font-size-body-medium);

			& + .desc {
				margin-top: var(--gap-2);
			}
		}
		.desc {
			font-size: var(--font-size-body-small);
			color: var(--color-text-subtle);
		}
	}
}