// 자동차번호 입력
.car_type_option {
	gap: 10px;

	.inp_radio {
		&.rd_btn_s1 {
			input[type=radio]{
				& + label {
					padding: 0 var(--padding-6);
					&:after {
						border-radius: var(--radius-medium3);
					}
				}
			}
		}
	}

	.label_cont {
		width: 100%;
		padding-left: 44px;
		background-repeat: no-repeat;
		background-size: 32px auto;
		background-position: 0 center;
		font-size: var(--font-size-body-medium);
		line-height: 24px;
		
		> span {
			padding-top: 4px;
			font-size: var(--font-size-label-medium);
			line-height: 21px;
			color: var(--color-text-subtle);
		}
	}

	.icon_opt1 {
		.label_cont {
			background-image: url(../images/content/mtps/icon_car_type_option1.svg);
		}
	}
	.icon_opt2 {
		.label_cont {
			background-image: url(../images/content/mtps/icon_car_type_option2.svg);
		}
	}
	.icon_opt3 {
		.label_cont {
			background-image: url(../images/content/mtps/icon_car_type_option3.svg);
		}
	}
	
	& + .form_group_wrap {
		margin-top: var(--gap-11);
	}
}

.car_input_box {
	.car_number_input {
		position: relative;
		padding: 3px;
		border: none;

		&.error {
			&:before {
				background: var(--color-input-border-error);
			}
		}

		&:before {
			position: absolute;
			top:0;
			left: 0;
			content:'';
			width: 100%;
			height: 100%;background: #052B57;
			background: linear-gradient(90deg, rgba(5, 43, 87, 1) 0%, rgba(107, 150, 199, 1) 50%, rgba(5, 43, 87, 1) 100%);
			border-radius: 19px;
			box-shadow: 0px var(--shadow-y-2) var(--shadow-blur-2) 0px var(--color-alpha-shadow1, rgba(0, 0, 0, 0.05));
			// box-shadow: 1.5px 1.5px 0px 0px #FFF, -1.5px -1.5px 0px 0px rgba(136, 136, 136, 0.40), var(--shadow-y-1, 1px) 4px 8px 0px rgba(0, 0, 0, 0.30), 4px 4px 4px 0px rgba(0, 0, 0, 0.20);
		} 

		.inp {
			padding: 12px 0 12px 40px;
			background: #FFF url(../images/content/mtps/car_input_bg.svg) no-repeat left center;
			background-size: 40px auto;
			border: none;
			border-radius: var(--radius-medium3);


			input {
				height: auto;
				padding: 10px 33px 10px 14px;
				font-weight: 700;
				font-size: var(--font-size-heading-medium);
				line-height: 30px;
				text-align: center;

				&::placeholder {
					font-weight: 700;
					text-align: center;
					color: var(--color-text-disabled);
				}
			}
		}
	}

	.msg_error {
		margin-top: 9px;
	}
}

/* 운전자 범위 */
.driver_relationship_box {
	margin-top: var(--gap-8);
	display: flex  ;
	gap: var(--gap-8);
	.driver_relationship_state {
		margin: 0;
	}
	> div {
		flex: 1;
	}
	.driver_relationship_cont {
		.title_box {
			font-size: var(--font-size-heading-medium);
			~ p {
				margin-top: var(--gap-4);
			}
		}
		.info_gray {
			+ p {
				margin-top: var(--gap-8) !important;
			}
		}
		> div:not(.rel_case1) {
			display: none;
		}
		&.pick1 {
			> div {
				display: none;
			}
			.rel_case2 {
				display: block;
			}
		} 
		&.pick2 {
			> div {
				display: none;
			}
			.rel_case3 {
				display: block;
			}
		} 
		&.pick3 {
			> div {
				display: none;
			}
			.rel_case4 {
				display: block;
			}
		} 
		&.pick4 {
			> div {
				display: none;
			}
			.rel_case5 {
				display: block;
			}
		} 
		&.pick5 {
			> div {
				display: none;
			}
			.rel_case6 {
				display: block;
			}
		} 
		&.pick6 {
			> div {
				display: none;
			}
			.rel_case7 {
				display: block;
			}
		} 
		&.pick7 {
			> div {
				display: none;
			}
			.rel_case8 {
				display: block;
			}
		} 
		&.pick8 {
			> div {
				display: none;
			}
			.rel_case9 {
				display: block;
			}
		} 
		&.pick9 {
			> div {
				display: none;
			}
			.rel_case10 {
				display: block;
			}
		} 
		&.pick10 {
			> div {
				display: none;
			}
			.rel_case11 {
				display: block;
			}
		} 
	}

	& + .btn_area {
		margin-top: var(--gap-5);
	}

	&:not(:has(.driver_relationship_state)){
		margin-top: var(--gap-11);
	}
}

.select_driver_range.direct {
	.driver_relationship_box {		
		.driver_relationship_cont {
			&.pick1 {
				> div {
					display: none;
				}
				.rel_case2 {
					display: block;
				}
			}
			&.pick3 {
				> div {
					display: none;
				}
				.rel_case3 {
					display: block;
				}
			}
			&.pick4 {
				> div {
					display: none;
				}
				.rel_case4 {
					display: block;
				}
			}
		}
	}
}