/* 배경색 있는 상단 컨텐츠 영역 */
.bg_top_cover {
	margin: -16px -24px 0 -24px;
	padding: var(--padding-8);
	background-color: var(--color-surface-secondary-subtler);
	
	&.ty2 {
		background-color: var(--color-surface-primary-subtler);
	}
	+ .info_gray,
	+ .opt_case4,
	+ .info_cont,
	+ .info_cont,
	+ .card_item_wrap,
	+ .acd_item {
		// margin-top: var(--gap-8);
		margin-top: var(--gap-8);
	}
	& + .tag_item_wrap {
		margin: 0 -24px;
		padding: 16px 24px;
	}

	.info_top_cont {
		border-color: var(--color-divider-gray-light);
		dt {
			.point {
				margin-left: 4px;
			}
		}
	}  

	.info_gray.bg_etc01 {
		.total {
			.big {
				font-size: var(--font-size-heading-medium);
			}
		}
	}
}
/* 배경색 있는 상단 컨텐츠 영역 */



/* 계약상세 */
.cd_top_wrap {
	margin: -16px -24px 0 -24px;
	padding: var(--padding-8);
	background-color: var(--color-surface-secondary-subtler);
	.cd_top {
		// padding: var(--padding-8);
		padding: var(--padding-8);
		border-radius: var(--radius-large2);
		background-color: var(--color-surface-white-subtle);
		.badge_wrap {
			+ .cd_top_name {
				// margin-top: var(--gap-3);
				margin-top: var(--gap-3);
			}	
		}
		.cd_top_name {
			font-size: var(--font-size-body-medium);			
		}
		.work_number {
			display: flex;
			align-items: flex-end;//center;
			gap: var(--gap-1);
			font-size: var(--font-size-body-large);
			font-weight: 700;
			strong {
				font-size: var(--font-size-display-medium);
			}
			span {
				padding-bottom: var(--padding-3);
			}
		}
		.cd_price {
			// margin-top: var(--gap-3);
			margin-top: var(--gap-3);
			font-weight: 700;
			.word {
				display: inline-block;
				vertical-align: middle;
				font-size: var(--font-size-body-large);
			}
			.won {
				display: inline-block;
				vertical-align: middle;
				font-size: var(--font-size-display-medium);
			}
		}
		.progress_bar {
			margin-top: var(--gap-5);
		}
		.divider_ty2 {
			margin: var(--gap-7) 0 var(--gap-5);
		}
		.icon_right {
			background-repeat: no-repeat;
			background-position: center right;
			background-size: 40px auto;
			&.ty1 {
				background-image: url(../images/content/ho/icon_link14.svg);
			}
			&.ty2 {
				background-image: url(../images/content/ho/icon_link10.svg);
			}
		}
		+ .btn_area {
			margin-top: var(--gap-5);
		}
	}
	.icon_text_area {
		padding-top: 64px;
		background-position: top left;
		background-size: 48px auto;
		&.hihealth {
			background-image: url(../images/content/bn/img_logo_hihealth.png);
		}
	}
}


.cd_top_wrap {
	+ .title_h3,
	+ .tab_wrap {
		margin-top: var(--gap-8);
	}
}


/* 계약상세 */


/* 계약 담당자 */
.contact_list {
	padding: 23px 24px;
	border-radius: 24px;
	border: var(--border-width-static-regular) solid var(--color-border-gray-light);
	> li {
		+ li {
			margin-top: var(--gap-5);
			padding-top: 16px;
			border-top: var(--border-width-static-regular) solid var(--color-border-gray-light);
		}
		.item {
			display: flex;
			align-items: center;
			gap: var(--gap-4);
			min-height: 32px;
			&::before {
				content: '';
				display: inline-block;
				width: 32px;
				height: 32px;
				border-radius: var(--radius-medium1);
				background-color: var(--color-surface-primary-subtler);
				background-repeat: no-repeat;
				background-position: center center;
				background-size: 24px auto;
			}			
			.name {
				font-size: var(--font-size-body-medium);
			}
			.tel {
				display: block;
				font-size: var(--font-size-body-small);
				color: var(--color-text-subtle);
			}
			&.person {
				&::before {
					background-image: url(../images/content/my/icon_manager_person.svg);
				}
			}
			&.spot {
				&::before {
					background-image: url(../images/content/my/icon_manager_spot.svg);
				}
			}
		}
	}
	+ .acd_item {
		margin-top: var(--gap-11);
	}

}
/* 계약 담당자 */


/* 수수료 비교 이미지 */
.fc_img_wrap {
	margin-top: var(--gap-6);
	.item {
		.title_h4 {
			padding-bottom: 16px;
		}
		.img {
			font-size: 0;
			text-align: center;
			img {
				// width: 100%;
			}
		}
		+ .item {
			margin-top: var(--gap-9);
		}
	}
}
/* 수수료 비교 이미지 */



.sa_change_place {
	margin-top: var(--gap-5);
}
.scp_list {
	padding: 0 20px;
	border-radius: 24px;
	border: var(--border-width-static-regular) solid var(--color-border-gray-light);
	> li {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: var(--gap-3);
		padding: 16px 0;



		.scp_list_l {
			flex: none;
			.line1 {
				font-size: var(--font-size-label-medium);				
			}
			.line2 {
				font-size: var(--font-size-label-small);
				color: var(--color-text-subtle);
			}
		}
		.scp_list_r {
			flex: none;
		}

		+ li {
			border-top: var(--border-width-static-regular) solid var(--color-border-gray-light);
		}
	}
}




.center_info {
	.line1 {
		display: flex;
		align-items: center;
		gap: var(--gap-3);
		.line1_item {
			flex: none;
			.tel {
				font-size: var(--font-size-heading-medium);
			}
			.cit {
				display: block;
				padding: 0 8px;
				font-size: var(--font-size-label-small);
				color: var(--color-text-information);
				line-height: 22px;
				border-radius: var(--radius-small2);
				border: var(--border-width-static-regular) solid var(--color-element-information);
			}
		}
		+ .list_ty5 {
			margin-top: var(--gap-3);
		}
	}
	&.ty2 {
		.line1 {
			flex-wrap: wrap;
			.line1_item2 {			
				font-size: var(--font-size-body-small);
			}
		}
	}
}


/* 이용방법 */
.my_info_flow {
	> li {
		position: relative;
		display: flex;
		align-items: flex-start;
		gap: var(--gap-3);
		margin-bottom: 26px;
		padding: 24px 20px;
		border-radius: var(--radius-large2);
		background-color: var(--color-surface-secondary-subtler);
		
		&::after {
			content: '';
			position: absolute;
			bottom: -21px;
			left: 50%;
			width: 16px;
			height: 16px;
			background: url(../images/icon/arrowDown_ty4.svg) no-repeat center center / 16px auto;
			transform: translateX(-50%);
		}
		&:last-child {
			&::after {
				content: none;
			}
		}

		.num {
			flex: none;
			display: inline-flex;
			align-items: center;
			justify-content: center;
			width: 24px;
			height: 24px;
			font-weight: 700;
			font-size: var(--font-size-body-xsmall);
			color: var(--color-text-subtle);
			border-radius: 50%;
			border: var(--border-width-static-regular) solid #6D7882;
		}
		.cont {
			flex: 1 1 0;
			.tit {
				display: block;
				font-size: var(--font-size-heading-xsmall);
			}
			.desc {
				padding-top: 12px;
				font-size: var(--font-size-body-medium);
			}
			.list_ty3 {
				margin-top: var(--gap-5);
			}
			.btn_area {
				margin-top: var(--gap-3);
			}
			.list_ty2 {
				& > li {
					color: var(--color-text-basic);
				}
			}
		}

		.frame_list {
			padding-top: 16px;

			.file_attach_box {
				.file_thumbnail {
					background-color: #fff;
				}
			}
			

		}
	}
	&.certify {
		counter-reset: number 0;
		li {
			flex-direction: column;
			gap: 0;
			padding-left: 52px;
			font-size: var(--font-size-body-medium);
			background-size: 24px auto;
			background-position: 20px 24px;
			background-repeat: no-repeat;
			&::before {
				counter-increment: number 1;
				content: 'STEP 0' counter(number);
				position: static;
				display: block;
				width: auto;
				height: auto;
				border: none;
				border-radius: 0;
				font-size: var(--font-size-body-small);
				color: var(--color-text-subtle);
				font-weight: 700;
			}
			&.pc {
				background-image: url(../images/common/cert/icon_step_pc.svg);
			}
			&.phone {
				background-image: url(../images/common/cert/icon_step_phone.svg);
			}
		}
	}
}


.frame_list {
	> li {
		> .tit {
			display: block;
			padding-bottom: 8px;
			font-size: var(--font-size-heading-xxsmall);
		}
		+ li {
			margin-top: var(--gap-6);
		}
		.file_attach_box {

		}
	}
}

/* 이용방법 */