/* 인증방법 선택 */
* + .cert_select_list {
	margin-top: var(--gap-11);
}
.cert_select_list {
	> li {
		+ li {
			margin-top: var(--gap-5);
		}
	}
	.cert_select_item {
		position: relative;
		display: block;
		width: 100%;
		padding: 19px 0px;
		border-radius: 16px;
		border: var(--border-width-static-regular) solid var(--color-button-tertiary-border);
		background: url(../images/icon/arrowRight_ty4.svg) no-repeat right 19px center;

		> .text {
			position: relative;
			display: block;
			padding: 0 39px 0 51px;
			font-size: var(--font-size-body-medium);
			color: var(--color-text-basic);
			line-height: 24px;
			&::before {
				content: '';
				position: absolute;
				top: 50%;
				left: 23px;
				width: 24px;
				height: 24px;
				transform: translateY(-50%);
				background-repeat: no-repeat;
				background-position: center center;
				background-size: 24px auto;
			}

			.tip_item {
				//width: 100%;
				--tl: 35px;
				padding-right: 0;
			}


		}

		&.pin {
			> .text {
				&::before {
					background-image: url(../images/common/cert/icon_cert_pin.svg);
				}
			}
		}
		&.bio {
			> .text {
				&::before {
					background-image: url(../images/common/cert/icon_cert_bio.svg);	
				}
			}
		}
		&.phone {
			> .text {
				&::before {
					background-image: url(../images/common/cert/icon_cert_phone.svg);
				}
			}
		}
		&.kakao {
			> .text {
				&::before {
					background-image: url(../images/common/cert/icon_cert_kakao.svg);
				}
			}
		}
		&.common_cert {
			> .text {
				&::before {
					background-image: url(../images/common/cert/icon_cert_common_cert.svg);
				}
			}
		}
		&.fin_cert {
			> .text {
				&::before {
					background-image: url(../images/common/cert/icon_cert_fin_cert.svg);
				}
			}
		}
		&.simple_pw {
			> .text {
				&::before {
					background-image: url(../images/common/cert/icon_cert_simple_pw.svg);
				}
			}
		}
		&.copy1 {
			> .text {
				&::before {
					background-image: url(../images/common/cert/icon_cert_copy1.svg);
				}
			}
		}
		// 1회용 간편번호
		&.dispose {
			> .text {
				&::before {
					background-image: url(../images/common/cert/icon_cert_dispose.svg);
				}
			}
		}
		// 휴대폰 직접서명
		&.phone_direct_sign {
			> .text {
				&::before {
					background-image: url(../images/common/cert/icon_cert_phone_direct_sign.svg);
				}
			}
		}
		// 네이버인증
		&.naver_cert {
			> .text {
				&::before {
					background-image: url(../images/common/cert/icon_cert_naver_cert.svg);
				}
			}
		}
		// 법인카드 인증
		&.company_cert {
			> .text {
				&::before {
					background-image: url(../images/common/cert/icon_cert_company_cert.svg);
				}
			}
		}
	}

	& + .btn_area {
		margin-top: var(--gap-8);
	}
}



/* PIN 인증 */
.pin_enter {
	position: relative;
	height: 72px;
	+ .btn_area {
		margin-top: var(--gap-5);
	}
	+ .info_gray {
		&.ty2 {
			margin-top: var(--gap-8);
		}
	}

	&:has(.pin_enter_error_msg) {
		+ .btn_area {
			margin-top: var(--gap-8);
		}
	}
	// .form_key {
	// 	&.pin_type {
			
	// 	}
	// }
	.form_key_pc {
		// position: relative;
		flex: none;
		display: inline-flex;
		width: auto;
		height: 24px;
		> input[type="password"] {
			right: auto;
			left: -1px;
			opacity: 0;
			pointer-events: none;
		}
		> span {
			width: auto;
			padding-left: 0;
			> input[type="checkbox"] {
				+ label {
					width: 24px;
					height: 24px;
					background-image: url(../images/icon/icon_keyboard.svg);					
				}
			}
		}
		> input[type="password"] {
			flex: none;
			width: 1px;
		}
	}
}

.pin_enter_error_msg {
	margin-top: var(--gap-3); 
	font-size: 0;
	text-align: center;
	> .text {
		display: inline-block;
		padding-left: 20px;
		font-size: var(--font-size-label-medium);
		color: var(--color-text-danger);
		text-align: left;
		background: url(../images/icon/icon_error_red.svg) no-repeat left top 2px / 16px auto;
	}
}
/* PIN 인증 */



/* 회원탈퇴 */
// 
.miss_service_list {
	display: grid;
	gap: var(--gap-3);
	&:not(.full) {
		grid-template-columns: repeat(2, 1fr);
	}
	> li {
		.item {
			display: block;
			height: 100%;
			padding: calc(var(--padding-8) - 1px);
			border-radius: var(--radius-large2);
			border: var(--border-width-static-regular) solid var(--color-border-gray-light);
			.text {
				display: block;
				padding-top: calc(var(--size-height-5) + var(--gap-2));
				font-size: var(--font-size-body-medium);
				color: var(--color-text-bolder);
				background-repeat: no-repeat;
				background-position: left top;
				background-size: var(--size-height-5) auto;
			}
			&.item_ty1 {
				.text {
					background-image: url(../images/login/icon_service_01.svg);
				}
			}
			&.item_ty2 {
				.text {
					background-image: url(../images/login/icon_service_02.svg);
				}
			}
			&.item_ty3 {
				.text {
					background-image: url(../images/login/icon_service_03.svg);
				}
			}
			&.item_ty4 {
				.text {
					background-image: url(../images/login/icon_service_04.svg);
				}
			}
		}
	}
	&.full {
		> li {
			.item {
				.text {
					padding-top: 0;
					padding-left: calc(var(--size-height-5) + var(--gap-2));
					line-height: 32px;
				}
			}
		}
	}
}
/* 회원탈퇴 */


// 확대 축소
.zoom_wrap {

}
.zoom_control {
	display: none;
	text-align: right;
	> .inner {
		display: inline-flex;
		align-items: center;
		gap: var(--gap-3);
		> .text {
			font-size: var(--font-size-label-medium);
		}
		.zoom_control_btns {
			font-size: 0;
			border-radius: var(--radius-medium1);
			border: var(--border-width-static-regular) solid var(--color-button-tertiary-border);
			.zcb {
				width: 40px;
				height: 32px;
				font-size: 0;
				background-repeat: no-repeat;
				background-position: center center;
				background-color: transparent;
				+ .zcb {
					border-left: var(--border-width-static-regular) solid var(--color-button-tertiary-border);
				}
				&.z_up {
					background-image: url(../images/icon/icon_plus.svg);
					
				}
				&.z_down {
					background-image: url(../images/icon/icon_minus.svg);
				}

				
			}
		}
	}

}

// .zoom_content {
// 	margin-top: var(--gap-8);
// }


/* 간편비밀번호 팝업 */
.certify_box {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 24px;
	font-size: var(--font-size-heading-xsmall);
	text-align: center;
	font-weight: 700;
	> div {
		&::before {
			content:'';
			display: block;
			width: 64px;
			height: 64px;
			background-size: 64px auto;
		}
		&.pc {
			&::before {
				background-image: url(../images/common/cert/icon_cert_copy1.svg);
			}
		}
		&.phone {
			&::before {
				background-image: url(../images/common/cert/icon_cert_phone.svg);
			}
		}
		&.arrow {
			&::before {
				width: 24px;
				height: 24px;
				background-image: url(../images/common/cert/icon_arrow_right.svg);
				background-size: 24px auto;
				
			}
		}
	}
	& + .form_group_wrap {
		margin-top: var(--gap-5);
	}
	& + .info_cont {
		margin-top: var(--gap-8);
	}
	& + .process_info_area {
		margin-top: var(--gap-4);
		& + .bottom_fix_wrap {
			margin-top: var(--gap-8);
		}
	}
}


/* 간편비밀번호 팝업 */
.pin_info {
	position: relative;
	margin-top: 30px;
	// padding-bottom: 58px;
	.pin_enter_error_msg {
		display: none;
		position: absolute;
		bottom: 8px;
		left: 0;
		.text {
			background-position: left top;
			text-align: left;
		}
	}
}
.pin_enter {
	text-align: center;
	&.pass_join {
		height: auto;
		.error {
			& + .pin_info {
				.pin_enter_error_msg {
					position: static;
					display: block;
					text-align: left;
				}
			}
		}
	}
	.form_key {
		&.pin_type {
			position: relative;
			display: inline-flex;
			margin: 0 auto;
			// display: flex;
			justify-content: center;
			align-items: flex-end;
			gap: var(--gap-3);
			.pin_area {
				padding: 0;
			}
			.keyboard {
				display: flex;
			}
		}
	}
}
.simple_pw_area {
	padding-bottom: 222px;

}

/* 전자서명 */
.ele_sign {
	margin-top: var(--gap-8);
	padding: var(--padding-8, 24px) var(--padding-7, 20px);
	// padding: var(--padding-5) var(--padding-7) var(--padding-8) var(--padding-7);
	border-radius: var(--radius-large2);
	border: var(--border-width-variable-regular) solid var(--color-border-gray-light);
	background: var(--color-surface-white-subtle);
	.ele_sign_canvas_wrap {
		.ele_sign_canvas_wrap_top {
			position: relative;
			// padding-top: calc(var(--padding-8) + calc(var(--padding-1)));
			.hd_btn {
				position: absolute;
				top: 0;
				right: 0;
			}

			.ele_sign_canvas {
				position: relative;
				display: flex;
				align-items: center;
				justify-content: center;
				height: 200px;
				// height: 338px;
				border-radius: var(--radius-medium3);
				background-color: var(--color-surface-secondary-subtler);
				.esc_msg {
					position: absolute;
					top: 0;
					left: 0;
					width: 100px;
					height: 50%;
					display: flex;
					width: 100%;
					align-items: center;
					justify-content: center;
					font-size: var(--font-size-body-large);
					color: var(--color-text-disabled);
				}
				
				canvas {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					border-radius: var(--radius-medium3);
				}
			}
		}

		.ele_sign_canvas_wrap_cont {
			padding-top: var(--gap-5);
			.title_h6 {
				+ .es_cn_list {
					margin-top: var(--gap-3);
				}
			}
		}

		.es_cn_list {
			li {
				font-size: var(--font-size-body-xsmall);
				color: var(--color-text-subtle);
			}
		}

		

	}
}