/* Component */

// Button
.hd_btn {
	flex: 0 1 auto;
	//icon
	.hd_icon {
		&.documentChkSvg {
			background-image: url(../images/icon/icon_document_check.svg);
		}
		&.resetSvg {
			background-image: url(../images/icon/icon_reset_ty2.svg);
		}
	}
}

.btn_area {
	justify-content: flex-start;
}

.bottom_fix_wrap {
	margin-top: var(--gap-11);
	padding: var(--padding-5) 0 var(--padding-6);

	.btn_area {
		justify-content: space-between;
	}
	.hd_btn {
		min-width: 160px;
	}
}


// icon button
.btn_rd_modify {
	width: 24px;
	height: 24px;
	background: url(../images/icon/icon_reset_ty2.svg) no-repeat center /12px auto;
	border: var(--border-width-static-regular) solid var(--color-button-icon-fill-border);
	border-radius: 100%;
}


// banner
.banner_box {
	display: flex;
	justify-content: space-between;
	gap: var(--gap-5) var(--gap-8);

	& + .btn_area {
		margin-top: 52px;
	}
}


// .bottom_fix_notice (꼭알아두세요)
.bottom_fix_notice {
	margin: 0;
	padding-top: var(--gap-12);

	.acd_item {
		border-radius: var(--radius-large2);
	}
}


// divider
.divider_ty1 {
	height: var(--size-height_small-1);
	margin: var(--gap-11) 0;
}


// form 관련
.form_group_wrap {
	display: flex;
	flex-flow: row wrap;
	gap: var(--gap-8);
	> * {
		flex: 0 0 calc(50% - 16px);
	}

	.form_line {
		& ~ .form_line {
			margin-top: 0;
		}
	}

	.full {
		flex-basis: 100%;

		.radio_group_wrap {
			width: calc(50% - 16px);
		}
		.label_tit {
			.tooltip_wrap {
				.tooltip_panel {
					max-width: 836 px;
				}
			}
		}
	}

	.column {
		gap: var(--gap-8);
	}


	.label_tit {
		.tooltip_wrap {
			.tooltip_panel {
				width: auto;
				.inner {
					white-space: nowrap;
				}
			}
		}
	}
}

.form_box {
	> .btn_area {
		justify-content: center;
		.hd_btn {
			min-width: 160px;
		}
	}
}

// .form_list	
.form_list {
	.form_group_wrap {
		> * {
			flex: 1;
		}
		.form_line {
			display: flex;
			flex-direction: column;
			.label_tit {
				flex: 1;
			}
			.radio_group_wrap {
				.rd_btn {
					min-width: 134px;
				}
			}
		}
	}
}

// file 관련
.file_upload_wrap {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;

	.file_info_box {
		.list_ty2 {
			margin-top: var(--gap-4);
		}
	}

	.btn_area {
		flex: none;
		width: 100%;
	}
}
