/* Layout */

body {
	position: relative;
	overflow: auto;
}

/* skipNavi */
.skipNavi {
	position: relative;
	z-index: 500;
}
.skipNavi a {
	position: absolute;
	font-size: 0;
}
.skipNavi a:focus {
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 30px;
	font-size: var(--font-size-body-medium);
	color: #ffffff;
	text-align: center;
	line-height: 30px;
	background: #555555;
}
/* skipNavi */

.quick_menu {
	position: fixed;
	left: calc(50% + 626px);
	bottom: 64px;
	z-index: 1;
	display: flex;
	flex-direction: column;
	gap: var(--gap-3) 0;
	width: 56px;
	&.active {
		position: absolute;
		bottom: 267px;
	}

	.qm_item {
		> a {
			position: relative;
			display: block;
			padding-top: var(--size-height-8);
			.text {
				position: relative;
				display: block;
				padding-top: var(--gap-2);
				font-size: var(--font-size-body-xsmall, 12px);
				color: var(--color-text-subtle);
				text-align: center;
			}
			&::before {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: var(--size-height-8);
				border-radius: var(--radius-max);
				border: var(--border-width-static-regular) solid var(--color-button-icon-fill-border);
				background: var(--color-element-inverse-static);
				background-repeat: no-repeat;
				background-position: center center;
			}
			&.qm_btn_acc_report {
				&::before {
					border-color: var(--color-button-primary-fill);
					background-color: var(--color-button-primary-fill);
					background-image: url(../images/common/icon_qm_tel.png);
				}				
			}
			&.qm_btn_bd_dispatch {
				&::before {
					border-color: var(--color-border-secondary-dark);
					background-color: var(--color-border-secondary-dark);
					background-image: url(../images/common/icon_qm_car.png);
				}				
			}
			&.qm_btn_chatbot {
				&::before {
					background-image: url(../images/common/icon_qm_chatbot.png);
				}
			}
			&.qm_btn_pagetop {
				font-size: 0;
				&::before {
				background-image: url(../images/common/icon_qm_pagetop.png);					
				}
			}			
		}
	}



	.pageTop_btn {
		display: block;
		width: 40px;
		height: 40px;
		font-size: 0;
		border-radius: 50px;
	}



}

.wrap {
	position: relative;
	display: block;
	min-width: 1188px;
	height: auto;
	min-height: 100%;
	padding: 120px 0 203px 0;
	// transition: padding-top 0.3s;
	&:has(.header_pc_nd) {
		padding: 72px 0 64px 0;
	}
	&:has(.header_pc_error) {
		padding: 72px 0 64px 0;
	}

	&.scroll_lock {
		height: 100%;
		overflow: hidden;
		.footer {
			opacity: 0;
		}
	}

	.container {
		overflow: inherit;
		display: flex;
		flex-direction: row;
		justify-content: center;
		flex-flow: row wrap;
		gap: var(--gap-12);
		width: 1188px;
		margin: 0 auto;
		padding: 0 0 var(--padding-12);
		&.main_container {
			display: block;
			width: auto;
			padding-bottom: 0;
		}
	
		.content {
			flex: none;
			width: 836px;
			&.content_st1 {
				width: 1188px;
			}
		}
		
		.side_panel {
			width: 288px;
		}

		&.container_tp2 {
			gap: var(--gap-8);
			 
			.content {
				width: 781px;
			}
			.side_panel {
				width: 375px;
			}
		}
	}

	/* 조건별 container 상단 간격 */
	.header_pc {
		+ .container {
			margin-top: var(--gap-12);
		}
	}

	.breadcrumb {
		+ .container {
			padding-top: var(--gap-8);
		}
	}
	/* 조건별 container 상단 간격 */


	aside {
		position: absolute;
		top:0;
		left: calc(100% + 32px);
		width: 128px;
	}
}




// panel
.side_panel {
	display: flex;
	flex-direction: column;
	gap: var(--gap-7);

	.info_cont {
		.data_list {
			margin-top: var(--gap-4);
			& + .divider_ty1 {
				margin: var(--gap-7) 0;
			}

			dl {
				dt {
					&.home {
						background-image: url(../images/content/bi/icon_stepper_home2.svg);
					}
				}
			}
		}

		& + .info_gray {
			margin-top: 0;
			background-color: var(--color-surface-gray-subtler);
		}
	}

	.step_list {
		> li {
			& ~ li {
				padding-top: 12px;
			}

			.modify {
				width: 24px;
				height: 24px;
				padding: 5px;

				.hd_icon {
					width: 12px;
					height: 12px;
					vertical-align: top;
				}
			}

			> dl {
				dt {
					&.title {
						font-size: var(--font-size-body-small);
					}
				}
				dd {
					margin-top: 0;

					> ul {
						margin-top: var(--gap-4);
						> li {
							font-size: var(--font-size-body-xsmall);

							.result {
								margin-left: auto;
							}
						}
					}

					.info {
						font-size: var(--font-size-body-xsmall);
					}

					.item_depth {
						margin-top: var(--gap-4);
					}
				}
			}

			
			
			.item_depth {
				position: relative;

				& ~ .item_depth {
					margin-top: 24px;
				}

				&:has(dd > .modify_sub){
					> dt {
						padding-right: 29px;
					}
				}

				dt {
					font-size: var(--font-size-body-xsmall);
					font-weight: 700;
					
					&:after {
						content: none;
					}
				}
				dd {
					margin-top: 8px !important;
					
					.modify_sub {
						position: absolute;
						top: 0;
						right : 2px;
						padding: 0;
						width: auto;
						height: auto;
						border: none;
						font-size: var(--font-size-button-small);
						color: var(--color-text-subtle);
						text-decoration: underline;
					}

					> ul {
						> li {
							position: relative;
							font-size: var(--font-size-body-xsmall);

							&:has(.modify_sub){
								padding-right: 29px;
							}
						}
					}

					.info {
						font-size: var(--font-size-body-xsmall);
					}
				}
			}

			// 아코디언 case
			.acd_item_ty9 {
				position: relative;
				flex: 1;
		
				&:before {
					content: "";
					position: absolute;
					top: 9px;
					left: -15px;
					width: 3px;
					height: 3px;
					background-color: var(--color-icon-gray);
					border-radius: 50%;
				}
		
				.acd_head {
					.acd_btn {
						display: flex;
						// position: relative;
						width: 100%;
						font-size: var(--font-size-body-small);

						&[aria-expanded="true"]{
							font-weight: 700;
							color: var(--color-text-basic);
						}
						&[aria-expanded="false"]{
							color: var(--color-text-disabled-on);
						}
		
						> span {
							flex: 1;
						}
		
						&:after {
							// position: absolute;
							// right: 0;
							content:'';
							width: 20px;
							height: 20px;
							background: url(../images/icon/arrowDown_ty3.svg) no-repeat center / 16px;
						}
					}
		
					&.active {
						.acd_btn {
							&:after {
								transform: rotate(180deg);
							}
						}
					}
				}
		
				.acd_cont {
					.inner {
						padding: var(--gap-4) 0 var(--padding-3);
		
						.info {
							color: var(--color-text-disabled-on);
						}
					}
					
				}
			}

			// 입력상태 결과 리스트
			.pro_step_result {
				> li {
					display: flex;
					justify-content: space-between;
					gap: var(--gap-2);

					span {
						flex: 1;
						&.result {
							flex:none;
							width: 42px;
							color: var(--color-text-information);
							text-align: right;

							&.ok {
								color: var(--color-text-success);
							}
							&.ing {
								color: var(--color-text-primary);
							}
						}
					}
				}
			}

			.result_pager {
				display: flex;
				justify-content: center;
				align-items: center;
				margin-top: 12px;
				color: var(--color-text-basic);

				> span {
					padding-right: 3px;
					font-size: var(--font-size-button-small);

					&:last-of-type {
						padding-left: 3px;
						padding-right: 0;
					}
				}

				> button {
					width: 16px;
					height: 16px;
					background-repeat: no-repeat;
					background-position: center;
					background-size: 16px auto;

					&.prev {
						background-image: url(../images/icon/arrowLeft_ty1.svg);

						&:disabled {
							background-image: url(../images/icon/arrowLeft_disabled_ty2.svg);
						}
					}
					&.next {
						background-image: url(../images/icon/arrowRight_ty4.svg);

						&:disabled {
							background-image: url(../images/icon/arrowRight_disabled_ty2.svg);
						}
					}

					.text {
						width: 1px;
						height: 1px;
						opacity: 0;
					}

				}
			}
		}

		// 자동차 Case (아코디언 + 아코디언 X)
		&.type_mix {
			> li {
				&:last-child {
					&:before {
						top: 0;
					}
				}
				& ~ li {
					padding-top: 8px;

					dl {
						.title {
							&:after {
								top: 16px;
							}
						}
					}
				}
				
				dl {
					.title {
						font-size: var(--font-size-body-small);
					}
				}
				> .modify {
					width: 20px;
					height: 20px;
					padding: 2px;
					border: none;
					border-radius: 0;

					.hd_icon {
						width: 16px;
						height: 16px;
					}
				}

				&.active {
					padding-bottom: 16px;

					& ~ li {
						.info,
						dl dd,
						.modify {
							display: block;
						}
					}

					> dl {
						padding-bottom: 24px;

						.title {
							&:after {
								top: 16px;
							}
						}

						&:after {
							position: absolute;
							bottom: 16px;
							left: 14px;
							content:'';
							width: 100%;
							height: 1px;
							background-color: var(--color-divider-gray-light);
						}
					}

					&:last-child {
						> dl {
							&:after {
								content: none;
							}
						}
					}

					.acd_item_ty9 {
						padding-bottom: 24px;
								
						&:after {
							position: absolute;
							bottom: 0px;
							left: 0;
							content:'';
							width: 100%;
							height: 1px;
							background-color: var(--color-divider-gray-light);
						}
					}
				}
			}
		}

		// 다수차량 Case
		&.multiple {
			> li {
				position: relative;

				& ~ li {
					padding-top: 8px;
				}

				&:first-child {
					.modify {
						top: 0;
					}

					> dl {
						.title {
							&:after {
								top: 9px;
							}
						}
					}
				}

				&:last-child {
					&:before {
						top: 0;
					}
				}

				> .modify {
					position: absolute;
					top: 8px;
					right: 0;
					width: 20px;
					height: 20px;
					padding: 2px;
					border: none;
					border-radius: 0;

					.hd_icon {
						width: 16px;
						height: 16px;
					}
				}

				> dl {
					.title {
						&:after {
							top: 17px;
						}
					}
					dd {
						.info {
							display: block;
						}
					}
				}

				&.active {
					padding-bottom: 16px;

					& ~ li {
						dl dd,
						.modify {
							display: block;
						}
					}

					&:last-of-type {
						> dl {
							padding-bottom: 0;
							&:after {
								content: none;
							}
						}
					}

					> dl {
						padding-bottom: 24px;
	
						// .title {
						// 	font-weight: 400;
						// 	color: var(--color-text-disabled-on));
						// 	&:after {
						// 		// top: 16px;
						// 	}
						// }
	
						&:after {
							position: absolute;
							bottom: 16px;
							left: 14px;
							content:'';
							width: 100%;
							height: 1px;
							background-color: var(--color-divider-gray-light);
						}

						.title {
							font-weight: 400;
							color: var(--color-text-disabled-on);

							&.bold {
								font-weight: 700;
								color: var(--color-text-basic);
							}
						}
					}
				}
			}
		}
	}

	.panel_cont {
		display: flex;
		flex-direction: column;
		gap: var(--gap-5);
	}
}





// aside panel
.aside {
	width: 128px;

	.title_h3 {
		font-weight: 400;

		strong {
			font-weight: 700;
		}

		& + .info_box_list {
			margin-top: var(--gap-4);
		}
	}

	.info_box_list {
		.list {
			padding: var(--padding-6) var(--padding-5);
			background: var(--color-surface-gray-subtler);
			border-radius: var(--radius-medium3);
			font-size: var(--font-size-body-xsmall);

			.cont {
				.num {
					font-size: var(--font-size-heading-xsmall);
					color: var(--color-text-basic);

					&.point {
						color: var(--color-text-primary-bold);
					}
					& + * {
						margin-top: var(--gap-4);
					}
				}
				color: var(--color-text-subtle);
			}

			& + .list {
				margin-top: var(--gap-3);
			}
		}
	}
}
/* // Layout */