/* Component - PC용 새로 추가*/

// 완료용 infobox
.info_summary {
	padding: var(--padding-card-medium) var(--padding-card-small);
  border-radius: var(--radius-large2);
  background: var(--color-surface-secondary-subtler);


	.summary_top {
		display: flex;
		align-items: center;
		gap: var(--gap-3);
		margin-bottom: var(--gap-6);

		.s_title {
			font-size: var(--font-size-heading-small);
			font-weight: 700;
			color: var(--color-text-bolder);
		}
		.s_sub_title {
			font-size: var(--font-size-body-small);
			color: var(--color-text-subtle);
		}
		.badge_wrap {
			width: auto;
		}
	}

	.summery_inner {
		display: flex;
		align-items: flex-end;
		justify-content: space-between;
		// gap: var(--gap-8);
		gap: var(--gap-6);

		&:has(.output_wrap){
			align-items: stretch;
		}
		&.center {
			align-items: center;
		}
		.total_wrap {
			flex: 0 0 auto;
			// flex: 1 0 auto;
			display: flex;
			flex-direction: column;
			align-items: baseline;
			max-width: 500px;
			.tit {
				font-size: var(--font-size-body-medium);
			}
			.value {
				display: flex;
				align-items: flex-end;
				flex-wrap: wrap;
				gap: 10px;

				.val_price {
					display: flex;
					align-items: baseline;
					gap: 2px;
					font-size: var(--font-size-display-medium);
					font-weight: 700;
					> span {
						margin-top: 6px;
						font-size: var(--font-size-body-large);
					}
				}
				.val_discount {
					padding-bottom: var(--gap-3);
					font-size: var(--font-size-body-medium);
					color: var(--color-text-disabled-on);
					text-decoration: line-through;
				}
				.trend {
					margin-bottom: var(--padding-3);
					font-size: var(--font-size-body-large);
					font-weight: 700;
				}
				.btn_area {
					margin-bottom: var(--gap-3);
				}
			}
			.sub_info {
				display: flex;
				gap: var(--gap-3);
				margin-top: var(--gap-2);

				> span {
					flex: 1 0 auto;
					font-size: var(--font-size-body-small);
					&.tit {
						color: var(--color-text-subtle);
					}

				}
			}

			// 이륜차보험(개인)
			&.ty1 {
				.tit {
					margin-top: var(--gap-6);
				}
				.value  {
					.btn_area {
						margin-bottom: 12px;
					}
				}
				
			}
		}

		.detail_wrap {
			padding-bottom: var(--gap-3);

			> * {
				&:first-child {
					& + .dt_table {
						margin-top: var(--gap-4);
					}
				}
			}

			.dt_table {
				display: table;

				> dl {
					display: table-row;
	
					~ dl {
						dt, dd {
							padding-top: 8px;
						}
					}
	
					dt, dd {
						font-size: var(--font-size-body-small);
						vertical-align: top;
					}
	
					dt {
						display: table-cell;
						white-space: nowrap;
						color: var(--color-text-subtle);
	
						> span {
							vertical-align: top;
							&.point {
								padding-left: var(--padding-2);
								font-weight: 700;
							}
						}
	
						~ dt {
							padding-left: var(--padding-9);
							padding-left: var(--gap-6);
							// padding-left: var(--padding-8);
						}
	
						~ dd {
							// max-width: 212px;
							max-width: 240px;
							padding-left: 12px;
						}
					}
					dd {
						display: table-cell;
					}
					&.sm {
						margin-top: var(--gap-2);
						min-height: 20px;
						dt {
							font-size: var(--font-size-body-xsmall);
							padding: 0;
							vertical-align: middle;
						}
						dd {
							padding: 0;
							.inp_checkbox input[type=checkbox].right + .switch_check {
								min-height: 20px;
							}
						}
					}
					&.big {
						dt,
						dd {
							font-size: var(--font-size-body-large);
						}
					}
				}
				&.ty2 {
					dd {
						text-align: right;
					}
					dl.point {
						dt,
						dd {
							color: inherit;
							font-weight: 700;
						}
					}
				}
			}
		}

		.output_wrap {
			flex-basis: 50%;
			padding-left: var(--gap-8);
			margin-left: var(--gap-8);
			border-left: var(--border-width-static-regular) solid var(--color-divider-gray-light);

			.tit {
				font-size: var(--font-size-body-medium);
			}
			.count {
				display: flex;
				align-items: center;
				gap: var(--gap-1);
				font-size: var(--font-size-body-large);
				font-weight: 700;
				strong {
					font-size: var(--font-size-display-medium);
				}
			}
		}

		& + .dc_info_box {
			margin-top: var(--gap-6);
		}
	}

	> .btn_area {
		margin-top: var(--gap-6);
		padding-top: var(--gap-6);
		border-top: var(--border-width-static-regular) solid var(--color-divider-gray-light);
	}

	& + .table_wrap,
	& + .form_group_wrap,
	& + .tab_wrap,
	& + .tag_item_wrap,
	& + .banner_box,
	& + .info_gray {
		margin-top: var(--gap-8);
	}

	& + .form_box,
	//& + .info_gray,
	& + .content_top {
		margin-top: var(--gap-11);
	}
	

	// 보험료결제
	&.payment {
		background-color: var(--color-surface-primary-subtler);

		& + .form_box {
			margin-top: var(--gap-8);
		}
	}
}

.dc_info_box {
	position: relative;
	padding: var(--padding-7) var(--padding-7) var(--padding-7) 68px;
	background-color: var(--color-surface-white-subtle);
	border-radius: var(--radius-medium3);

	&:before {
		content:'';
		position: absolute;
		left: 12px;
		top: calc(50% - 20px);
		width: 40px;
		height: 40px;
		background-color: var(--color-surface-primary-subtler);
		background-position: center;
		background-size: 24px auto;
		background-repeat: no-repeat;
		border-radius: var(--radius-medium1);
		background-image: url(../images/icon/icon_discount.svg);
	}

	&.ty2 {
		background-color: var(--color-surface-primary-subtler);
		&:before {
			background-color: var(--color-surface-white);
		}
	}
	&.car_ty1 {
		&:before {
			background-image: url(../images/icon/icon_check_car.svg);
		}
	}
	&.car_ty2 {
		&:before {
			background-image: url(../images/icon/icon_plus_car.svg);
		}
	}
	&.motorcycle {
		&:before {
			background-image: url(../images/icon/icon_motorcycle.svg);
		}
		.text {
			font-size: var(--font-size-body-medium);
			color: var(--color-text-basic);
		}
	}

	.dc_list {
		display: flex;
		flex-wrap: wrap;

		&.c1 {
			> li {
				.dc_l {
					color: var(--color-text-basic);
				}
			}
		}

		&.column {
			flex-direction: column;
			> li {
				padding-left: 0;
				& ~ li {
					margin-top: 8px;
				}
			}
		}

		> li {
			position: relative;
			display: flex;
			gap: var(--gap-2);
			font-size: var(--font-size-body-medium);
			& ~ li {
				padding-left: 25px;
				&:before {
					content:'';
					position: absolute;
					top: 4px;
					left: 12px;
					width: 1px;
					height: 16px;
					background-color: var(--color-divider-gray-light);
				}
				&:nth-child(3n+1){
					padding-left: 0;
					&:before {
						content: none;
					}
				}
			}

			.link {
				padding-right: 20px;
				background: url(../images/icon/arrowRight_ty4.svg) no-repeat right center / 16px auto;
			}
			.dc_l {
				color: var(--color-text-subtle);
			}
			.dc_r {
				padding-left: var(--gap-2);
			}
		}
	}

	& + .acc_group {
		margin-top: var(--gap-8);
	}
}
.dc_data_area {
	margin-top: var(--gap-5);
	.list_ty4 {
		display: flex;
		justify-content: flex-end;
		gap: 40px;
		li {
			display: flex;
			align-items: center;
			margin-top: 0;
			gap: var(--gap-5);
			&::before {
				top: 50%;
			}
			.txt {
				color: var(--color-text-subtle);
				strong {
					padding-left: var(--gap-3);
				}
			}
		}
	}
	& + .acc_group {
		margin-top: var(--gap-8);
	}
}

// side panel
.sel_item_list {
	.item {
		font-size: var(--font-size-body-small);

		& ~ .item {
			margin-top: var(--gap-3);
		}

		.sel_tit {
			color: var(--color-text-disabled-on);

			.icon {
				width: 16px;
				height: 16px;
				background-repeat: no-repeat;
				background-position: center;
				background-size: 100% auto;

				&.dog {
					background-image: url(../images/content/bi/icon_stepper_dog.svg);
				}

				&.date {
					background-image: url(../images/content/bi/icon_stepper_date.svg);
				}

				&.birth {
					background-image: url(../images/content/bi/icon_stepper_birth.svg);
				}

				&.gender {
					background-image: url(../images/content/bi/icon_stepper_gender.svg);
				}
			}
		}
	}
}

.contact_list {
	padding: var(--padding-8) var(--padding-7);
	background: var(--color-surface-white);
	border: var(--border-width-static-regular) solid var(--color-divider-gray-light);
	border-radius: var(--radius-large2);

	> .list {
		display: flex;
		align-items: center;
		gap: var(--gap-5);
		font-size: var(--font-size-body-xsmall);

		& + .list {
			margin-top: var(--gap-6);
		}

		.icon {
			display: block;
			width: 44px;
			height: 44px;
			background-color: var(--color-background-gray-subtler);
			background-repeat: no-repeat;
			background-position: center;
			background-size: 20px auto;
			border-radius: var(--radius-medium1);

			&.call {
				background-image: url(../images/icon/icon_call_fill.svg);
			}
			&.car {
				background-image: url(../images/icon/icon_car_window.svg);
			}
		}

		.info {
			em {
				display: block;
				font-size: var(--font-size-body-small);
				font-weight: 700;
			}
		}
	}

	& + .list_depth_ty2 {
		margin-top: var(--gap-4);
	}
}


// 상단 title
.title_view_wrap {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	gap: var(--gap-7);
	margin-bottom: var(--gap-8);

	.page_title {

		> * {
			& ~ * {
				margin-top: var(--gap-3);
			}
		}

		.p_info {
			font-size: var(--font-size-heading-xsmall);
			font-weight: 700;
			color: var(--color-text-primary-bold);

			& + .p_title {
				margin-top: var(--gap-2);
			}
		}
		.p_title {
			font-size: var(--font-size-display-medium);
			color: var(--color-text-static);
		}
	}

	.sub_desc {
		font-size: var(--font-size-body-medium);
		color: var(--color-text-subtle);
	}
	.btn_area {
		flex: 0 0 auto;
		&:not(.column){
			&:has(button.hd_btn_s_4, button.hd_btn_s_5){
				gap: var(--gap-3);
			}
		}
		.hd_btn {
			min-width: auto;
		}
	}
	&.bg_right {
		margin-bottom: 0;
		align-items: flex-start;
		min-height: 210px;
		&.ty1 {
			background: url(../images/content/cnsr/bg_top_ty1.png) no-repeat top right;
		}
		&.ty2 {
			background: url(../images/content/cnsr/bg_top_ty2.png) no-repeat top right;
		}
	}
	& + .info_gray {
		width: 100%;
		font-size: var(--font-size-heading-medium);
	}
}

// select
.select_option_box {
	.selectbox {
		width: 100%;
		min-height: 24px;
		// padding: 15px 44px 15px 16px;
		padding: 15px 36px 15px 16px;
		font-size: var(--font-size-label-large);
		color: var(--color-text-subtle);
		word-break: break-all;
		border: var(--border-width-static-regular) solid var(--color-input-border);
		border-radius: var(--radius-medium3);
		background: var(--color-input-surface) url(../images/icon/arrowDown_ty3.svg) no-repeat right 16px center/20px auto;
		-o-appearance: none;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		&:disabled {
			border: var(--border-width-static-regular) solid var(--color-input-border-disabled);
			background-color: var(--color-input-surface-disabled);
		}
		&.default {
			color: var(--color-text-disabled);
			border: var(--border-width-static-regular) solid var(--color-input-border);
			&:disabled {
				color: var(--color-text-disabled-on);
				border: var(--border-width-static-regular) solid var(--color-input-border-disabled);
			}
		}
		&:required:invalid {
			color: var(--color-text-disabled);
		}

		&:required:valid {
			color: var(--color-text-subtle);
		}
	}

	&.sm {
		.selectbox {
			padding: 10px 40px 10px var(--padding-6);
			font-size: var(--font-size-label-small);
			border-radius: var(--radius-medium1);
		}
	}

	&.md {
		.selectbox {
			padding: 12.5px 40px 12.5px var(--padding-6);
			font-size: var(--font-size-label-medium);
			border-radius: var(--radius-medium2);
			background-size: 16px auto;
		}
	}

	& + .list_ty2,
	& + .inp_checkbox,
	& + .input_text {
		margin-top: var(--gap-5);
	}

	&.ty2 {
		&:not(.sm) {
			.selectbox:required:valid {
				color: var(--color-text-basic);
			}
		}
		.selectbox {
			width: auto;
			padding: 0 28px 0 0;
			background-position: right center;
			font-size: var(--font-size-heading-small);
			font-weight: 700;
			border: none;
			border-radius: 0;
		}

		& + .form_group_wrap {
			margin-top: var(--gap-5);
		}

		&.sm {
			.selectbox {
				padding: 0 16px 0 0;
				font-size: var(--font-size-body-small);
				background-size: 16px 16px;
				background-position-x:100%;
			}
		}
	}

	&.ty3 {
		.selectbox {
			width: auto;
			padding: 0 22px 0 0;
			background-position: right center;
			background-image: url(../images/icon/arrowDown_ty6.svg);
			font-size: var(--font-size-button-large);
			border: none;
			border-radius: 0;
			&:required {
				&:valid {
					color: var(--color-text-primary);
				}
			}
			option {
				color: var(--color-text-subtle);
			}
		}

		&.tr {
			select {
				text-align: right;
			}
		}

		& + .form_group_wrap {
			margin-top: var(--gap-5);
		}
	}
}

.selectbox_btn {
	.s_btn {
		position: relative;
		width: 100%;
		min-height: 24px;
		padding: 16px 44px 16px 16px;
		font-size: var(--font-size-label-large);
		color: var(--color-text-subtle);
		word-break: break-all;
		border-radius: var(--radius-medium3);
		background: var(--color-input-surface) url(../images/icon/arrowDown_ty3.svg) no-repeat right 16px center/20px auto;
	
		&:after {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			border-radius: var(--radius-medium3);
			border: var(--border-width-static-regular) solid var(--color-input-border);
			pointer-events: none;
			transition: all 0.3s;
		}
	}
}

.gd_middle_ba {
	display:flex;
	justify-content: space-between;
	align-items: center;
	margin: 16px 0 52px;
	.item:only-child {
		margin-left: auto; 
	}
}



// 보험료확인 radio
.guarantee_item .gi_radio input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}
.guarantee_item .gi_radio input + label::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
}



//coverage_item_list
.coverage_item_list_ty3 {
	> .list {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		gap: var(--gap-3);

		& ~ .list {
			margin-top: var(--gap-5);
		}

		.detail_list {
			flex: 1 1 0;
			overflow-wrap: anywhere;

			.item_inner {
				display: flex;
				gap: var(--gap-3);
				align-items: flex-start;
	
				.hd_btn {
					&.short_cut2 {
						.short_cut2_tit {
							margin-right: 8px;
							white-space: nowrap;
						}
						.badge_wrap {
							width: auto;
						}
						+ .badge_wrap {
							width: auto;
						}
					}
				}
				& + .cont_text_sub {
					margin-top: var(--gap-2);
				}
			}
	
			.inp_checkbox {
				flex: none;
				.chk_label {
					padding-left: 0;
					width: 20px;
					height: 20px;
					.label_cont {
						position: absolute;
						top: 0;
						left: 0;
						width: 1px;
						height: 1px;
						overflow: hidden;
						white-space: nowrap;
					}
				}
	
				input[type=checkbox]{
					left: 0;
				}
			}

			.coverage_text {
				flex: none;
				font-size: var(--font-size-label-medium);
			}
	
			.chk_lby2 {
				padding: 5px 0 0 28px;
			}
		}

		.detail_price {
			flex: none;
			font-size: var(--font-size-button-large);
			.point {
				font-weight: normal;
				color: var(--color-text-primary);
			}
		}
	}
	.table_wrap {
		&.type_mini{
			.title {
				margin: var(--gap-5) 0 var(--gap-4);
				font-size: var(--font-size-body-small);
			}
		}
	}

	&.border {
		> .list {
			& ~ .list {
				padding-top: var(--padding-6);
				border-top: var(--border-width-static-regular) solid var(--color-divider-gray-light);
			}
		}
	}
}


/* 보험료 확인 */
.guarantee_view_wrap {
	display: flex;
	min-height: 189px;
	gap: var(--gap-9);
	padding: var(--padding-8) var(--padding-7);
	border-radius: var(--radius-large2);
	border: var(--border-width-static-medium) solid var(--color-border-primary);
	box-shadow: 0px 4px 4px 0px rgba(248, 99, 60, 0.10);

	& + .dc_info_box {
		margin-top: var(--gap-5);
	}

	> * {
		flex: 1;
	}

	.view_left {
		display: flex;
		flex-direction: column;
		justify-content: center;
		gap: var(--gap-6);

		.v_top {
			display: flex;
			gap: var(--gap-3);
			.badge_wrap {
				width: auto;
			}
			.sub_title {
				font-size: var(--font-size-body-small);
				color: var(--color-text-subtle);
			}
		}
		.v_info {
			.title {
				font-size: var(--font-size-body-medium);
			}
			.price {
				font-size: var(--font-size-body-large);
				font-weight: 700;

				strong {
					font-size: var(--font-size-display-medium);
					// vertical-align: top;
				}

				& + .btn_area {
					margin-top: var(--gap-2);
				}
			}
			.btn_area {
				& + .desc {
					margin-top: var(--gap-3);
				}
			}
			.desc {
				padding-top: var(--gap-2);
				font-size: var(--font-size-body-small);
			}
			
		}
	}
	.view_right {
		display: flex;
		align-items: center;
		background-repeat: no-repeat;
		background-position: right center;
		background-size: 120px auto;

		&.v_bg_ty1 { 
			background-image: url(../images/content/guarantee/img_perpect.svg);
		}  
		
		&.v_bg_ty2 { //풍수해·지진재해보험(주택용)
			background-image: url(../images/content/guarantee/bg_img_gisf.svg);
		}  
		&.v_bg_ty3 { //풍수해·지진재해보험(소상공인용)
			background-image: url(../images/content/guarantee/bg_img_gisf2.svg);
		} 
		&.v_bg_ty4 { //실손의료비보험
			background-image: url(../images/content/guarantee/bg_img_ltmd.svg);
		} 
		&.v_bg_ty5 { //실손의료비보험(계약전환용)
			background-image: url(../images/content/guarantee/bg_img_ltsm.svg);
		}  
		&.v_bg_ty6 { //사업장화재보험
			background-image: url(../images/content/guarantee/bg_img_ltwf.png);
		}  
		&.v_bg_ty7 { //개인정보보호배상책임보험(II)
			background-image: url(../images/content/guarantee/bg_img_gipi.png);
		}  
		&.v_bg_ty8 { //보험료 확인 (영업용 플랜)
			background-image: url(../images/content/guarantee/bg_img_ltdr.png);
		}
		.bubble_msg {
			position: relative;
			flex: 1;  
			margin-right: 156px;//161px;
			padding: var(--padding-3) var(--padding-6);
			background-color: var(--color-element-primary-lighter);
			text-align: center;
			border-radius: var(--radius-medium1);
			border: var(--border-width-static-regular) solid var(--color-border-primary);

			> span {
				display: -webkit-box;
				-webkit-line-clamp: 2;
				-webkit-box-orient: vertical;
				overflow: hidden;
				text-overflow: ellipsis;
				font-size: var(--font-size-body-small);
				font-weight: 700;
				color: var(--color-text-primary-bold);
				max-height: 42px;
			}
			
			&:after {
				position: absolute;
				top: calc(50% - 6px);
				right: -6px;
				z-index: 100;
				content: '';
				display: block;
				width: 9px;
				height: 12px;
				background: url(../images/icon/icon_notch.svg) no-repeat center / contain;
			}
					
		}
	}
}

//선택옵션 존재
.guarantee_select_wrap {
	display: flex;
	align-items: stretch;
	gap: var(--gap-5);

	.select_item {
		flex: 1 1 0;
		position: relative;
		margin: 0;

		// label {
		// 	width: 100% !important;
		// }

		&:has(.btn_area){
			.item_radio {
				input{
					& + label {
						height: 284px;
						.item_top {
							// padding-bottom: 28px;
						}
					}

					&:checked {
						& + label {
							.item_top {
								// margin-top: 56px;
								padding-bottom: 28px;
							}
						}
					}
				}
				> .btn_area {
					left: 20px;
					bottom: 74px;
				}
			}
		}

		.item_radio	{
			position: relative;
			height: 100%;

			input {
				position: absolute;
				top:0;
				left: 0;
				opacity: 0;
			}
	
			label {
				display: flex;
				flex-direction: column;
				width: 410px;
				// height: 100%;
				height: 256px;
				padding: var(--padding-8) var(--padding-7);
				background: none;
				border: var(--border-width-static-regular, 1px) solid var(--color-border-secondary-light);
				border-radius: var(--radius-large2);

				.badge_wrap {
					height: 56px;

					.hd_badge {
						&.class_type {
							.text {
								em {
									display: none;
								}
							}
						}
					}
				}
				.item_desc {
					// display: block;
					display: -webkit-box;
					-webkit-line-clamp: 2; /* 보여줄 줄 수 */
					-webkit-box-orient: vertical;
					overflow: hidden;
					text-overflow: ellipsis;
				}
			}

			// 플랜 선택 disabled 상태값
			input {
				&:disabled {
					+ label {
						background-color: var(--color-surface-gray-subtler);
						border-color: var(--color-border-secondary-light);

						.badge_wrap {
							.hd_badge {
								background-color: var(--color-element-disabled-light);
								border-color: var(--color-border-disabled);
								.text {
									background-image: url(../images/icon/icon_badge_disabled.svg);
									color: var(--color-text-disabled-on);
								}
							}
						}

						.item_top,
						.item_desc {
							color: var(--color-text-disabled-on);
						}

						.item_top {
							.top_info {
								line-height: 1.5;
							}
						}
					}
				}
			}
			// 플랜 선택 disabled 상태값 추가
		}

		.item_top {
			display: flex;
			flex-direction: column;
			margin-top: var(--gap-8);

			.top_title {
				font-size: var(--font-size-body-medium);
				// white-space: nowrap;
				br {
					display: block;
				}
			}

			.top_info {
				display: flex;
				align-items: center;
				flex-flow: row wrap;
				gap: 0 8px;
				line-height: 42px;
				
				.price {
					width: auto;
					font-size: var(--font-size-body-large);
					font-weight: 700;

					strong {
						font-size: var(--font-size-display-small);
						vertical-align: top;
					}
				}
				.discount {
					font-size: var(--font-size-body-small);
					line-height: 150%;
					color: var(--color-text-subtle);
					text-decoration-line: line-through;
				}
			}
		}
		.item_desc {
			margin-top: var(--gap-4);
			font-size: var(--font-size-body-small);
			color: var(--color-text-subtle);
		}

		// pm 케이스
		&.single {
			flex-grow: 1;
			flex-basis: 0;
			margin-bottom: var(--gap-8);
			padding: var(--gap-7) var(--gap-6);
			border: var(--border-width-static-medium, 2px) solid var(--color-border-primary);
    	border-radius: var(--radius-large2);
			.badge_wrap {
				.hd_badge {
					&.class_type {
						width: auto;
						height: 32px;
						border-radius: var(--radius-small2);
	
						.text {
							display: flex;
							padding: 0;
							background: none;
							font-weight: 700;
	
							em {
								position: relative;
								display: inline-block;
								padding-left: 15px;
								font-weight: 400;
	
								&:before {
									position: absolute;
									top: 4px;
									left: var(--gap-3);
									content:'';
									width: 1px;
									height: 12px;
									background-color: var(--color-border-success-light);
								}
							}
						}
						&.class_type03 {
							.text {
								font-size: var(--font-size-body-small);
								background-image: none;
							}
						}
					}
				}
			}
			.item_top {
				margin-top: var(--gap-6);
				margin-bottom: var(--gap-2);
			}
		}

	}

	&:has(input:checked) {
		.select_item {
			.item_radio {
				label {
					position: relative;
					justify-content: center;
					text-align: center;
					&::after {
						content: '';
						position: absolute;
						right: 20px;
						bottom: 34px;
						width: 110px;
						height: 100px;
						font-size: 0;
						background-repeat: no-repeat;
						background-size: 110px auto;
						opacity: 0;
					}

					.item_top {
						padding-bottom: 0;
					}
	
				}
				> .btn_area {
					display: none;
				}

				input {
					&:checked {
						+ label {
							width: 410px;
							// padding-right: 162px;
							
							.item_top {
								// width: 228px;
								// padding-right: 142px;
								// margin-top: 56px;
								.top_title {
									br {
										display: none;
									}
								}
							}
							& + .btn_area {
								display: block;
							}
						}
					}
				}
			}

			.badge_wrap {
				justify-content: center;
			}

			.item_top {
				.top_info {
					justify-content: center;
					.price {
						strong {
							font-size: var(--font-size-body-large);
						}
					}
					.discount {
						display: none;
					}
				}
			}
		}
	}

	.select_item {
		position: relative;
		background: none;

		&.t1 {
			.item_radio {
				input {
					&:checked {
						& + label {
							&::after {
								content: 'INSURANCE PERPECT';
								background-image: url(../images/content/mprl/img_MPRLTDR10003000000_02.svg);
							}
						}
					}
				}
			}
		}

		&.t2 {
			.item_radio {
				input {
					&:checked {
						& + label {
							&::after {
								content: 'INSURANCE GREAT';
								background-image: url(../images/content/mprl/img_MPRLTDR10003000000_03.svg);
							}
						}
					}
				}
			}
		}

		&.t3 {
			.item_radio {
				input {
					&:checked {
						& + label {
							&::after {
								content: 'INSURANCE GOOD';
								background-image: url(../images/content/mprl/img_MPRLTDR10003000000_04.svg);
							}
						}
					}
				}
			}
		}

		.item_radio {
			input {
				&:checked {
					& + label {
						justify-content: flex-start;
						text-align: left;
						// transition: all .4s;
		
						&:before {
							position: absolute;
							top:0;
							left: 0;
							content:'';
							width: 100%;
							height: 100%;
							border: var(--border-width-static-medium, 2px) solid var(--color-border-primary);
							border-radius: var(--radius-large2);
						}
						&::after {
							opacity: 1;
						}
						
						.badge_wrap {
							justify-content: flex-start;
							.hd_badge {
								&.class_type {
									width: auto;
									height: 32px;
									border-radius: var(--radius-small2);
				
									.text {
										display: flex;
										padding: 0;
										background: none;
										font-weight: 700;
				
										em {
											position: relative;
											display: inline-block;
											padding-left: 15px;
											font-weight: 400;
				
											&:before {
												position: absolute;
												top: 4px;
												left: var(--gap-3);
												content:'';
												width: 1px;
												height: 12px;
												// background-color: blue;
											}
										}
									}
			
									&.class_type01 {
										.text {
											em {
												&:before {
													background-color: var(--color-border-primary-light);
												}
											}
										}
									}
			
									&.class_type02 {
										.text {
											em {
												&:before {
													background-color: var(--color-border-secondary-light);
												}
											}
										}
									}
			
									&.class_type03 {
										.text {
											em {
												&:before {
													background-color: var(--color-border-success-light);
												}
											}
										}
									}
								}
							}
						}
						.item_top {
							.top_info {
								justify-content: flex-start;
								.price {
									strong {
										font-size: var(--font-size-display-small);
									}
								}
								.discount {
									display: block;
								}
							}
						}
						.item_desc {
							// display: block;
							max-width: 228px;
						}
					}
				}
			}
			> .btn_area {
				display: none;
				position: absolute;
			}
		}
	}

	& + .dc_info_box {
		margin-top: var(--gap-5);
	}
	& + .acc_group {
		margin-top: var(--gap-8);
	}


	// radio 3개
	&.guarantee_select_wrap_n3 {
		.select_item {
			.item_radio {
				label {
					width: 268px;
					// height: 256px;
				}
			}
		}
		
		&:has(input:checked) {
			.select_item {
				.item_radio {
					input {
						& + label {
							width: 197px;
							transition: all .3s;
							
							.item_desc {
								display: none;
								// opacity: 0;
								// height: 0;
								// overflow: hidden;
								// transition: opacity .5s;
								// transition-delay: .2s;
							}
						}
						&:checked {
							+ label {
								width: 410px;

								.item_desc {
									display: block;
									// opacity: 1;
									// height: 40px;
								}
							}
						}
					}
				}
			}
		}
	}
}

.guarantee_info {
	display:flex;
	justify-content: space-between;
	align-items: center;
	margin: 16px 0 32px;
	[class^=item] {
		display: flex; 
		align-items: center;		
	}
	.item_right {
		min-height: 24px;
		gap: var(--gap-5);
		padding-right :var(--padding-3);
		margin-left: auto;

		.list_ty4 {
			display:flex;
			flex-wrap: wrap;
			gap: var(--gap-4);

			&:has(.hd_btn){
				gap: var(--gap-7);

				> li {
					margin-left: var(--padding-3);

					&:last-child {
						.hd_btn {
							margin-right: 0;
						}
					}
	
					.hd_btn {
						margin-right: var(--padding-3);
					}
				}
			}

			> li {
				margin:0;
				display:flex;
				align-items: center;

				&::before {
					top: calc(50% - 1px);
				}

				> .text {
					padding-right: var(--gap-3);
					color: var(--color-text-subtle);
				}

				.hd_btn {
					margin-left: var(--gap-4);
				}
			}
		}
		.data {
			font-size: var(--font-size-body-small);
			font-weight: 700;
			color: var(--color-text-subtle);
		}
		.select_option_box {
			& + .data {
				margin-left: var(--gap-3);
			}
		}
	}	
}
.guarantee_btn_area {
	margin: var(--gap-11) 0 var(--gap-8);
}


//radio 3분할
.radio_group_wrap_ty3  {
	display:grid;
	grid-template-columns: repeat(3, 1fr);
	gap: var(--gap-4);
}

.radio_group_wrap.car_type_option {
	.inp_radio + .inp_radio {
		margin-top: var(--gap-4);
	}
}

// 변경할 가입조건 선택 팝업
.popup_wrap.popup_wrap_type3 {
	.title_h4.space1 {
		margin-bottom:16px;
	}
	.form_group_wrap {
		& + .title_h4.space1 {
			margin-top: 40px;
		}
	}
}




// 간격 임의 정리 케이스
// .checkbox_group_wrap.column {
// 	&:has(.chk_label_ty3) {
// 		.rd_box {
// 			+ .rd_box {
// 				margin-top: 50px;
// 			}
// 		}
// 	}
// }


.search_box {
	display: flex;
	align-items: flex-end; 
	gap: var(--gap-6);

	.select_option_box,
	.select_item  {
		flex: 1;
	}
	.btn_area {
		flex-shrink: 0; 
		button {
			width: 100px;
		}
	}
}


.grid {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: flex-start;
	gap: 0 var(--gap-8);

	> * {
		flex: 0 1 calc(50% - 16px);
	}
}

.break {
	word-break: break-all;
}



// 자동차 차량정보 PC
.car_step_layout {
	.title_view_wrap {
		.bit {
			margin-top: 0;
		}
		.bit_inner {
			.bit_inner_text {
				display: block;
				font-size: var(--font-size-heading-xxlarge);

				// 배서
				&.sub_desc {
					padding-top: var(--gap-3);
					font-size: var(--font-size-body-small);
				}
			}
			&.active {
				.bit_btn_scrollx,
				.bit_inner_text {
					display: none;
				}
			}
		}
	}

	.bi_wrap {
		min-height: auto;
		padding: 0;
		.layout_bg_box {
			padding: var(--padding-6) var(--padding-8);
			background-color: var(--color-surface-secondary-subtler);
			border-radius: var(--radius-large2);
	
			.stepper_wrap {
				width: 375px;
				margin: 0 auto;
			}
		}
	
	}
	.bi_stepper {
		.bi_opts_wrap {
			position: relative;
			z-index: 1;
			margin-top: var(--gap-8);
		}
		.opts_area {
			flex-direction: column;
			align-items: flex-start;
			transition:none;
			// gap: var(--gap-8);

			.search_inp_box {
				position: static;
				z-index: 10;
				width: 100%;
				& + * {
					margin-top: var(--gap-8);
				}
			}

			.oai_filter {
				justify-content: flex-end;
			}
			.opts_area_item {
				margin-top: 0;
				padding-bottom: 0;

				& + * {
					margin-top: var(--gap-8);
				}
			}

			.search_reult_list_container {
				width: 100%;

			}

			.autocomplete_wrap {
				& + * {
					margin-top: var(--gap-8);

					&.search_result_count {
						margin-top: var(--gap-11);
					}
				}
			}

			.no_list_area {
				min-height: auto;
			}
		}
	}
}

 
//폼 - 연락처
.form_group_wrap {
	.full_half {
		.form_line.fix_w_case02 {
			width: 102px;
		}
	}
}


.vod_preview {
	max-width: 560px;
	margin: 0 auto;
}

* + .cert_select_list {
  margin-top: var(--gap-8);
}

.cert_select_list {
	& + .banner_box {
		margin-top: var(--gap-8);
	}
}

.repair_list.grid_list_ty1 {
	gap: 0 var(--gap-8);

	&::before {
		display: none;
	}

	li{
		&:nth-child(-n+2) {
			border-top:  var(--border-width-static-regular) solid var(--color-divider-gray-light) !important;
		}
		&:nth-child(2n-1){
			border-right: 0;
		}
		border-bottom: var(--border-width-static-regular) solid var(--color-divider-gray-light) !important;
	}

	li ~ li {
		border-top: 0 !important;
	}
}

.item_info {
	&:has(.grid_list_ty1),
	&.ty2 {
		border-top: var(--border-width-static-regular) solid var(--color-divider-gray-light) !important;
	}
}

.item_info.ty2 {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 0 var(--gap-8);

	ul {
			width: calc(50% - 16px);
			margin-top: 0;

			&:nth-child(2n-1){
				border-right: var(--border-width-static-regular) solid var(--color-divider-gray-light);
				padding-right: var(--gap-8);
			}
		}
}

.process_info_area {
	& + .info_gray {
		& + .btn_area {
			margin-top: var(--gap-8);
		}
	}
}

.job_opening {
	display: flex;
	justify-content: space-around;
	gap: var(--gap-6);
	background: var(--color-surface-gray-subtler);
	.img_item {
		flex: 1.2;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: var(--gap-5);
		.img_box {
			overflow: hidden;
			width: 178px;
			height: 220px;
			border-radius: var(--radius-medium3);
			border: var(--border-width-static-regular) solid var(--color-border-gray-light);
			background: var(--color-surface-white-subtle) url(../images/content/cnsr/bg_img_ex.svg) no-repeat center;
			img {
				display: block;
				width: 100%;
				height: 100%;
			}
		}
	}
	.job_opening_cont {
		flex: 2;
		padding-left: var(--gap-6);
		border-left: var(--border-width-static-regular) solid var(--color-divider-gray-light);
		.inp_radio.rd_btn input[type=radio] + label {
			background:  var(--color-surface-white-subtle);
		}
		.inp_radio.rd_btn input[type=radio] {
			&:checked { 
				&:disabled {
					+ label {
						background-color: var(--color-action-disabled);
					}
				}
			}
		}
		.radio_group_wrap {
			&.half {
				.inp_radio {
					flex: 0 0 calc(50% - 16px);
				}
			}
		}
	}
}
.vision_setp {
	margin: auto;
	padding: var(--padding-5);
	width: 570px;
	border-radius: var(--radius-max);
	border: var(--border-width-static-regular) dashed var(--color-border-gray-light);
	background: var(--color-surface-gray-subtler);
	ol {
		display: flex;
		li {
			display: flex;
			align-items: center;
			span {
				display: flex;
				width: 148px;
				height: 148px;
				padding: var(--padding-8);
				flex-direction: column;
				justify-content: center;
				align-items: center;
				font-size: var(--font-size-heading-xxsmall);
				font-weight: 700;
				border-radius: var(--radius-max);
				border: var(--border-width-static-regular) solid var(--color-border-gray-light);
				background: var(--color-surface-white-subtler);
			}
			&::after {
				content: '';
				display: inline-flex;
				margin: var(--gap-4);
				width: 26px;
				height: 5px;
				background: url(../images/icon/arrowRight_ty4.svg) no-repeat center;
			}
			&:nth-child(2) {
				span {
					color: var(--color-text-secondary-light);
					border-color: var(--color-border-secondary-dark);
				}
			}
			&:last-child {
				span {
					color: var(--color-text-primary-bold);
					border-color: var(--color-border-primary);
				}
				&::after {
					display: none;
				}
			}
		}
	}
}
.icon_list_ty1 {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
    gap: var(--gap-7) var(--gap-4);
    width: 100%;
	padding: var(--padding-8) var(--padding-7);
	border-radius: var(--radius-large2);
	border: var(--border-width-static-regular) solid var(--color-border-gray-light);
	background: var(--color-surface-white-subtle);
	.icon_welfare {
		padding-left: var(--padding-10);
		background-position: top left;
		background-repeat: no-repeat;
		.text_sub {
			+ .list_ty2 {
				margin-top: var(--gap-2);
			}
		}
		&.ty1 {
			background-image: url(../images/content/cnsr/icon_welfare01.svg);
		}
		&.ty2 {
			background-image: url(../images/content/cnsr/icon_welfare02.svg);
		}
		&.ty3 {
			background-image: url(../images/content/cnsr/icon_welfare03.svg);
		}
		&.ty4 {
			background-image: url(../images/content/cnsr/icon_welfare04.svg);
		}
		&.ty5 {
			background-image: url(../images/content/cnsr/icon_welfare05.svg);
		}
		&.ty6 {
			background-image: url(../images/content/cnsr/icon_welfare06.svg);
		}
		&.ty7 {
			background-image: url(../images/content/cnsr/icon_welfare07.svg);
		}
		&.ty8 {
			background-image: url(../images/content/cnsr/icon_welfare08.svg);
		}
	} 
}
// 아코디언 안에 포함된 table 레이아웃
.table_section {
	display: flex;
	justify-content: space-between;
	.table_wrap {
		width: calc(50% - var(--gap-8)/2);
		& + .table_wrap {
			margin-top:0;
		}
	}
}


//보안프로그램 설치 안내 하단 도움말 영역
.title_h4.etc_box {
	margin-top: var(--gap-9);
}

.install_step {
	border-radius: var(--radius-large2);
	border: var(--border-width-static-regular) solid var(--color-border-gray-light);
	background: var(--color-surface-white);
	padding: var(--padding-8) var(--padding-7);
	counter-reset: number 0;

	.step_divider {
		position: relative;
		margin: var(--gap-8) 0;

		&::before {
			display: block;
			content:'';
			width: 100%;
			height: 1px;
			background-color: var(--color-divider-gray-light);
			position: absolute;
			top: 50%;
		}

		&::after {
			display: block;
			content:'';
			width: 32px;
			height: 32px;
			border: var(--border-width-static-regular) solid var(--color-divider-gray-light);
			margin: 0 auto;
			border-radius: 999px;
			background: var(--color-surface-white-subtle);
			position: relative;
			top:0;
			right:0;
			background: #ffffff url('../images/icon/arrowDown_ty4.svg') no-repeat center / 16px auto;
		}
	}
}

.install_img_box {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: var(--gap-5);

	img {
		max-width: 440px;
		border-radius: var(--radius-medium1);
	}

	.desc {
		width:100%;
		display: flex;
		gap: var(--gap-8);
		justify-content: space-between;
		margin-top: var(--gap-5);
	}

	&::before {
		display: none;
		align-self: flex-start;	
		border-radius: var(--radius-small2);
		background: var(--color-element-gray);
		color: #ffffff;
		line-height: 24px;
		padding: 0 var(--gap-3);
		font-size: var(--font-size-label-small);
		counter-increment: number 1;
		content: 'STEP ' counter(number);
	}

	&:has(~ .install_img_box),
	& ~ & {
		position: relative;

		&::before {
			display: block;
		}
	}
}

//qr코드
.qr_code_box {
	position: relative;
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	justify-content: center;
	min-height: 96px;
	padding-right: 116px;
	
	&::after {
		content: '';
		position: absolute;
		top: 50%;
		right: 0;
		width: 96px;
		height: 96px;
		border-radius: var(--radius-medium3);
		background: var(--color-surface-white-subtle) url('../images/content/gu/install_qr.png') no-repeat center center / 80px auto;
		transform: translateY(-50%);
	}
}

// 간격 전역변수 필요시 사용
.space_gap_8 {
		margin-top: var(--gap-8);
}
.space_gap_11 {
		margin-top: var(--gap-11);
}




/* qr 팝업 */
.link_qr_box {
	text-align: center;

	.link_qr_box_title {
		padding-top: var(--gap-5);
		font-weight: 700;
		font-size: var(--font-size-heading-large, 24px);
		color: var(--color-text-bolder);
	}

	.link_qr_box_desc {
		padding-top: var(--gap-3);
		font-size: var(--font-size-body-medium);
		color: var(--color-text-basic);
	}
}

.link_qr_box_img {
	font-size: 0;
	// background-color: rgba($color: #000000, $alpha: 0.3);
	.qr_inner {
		display: inline-block;
		padding: calc(var(--padding-3) - 1px);
		border-radius: var(--radius-medium3);
		border: var(--border-width-static-regular) solid var(--color-border-gray-light);
		background: var(--color-surface-white-subtle);
		img {
			display: block;
			width: 80px;
		}
	}
}
/* qr 팝업 */

/* qr 이미지 박스 */
.qr_code_imgbox {
	width: 96px;
	height: 96px;
	padding: var(--padding-3);
	background: var(--color-surface-white-subtle);
	border-radius: var(--radius-medium3);
	img {
		// width: 80px;
		// height: 80px;
		width: 100%;
	}
	&.qr_code_imgbox_etc_ty1 {
		width: 60px;
		height: 60px;
		padding: calc(var(--padding-3) - 1px);
		border: var(--border-width-static-regular) solid var(--color-border-gray-light);
	}
	&.qr_code_imgbox_etc_ty2 {
		border: var(--border-width-static-regular) solid var(--color-border-gray-light);
	}
}
/* qr 이미지 박스 */