/* Component */

// Button
.btn_area {
	padding: var(--padding-5) 0 var(--padding-6);
	.hd_btn {
		flex: 0 1 auto;
		min-width: 160px;

		//icon
		.hd_icon {
			&.documentChkSvg {
				background-image: url(../images/icon/icon_document_check.svg);
			}
		}
	}
}

// icon button
.btn_rd_modify {
	width: 24px;
	height: 24px;
	background: url(../images/icon/icon_reset_ty2.svg) no-repeat center /12px auto;
	border: var(--border-width-static-regular) solid var(--color-button-icon-fill-border);
	border-radius: 100%;
}

// infobox
// .info_gray {
// 	h4,
// 	.title_h4 {
// 		font-size: var(--font-size-heading-small);
// 		margin-bottom: var(--gap-6);
// 	}

// 	.btn_area {

// 	}

// 	.footer_dl {
// 		.text_sub {
// 			display: block;
// 			color: var(--color-text-subtle);
// 			font-size: var(--font-size-body-small);
// 			font-weight: 400;
// 			text-decoration: line-through;
// 		}
// 	}

// 	.inner {
// 		display: flex;
// 		align-items: flex-end;
	
// 		& + .btn_area {
// 			margin-top: var(--gap-6);
// 			padding-top: var(--gap-6);
// 			border-top: 1px solid var(--color-divider-gray-light);
// 		}

// 		.footer_dl {
// 			flex-direction: column;
// 			align-items: flex-start;
// 			flex: 1;

// 			> dd {
// 				display: flex;
// 				align-items: baseline;
// 				gap: 10px;
// 				font-size: var(--font-size-display-medium);

// 				.text_sub {
// 					font-size: var(--font-size-body-large);
// 					color: var(--color-text-disabled-on);
// 				}
// 			}
// 		}

// 		.detail {
// 			display: flex;
// 			align-items: flex-start;
// 			gap: 32px;

// 			> dl {
// 				width: auto;
// 				gap: var(--gap-4);

// 				& + dl {
// 					margin-top: 0;
// 				}
// 			}
// 		}
// 	}
// }

// banner
.banner_box {
	display: flex;
	justify-content: space-between;
	gap: var(--gap-5) var(--gap-8);

	& + .btn_area {
		margin-top: 52px;
	}
}


// .bottom_fix_notice (꼭알아두세요)
.bottom_fix_notice {
	margin: 0;
	padding-top: var(--gap-12);

	.acd_item {
		border-radius: var(--radius-large2);
	}
}