/* Component */


.hd_btn {
	flex: 0 1 auto;
	//icon
	.hd_icon {
		&.iic {
			background-image: url(../images/icon/icon_insurance_check.svg);
		}
		&.documentChkSvg {
			background-image: url(../images/icon/icon_document_check.svg);
		}
		&.resetSvg {
			background-image: url(../images/icon/icon_reset_ty2.svg);
		}
	}
	&.short_cut {
		padding-right: 20px;
		font-size: var(--font-size-label-medium);
		background: url(../images/icon/arrowRight_ty4.svg) no-repeat right 2px center/16px auto;
		
	}

	&.short_cut2 {
		.text {
			text-align: left;
			.short_cut2_tit {
			display: inline-block;
			padding-right: 18px;
			font-size: var(--font-size-label-medium);
			// line-height: 1.5;
			background: url(../images/icon/arrowRight_ty4.svg) no-repeat right 2px / 16px auto;
			&::after {
				content: '';
			}
		}
		.cont_text_sub {
			display: block;
			margin-top: var(--gap-2);
			font-size: var(--font-size-label-small);
		}
		}
	}


}
.hd_btn_s_2 {
	min-width: 100px;
}

.btn_area {
	justify-content: flex-start;
	.pack {
		flex: 0 0 auto;
		display: flex;
		gap: 8px;
	}

	&.ty3 {
		+ .title_h3 {
			margin-top: var(--gap-11);
		}
	}

	& + .form_group_wrap {
		margin-top: var(--gap-7);
	}
	& + .content_top {
		margin-top: var(--gap-11);
	}
	&.half {
		width: calc(50% - 16px);
		button {
			flex: 1;
		}
	}
	&.full {
		width: 100%;
		button {
			flex: 1;
		}
	}
	&.center {
		& + .btn_area.ty2 {
			margin-top: var(--gap-5);
		}
		&.equal {
			.hd_btn {
				min-width: 192px;
			}
		}
		&.equal_ty2 {
			.hd_btn {
				min-width: 160px;
			}
		}
	}
	&.mg_ty1 {
		margin: var(--gap-11);
	}
}

.btn_link {
	flex: 0 1 auto;

	&.price_btn {
		padding-right: 22px;
		border-radius: 0;
	}
}

// icon button
.btn_rd_modify {
	width: 24px;
	height: 24px;
	background: url(../images/icon/icon_reset_ty2.svg) no-repeat center /12px auto;
	border: var(--border-width-static-regular) solid var(--color-button-icon-fill-border);
	border-radius: 100%;
}

// 하단 버튼
.bottom_fix_wrap {
	margin-top: var(--gap-11);
	padding: var(--padding-5) 0 var(--padding-6);

	.btn_area {
		justify-content: space-between;

		&.center {
			justify-content: center;
		}

		// 1개일 시, 가운데 정렬
		// &:has(.hd_btn:only-child){
		// 	justify-content: center;
		// }
	}
	.hd_btn {
		min-width: 160px;
	}
}


// banner
.banner_box {
	display: flex;
	flex-flow: row wrap;
	// justify-content: center;
	justify-content: space-between;
	gap: var(--gap-8) var(--gap-8);

	// 1개일 시, 가운데 정렬
	// &:has(*:only-child){
	// 	justify-content: center;
	// }

	// &:not(:has(*:only-child)){
	// 	* {
	// 		width: calc(50% - 16px);
	// 	}
	// }
	// &:has(*:nth-child(3)) {
	// 	justify-content: flex-start;
	// }

	> * {
		flex: 0 1 calc(50% - 16px);
		text-align: center;
	}
	
	> img {
		width: calc(50% - 16px);
	}


	& + .btn_area,
	& + .checkbox_group_wrap {
		margin-top: var(--gap-8);
	}

	& + [class^=list_]{
		margin-top: var(--gap-5);
	}

	& + .form_box {
		margin-top: var(--gap-11);
	}

	&.center {
		justify-content: center;
	}
}


// .bottom_fix_notice (꼭알아두세요)
.bottom_fix_notice {
	margin: 0;
	padding-top: var(--gap-12);

	.acd_item {
		border-radius: var(--radius-large2);
		.acd_head {
			.acd_btn{
				// padding: var(--number-3) 0;
			} 
		}

		.acd_cont {
			.inner {
				.list_depth {
					& > li > ul > li {
						font-size: var(--font-size-body-small);
					}
				}
			}
		}

	}

	& + .banner_box {
		margin-top: var(--gap-8);
	}
}


// divider
.divider_ty1 {
	height: var(--size-height_small-1);
	margin: var(--gap-11) 0;
}
.divider_ty2 {
	height: var(--size-height_small-1);
	margin: var(--gap-11) 0;
}

//title
[class^="title_h"] {
	& + .text_sub {
		& + .vision_setp {
			margin-top: var(--gap-5);
		}
	}
}

// form 관련
.wrap {
	.form_group_wrap {
		display: flex;
		flex-flow: row wrap;
		gap: var(--gap-8);

		&:not(.full) > * {
			flex: 0 0 calc(50% - 16px);
		}
		&.full {
			flex-direction: column;
			.space_between {
				gap: var(--gap-5);
				.input_text,
				.contractNum {
					flex: 1;
				}
				button {
					min-width: 100px;
				}
			}
		}
		.form_line {
			& ~ .form_line {
				margin-top: 0;
			}
		}

		> .list_ty2 {
			&.full {
				margin-top: -16px;
			}
		}

		.full_half {
			flex-basis: 100%;
			> div,
			> ul {
				width: calc(50% - 16px);
			}
		}
		.full {
			flex-basis: 100%;

			.radio_group_wrap:not(.full) {
				width: calc(50% - 16px);
			}
			.label_tit {
				.tooltip_wrap {
					.tooltip_panel {
						max-width: 836px;
					}
				}
			}
			.scp_list_r {
				.radio_group_wrap {
					width: auto;
				}
			}
			.row_ty2 {
				display: flex;
				justify-content: space-between;
				> div {
					margin: 0;
					width: calc(50% - 16px);
				}
				&.radio_group_wrap {
					> div {
						flex: auto;
					}
				}
			}
		}
		.tit_full {
			flex-basis: 100%;
			> div:not(.label_tit) {				
				width: calc(50% - 16px);
			}
		}


		.c1 {
			flex-basis: 100%;

			.radio_group_wrap,
			.label_tit {
				width: calc(50% - 16px);
			}
		}

		.row {
			align-items: flex-start;
			margin-top: 0;
			.form_line {
				margin-top: 0;
			}
		}

		.column {
			gap: var(--gap-8);
		}

		// .label_tit {
		// 	.tooltip_wrap {
		// 		.tooltip_panel {
		// 			width: auto;
		// 			.inner {
		// 				white-space: nowrap;
		// 			}
		// 		}
		// 	}
		// }

		& + .space_list_ty2,
		& + .banner_box,
		& + .file_attach_box {
			margin-top: var(--gap-8);
		}

		.c1 {
			flex-basis: 100%;

			.radio_group_wrap,
			.label_tit {
				width: calc(50% - 16px);
			}
		
			& + .info_gray.ty2 {
				margin-top: 16px;         
			}
		
			& + .search_reult_list_container {
				margin-top: var(--gap-8);
			}
		}

		& + .search_result_count {
			margin-top: var(--gap-5);
		}
		
		.row_ty2,
		.input_text,
		.range_calrendar {
			+ .check_group_wrap {
				margin-top: var(--gap-5);
			}
		}
	}
}
.form_box {
	> .btn_area {
		justify-content: center;
		//margin-top: var(--gap-5);
		.hd_btn {
			min-width: 160px;
		}
	}
	
	& + .acd_item_ty3,
	& + .banner_box {
		margin-top: var(--gap-11);
	}
}

// form_list 가입전알릴사항
.form_list {
	.form_group_wrap  {
		> * {
			flex: 1;
		}
	}
}

.form_group_wrap {
	& + .search_reult_list_container {
		margin-top: var(--gap-8);
	}

	& + .info_gray.ty2:has(.insurance_policyBox){
		margin-top: var(--gap-5);
	}
	
	.check_group_wrap {
		+ .input_text {
			margin-top: var(--gap-5);
		}
	} 
}
//select
.selectitem_wrap {
	> div {
		flex: 1;
		min-width: 0;   
	}
	.hd_btn {
		min-width: 100px;
	}

	.select_item {
		&.select_item_case01.si_ellipsis {
			.select_item_inner  {
				.si_item {
					display: block;
				}
			}
		}
	}
}
//가입 전 알릴사항 화면용 그룹 클래스
.notification {

	.title_view_wrap {
		& + .checkbox_group_wrap,
		& + .btn_area {
			justify-content: flex-end;
			& > * {
				flex-grow: 0;
				min-width: 134px;
			}
		}
	}

	& > .checkbox_group_wrap:first-child {
		justify-content: flex-end;
			& > * {
				flex-grow: 0;
				min-width: 134px;
			}
	}


	.form_list {
		>li {
			> .form_group_wrap {
				display: block;
				border-bottom: var(--border-width-static-regular) solid var(--color-divider-gray-light);
				padding-bottom: 40px;

				>.form_line {
					position: relative;
				
					> .label_tit {
						margin-bottom: 0;

						& + .info_gray.ty2 {
							border-radius: 0;
							background-color: #fff;
							padding: 0;
							margin-top: var(--gap-5);
						}

						& + .row {
							margin-top: var(--gap-5);
						}
					}

					//예,아니오 버튼이 있는 질문 스타일
					&:has(.radio_group_wrap){
						> .label_tit {
							display: table-cell;
							vertical-align: middle;
							height: 56px;
							padding-right: 312px;

							.num {
								flex: none;
								padding-right: 4px;
							}
						}
						.info_gray.ty2 {
							padding-right: 312px;
						}
					}
					
					.info_gray.ty2 {
						margin-top: var(--gap-5);
						margin-bottom: 0;

						& + .row {
							margin-top: var(--gap-5);
						}
					}
					
					.radio_group_wrap:not(.column) {
						width: 280px;
						position: absolute;
						top: 0;
						right: 0;

						& + .form_group_wrap {
							.label_tit {
								padding-top:0;
							}
						}
					}

					.checkbox_group_wrap {
						margin-top: var(--gap-5);

						.inp_checkbox {
							flex-basis: calc(25% - 9px);
						}
					}

					.radio_group_wrap.row, .checkbox_group_wrap.row {
						gap: 20px var(--gap-8);
						margin-top: 0;

						.inp_radio + .inp_radio {
							margin-top: 0;
						}
					}

					.form_group_wrap {
						display: block;
					}

					.row {
						width: 100%;
						// display: flex !important;
						display: flex;
						flex-direction: row;
						justify-content: space-between;
						flex-wrap: wrap;
						gap: 32px;

						.form_line {
							flex : 0 1 calc(50% - 16px);
						}

						.inp_radio, .inp_checkbox {
							width: 50%;
							flex : 0 1 calc(50% - 16px);
							margin-top: 0;
						}
					}//.row

				}//.form_line
			}// li > .form_group_wrap
		}
		&:has(+ .divider_ty1) li:last-child {
			.form_group_wrap {
				padding-bottom: 0;
				border-bottom: 0;
			}
		}
	}

	.form_list_ty2 {
		> li > .form_group_wrap {
			border-bottom: none;
			padding-bottom: 0;
		}
	}
}

//checkbox
.checkbox_group_wrap {
	gap: var(--gap-8);
	.inp_checkbox{
		flex: 1;
	}
	&.ty2 {
		flex-wrap: wrap;
	}
}
.inp_checkbox {
	& + .card_item_wrap {
		margin-top: var(--gap-5);
	}
}

//임시
.title_h4 {
	+ .my_info_flow,
	+ .form_group_wrap.ty3 {
		margin-top: var(--gap-5);
	}
}

// tooltip 재선언
.tooltip_wrap {
	.tooltip_panel {
		top: calc(100% + 6px);
		max-width: 327px;
		min-width: 120px;
	}
	&.al_left {
		.tooltip_panel {
			left: -16px;
		}
	}
	&.al_center {
		.tooltip_panel {
			left: 50%;
			transform: translateX(-50%);
		}
	}
	&.al_right {
		.tooltip_panel {
			right: -16px;
		}
	}
}
.form_group_wrap [class^=form_line] .label_tit .tooltip_wrap .tooltip_panel {
	top: calc(100% + 28px);
}


// file 관련
.file_upload_wrap {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	column-gap: var(--gap-5);
	.file_info_box {
		flex: 1;
		.list_ty2 {
			margin-top: var(--gap-5);
		}
	}

	.btn_area {
		flex: none;
		width: 100%;
	}
	.file_attach_box {
		.file_thumbnail {
			width: 287px;
			height: 180px;
		}
	}

	&+ .checkbox_group_wrap.column {
		margin-top: var(--gap-8);
		& + * {
			margin-top: var(--gap-8);
		}
	}

	&_ty2 {
		& + .btn_area {
			margin-top: var(--gap-8);
		}
	}
}

.file_attach_box {
	.file_thumbnail {
		width: 440px;
		height: 276px;
		margin: 0 auto;
	}
}

// tab 관련
.tab_wrap {
	.tab_wrap_list_ty1 {
		margin: 0;
		overflow: visible;

		.tab_btn {
			.hd_badge {
				padding: 0px var(--padding-3);
				border-radius: var(--radius-max);
				vertical-align: text-bottom;
			}
			&:focus {
  			position: relative;
				z-index: 1;
			}
		}
	}
}

// list
.list_ty3 {
	& + .space_list_ty4,
	& + .file_attach_box {
		margin-top: var(--gap-8);
	}
}
.list_ty2 {
	& + .file_attach_box {
		margin-top: var(--gap-8);
	}
}

.space_list_ty5 {
	& + .search_result_count { 
		margin-top: var(--gap-5);
	}
}


// text
.text_lg {
	font-size: var(--font-size-body-medium);
	& + .radio_group_wrap_ty2 {
		margin-top: var(--gap-5);
	}
}

.text_sub {
	& + .file_attach_box {
		margin-top: var(--gap-8);
	}
}

.title_item {
	margin-bottom: var(--gap-6);

	.item {
		[class^=title_h] {
			&.ct1 {
				font-weight: 400;
				strong {
					font-weight: 700;
				}
			}
			& + .title_sub {
				margin-top: var(--gap-4);
			}
		}
	}

	& + .info_gray {
		&.summary {
			margin-top: var(--gap-8);
		}
	}
	& + .info_gray_wrap {
		&.summary_type {
			margin-top: var(--gap-8);
		}
	}
}


// info_gray
.info_gray {
	&.summary {
		.title_h2 {
			font-weight: 700;

			.badge_wrap {
				// display: inline;
				display: inline-block;
				width: auto;
				vertical-align: bottom;
				// background-color: blue;
			}
		}
		[class^=title_h]{
			& + .data_box {
				margin-top: var(--gap-6);
			}
		}
		.data_box {
			> dl {
				padding-top: var(--gap-3);
				border: 0 !important;
			}
		}
	}

	& + .banner_box {
		margin-top: var(--gap-5);
	}

	& + .table_wrap {
		margin-top: var(--gap-7);
	}

	& + .form_box {
		margin-top: var(--gap-8);
	}

	& + .acd_item_ty2 {
		margin-top: var(--gap-11);
	}

	.badge_wrap {
		& + dl {
			margin-top: 4px;
		}
	}

	&:has(.form_group_wrap) {
		padding: 32px var(--padding-card-small);
		.form_group_wrap {
			justify-content: center;
			.comp_wrap {
				background: var(--color-background-white);
			}
		}
	}
	/* 
	df_type 
	레이아웃 구조 변경 클래스
	*/
	/* 데이터 리스트 좌우배치 */
	.title_h4 {
		& + .data_box {
			margin-top: var(--gap-4);
		}
	}

	.data_box {
		display: flex;
		flex-flow: row wrap;

		&:has(dl:nth-of-type(2)) {
			dl:nth-of-type(odd) {
				border-right: var(--border-width-static-regular) solid var(--color-divider-secondary-light);
			}
		}

		> dl {
			justify-content: flex-start;
			margin: 0;
			width: 50%;
			padding-top: var(--gap-5);
			gap: var(--gap-4);
			border-right: none;


			&:nth-child(-n+2){
				padding-top: 0;
			}

			&:nth-child(2n-1){
				padding-right: var(--gap-8);
			}

			&:nth-child(2n){
				padding-left: var(--gap-8);
			}

			dt {
				flex: none;
				min-width: 50px;
			}
			dd {
				text-align: left;
			}

			&.footer_dl {
				width: 100%;
				padding: var(--gap-6) 0 0 0;
				margin-top: var(--gap-6);
			}
		}
		&.df_type_w_ty1 {//100
			> dl {
				dt {
					width: 100px;
				}
			}
		}
		&.df_type_w_ty2 {//130
			> dl {
				dt {
					width: 130px;
				}
			}
		}
		&.df_type_w_ty3 {//50,100
			> dl {
				&:nth-child(2n) {
					dt {
						width: 100px;
					}
				}

				&.footer_dl {
					dt {
						width: 50px;
					}
				}
			}
		}
		&.df_type_w_ty4 {//50,130
			> dl {
				&:nth-child(2n) {
					dt{
						width: 130px;
					}
				}

				&.footer_dl {
					dt {
						width: 50px;
					}
				}
			}
		}
		&.df_type_w_ty5 {//100,50
			> dl {
				dt{
					width: 100px;
				}
				&:nth-child(2n) {
					dt {
						width: 50px;
					}
				}

				&.footer_dl {
					dt {
						width: 100px;
					}
				}
			}
		}
		&.df_type_w_ty6 {//100,130
			> dl {
				dt {
					width: 100px;
				}
				&:nth-child(2n) {
					dt {
						width: 130px;
					}
				}

				&.footer_dl {
					dt {
						width: 100px;
					}
				}
			}
		}
		&.df_type_w_ty7 {//130,50
			> dl {
				dt{
					width: 130px;
				}
				&:nth-child(2n) {
					dt {
						width: 50px;
					}
				}

				&.footer_dl {
					dt {
						width: 130px;
					}
				}
			}
		}
		&.df_type_w_ty8 {//130,100
			> dl {
				dt{
					width: 130px;
				}
				&:nth-child(2n) {
					dt {
						width: 100px;
					}
				}

				&.footer_dl {
					dt {
						width: 130px;
					}
				}
			}
		}
		
		&.df_type_w_ty9 {//90 자동차 문서확인
			padding-bottom: var(--gap-6);
			border-bottom: var(--border-width-static-regular) solid var(--color-divider-gray-light);
			> dl {
				&:nth-child(2n-1){
					border-right: 0;
				}
				dt {
					width: 90px;
				}

				&.footer_dl {
					dt {
						width: 90px;
					}
				}
			}
			+ .btn_area {
				margin-top: var(--gap-6);
			}
		}		
	}

	&.ty2 {
		.data_box {

			&:has(dl:nth-of-type(2)) {
				dl:nth-of-type(odd) {
					border-right-color: var(--color-divider-gray-light);
				}
			}
		}
	}
}

.info_gray_wrap {
	&.wrap_type1 {
		& + .acd_item_ty2 {
			margin-top: var(--gap-11);
		}
	}
	&.wrap_type2 {
		& + .info_gray {
			margin-top: var(--gap-5);
		}
	}
}




// card
.container {
	.card_item_wrap {
		&.focusin {
			.card_item {
				.item_inner {
					.inner_cont {
						.card_list_ty1 {
							> li {
								&.result {
									flex: none;
									width: 100%;
									margin-top: var(--gap-4);
									padding: 0;
									.point {
										&.sm {
											font-size: var(--font-size-body-small);
										}
									}
								}
							}
						}
						.card_cont {
							margin-top: var(--gap-8);
						}
					}
				}
			}
		}
		.card_item {
			.space_between {
				.info_text {
					+ .radio_group_wrap {
						margin: 0;
					}
				}
			}
			.item_inner {
				.inner_cont {
					* {
						/* 데이터 리스트 좌우배치 */
						+ .card_list_ty1	{
							display: flex;
							flex-flow: row wrap;
							border-top: var(--border-width-static-regular) solid var(--color-divider-gray-light);
							margin-top: var(--gap-5);
							padding-top: 16px;
	
							> li {
								justify-content: flex-start;
								width: 50%;
								margin-top: 0;
								padding-bottom: 0;
								padding-top: 12px;
								gap: var(--gap-4);
								.title {
									min-width: 50px;
								}
								&:first-child {
									margin-top: 0;
									padding-top: 0;
									border-top: none;
								}
								&:nth-child(-n+2) {
									padding-top: 0;
								}
	
								&:nth-child(2n-1){
									padding-right: var(--gap-8);
									border-right: var(--border-width-static-regular) solid var(--color-divider-gray-light);
								}
								&:nth-child(2n) {
									padding-left: var(--gap-8);
								}

								// 리스트 항목 중 하위속성 있을 경우
								&.subitem_area {
									display: block;
									.title {
										text-align: left;
									}
									.cont {
										flex: none;
									}
									.subitem {
										padding-top: 4px;
										font-size: var(--font-size-body-xsmall);
										color: var(--color-text-subtle);
										line-height: 18px;
									}
									> div {
										display: flex;
										width: 100%;
										margin-top: 0;
										gap: var(--gap-4);
										max-width: none;
									}
								}
							}
	
							&.df_type_w_ty1 {
								> li {
									.title {
										width: 100px;
									}
								}
							}
							&.df_type_w_ty2 {
								> li {
									.title {
										width: 130px;
									}
								}
							}
							&.df_type_w_ty3 {//50,100
								> li {
									&:nth-child(2n) {
										.title {
											width: 100px;
										}
									}
								}
							}
							&.df_type_w_ty4 {//50,130
								> li {
									&:nth-child(2n) {
										.title {
											width: 130px;
										}
									}
								}
							}
							&.df_type_w_ty5 {//100,50
								> li {
									.title {
										width: 100px;
									}
									&:nth-child(2n) {
										.title {
											width: 50px;
										}
									}
								}
							}
							&.df_type_w_ty6 {//100,130
								> li {
									.title {
										width: 100px;
									}
									&:nth-child(2n) {
										.title {
											width: 130px;
										}
									}
								}
							}
							&.df_type_w_ty7 {//130,50
								> li {
									.title {
										width: 130px;
									}
									&:nth-child(2n) {
										.title {
											width: 50px;
										}
									}
								}
							}
							&.df_type_w_ty8 {//130,100
								> li {
									.title {
										width: 130px;
									}
									&:nth-child(2n) {
										.title {
											width: 100px;
										}
									}
								}
							}
						}
					}
				}
				.inp_radio {
					input[type=radio] {
						top: 27px;
					}
				}
			}
			.btn_area {
				// width: 360px;
				margin: var(--gap-5) auto 0;
				.hd_btn {
					// flex: 1;
				}

				.short_cut.long {
					width: auto;
					flex: none;
					margin:0 auto;
				}

				&.basic {
					width: auto;
					margin: var(--gap-4) 0 0;
					.hd_btn {
						flex: none;
					}

					&.ty1 {
						margin:var(--gap-5) 0 0 var(--padding-8);
					}
					& + .basic {
						margin-top: var(--gap-5);
					}
				}
			}
		}
	
		&.ty3 {
			.card_item {
				.card_link {
					.item_top {
						padding-right: 30px;
						background: url(../images/icon/arrowRight_ty4.svg) no-repeat right top 3.5px/20px auto;
					}
				}
				.item_top {
					flex-direction: row;
					align-items: center;
					gap: 4px;
	
					.title_info {
						.main_title {
							padding-right: 0;
							background: none;
						}
					}
				}

				.card_list_ty1  {
					& > li {
						&>*:last-child {
							text-align: left;
						}	
					}
				}				
			}
			& + .info_summary {
				margin-top: var(--gap-8);
			}
		}

		&.ty5 {
			.card_item {
				.item_inner {
					.cont {
						.result {
							display: flex;
							align-items: center;
							gap: var(--gap-3);
							
							.title {
								font-size: var(--font-size-body-small);
								font-weight: 400;
							}
							.price {
								width: auto;
								font-size:  var(--font-size-body-large);
								color: var(--color-text-primary-bold);
							}
						}
					}
				}
			}
		}
	
		&.ty6 {
			.card_item {
				.item_inner {
					.inner_cont {
						display: flex;
						justify-content: space-between;
						align-items: stretch;
						gap: var(--gap-3);
	
						.item_top {
							flex: none;
							width: 588px;
	
							.title_info {
								flex-direction: row;
								align-items: center;
							}
	
							.btn_area { 
								margin: var(--gap-5) 0 0;
								.hd_btn {
									flex: 0 0 auto;
								}
							}
						}
						.item_cont {
							flex: 1;
							display: flex;
							justify-content: flex-end;
							align-items: center;
							margin-top: 0;
	
							.btn_link {
								display: flex;
								text-align: right;
								align-items: center;
								height: 100%;
	
								.text {
									font-size: var(--font-size-body-large);
								}
							}
						}
					}
				}
			}
		}
	
		&.ty7 {
			.card_item {
				position: relative;

				&:has(.item_result){
					.item_inner {
						.inner_cont {
							.item_top {
								padding-bottom: 33px;
							}
						}
					}
				}

				.item_inner {
					.inner_cont {
						display: flex;
						gap: var(--gap-4);

						.space_between {
							flex: 1;
							align-items: stretch;

							&:not(:has(dl)){
								align-items: stretch;
							}
						}

						.data_info_list {
							display: flex;
							flex-direction: column;
							gap: var(--gap-4);

							.hd_btn {
								margin-left: auto;
							}

							dl {
								display: flex;
								gap: var(--gap-4);
								padding: 1px 0;

								dt {
									font-size: var(--font-size-body-small);
									color: var(--color-text-subtle);
								}
								dd {
									flex: 1;
									display: flex;
									font-size: var(--font-size-body-small);
								
								}
							}
						}
						 
						.item_top {
							gap: var(--gap-5);

							& + .cont {
								border-left: 1px solid var(--color-divider-gray-light);
								padding-left: var(--gap-8);
								margin-left: var(--gap-8);

								&:not(:has(dl)) {
									border-color: white;

									.data_info_list {
										height: 100%;
										justify-content: center;
									}
								}
							}
						}

						.cont {
							flex:none;
							width: 475px;

							.data_info_list {

								dl {
									dt {
										flex: none;
										width: 130px;
									}
								}
							}
						}
					}
				}

				.item_result {
					position: absolute;
					left: 48px;
					bottom: 24px;
					display: flex;
					justify-content: space-between;
					width: 260px;

					.btn_area {
						margin-top: 0;
					}
					
					.msg_success {
						margin-top: 0;
					}
				}
			}
		}
	
		
		& + .total_price_display_ty1,
		& + .info_gray {
			margin-top: var(--gap-11);
		}
	}
}
.card_item_wrap {
	.card_item {
		.item_inner {
			> .inp_checkbox,
			> .inp_radio {
				.chk_label {
					width: 20px;
					height: 20px;
					margin-top: 3px;
					padding-left: 0;
					&:before {
						top:0;
					}
				}
			}
		}
		.card_list_ty1 {
			& > li {
				&.list_title {
					padding-bottom: 16px;
					max-width: 100%;

					.title {
						display: flex;
						align-items: center;
						gap: var(--gap-2);
						font-weight: 700;
						font-size: var(--font-size-heading-small);
						color: var(--color-text-bolder);

						.badge_wrap {
							display: inline;
							vertical-align: top;
						}

						.title_tl {
							flex: none;
						}
					}
				}
			}
		}
	}
	// &.my_top_gray {
	// 	.card_item {
	// 		background: var(--color-surface-secondary-subtler);
	// 		border: none;
	// 		.item_inner {
	// 			.inner_cont {
	// 				display: flex;
	// 				flex-direction: column-reverse;
	// 				gap: var(--gap-6);
	// 				.item_top {
	// 					flex-direction: row;
	// 					align-items: center;
	// 					padding: var(--padding-5) var(--padding-5) var(--padding-5) 68px;
	// 					min-height: 72px;
	// 					background: var(--color-surface-white-subtle) url(../images/icon/icon_my_car_top.svg) no-repeat 16px center / 40px auto;
	// 					border-radius: var(--radius-medium3);
	// 					.title_info {
	// 						flex-direction: row;
	// 						> div {
	// 							position: relative;
	// 							padding-right: var(--padding-5);
	// 							margin-right: var(--padding-5);
	// 							&::after {
	// 								position: absolute;
	// 								top: 50%;
	// 								right: 0;
	// 								content: '';
	// 								display: inline-block;
	// 								width: 1px;
	// 								height: var(--size-height-2);
	// 								background: var(--color-divider-gray-light);
	// 								transform: translateY(-50%);
	// 							} 

	// 						}
	// 					}
	// 					.desc {
	// 						margin: 0;
	// 					}
	// 				}
	// 				> * {
	// 					& + .card_list_ty1 {
	// 						border: none;
	// 						margin: 0;
	// 						padding: 0;
	// 						> li {
	// 							&:first-child {
	// 								border: none;
	// 								margin: 0;
	// 								flex-direction: column;
	// 								gap: var(--gap-6);
	// 								&.result {
	// 									align-items: baseline;
	// 									gap: 0;
	// 									> * {
	// 										line-height: 1.5;
	// 									}
	// 									.text_body_large {
	// 										line-height: 1.5;
	// 									}
	// 									.title {
	// 										font-size: var(--font-size-body-medium);
	// 										color: var(--color-text-basic);
	// 									}
	// 								}
	// 							}
	// 							> div.cont {
	// 								.text_body_large {
	// 									strong {
	// 										span {
	// 											font-size: var(--font-size-display-medium);
	// 										}
	// 									}
	// 								}
	// 							} 
	// 						}
	// 					}
	// 				}
	// 			}
	// 		}
	// 	}
	// }
}
//my-top
.cd_top_wrap {
	margin: 0;
	padding: 0;
	background: transparent;
	.cd_top {
		background: var(--color-surface-gray-subtler);
	}
}

// calendar
.ui-datepicker {
	// top: calc(50% - 200px) !important;
	// width: 440px;
	// height: 400px;
	// margin: 0 auto;
	// border-radius: var(--radius-xlarge2);
}


// 보험료 확인
.guarantee_choice_wrap {
	display: flex;
	width: 100%;
	transition: none;
	gap: var(--gap-5);

	&:after {
		content: none;
	}

	&.active {
		background-color: var(--color-surface-white-subtle);
	}
}

.guarantee_item {
	flex: 1;
	border: var(--border-width-static-regular, 1px) solid var(--color-border-secondary-light);
	border-radius: var(--radius-large2);

	&.active {
		flex-grow: 2;
	}

	& + .guarantee_item {
		&:before {
			content: none;
		}
	}

	.guarantee_item_top {
		flex-direction: column;
		gap: var(--gap-8);

		.git_r {
			text-align: center;
		}
	}

	.guarantee_item_cont {
		.gic {
			.tit {
				background: none;
			}
		}
	}

	.gi_radio {
		input:checked {
			flex: 2;
		}
	}
}


.guarantee_container {
	min-height: auto;
}





// accordion
// .acd_item {
// 	&.acd_item_ty2 {
// 		.acd_cont {
// 			.inner {
// 				display: flex;
// 				flex-direction: row;

// 				.item_text {
// 					flex: 1;
// 				}
// 			}
// 		}
// 	}
// }

// accordion
.acd_item {

	&.acd_item_ty2 {
		.cont_text_sub {
			font-weight: normal;
			margin-top: var(--gap-2);
		}
	}
}

.tag_item_wrap {
	&.sticky {
		position: sticky;
		top: -16px;
		z-index: 10;
		padding: 5px 0;
		background-color: #fff;
	}
	&.tag_item_wrap_po_etc1 {
		top: 0;
	}
}
.tag_item_move {
	> .tag_move {
		&:first-child {
			padding-top: var(--gap-8);
		}
	}
}



// 2단 타입 
.multi_ty1 {
	display: flex;
	flex-flow: wrap;
	gap: var(--gap-5);

	> * {
		flex: 0 0 calc(50% - 8px);


		& + * {
			margin-top: 0;
		}
	}
}


.my_info_flow {
	 > li .cont .tit {
		+ .list_depth {
			margin-top: var(--gap-5);
		}
	}
	.frame_list {
		.file_attach_box {
			.file_thumbnail {
				height: 310px;
				margin: 0;
			}
		}
	}
}


//PPRGIPT30008000000
.checkbox_group_wrap {

	&.ty3 {
		gap: 32px;
		.inp_checkbox {
			flex: 0 1 calc(50% - 16px);
			&.full {
				flex:none;
				width: 100%;
			}
		}
	}

	& + .all_checking {
		margin-top: var(--gap-8);
	}
}

//자동차 
.radio_group_wrap {
	&_ty5 {
		display: flex;
		flex-wrap: wrap;
		align-items: stretch;
		gap: 12px;
		.inp_radio {
			flex-basis: calc(20% - 10px);
		}
	}
}
.driver_relationship_box {
	margin-top: 32px;
	display: flex  ;
	gap: var(--gap-8);
	.driver_relationship_state {
		margin: 0;
	}
	> div {
		flex: 1;
	}
	.driver_relationship_cont {
		.title_box {
			font-size: var(--font-size-heading-medium);
			~ p {
				margin-top: var(--gap-4);
			}
		}
		.info_gray {
			+ p {
				margin-top: var(--gap-8) !important;
			}
		}
		> div:not(.rel_case1) {
			display: none;
		}
		&.pick1 {
			> div {
				display: none;
			}
			.rel_case2 {
				display: block;
			}
		} 
		&.pick2 {
			> div {
				display: none;
			}
			.rel_case3 {
				display: block;
			}
		} 
		&.pick3 {
			> div {
				display: none;
			}
			.rel_case4 {
				display: block;
			}
		} 
		&.pick4 {
			> div {
				display: none;
			}
			.rel_case5 {
				display: block;
			}
		} 
		&.pick5 {
			> div {
				display: none;
			}
			.rel_case6 {
				display: block;
			}
		} 
		&.pick6 {
			> div {
				display: none;
			}
			.rel_case7 {
				display: block;
			}
		} 
		&.pick7 {
			> div {
				display: none;
			}
			.rel_case8 {
				display: block;
			}
		} 
		&.pick8 {
			> div {
				display: none;
			}
			.rel_case9 {
				display: block;
			}
		} 
		&.pick9 {
			> div {
				display: none;
			}
			.rel_case10 {
				display: block;
			}
		} 
		&.pick10 {
			> div {
				display: none;
			}
			.rel_case11 {
				display: block;
			}
		} 
	}
}

.select_driver_range.direct {
	.driver_relationship_box {		
		.driver_relationship_cont {
			&.pick1 {
				> div {
					display: none;
				}
				.rel_case2 {
					display: block;
				}
			}
			&.pick3 {
				> div {
					display: none;
				}
				.rel_case3 {
					display: block;
				}
			}
			&.pick4 {
				> div {
					display: none;
				}
				.rel_case4 {
					display: block;
				}
			}
		}
	}
}


.link_flex_box {
	position: relative;
	background-size: 16px auto;
	&::after {
		position: absolute;
		content: '바로가기';
		display: block;
		top: 50%;
		right: 18px;
		font-size: var(--font-size-button-medium);
		transform: translateY(-50%);
	}
	&.call {
		&::after {
			content: '방법안내';
		}
	}
}

.car_type_option {
	& + .form_group_wrap {
		margin-top: var(--gap-11);
	}
}

//기초 정보 입력
.bi_top {
	.bit_btn_scrollx {
		flex-wrap: wrap;
		overflow-x: visible;
	}
}


.opt_select_list {
	&.opt_case5 {
		&.grid {
			&	> li {
				.option {
					border-top : 0;
					border-bottom: 1px  solid var(--color-divider-gray-light);
				}
	
				&:nth-of-type(-n+2) { 
					border-top: 1px  solid var(--color-divider-gray-light);
				}
			}
		}
	}//opt_case5
}


.search_reult_list_container {
	&.no_tab {
		flex: none;
		.search_reult_list_item {
			&.data_no {
				border-bottom: none;
			}
		}
		+ .form_group_wrap {
			margin-top: var(--gap-11);
		}
	}
}
//table
.table_wrap {

	.title {
		font-size: var(--font-size-body-small);
		margin-bottom: var(--gap-4);
	}

	.table {
		td {
			vertical-align: top;
			// padding: var(--padding-5);
		}
	}
}


.content_top {
	& + .card_item_wrap {
		margin-top: var(--gap-5);
	}
}


// 운전자정보
// .relationship_box {
// 	&:not(.motorcycle) {
// 		.rel_case1{
// 			&:after {
// 				top: 152px;
// 			}
// 		}
// 	}
// }

// 제휴설계내역 팝업
.reward_img_area {
	width: 252px;
	height: 55px;
	justify-content: flex-start;
	margin-top: 16px;
	& + .bottom_fix_notice  {
		padding-top: var(--gap-8);
	}
}
.bottom_fix_notice  {
	& + .list_ty2 {
		margin-top: var(--gap-5)
	}
}

.title_sub {
	& + .img_area {
		img {
			margin:0 auto;
		}
	}
}

// radiobutton img
.inp_radio {
	&.rd_img {
		flex: 0 1 101px;
		
	}
}
.form_list {
	.form_group_wrap [class^=form_line] .label_tit {
		.tooltip_wrap {
			margin-left: var(--gap-2);
			vertical-align: bottom;
			.tooltip_head button .hd_icon {
				top: calc(50% - 3px);
				width: 20px;
				height: 20px;
			}
			// .tooltip_panel {
			// 	top: calc(100% + 12px);
			// }
		}
	}
	+ .form_box {
		margin-top: var(--gap-11);
	}
}

//contact_list
.contact_list {
	display: flex;
	gap: 8px;
	li {
		flex: 1;
		+ li {
			margin: 0;
			padding: 0 0 0 var(--padding-6);
			border: var(--border-width-static-regular) solid var(--color-border-gray-light);
			border-width: 0 0 0 1px;
		}
	}
}

.fc_img_wrap {
	.img {
		margin: auto;
		width: 440px;
	}
}

.bi_stepper {
	&.tab_case {
		.bit {
			height: auto;
			margin-bottom: var(--gap-8);
		}
		.bit_inner {
			position: relative;
		}
		.bi_opts_wrap {
			margin-top: 0;
			.bottom_fix_wrap {
				padding-bottom: 0;
			}
		}
	}
}

.comp_wrap {
	&.birth {
		gap: 8px;
		.form_key {
			.pin_area {
				height: var(--size-height-7);
			}
		}
		& > .input_text {
			// flex: none;
			flex: 1 1 0;
			// width: calc(50% - 8px);
		}
		& > .comp_wrap_keypad_call {
			flex: none;
			flex: 1 1 0;
			// width: calc(50% - 8px);		
			input {
				flex: 1 1 0;
				width: 0;
			}	
		}
	}
	&.card {
		gap: 8px;
		padding: 0 calc(var(--padding-6) - 2px);
		.comp_wrap_keypad_call {
			flex: 1.6;
			&.form_key_pc {
				> input {
					width: 59px;
				}
			}
		}
	}
	&.business {
		gap: 8px;
	}
	// 카드 비밀번호
	&.card_pw {
		padding-left: 12px;
		padding-right: var(--padding-2);
	}
}

.agrdo_group_sub,
.sep_chk_box {
	.ags_cont,
	.sep_cont {
		grid-template-columns: repeat(4, 1fr);
		gap:var(--gap-6);
	}
}

.sns_box {
	margin-bottom: 16px;
}


//bg_list
.bg_list {
	&.bg_list_case02 {
		display: flex;
		justify-content: space-between;
		align-items: center;
		& > li {
			&.year_status { 
				padding: 0;
				margin: 0;
				border: none;
			}
		}
	}
}



.card_item.donation {

	.img_box {
		width: auto;
		> img { height: 111px;}
	}

	.item_inner {
		display: flex;
		flex-direction : row;

		.inner_cont {
			flex-grow: 1;
		}

	}

	.item_btn_wrap {
		justify-content: center;
	}
	//.card_item.donation - small케이스
	&.small {
		//이벤트 종료 케이스(samll)
		&.end {
			img {
				filter: grayscale(50%);
			}
		}
	}
}

.view_wrap {
	.view_title + .btn_area {
		margin-top: var(--gap-5);

		& +.view_cont {
			margin-top: var(--gap-8);
		}
	}
}

.card_list_wrap_ty2 {
	
	&.event_list {
			.card_item {

			.img_box {
				flex-shrink: 0;
				width: 267px;
			
				&.no_img {
					width: 267px;
					height: 111px;
				}
			}

			.item_inner{
				flex-direction: row;
				justify-content: flex-start;
				gap: var(--gap-3);

				.inner_cont {
					flex-grow: 1;
				}
			}
		}
	}

	&.row {
		width: 100%;
		// display: flex !important;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		flex-wrap: wrap;
		gap: 32px;

		li {
			flex : 0 1 calc(50% - 16px);

			& ~ li {
				margin-top: 0;
			}
		}

		.inp_radio, .inp_checkbox {
			width: 50%;
			flex : 0 1 calc(50% - 16px);
		}
	}//.row

}


.call_info_list_ty2 {

	.acd_item ~ .acd_item {
		margin-top: var(--gap-5);
	}

	.acd_item.acd_item_ty2 .acd_head .acd_btn {
		font-weight: normal;

		&:disabled {
			cursor: default;
			&:after { 
				display: none;
			}
		}
	}

	.title {
		position: relative;
		display: flex;
		align-items: center;
		gap: var(--gap-2);
		background-repeat: no-repeat;
		background-position: 0 center;
		background-size: 32px auto;
		border-radius: var(--radius-large2);
		padding: 0px 36px;
		font-size: var(--font-size-body-medium);
		line-height: 27px;
		

		@for $i from 1 through 5 {
			&.opt#{$i}{
				background-image: url(../images/content/cnsl/icon_call_info#{$i}.svg);
			}
		}

		strong {
			display: block;
			font-size: var(--font-size-heading-small);
			color: var(--color-text-bolder);
			line-height: inherit;
		}

		.desc {
			position: relative;
			font-size: var(--font-size-body-small);
			line-height: inherit;
			color: var(--color-text-subtle);
			padding-left: var(--gap-2);

			&::before {
				content: '';
				display: block;
				position: absolute;
				top: 50%;
				left: 0;
				width: 1px;
				height: 12px;
				background: var(--color-border-gray-light);
				transform: translateY(-50%);
			}
		}
	}

	.call_info_desc {
		display: flex;
		flex-flow: row wrap;

		> li {
			width: 50%;
			margin-top: 0;
			padding-bottom: 0;
			padding-top: 12px;
			font-size: var(--font-size-body-medium);
			position: relative;
			padding-left: var(--gap-3);

			&:before {
				display: block;
				content:'';
				position: absolute;
				background-color: var(--color-icon-information);
				width: 2px;
				height: 2px;
				bottom: 11px;
				left:0;
				border-radius: 999;
			}

			.title {
				min-width: 50px;
			}
			&:first-child {
				margin-top: 0;
				padding-top: 0;
				border-top: none;
			}
			&:nth-child(-n+2) {
				padding-top: 0;
			}

			&:nth-child(2n-1){
				padding-right: var(--gap-8);
				border-right: var(--border-width-static-regular) solid var(--color-divider-gray-light);
			}
			&:nth-child(2n) {
				padding-left: var(--gap-9);
				&:before {
					left: 32px;
				}
			}
		}
		
	}
}

// 하단 고정 패널
.wrap {
	&.footer_fix{
		&:has(.ft_fix) {
			// padding-bottom: 323px;

			.footer {
				// bottom: 120px;
				// position: sticky;
				// bottom: 0;
			}
		}
	}
}

.bottom_panel {
	&.ft_fix {
		position: sticky;
		bottom: 0;
		left: 0;
		z-index: 10;
		box-shadow: 0px var(--shadow-y-minus2) var(--shadow-blur-2) 0px var(--color-alpha-shadow1, rgba(0, 0, 0, 0.05));

		> * {
			max-width: 836px;
			margin: 0 auto;
		}

		.bottom_panel_cont {
			.total {
				display: flex;
				align-items: center;
				gap: var(--gap-8);
				min-height: 56px;

				> dl {
					flex: 1;
					display: flex;
					flex-direction: row;
					justify-content: space-between;
					align-items: center;
					gap: var(--gap-5);

					dt {
						position: relative;
						padding-left: 72px;
						font-size: var(--font-size-body-medium);

						&:before {
							position: absolute;
							top: calc(50% - 28px);
							left: 0;
							content:'';
							width: 56px;
							height: 56px;
							background-color: var(--color-surface-primary-subtler);
							background-image: url(../images/icon/icon_price.svg);
							background-position: center;
							background-repeat: no-repeat;
							background-size: 32px;
							border-radius: var(--radius-medium1);
						}
					}
					dd {
						font-size: var(--font-size-heading-large);
					}
				}

				> .btn_area {
					.hd_btn {
						min-width: 121px;
					}
				}
			}
		}

		&.active {
			.bottom_panel_cont {
			}
		}
	}
}

.grid_list_ty1 {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 0 var(--gap-12);
	position: relative;

	&::before {
		display: block;
		content:'';
		width: 1px;
		height: calc(100% - 12px );
		border-right: var(--border-width-static-regular) solid var(--color-divider-gray-light);
		position: absolute;
		left: 50%;
	}

	li {
			margin-top: 0;
			word-wrap: break-word;
			padding-bottom: 12px;

			&:nth-child(2n-1){
				padding-right: var(--gap-8);
			}
		}

	li ~ li {
		margin-top: 0 !important;
	}
} 

.grid_list_ty2 {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: var(--gap-5) var(--gap-8);

	li ~ li {
		margin-top: 0 !important;
	}
}

.item_info.ty2 {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 0 var(--gap-8);

	ul {
			width: calc(50% - 16px);
			margin-top: 0;

			&:nth-child(2n-1){
				border-right: var(--border-width-static-regular) solid var(--color-divider-gray-light);
				padding-right: var(--gap-8);
			}
		}
}

.img_box.ty2 {
	width: 100%;
	background: var(--color-surface-gray-subtler);
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 50px 0;
	border-radius: var(--radius-large2);

	img { width: auto;}
}

.btn_link {
	&.short_cut_icon_ty5 > .text dl dt {
		display: flex;
		align-items: center;
		gap: var(--gap-2);
	}  

	//보험계약대출 체결·이행을 위한 개인(신용)정보 처리 상세 동의서
	&.short_cut_icon_ty6 {
		> .text {  
			&::before {
				background-image: url(../images/content/guarantee/icon_gtl_doc.svg);
			}
		}
	}
}
.btn_area {
	&.ty5 {
		display: flex;
		.btn_link {
			flex:1;
		}
	}
	.short_cut_icon_ty5 > .text dl dt {
		display: block;
	}	
}



// total 예외 Case (자동차)
.wrap {
	.total_price_display_ty1 {
		height: auto;
		margin: 0;
		padding: var(--padding-8);
		background-color: var(--color-surface-gray-subtler);
		border-radius: var(--radius-large2);
		border: none;
	
		.price_val {
			font-size: var(--font-size-heading-medium);
		}
	}
}


// page 내 case만 수정
.wrap {
	.info_gray {
		.middle {
			justify-content: flex-start;
			gap: var(--gap-4);
		}
		.footer_dl {
			justify-content: flex-start;
		}
	}
}

.process_info_area {	
	&.ico_type {
		& + .form_group_wrap {
			margin-top: var(--gap-11);
		}
	}

	& + .table_wrap {
		& + .btn_area {
			margin-top: var(--gap-8);
		}
	}

	& + .progress_bar {
			margin-top: var(--gap-8);
	}
}



