/* Component - PC용 새로 추가*/

// 완료용 infobox
.info_summary {
	padding: var(--padding-card-medium) var(--padding-card-small);
  border-radius: var(--radius-large2);
  background: var(--color-surface-secondary-subtler);


	.summary_top {
		display: flex;
		align-items: center;
		gap: var(--gap-3);
		margin-bottom: var(--gap-6);

		.s_title {
			font-size: var(--font-size-heading-small);
			font-weight: 700;
			color: var(--color-text-bolder);
		}
		.s_sub_title {
			font-size: var(--font-size-body-small);
			color: var(--color-text-subtle);
		}
		.badge_wrap {
			width: auto;
		}
	}

	.summery_inner {
		display: flex;
		align-items: flex-end;
		justify-content: space-between;
		gap: var(--gap-8);

		.total_wrap {
			flex: 0 0 auto;
			// flex: 1 0 auto;
			display: flex;
			flex-direction: column;
			align-items: baseline;
			max-width: 500px;

			.tit {
				font-size: var(--font-size-body-medium);
			}
			.value {
				display: flex;
				align-items: flex-end;
				flex-wrap: wrap;
				gap: 10px;

				.val_price {
					display: flex;
					align-items: baseline;
					gap: 2px;
					font-size: var(--font-size-display-medium);
					font-weight: 700;
					> span {
						margin-top: 6px;
						font-size: var(--font-size-body-large);
					}
				}
				.val_discount {
					font-size: var(--font-size-body-large);
					color: var(--color-text-disabled-on);
					text-decoration: line-through;
				}
				.btn_area {
					margin-bottom: var(--gap-3);
				}
			}
			.sub_info {
				display: flex;
				gap: 8px;
				margin-top: 4px;

				> span {
					flex: 1 0 auto;
					font-size: var(--font-size-body-small);
					&.tit {
						color: var(--color-text-subtle);
					}

				}
			}
		}

		.detail_wrap {
			padding-bottom: var(--gap-3);

			> * {
				&:first-child {
					& + .dt_table {
						margin-top: var(--gap-4);
					}
				}
			}

			.dt_table {
				display: table;

				> dl {
					display: table-row;
	
					~ dl {
						dt, dd {
							padding-top: 8px;
						}
					}
	
					dt, dd {
						font-size: var(--font-size-body-small);
						vertical-align: top;
					}
	
					dt {
						display: table-cell;
						white-space: nowrap;
						color: var(--color-text-subtle);
	
						> span {
							vertical-align: top;
							&.point {
								padding-left: 4px;
								font-weight: 700;
							}
						}
	
						~ dt {
							padding-left: 32px;
						}
	
						~ dd {
							max-width: 212px;
							padding-left: 12px;
						}
					}
					dd {
						display: table-cell;
					}
				}
			}
		}

		& + .dc_info_box {
			margin-top: var(--gap-6);
		}
	}

	> .btn_area {
		margin-top: var(--gap-6);
		padding-top: var(--gap-6);
		border-top: 1px solid var(--color-divider-gray-light);
	}

	& + .banner_box {
		margin-top: var(--gap-8);
	}

	// 보험료결제
	&.payment {
		background-color: var(--color-surface-primary-subtler);
	}
}

.dc_info_box {
	position: relative;
	padding: var(--padding-7) var(--padding-7) var(--padding-7) 68px;
	background-color: var(--color-surface-white-subtle);
	border-radius: var(--radius-medium3);

	&:before {
		position: absolute;
		left: 12px;
		top: calc(50% - 20px);
		content:'';
		width: 40px;
		height: 40px;
		background: var(--color-surface-primary-subtler) url(../images/icon/icon_discount.svg) no-repeat center / 24px auto;
		border-radius: var(--radius-medium1);
	}

	&.ty2 {
		background-color: var(--color-surface-primary-subtler);

		&:before {
			background-color: var(--color-surface-white);
		}
	}

	.dc_list {
		display: flex;
		flex-wrap: wrap;

		&.column {
			flex-direction: column;

			> li {
				padding-left: 0;

				& ~ li {
					margin-top: 8px;
				}
			}
		}

		> li {
			position: relative;
			display: flex;
			gap: 4px;
			font-size: var(--font-size-body-medium);

			& ~ li {
				padding-left: 25px;

				&:before {
					position: absolute;
					top: 4px;
					left: 12px;
					content:'';
					width: 1px;
					height: 16px;
					background-color: var(--color-divider-gray-light);
				}

				&:nth-child(3n+1){
					padding-left: 0;
					&:before {
						content: none;
					}
				}
			}

			.link {
				padding-right: 20px;
				background: url(../images/icon/arrowRight_ty3.svg) no-repeat right center / 16px auto;
			}
			.dc_r {
				padding-left: var(--gap-2);
			}
		}
	}

	& + .acc_group {
		margin-top: var(--gap-11);
	}
}


// side panel
.sel_item_list {
	.item {
		font-size: var(--font-size-body-small);

		& ~ .item {
			margin-top: var(--gap-3);
		}

		.sel_tit {
			color: var(--color-text-disabled-on);

			.icon {
				width: 16px;
				height: 16px;
				background-repeat: no-repeat;
				background-position: center;
				background-size: 100% auto;

				&.dog {
					background-image: url(../images/content/bi/icon_stepper_dog.svg);
				}

				&.date {
					background-image: url(../images/content/bi/icon_stepper_date.svg);
				}

				&.birth {
					background-image: url(../images/content/bi/icon_stepper_birth.svg);
				}

				&.gender {
					background-image: url(../images/content/bi/icon_stepper_gender.svg);
				}
			}
		}
	}
}

.pn_step {
	padding: var(--padding-6) var(--padding-7);
	background-color:  var(--color-surface-gray-subtler);
	border-radius: var(--radius-large2);

	.step_list {
		position: relative;

		&:before {
			position: absolute;
			top: 16px;
			left: 1px;
			content: '';
			width: 1px;
			height: calc(100% - 32px);
			background-color: var(--color-border-gray-light);
		}

		> .list {
			position: relative;
			padding: var(--padding-3) 0 var(--padding-3) 16px;

			&:before {
				position: absolute;
				top: 16px;
				left: 0;
				content: '';
				width: 3px;
				height: 3px;
				background-color: #33363D;
				border-radius: 100%;
			}

			&:last-child {
				&:after {
					position: absolute;
					top: 19px;
					left: 1px;
					content: '';
					width: 1px;
					height: calc(100% - 21px);
					background-color: var(--color-surface-gray-subtler);
				}
			}

			.step_flow {
				font-size: var(--font-size-body-xsmall);
				line-height: 24px;
				color: var(--color-text-disabled-on);
			}
			.status_msg {
				font-size: var(--font-size-body-small);
				color: var(--color-text-disabled-on);
			}
			.result_text {
				font-size: var(--font-size-body-small);

				& ~ .result_text {
					margin-top: 4px;
				}
				
				& ~ .status_msg{
					display: none;
				}
			}
			.btn_rd_modify {
				display: none;
				position: absolute;
				right: 0;
				top: 8px;
			}

			// 현재단계
			&.active {
				.step_flow {
					font-weight: 700;
					color:  var(--color-text-bolder);
				}
				.status_msg {
					display: block;
				}
				.result_text {
					& + .status_msg {
						color: var(--color-text-basic);
					}
				}
			}
			// 완료단계
			&.finish {
				.step_flow {
					font-weight: 400;
					color: var(--color-text-disabled-on);
				}
				.status_msg {
					display: none;
				}
				.btn_rd_modify {
					display: block;
				}
			}
		}
	}
}

.panel_total {
	padding: var(--padding-8) var(--padding-7);
	background-color: var(--color-surface-primary-subtler);
	border-radius: var(--radius-large2);

	.inner {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: var(--gap-4);

		.title {
			font-size: var(--font-size-body-small);
			color: var(--color-text-subtle);
		}

		.right {
			text-align: right;
			del {
				font-size: var(--font-size-body-xsmall);
				color: var(--color-text-subtle);
			}
			.price {
				display: block;
				font-size: var(--font-size-body-small);
				font-weight: 700;
				color: var(--color-text-primary-bold);
			}
		}
	}
}

.contact_list {
	padding: var(--padding-8) var(--padding-7);
	background: var(--color-surface-white);
	border: 1px solid var(--color-divider-gray-light);
	border-radius: var(--radius-large2);

	> .list {
		display: flex;
		align-items: center;
		gap: var(--gap-5);
		font-size: var(--font-size-body-xsmall);

		& + .list {
			margin-top: var(--gap-6);
		}

		.icon {
			display: block;
			width: 44px;
			height: 44px;
			background-color: var(--color-background-gray-subtler);
			background-repeat: no-repeat;
			background-position: center;
			background-size: 20px auto;
			border-radius: var(--radius-medium1);

			&.call {
				background-image: url(../images/icon/icon_call_fill.svg);
			}
			&.car {
				background-image: url(../images/icon/icon_car_window.svg);
			}
		}

		.info {
			em {
				display: block;
				font-size: var(--font-size-body-small);
				font-weight: 700;
			}
		}
	}

	& + .list_depth_ty2 {
		margin-top: var(--gap-4);
	}
}


// 상단 title
.title_view_wrap {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	gap: var(--gap-7);
	margin-bottom: var(--gap-8);

	.page_title {

		> * {
			& ~ * {
				margin-top: var(--gap-3);
			}
		}

		.p_info {
			font-size: var(--font-size-heading-xsmall);
			font-weight: 700;
			color: var(--color-text-primary-bold);

			& + .p_title {
				margin-top: 4px;
			}
		}
		.p_title {
			font-size: var(--font-size-display-medium);
			color: var(--color-text-static);
		}
	}

	.sub_desc {
		font-size: var(--font-size-body-small);
		color: var(--color-text-subtle);
	}

	.btn_area {
		&:not(.column){
			&:has(button.hd_btn_s_4, button.hd_btn_s_5){
				gap: var(--gap-3);
			}
		}
		.hd_btn {
			min-width: auto;
		}
	}
}


// select
.select_option_box {
	.selectbox {
		width: 100%;
		min-height: 24px;
		padding: 16px 44px 16px 16px;
		font-size: var(--font-size-label-large);
		color: var(--color-text-subtle);
		word-break: break-all;
		border: var(--border-width-static-regular) solid var(--color-input-border);
		border-radius: var(--radius-medium3);
		background: var(--color-input-surface) url(../images/icon/arrowDown_ty3.svg) no-repeat right 16px center/20px auto;
		-o-appearance: none;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
	}

	& + .inp_checkbox {
		margin-top: var(--gap-5);
	}

	&.ty2 {
		.selectbox {
			width: auto;
			padding: 0 28px 0 0;
			background-position: right center;
			font-size: var(--font-size-heading-small);
			font-weight: 700;
			border: none;
			border-radius: 0;
		}

		& + .form_group_wrap {
			margin-top: var(--gap-5);
		}
	}
}

.selectbox_btn {
	.s_btn {
		position: relative;
		width: 100%;
		min-height: 24px;
		padding: 16px 44px 16px 16px;
		font-size: var(--font-size-label-large);
		color: var(--color-text-subtle);
		word-break: break-all;
		border-radius: var(--radius-medium3);
		background: var(--color-input-surface) url(../images/icon/arrowDown_ty3.svg) no-repeat right 16px center/20px auto;
	
		&:after {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			border-radius: var(--radius-medium3);
			border: var(--border-width-static-regular) solid var(--color-input-border);
			pointer-events: none;
			transition: all 0.3s;
		}
	}
}




// 보험료확인 radio
.guarantee_item .gi_radio input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}
.guarantee_item .gi_radio input + label::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
}



//coverage_item_list
.coverage_item_list_ty3 {
	> .list {
		display: flex;
		flex-direction: row;
		justify-content: space-between;

		& ~ .list {
			margin-top: var(--gap-5);
		}

		.detail_list {
			// flex: 1;

			.item_inner {
				position: relative;
				display: inline-flex;
				align-items: center;
				// gap: 8px;
	
				.hd_btn {
					// flex: 0 0 auto;
				}
				& + .cont_text_sub {
					margin-top: 5px;
				}
			}
	
			.inp_checkbox {
				flex: 1 0 auto;
				& + .hd_btn {
					width: 20px;
					height: 20px;
					padding-right: 0;
					flex: 1 0 auto;
					.text {
						width: 20px;
						height: 20px;
						overflow: hidden;
						position: absolute;
						width: 1px;
						height: 1px;
						clip: rect(0, 0, 0, 0);
					}
				}
				
				.chk_label {
					// padding-left: 0;
					// width: 20px;
					// height: 20px;
				}
	
				input[type=checkbox]{
					left: 0;
				}
			}
	
			.chk_lby2 {
				padding: 5px 0 0 28px;
			}
		}
	}
}

.guarantee_select_wrap {
	display: flex;
	align-items: stretch;
	gap: var(--gap-5);

	.select_item {
		position: relative;
		flex: 1;
		margin: 0;
		// width: 100%;

		&.active {
			flex: 0 0 410px;
			transition: flex .1s linear;

			.hd_badge {
				&.class_type {
					width: auto;
					height: auto;

					.text {
						display: flex;
						padding: 0;
						background: none;

						em {
							position: relative;
							display: inline-block;
							padding-left: 15px;

							&:before {
								position: absolute;
								top: 4px;
								left: var(--gap-3);
								content:'';
								width: 1px;
								height: 12px;
								background-color: blue;
							}
						}
					}
				}
			}
		}

		.item_radio	{
			height: 100%;

			input {
				position: absolute;
				top:0;
				left: 0;
				opacity: 0;
	
				&:checked {
					& + label {
						&:before {
							position: absolute;
							top:0;
							left: 0;
							content:'';
							width: 100%;
							height: 100%;
							border: var(--border-width-static-medium, 2px) solid var(--color-border-primary);
							border-radius: var(--radius-large2);
						}
					}
				}
			}
	
			label {
				display: flex;
				flex-direction: column;
				height: 100%;
				padding: var(--padding-8) var(--padding-7);
				border: var(--border-width-static-regular, 1px) solid var(--color-border-secondary-light);
				border-radius: var(--radius-large2);
	
				.hd_badge {
					&.class_type {
						.text {
							em {
								display: none;;
							}
						}
					}
				}
			}
		}

		
		
	}

	& + .dc_info_box {
		margin-top: var(--gap-5);
	}
}