/* Layout */

body {
	overflow: auto;
}

.wrap {
	position: relative;
	display: block;
	min-width: 1188px;
	height: auto;
	min-height: 100%;
	padding: 120px 0 210px 0;


	.footer  {
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
		height: 210px;
		background-color: rgb(218, 249, 255);
	}


	.container {
		overflow: inherit;
		display: flex;
		flex-direction: row;
		justify-content: center;
		flex-flow: row wrap;
		gap: var(--gap-12);
		width: 1188px;
		margin: 0 auto;
		padding: var(--gap-12) 0 var(--padding-12);
	
		.content {
			flex:none;
			width: 836px;
		}
		
		.side_panel {
			width: 288px;
		}

		&.container_tp2 {
			gap: var(--gap-8);
			 
			.content {
				width: 781px;
			}
			.side_panel {
				width: 375px;
			}
		}
	}

	/* 조건별 container 상단 간격 */
	.header_pc {
		+ .container {
			margin-top: 64px;
		}
	}

	.breadcrumb {
		+ .container {
			padding-top: var(--gap-8);
		}
	}
	/* 조건별 container 상단 간격 */


	aside {
		position: absolute;
		top:0;
		left: calc(100% + 32px);
		width: 128px;
	}
}




// panel
.side_panel {
	display: flex;
	flex-direction: column;
	gap: var(--gap-7);

	.info_cont {
		.data_list {
			margin-top: var(--gap-4);
		}
	}

	.info_gray {
		.step_list {
			> li {
				dl {
					dd {
						margin-top: 12px;
					}
				}
				.modify {
					width: 24px;
					height: 24px;
					padding: 5px;
					.hd_icon {
						width: 12px;
						height: 12px;
					}
				}
			}
		}
	}

	.panel_cont {
		display: flex;
		flex-direction: column;
		gap: var(--gap-5);
	}
}

// aside panel
.aside {
	width: 128px;

	.title_h3 {
		font-weight: 400;

		strong {
			font-weight: 700;
		}

		& + .info_box_list {
			margin-top: var(--gap-4);
		}
	}

	.info_box_list {
		.list {
			padding: var(--padding-6) var(--padding-5);
			background: var(--color-surface-gray-subtler);
			border-radius: var(--radius-medium3);
			font-size: var(--font-size-body-xsmall);

			.cont {
				.num {
					font-size: var(--font-size-heading-xsmall);
					color: var(--color-text-basic);

					&.point {
						color: var(--color-text-primary-bold);
					}
					& + * {
						margin-top: var(--gap-4);
					}
				}
				color: var(--color-text-subtle);
			}

			& + .list {
				margin-top: var(--gap-3);
			}
		}
	}
}
/* // Layout */