body {
	overflow: auto;
}

/* Layout */
.wrap {
	position: relative;
	display: block;
	min-width: 1188px;
	height: auto;
	min-height: 100%;
	padding: 120px 0 210px 0;


	.footer  {
		position: absolute;
		left: 0;
		width: 100%;
	}
	
	.footer {
		bottom: 0;
		height: 210px;
		background-color: burlywood;
	}


	.breadcrumb {
		flex:none;
		padding: var(--padding-3) 0 var(--gap-8);
	}

	.breadcrumb_inner {
		width: 1188px;
		margin: 0 auto;
		padding-right: 4px;
		
		&_list {
			display: flex;
			align-items: center;
			justify-content: flex-end;

			> li {
				position: relative;
				font-size: var(--font-size-navigation-depth-small);
				line-height: 24px;
				color: var(--color-text-subtle);

				&:last-child {
					font-weight: 700;
				}

				& + li {
					padding-left: 24px;
					&::after {
						position: absolute;
						left: 4px;
						top: calc(50% - 8px);
						content:'';
						width: 16px;
						height: 16px;
						background:url(../../../images/icon/arrowRight_ty3.svg) no-repeat center / 16px auto;
					}
				}
			}
		}
	}


	.container {
		overflow: inherit;
		display: flex;
		flex-direction: row;
		justify-content: center;
		flex-flow: row wrap;
		gap: var(--gap-12);
		width: 1188px;
		margin: 0 auto;
		padding: 0 0 var(--padding-12);
	
		.content {
			flex:none;
			width: 836px;
		}
		.pannel {
			width: 288px;
		}

		&.container_tp2 {
			gap: var(--gap-8);
			 
			.content {
				width: 781px;
			}
			.pannel {
				width: 375px;
			}
		}
	} 


	aside {
		position: absolute;
		top:0;
		left: calc(100% + 32px);
		width: 128px;
		background-color: red;
	}
}
/* // Layout */