.popup_cont {
	.complete_recommend {
		margin: 0 -24px;
		padding: 0px var(--padding-8) var(--padding-8) var(--padding-8);
	}	
}

.complete_recommend {
	background: var(--color-surface-light-blue-subtle);
}

.complete_recommend_top {
	margin: 0 -24px;
	padding: var(--padding-5) 0 0 var(--padding-8);
	.crc_inner {
		position: relative;
		display: flex;
		align-items: center;
		width: 100%;
		min-height: 84px;
		padding: var(--padding-5) 0;
		background-repeat: no-repeat;
		background-position: right center;
		background-size: 126px auto;
		.title_h3 {
			position: relative;
			z-index: 1;
		}
	}

	&.complete_recommend_top_type1 {
		.crc_inner {
			background-image: url('../images/content/pp00/img_PRPP0047000000000.png');
		}
	}
	&.complete_recommend_top_type2 {
		.crc_inner {
			background-image: url('../images/content/pp00/img_PRPP0047000000000_1.png');
		}
	}
	&.complete_recommend_top_type3 {
		.crc_inner {
			background-image: url('../images/content/pp00/img_PRPP0047000000000_2.png');
		}
	}
	&.complete_recommend_top_type4 {
		.crc_inner {
			background-image: url('../images/content/pp00/img_PRPP0047000000000_3.png');
		}
	}
	&.complete_recommend_top_type5 {
		.crc_inner {
			background-image: url('../images/content/pp00/img_PRPP0047000000000_4.png');
		}
	}
	&.complete_recommend_top_type6 {
		.crc_inner {
			background-image: url('../images/content/pp00/img_PRPP0047000000000_5.png');
		}
	}
	&.complete_recommend_top_type7 {
		.crc_inner {
			background-image: url('../images/content/pp00/img_PRPP0047000000000_6.png');
		}
	}
 	
}



.complete_recommend_cont {
	margin-top: var(--gap-2);
	padding: var(--padding-3) var(--padding-8);
	border-radius: var(--radius-large2);
	background-color: var(--color-surface-white-subtle);
}
.crc_list {
	.crc_list_ico {
		padding: var(--padding-6) 0 var(--padding-6) 44px;
		background-repeat: no-repeat;
		background-position: left center;
		background-size: 32px auto;

		&.crc_list_ico_type1 {
			background-image: url('../images/content/pp00/ico_crc_list_ico_type1.svg');
		}
		&.crc_list_ico_type2 {
			background-image: url('../images/content/pp00/ico_crc_list_ico_type2.svg');
		}
		&.crc_list_ico_type3 {
			background-image: url('../images/content/pp00/ico_crc_list_ico_type3.svg');
		}
		&.crc_list_ico_type4 {
			background-image: url('../images/content/pp00/ico_crc_list_ico_type4.svg');
		}
		&.crc_list_ico_type5 {
			background-image: url('../images/content/pp00/ico_crc_list_ico_type5.svg');
		}
		&.crc_list_ico_type6 {
			background-image: url('../images/content/pp00/ico_crc_list_ico_type6.svg');
		}
		&.crc_list_ico_type7 {
			background-image: url('../images/content/pp00/ico_crc_list_ico_type7.svg');
		}
		&.crc_list_ico_type8 {
			background-image: url('../images/content/pp00/ico_crc_list_ico_type8.svg');
		}
		&.crc_list_ico_type9 {
			background-image: url('../images/content/pp00/ico_crc_list_ico_type9.svg');
		}
		&.crc_list_ico_type10 {
			background-image: url('../images/content/pp00/ico_crc_list_ico_type10.svg');
		}
		&.crc_list_ico_type11 {
			background-image: url('../images/content/pp00/ico_crc_list_ico_type11.svg');
		}
		&.crc_list_ico_type12 {
			background-image: url('../images/content/pp00/ico_crc_list_ico_type12.svg');
		}
		& + .crc_list_ico {
			padding-top: calc(var(--padding-6) + 1px);
			border-top: var(--border-width-static-regular) solid var(--color-divider-gray-light);
		}
	}

	.crc_list_cont {
		> dt {
			font-size: var(--font-size-body-medium);
			color: var(--color-text-basic);
		}
		> dd {
			padding-top: var(--gap-2);
			font-size: var(--font-size-body-small);
			color: var(--color-text-subtle);
		}
	}

}

.cr_qr_box {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 10px;
	margin-top: var(--gap-8);
	padding: var(--padding-8) var(--padding-7);
	border-radius: var(--radius-large2);
	background: var(--color-surface-primary-subtler);
	.text {
		font-size: var(--font-size-body-medium);
		color: var(--color-text-basic);
	}
}