%background_set {
	background-repeat: no-repeat;
	background-position: left center;
	background-size: 32px auto;
}

// 상품안내 
.prd_car {
	&.position_event_wrap {
		.sii_wrap {
			padding-bottom: 0;
			.tag_item_wrap {
				&.sticky {
					top: 65px;
				}
			}
		}
	}
	// .position_event_content {
	// 	.popup_content_body {
	// 		gap: 0;
	// 		.sec_group {
	// 			+.sec_group {
	// 				padding-top: var(--gap-11);
	// 			}
	// 		}
	// 	}
	// }
	.popup_content_body {
		display: flex;
		flex-direction: column;
		gap: var(--gap-11);

		// > * {
		// 	margin-bottom: var(--gap-11);

		// 	&:last-child {
		// 		margin-bottom: 0;
		// 	}
		// }
	}

	// intro info
	.intro_area {
		.info_gray {
			display: flex;
			align-items: center;
		}
	}
	.intro_info {
		display: flex;
		align-items: center;
		justify-content: space-between;
		position: relative;
		width: 100%;
		&::after {
			content: '';
			display: none;
			width: 240px;
			height: 160px;
			background-repeat: no-repeat;
			background-position: center center;
			background-size: contain;
		}
		@for $i from 1 through 5 {
			&.bg_intro#{$i}::after {
				display: block;
				background-image: url('../images/content/prdcar/bg_car_prd#{$i}.png');
			}
		}

		.info_list {
			.item {
				@for $i from 1 through 5 {
					&.ico_intro#{$i} {
						background-image: url('../images/content/prdcar/ico_car_intro#{$i}.svg');
					}
				}
			}
		}

		&.column {
			flex-direction: column;
			justify-content: center;
			padding-top: 56px;
			background-repeat: no-repeat;
			background-position: top center;
			background-size: 40px auto;
			text-align: center;
			.title_h3 {
				font-size: var(--font-size-heading-medium);
				text-align: center;
				+.note {
					margin-top: var(--gap-5);
				}
			}
			.desc {
				font-size: var(--font-size-body-medium);
				color: var(--color-text-basic);
			}
			.note {
				display: block;
				margin-top: var(--gap-4);
				font-size: var(--font-size-body-small);
				color: var(--color-text-subtle);
			}
			.tip {
				display: flex;
				align-items: center;
				justify-content: center;
				position: relative;
				margin-bottom: var(--gap-5);
				font-weight: 700;
				font-size: var(--font-size-heading-xsmall);
				color: var(--color-text-bolder);
				&::before {
					content: '';
					display: block;
					width: 20px;
					height: 20px;
					margin-right: 4px;
					background: url('../images/content/prdcar/ico_tag.svg') no-repeat left top;
					background-size: 20px auto;
				}
			}
			.desc_wrap {        
				width: 100%;
				margin-top: var(--gap-7);
				padding-top: var(--gap-7);
				border-top: var(--border-width-static-regular) solid var(--color-border-gray-light);
				.list_ty6 {
					> li {
						text-align: left;
						color: var(--color-text-information);
					}
				}
			}
			
			@for $i from 1 through 13 {
				&.ico_special#{$i} {
					background-image: url('../images/content/prdcar/ico_car_benefit#{$i}.svg');
				}
			}
		}
	}

	// 할인특약 
	.benefit_area {
		.cont_head {
			.flex_inline {
				display: flex;
				align-items: center;
			}
		}
		.benefit_list {
			.list_ty2 {
				padding-top: var(--gap-3);
			}
		}
		.info_list {
			.item {
				position: relative;
				&:before {
					content: '';
					display: block;
					position: absolute;
					top: 50%;
					left: 0;
					width: 32px;
					height: 32px;
					border-radius: var(--radius-small3);
					background-color: var(--color-surface-gray-subtler);
					transform: translateY(-50%);
				}
				&:after {
					content: '';
					display: block;
					position: absolute;
					top: 50%;
					left: 0;
					width: 32px;
					height: 32px;
					background-repeat: no-repeat;
					background-size: 24px auto;
					background-position: left 4px center;
					transform: translateY(-50%);
				}
				@for $i from 1 through 14 {
					&.ico_benefit#{$i}::after {
						background-image: url('../images/content/prdcar/ico_car_benefit#{$i}.svg');
					}
				}
			}
		}
	}

	// 목록
	.info_list {
		display: flex;
		flex-direction: column;
		gap: var(--gap-8);
		.tit {
			font-size: var(--font-size-body-medium);
			color: var(--color-text-basic);
			line-height: 24px;
		}
		.desc {
			font-size: var(--font-size-body-small);
			color: var(--color-text-subtle);
			line-height: 21px;
		}
		.item {
			padding-left: 44px;
			@extend %background_set;
			.item_link {
				display: block;
				position: relative;
				padding-right: 36px;
				&::after {
					content: '';
					display: block;
					position: absolute;
					width: 24px;
					height: 24px;
					top: 50%;
					right: 0;
					background: url(../images/icon/arrowRight_ty4.svg) no-repeat center / 20px auto;
					transform: translateY(-50%);
				}
			}
		}
		// 간격
		.desc,
		.list_ty2 {
			padding-top: var(--gap-2);
		}
		&.ty_line {
			gap: 0;
			.item {
				padding-top: var(--padding-6);
				padding-bottom: var(--padding-6);
				border-bottom: var(--border-width-static-regular) solid var(--color-border-gray-light);
				&:first-of-type {
					border-top: var(--border-width-static-regular) solid var(--color-border-gray-light);
				}
			}
		}
	}

	// 이미지 박스
	[class*="img_wrap"] {
		border: 1px solid #CDD1D5;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.img_wrap_highwalk {
		margin-top: 32px;
		height: 236px;
		border-radius: 24px;
		img {
			width: 280px; 
		}
	}


	// 간격
	.sec_group {
		.sec_head {
			margin-bottom: var(--gap-6);
		}
		.sec_body {
			&:has(.title_h4) {
				margin-top: -8px;
			}
			&:has(.my_info_flow) {
				margin-top: 0;
				&:has(.title_h4) {
					margin-top: -8px;
				}
			}
		}
	}
	// sec_group 안에 간격 40 인경우
	.group {
		+ .group {
			padding-top: 40px;
		}		
	}
	.group_item {
		+ .group_item {
			margin-top: var(--gap-8);
		}
	}

	.title_h4 {
		+ .desc,
		+ .list_depth,
		+ .group_item {
			margin-top: var(--gap-4);
		}
		+ .table_wrap,
		+ .my_info_flow {
			margin-top: var(--gap-5);
		}
	}

	.text_sub {
		+ .list_depth {
			margin-top: var(--gap-5);
		}
	}
	
	.list_depth {
		+ .table_wrap {
			margin-top: var(--gap-4);
		}
	}
	
	.tab_wrap {
		+ .btn_area {
			margin-top: var(--gap-11);
			+ .list_ty2 {
				margin-top: var(--gap-11);
			}
		}
	} // 텝 + 보험약관버튼 + 준법감시필 

	.web_link {
		text-decoration: underline;
	}
	
	.table_wrap {
		+ .list_depth {
			margin-top: var(--gap-8);
		}

		.table {
			border-collapse: collapse;
		}

		tbody:has(td[rowspan]) {
			td:last-child {
				border-left: var(--border-width-static-regular) solid var(--color-divider-gray-light);
			}
			td[rowspan]:last-child {
				border-right: none
			}
		}
	}

	.my_info_flow {
		> li:last-child {
			margin-bottom:0;
		}
		& + .list_ty2 {
			margin-top: var(--gap-5);
		}

		.img_wrap_ex {
			margin-top: var(--gap-4);
			height:320px;
			background-color: #fff;
			border-radius: 16px 16px 0 0;
			overflow: hidden;
			img {
				width: 255px;
			}
		}
	}

	// 자주하는질문
	.item_wrap_faq {
		.acd_cont {  
			.inner {
				> p {
					margin-bottom: var(--gap-5);
				}
				.btn_area {
					margin-top: var(--gap-2);
				}
				.list_depth {
					& + .text_sub {
						margin-top: var(--gap-5);
					}
				}
			}  
		}
	}

	//팝업 - 마일리지환급금 대체사용 특약이란?
	.mileage_box {
		display:flex;
		flex-direction: row;
		.item {
			flex:1;
			position: relative;
			padding: calc(var(--padding-4) - 1px) calc(var(--padding-3) - 1px);
			background-color: var(--color-element-secondary-lighter);
			border: 1px solid var(--color-border-secondary-light);
			border-radius: 12px;
			font-size: 12px;
			color: var(--color-text-subtle);
			&::after {
				content: "";
				display: block;
				background-repeat: no-repeat;
				background-size: 16px auto;
				width: 16px;
				height: 16px;
				position: absolute;
				right: -20px;
				top: calc(50% - 8px);
			}
			&:nth-child(1)::after {
				background-image: url('../images/content/prdcar/icon_plus.svg')
			}
			&:nth-child(2)::after {
				background-image: url('../images/content/prdcar/icon_sum.svg');
				transform: rotate(90deg);
			}
			& > div {
				display: flex;
				flex-direction: column;
				align-items: center;
				gap: var(--gap-2);
			}
			& + .item {
				margin-left: 24px;
			}
			strong {
				color: var(--color-text-secondary);
			}
		}
	}

	//사진 촬영 예시
	.file_attach_box  {
		.file_thumbnail {
			width: 100%;
			img {
				max-width: none;
			}
		}
	}

	//스마트 안전운전(UBI) 
	.list_contract {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: var(--gap-5);
		.item {
			padding: var(--padding-7) var(--padding-8);
			background-color: var(--color-background-gray-subtler);
			border-radius: 16px;
			font-size: var(--font-size-label-medium);
			color: var(--color-text-basic);
			& > div {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				&::before {
					content:"";
					display: inline-block;
					width: 40px;
					height: 40px;
					margin-bottom: var(--gap-2);
				}
			}

			@for $i from 1 through 7 {
				&.ico#{$i} {
					&>div::before {
						background-image: url('../images/content/prdcar/ico_contract_logo#{$i}.svg');
					}
				}
			}
		}
	}
	

	// 타이틀 아이콘
	.title_h3 {
		&.icon::before {
			content:"";
			display: inline-block;
			width: 24px;
			height: 24px; 
			margin: 4px 4px 0 0;
			background: url('../images/content/prdcar/ico_price_20.svg') no-repeat 0 0;
			background-size: 24px auto;
			vertical-align: top;
		}
	}

	//qr배너
	.banner_qr {
		display: flex;
		justify-content: space-between;
		gap: var(--gap-4);
		padding: calc(var(--padding-8) - 1px);
		background-color: var(--color-element-primary-lighter);
		border: var(--border-width-static-regular) solid var(--color-element-primary-light);
		border-radius: 24px;
		&::before,
		&::after {
			content: '';
			display: inline-block;
			background-size: contain;
			background-position: center;
			background-repeat: no-repeat;
		}

		&::before {
			width: 32px;
			height: 32px;  
			vertical-align: top;
			margin-top: 14px;
			background-image: url('../images/content/prdcar/ico_qr_heart.png');			
		}
		&::after {
			width: 60px;
			height: 60px;
			background-image: url('../images/content/prdcar/img_qr.png');			
		}
		.item {
			flex: 1;
			display: flex;
			flex-direction: column;
			justify-content: center;
		}

		.title {
			font-weight: 700;
			font-size: var(--font-size-heading-small);
		}
		.desc {
			font-size: var(--font-size-body-small);
			color: var(--color-text-subtle);
		}
	}

	// 스크롤바
	.tab_scroll_box_ty1::-webkit-scrollbar {
		height: 6px;
	}
	// 스크롤바 핸들
	.tab_scroll_box_ty1::-webkit-scrollbar-thumb {
		background: #c1c1c1; /* 스크롤바 색상 */
  	border-radius: 10px;
	}
	
}
