%background_set {
	background-repeat: no-repeat;
	background-position: left center;
	background-size: 32px auto;
}

// 상품안내 
.prd_car {
	.popup_content_body {
		display: flex;
		flex-direction: column;
		gap: var(--gap-11);
	}

	// intro info
	.intro_area {
		.info_gray {
			display: flex;
			align-items: center;
		}
	}
	.intro_info {
		display: flex;
		align-items: center;
		justify-content: space-between;
		position: relative;
		width: 100%;
		&::after {
			content: '';
			display: none;
			width: 240px;
			height: 160px;
			background-repeat: no-repeat;
			background-position: center center;
			background-size: contain;
		}
		@for $i from 1 through 5 {
			&.bg_intro#{$i}::after {
				display: block;
				background-image: url('../images/content/prdcar/bg_car_prd#{$i}.png');
			}
		}

		.info_list {
			.item {
				@for $i from 1 through 6 {
					&.ico_intro#{$i} {
						background-image: url('../images/content/prdcar/ico_car_intro#{$i}.svg');
					}
				}
			}
		}

		&.column {
			flex-direction: column;
			justify-content: center;
			padding-top: 56px;
			background-repeat: no-repeat;
			background-position: top center;
			background-size: 40px auto;
			.title_h3 {
				font-size: var(--font-size-heading-medium);
				text-align: center;
			}
			@for $i from 1 through 13 {
				&.ico_special#{$i} {
					background-image: url('../images/content/prdcar/ico_car_benefit#{$i}.svg');
				}
			}
		}
	}

	// 할인특약 
	.benefit_area {
		.cont_head {
			.flex_inline {
				display: flex;
				align-items: center;
			}
		}
		.benefit_list {
			.list_ty2 {
				padding-top: var(--gap-3);
			}
		}
		.info_list {
			.item {
				position: relative;
				&:before {
					content: '';
					display: block;
					position: absolute;
					top: 50%;
					left: 0;
					width: 32px;
					height: 32px;
					border-radius: var(--radius-small3);
					background-color: var(--color-surface-gray-subtler);
					transform: translateY(-50%);
				}
				&:after {
					content: '';
					display: block;
					position: absolute;
					top: 50%;
					left: 0;
					width: 32px;
					height: 32px;
					background-repeat: no-repeat;
					background-size: 24px auto;
					background-position: left 4px center;
					transform: translateY(-50%);
				}
				@for $i from 1 through 13 {
					&.ico_benefit#{$i}::after {
						background-image: url('../images/content/prdcar/ico_car_benefit#{$i}.svg');
					}
				}
			}
		}
	}

	// 목록
	.info_list {
		display: flex;
		flex-direction: column;
		gap: var(--gap-8);
		.tit {
			font-size: var(--font-size-body-medium);
			color: var(--color-text-basic);
			line-height: 24px;
		}
		.desc {
			font-size: var(--font-size-body-small);
			color: var(--color-text-subtle);
			line-height: 21px;
		}
		.item {
			padding-left: 44px;
			@extend %background_set;
			.item_link {
				display: block;
				position: relative;
				padding-right: 36px;
				&::after {
					content: '';
					display: block;
					position: absolute;
					width: 24px;
					height: 24px;
					top: 50%;
					right: 0;
					background: url(../images/icon/arrowRight_ty4.svg) no-repeat center / 20px auto;
					transform: translateY(-50%);
				}
			}
		}
		// 간격
		.desc,
		.list_ty2 {
			padding-top: var(--gap-2);
		}
		&.ty_line {
			gap: 0;
			.item {
				padding-top: var(--padding-6);
				padding-bottom: var(--padding-6);
				border-bottom: var(--border-width-static-regular) solid var(--color-border-gray-light);
				&:first-of-type {
					border-top: var(--border-width-static-regular) solid var(--color-border-gray-light);
				}
			}
		}
	}


	.sec_group {
		.sec_head {
			margin-bottom: var(--gap-5);
			.title_h3 {
				+ .title_h4,
				+ .desc {
					margin-top: var(--gap-4);
				}
			}
			.title_h4 { 
				+ .desc {
					margin-top: var(--gap-4);
				}
			}
			&:not(:has(.title_h4, .desc)) {
				margin-bottom: var(--gap-6);
			}
		}
	}
	.sec_body {
		&:has(.title_h4) {
			margin-top: -6px;
		}

		// sec_group 안에 간격 40 인경우
		.group {
			+ .group {
				margin-top: 40px;
			}
		}
	}
	
	// 간격
	.tab_wrap {
		+ .btn_area {
			margin-top: var(--gap-11);
			+ .list_ty2 {
				margin-top: var(--gap-11);
			}
		}
	} // 텝 + 보험약관버튼 + 준법감시필 
	
	.title_h4 {
		+ .list_depth {
			margin-top: var(--gap-4);
		}
	}
}
