/* 청약 폼 */
.title_h2 {
	&.finish {
		padding-top: 120px;
		background: url(../images/common/bg_finish.png) no-repeat top center / auto 50%;
		text-align: center;
	}
}
.form_box {
	& + .form_box {
		margin-top: var(--gap-11);
		&.space2 {
			margin-top: var(--gap-8);
		}
	}

	&.space1 {
		margin-top: var(--gap-8);
	}
	
	& + .btn_area {
		margin-top: var(--gap-5);
		&.center {
			margin-top: var(--gap-11);
		}
	}
	.car_title_h1 {
		margin-bottom: 20px;
		font-size: var(--font-size-heading-medium);
		font-weight: 700;
	}
	> .radio_group_wrap {
		margin-top: var(--gap-8);
		& + p {
			margin-top: var(--gap-7);
			&.info_text {
				margin-top: var(--gap-8);
			}
		}
	}
	.title_h3 {
		// margin-bottom: var(--gap-6);
		& + * {
			margin-top: var(--gap-6);
		}

		& + .text_sub {
			margin-top: var(--gap-4);
	
			& + .form_group_wrap {
				margin-top: var(--gap-8);
			}
		}
	}
	.checkbox_group_wrap {
		margin-top: var(--gap-8);
		& + .info_gray {
			margin-top: var(--gap-8);
		}
		& + .label_tit {
			margin-top: var(--gap-5);
		}
	}
	.form_group_wrap {
		& + .form_group_wrap {
			margin-top: var(--gap-8);
		}
		& + .if_box {
			margin-top: var(--gap-5);
			& + .btn_area {
				margin-top: var(--gap-11);
			}
		}

		.if_box_ty2 {
			margin-top: var(--gap-8);
		}

	}
	> .btn_area {
		margin-top: var(--gap-8);
		& + .title_h3 {
			margin-top: var(--gap-8);
		}
	}
	.radio_group_wrap {
		& + .checkbox_group_wrap {
			margin-top: var(--gap-5);
		}
	}

	.title_area {
		& + .form_group_wrap,
		& + .space_list_ty5 { 
			margin-top: var(--gap-8);
		}
	}
}
.info_text2 {
	margin-top: var(--gap-3);
	padding-left: 20px;
	font-size: var(--font-size-label-medium);
	color: var(--color-text-information);
	background: url(../images/icon/icon_info.svg) no-repeat left top 2px / 16px auto;
}
.info_text3 {
	margin: var(--gap-3) 0;
	font-size: var(--font-size-body-medium);
	color: var(--color-text-subtle);
}
.input_text {
	& + .inp_checkbox {
		margin-top: var(--gap-5);
	}
}
.form_list {
	> li {
		> .form_group_wrap {
			> .form_line {
				> .label_tit {
					margin-bottom: var(--gap-5);
					font-size: var(--font-size-heading-small);
					font-weight: 700;
					.star_list {
						font-weight: 400;
					}

					.num {
						font-size: var(--font-size-heading-xsmall);
						padding-right: var(--gap-3);
					}

					& + .info_gray { 
						margin-top: var(--gap-5);
					}
					& + .btn_area {
						margin-top: -8px;

						& + * {
							margin-top: var(--gap-5);
						}

						button { 
							flex: 0 1 auto;							
						}						
					} 
				}

				> .form_group_wrap { 
					
					.row {
						margin-top: var(--gap-5);
					}

					& + .checkbox_group_wrap{
						margin-top: var(--gap-5);
					}
				}

				> .form_group_wrap + .form_group_wrap {
					margin-top: var(--gap-8);
				}

				& + .form_card_wrap {
					margin-top: var(--gap-5);
				}

				.checkbox_group_wrap {
					& + .checkbox_group_wrap {
						margin-top: var(--gap-5);
					}

					& + .form_group_wrap {
						margin-top: var(--gap-8);
					}
				}
				& > .text_sub {
					font-size: var(--font-size-body-small);
					& + .label_tit {
						margin-top: var(--gap-3);
					}
				}
			}

			& + .form_group_wrap {
				margin-top: var(--gap-9);
			}
		}
		.info_gray {
			// margin-bottom: 24px;
			margin-bottom: var(--gap-5);
		}
		.radio_group_wrap {
			& + .checkbox_group_wrap,
			& + .info_gray {
				margin-top: var(--gap-5);
			}
		}
		& + li {
			// margin-top: var(--gap-11);
			margin-top:  var(--gap-9);
		}
		.form_group_wrap {
			.row {
				.form_line {
					margin-top: 0;
				}
				& + .form_line {
					margin-top: var(--gap-8);
				}
			}

			.info_gray.ty2 {
				& + .form_group_wrap {
					margin-top: 0;
				}
			}
		}
	}
}
// .card_item_wrap.agree_add {
//     .agree_tit_box {
//         display: flex;
//         justify-content: space-between;
//         align-items: center;
//         .title {
//             font-size: var(--font-size-heading-small);
//             font-weight: 700;
//         }
//         .agree_close {
//             width: 32px;
//             height: 32px;
//             background: url(../images/icon/close_ty1.svg) no-repeat center / 16px auto;
//             border: var(--border-width-static-regular) solid var(--color-button-icon-fill-border);
//             border-radius: 50%;
//         }
//         & + .form_group_wrap {
//             margin-top: var(--gap-6);
//         }
//     }
//     .card_item {
//         & + .btn_area {
//             margin-top: var(--gap-5);
//         }
//     }
// }
ul + .form_group_wrap {
	margin-top: var(--gap-8);
}
.form_group_wrap {
	& + .list_depth_ty2 {
		margin-top: var(--gap-5);
	}
	& + .file_upload_wrap {
		margin-top: var(--gap-8);
	}
}

.text_head {
	font-size: var(--font-size-body-medium);
	& + .info_gray,
	& + .form_group_wrap {
		margin-top: var(--gap-8);
	}
}
.text_lg {
	font-size: var(--font-size-body-large);
}

.pop_title_h1 {
	font-size: var(--font-size-heading-medium) !important;
	font-weight: 700;
	& + .info_text {
		margin-top: var(--gap-3);
	}
	& + p {
		margin-top: var(--gap-4);
	}
	& + ul,
	& + ol {
		margin-top: var(--gap-5);
	}
	& + .pop_title_h2,
	& + h3,
	& + .table_wrap,
	& + .banner_box,
	& + .acd_item,
	& + .form_group_wrap {
		margin-top: var(--gap-6);
	}
	& + .info_gray {
		margin-top: var(--gap-6);
	}
}
.pop_title_h2 {
	font-size: var(--font-size-heading-small);
	font-weight: 700;
	& + p {
		margin-top: var(--gap-4);
	}
	& + .pop_title_h3,
	& + h3,
	& + ul,
	& + ol,
	& + .table_wrap {
		margin-top: var(--gap-5);
	}
}

.pop_title_h3 {
	display: block;
	font-size: var(--font-size-heading-xsmall);
	font-weight: 700;
	& + p {
		margin-top: var(--gap-4);
	}
	& + .form_group_wrap {
		margin-top: var(--gap-5);
	}
}

.info_cont {
	.tit_box {
		display: flex;
		justify-content: space-between;
		align-items: center;
		& + .data_list {
			margin-top:var(--gap-5);
		}
	}
	.img_box {
		&:not(div:first-child) {
		margin-top:var(--gap-5);
		}
		img {
			display: block;
			width: 100%
		}
		& + ul,
		& + ol {
			margin-top: var(--gap-5);
		}
	}
	.text_sub {
		margin-top: var(--gap-7);
	}
	h2,
	.title_h2 {
		font-size: var(--font-size-heading-small);
		font-weight: 700;
		
		& + .table_wrap,
		& + .info_gray,
		& + h3,
		& + ul,
		& + ol {
			margin-top: var(--gap-5);
		}
		& + p {
			margin-top: var(--gap-4);
		}
	}
	.pop_title_h1 {
		& + .select_option_box,
		& + .pop_title_h2,
		& + h3,
		& + .table_wrap,
		& + .banner_box,
		& + .acd_item,
		& + .form_group_wrap,
		& + ul,
		& + ol {
			margin-top: var(--gap-6);
		}
	}

	.pop_title_h3,
	h3 {
		font-size: var(--font-size-heading-xsmall);
		font-weight: 700;
		& + h4 {
			margin-top: var(--gap-5);
			margin-bottom: var(--gap-4);
		}
		& + ul,
		& + ol {
			margin-top: var(--gap-5);
		}
		& + p {
			margin-top: var(--gap-4);
		}
	}
	h4 {
		font-size: var(--font-size-heading-xxsmall);
		font-weight: 700;
		& + ul,
		& + ol {
			margin-top: var(--gap-4);
		}
		& + p {
			margin-top: var(--gap-3);
		}
		& + .table_wrap {
			margin-top: var(--gap-5);
			&.type_mini {
				margin-top: var(--gap-4);
			}
		}
	}
	.text_head {
		& + .info_gray {
			margin-top: var(--gap-8);
		}
	}
	p,
	ol,
	ul {
		& + .pop_title_h1 {
			margin-top: var(--gap-11);
		}
		& + h2,
		& + .title_h2,
		& + .pop_title_h2 {
			margin-top: var(--gap-9);
		}
		& + .pop_title_h3,
		& + h3 {
			margin-top: var(--gap-5);
		}

		& + h4 {
			margin-top: var(--gap-6);
		}

		& + .circle_list {
			margin-top: var(--gap-5);
		}
	}

	.table_wrap {
		& + .pop_title_h1 {
			margin-top: var(--gap-11);
		}
		& + .pop_title_h2,
		& + h2 {
			margin-top: var(--gap-9);
		}
		& + .pop_title_h3,
		& + h3 {
			margin-top: var(--gap-7);
		}
		& + h4 {
			margin-top: var(--gap-6);
		}
		&.type_mini {
			& + h4 {
				margin-top: var(--gap-5);
			}
		}
		.title_h4 {
			& + .table {
				margin-top: var(--gap-2);
			}
		}
		.table {
			& ~ * {
				margin-top: var(--gap-5);
			}
			& + .title_h4 {
				margin-top: var(--gap-3);
			}
		}
	}
	ul,
	ol {
		& + ul,
		& + ol {
			margin-top: var(--gap-5);
		}
		& + .table_wrap,
		& + p {
			margin-top: var(--gap-4);
		}
	}

	strong.info_text,
	p {
		font-size: var(--font-size-body-medium);
		line-height: 24px;
		& + p {
			margin-top: var(--gap-4);
		}
		& + ol,
		& + ul,
		& + .table_wrap,
		& + .info_gray_wrap,
		& + .info_gray {
			margin-top: var(--gap-5);
			&.type_mini {
				margin-top: var(--gap-4);
			}
		}
		& + .form_group_wrap {
			margin-top: var(--gap-8);
		}
	}

	.addendum {
		margin-top: var(--gap-11);
	}

	.img_area + ul,
	.list_ty4 + .circle_list_ty2 {
		margin-top: var(--gap-6);
	}
	& + .btn_area,
	& + .form_group_wrap,
	& + .acd_item_ty2,
	& + .acd_item_ty7,
	& + .info_gray {
		margin-top: var(--gap-8);
	}

	& + .list_ty2,
	& + .checkbox_group_wrap {
		margin-top: var(--gap-11);
	}
	
	& + .rd_box,
	& + .link_area,
	& + .form_group_wrap {
		margin-top: var(--gap-5);
	}
	.list_depth + .list_ty2 {
		margin: 12px 0 0 8px;
	}
	.list_depth + .checkbox_group_wrap {
		margin-top: var(--gap-8);
	}
	.acd_item {
		& + .acd_item {
			margin-top: var(--gap-5);
		}
		p {
			margin: 0 0 16px;
		}
		.img_area,
		.btn_area {
			& + p {
				margin-top: var(--gap-8);
			}
		}
	}
    & + .link_area {
        margin-top: var(--gap-5);
    }
    .list_depth + .list_ty2 {
        margin: 12px 0 0 8px;
    }
    .acd_item {
        & + .acd_item {
            margin-top: var(--gap-5);
        }
        p {
            margin: 0 0 16px;
        }
        .img_area,
        .btn_area {
            & + p {
                margin-top: var(--gap-8);
            }
        }
    }


	.space_wrap {
		&.space_ty1 {
			margin-top: var(--gap-11);
		}
	}
	.data_list {
		ul {
			li + li {
				margin-top: var(--gap-3);
			}
		}
	}

}

/* 보험가입 진행 정보 */
.pro_info_wrap {

	.pro_info_item {
		+ .pro_info_item {
			margin-top: calc(var(--gap-7) + 1px);
			padding-top: var(--gap-7);
			border-top: var(--border-width-static-regular) solid var(--color-border-gray-light);
		}
	}
	+ .info_gray {
		margin-top: var(--gap-7);
	}
}

/* 보험가입 진행 정보 */

.text_info_lg {
	font-size: var(--font-size-heading-medium);
	text-align: center;
}
.table_wrap {
	& + .pop_title_h1 {
		margin-top: var(--gap-11);
	}
	& + .list_ty1 {
		margin-top: var(--gap-5);
	}
	& + .info_gray {
		margin-top: var(--gap-8);
	}
}
.address_item {
	margin-top: var(--gap-5);
	& + .list_ty2 {
		margin-top: var(--gap-5);
	}
}
.banner_box {
	a {
		display: block;
		img {
			display: block;
			width: 100%;
		}
	}
	& + [class^="bann_text_wrap"],
	& + & {
		margin-top: var(--gap-8);
	}
	&.ty3 {
		margin: var(--gap-8) 0;
	}
}
.pop_title_h1 {
	& + .info_text {
		& + .btn_area {
			margin: 8px 0 32px;
			& + .info_text {
				margin-bottom: 32px;
			}
			& + .checkbox_group_wrap {
				margin-top: var(--gap-6);
			}
		}
		& + .special_contract_list {
			margin-top: var(--gap-8);
		}
	}
}
.info_text {
	font-size: var(--font-size-body-medium);
	& + .file_attach_box {
		margin-top: var(--gap-6);
	}
}
.info_gray {
	& + .pop_title_h1 {
		margin-top: var(--gap-11);
	}
	& + .btn_area {
		//margin-top: var(--gap-5);
		margin-top: var(--gap-8);
	}
	&.mg_ty2 {
		margin-top: var(--gap-8);
	}
	& + h2 {
		margin-top: var(--gap-9);
	}
}
.btn_area {
	& + .acd_item {
		margin-top: var(--gap-11);
		&_ty2 {
			margin-top: var(--gap-8);
		}
	}
	& + .banner_box {
		margin-top: var(--gap-8);

		&.ty2 {
			margin-top: var(--gap-8);
		}
	}
}
.info_message {
	padding-left: 20px;
	font-size: var(--font-size-label-medium);
	color: var(--color-text-information);
	background: url(../images/icon/icon_info.svg) no-repeat left 2px / 16px auto;
}
.search_reult_list_container {
	.title_h4 {
		display: flex;
		justify-content: space-between;
		align-items: center;
		& + .search_reult_list {
			margin-top: var(--gap-5);
		}
	}
}

/* 수정 kjs */
.title_h3 {
	&.search_head_tit {
		display: flex;
		justify-content: space-between;
		align-items: center;
		+ .search_reult_list_container {
			//margin-top: var(--gap-4);
			margin-top: var(--gap-6);
		}
	}
}
.address_pop {
	font-size: var(--font-size-body-medium);
	> span {
		display: block;
	}
}
.address_pop2 {
	padding: var(--padding-card-large);
	background: var(--color-background-white);
	border: var(--border-width-static-regular) solid var(--color-border-gray-light);
	border-radius: var(--radius-large2);
	span {
		font-size: var(--font-size-body-medium);
		font-weight: 700;
	}
	ul {
		margin-top: var(--gap-4);
	}
	& + .list_ty2 {
		margin-top: var(--gap-4);
	}
}

.address_detail_cont {
	margin-top: var(--gap-8);
	padding: 23px 24px;
	border-radius: var(--radius-large2);
	border: var(--border-width-static-regular) solid var(--color-border-gray-light);
	background: var(--color-background-white);
	.zip {
		display: block;
		font-size: var(--font-size-body-medium);
		+ .list_ty3 {
			margin-top: var(--gap-4);
		}
	}
	+ .list_ty2 {
		margin-top: var(--gap-4);
	}
}

.sns_box {
	margin-bottom: var(--gap-4);
	display: flex;
	justify-content: center;
	gap: 24px;
	button {
		background: transparent;
		img {
			display: block;
		}
	}
}

.travel_day {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 12px;
	> div {
		display: flex;
		justify-content: center;
	}
	i {
		display: block;
		width: 24px;
		height: 24px;
		background: url(../images/../images/icon/arrowRight_ty8.svg) no-repeat center / 24px auto;
	}
	dl {
		flex-direction: column;
		text-align: center;
		gap: 0;
		dd {
			text-align: center;
		}
	}
}

.pop_top {
	// position: sticky;
	// top: -16px;
	// margin: -16px -24px 0;
	// padding: 16px 24px 24px;
	// background: #fff;
	// z-index: 9999;
	.info_gray {
		dl {
			dd {
				font-weight: 700;
			}
		}
	}
	& + .pop_title_h1 {
		// margin: 32px 0 12px;
		padding: 32px 0 12px;
	}
}
.tab_wrap_list_ty1.tip_box {
	position: relative;
	margin-top: var(--gap-8);
	.tip_item {
		--tl: 0;
		// left: 40%;
		left: 50%;
		bottom: calc(100% - 7px);
		width: 250px;
		transform: translateX(-50%);
		box-shadow: 0 var(--shadow-y-2) var(--shadow-blur-2) 0px var(--color-alpha-shadow1, rgba(0, 0, 0, 0.05));
		border-radius: var(--radius-medium1);
	}
	.tip_item_cont {
		padding: 4px 0;
		&::after,
		&::before {
			left: calc(50% - 6px);
		}
	}
}


/* 특약리스트 */
.special_contract_list {
	border-top: var(--border-width-static-regular) solid var(--color-border-gray-light);

	& + .badge_wrap {
		margin-top: var(--gap-5);
	}

	> li {
		padding: var(--padding-6)  0;
		border-bottom: var(--border-width-static-regular) solid var(--color-divider-gray-light);

		.check_flex_box {
			display: flex;
			justify-content: space-between;
			align-items: flex-start;
			gap: var(--gap-3);

			.check_box {
				flex: 1;

				.label_cont {
					.badge_wrap {
						width: auto;
						gap: 4px;
						vertical-align: middle;
					}
				}
			}

			.money_box {
				display: flex;
				min-width: 100px;
				justify-content: end;
				// gap: 14px;
				gap: var(--gap-3);

				.money {
					color: var(--color-text-primary);
					font-size: var(--font-size-button-large);
					line-height: 24px;
					font-weight: 700;
				}
				.question_mark_btn {
					position: relative;
					top: 1px;
				}
			}
			&.disabled {
				.money_box {
					.money {
						color: var(--color-text-disabled);
					}
				}
			}
		}
		.btn_add {
			margin: 4px 0 16px 24px;
		}

		.info_gray {
			margin-top: var(--gap-5);
		}
	}
	&.radio {
		.check_flex_box {
			.money_box {
				flex-direction: column;
				gap: 0;
				text-align: right;
				.money {
					color: var(--color-text-basic);
				}
				.trend {
					justify-content: end;
				}
				.trend:not(.up, .down) {
					color: var(--color-text-disabled);
					justify-content: end;
				}
			}

			.cont {
				font-size: var(--font-size-body-medium);
				font-weight: 700;
			}
			& + .form_group_wrap {
				margin: 16px 0 0 28px;
			}
		}
	}
}

.link_flex_box {
	display: block;
	padding-right: 36px;
	background: url(../images/icon/icon_new_open.svg) no-repeat right center/24px auto;

	&.call {
		background-image: url(../images/icon/icon_call.svg);
	}

	.link_item {
		padding-left: 44px;
		background-repeat: no-repeat;
		background-position: left center;
		background-size: 32px auto;

		.top {
			font-size: var(--font-size-body-medium);
			color: var(--color-text-basic);
			& + .cont {
				margin-top: var(--gap-2);
			}
		}
		.cont {
			font-size: var(--font-size-body-small);
			color: var(--color-text-subtle);
		}

		@for $i from 1 through 5 {
			&.ty#{$i} {
				background-image: url(../images/content/clrq/icon_clrq_charge0#{$i}.svg);
			}
		}
	}
}
.title_item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	
	button {
		margin-top: 0;
	}
	& + p {
		margin-top: var(--gap-4);
	}
}