.ch_kv {
	padding: var(--padding-10) 0;
	background-color: var(--color-surface-warning-subtler);
	.ch_kv_inner {
		width: 836px;
		margin: 0 auto;
		background: url(../images/content/gitr/img_PRGITR80002070000_01.png) no-repeat right bottom 23px / 360px auto;
		.n_tit {
			display: block;
			font-size: var(--font-size-heading-xsmall);
		}
		.ch_kv_w1 {
			padding-top: var(--padding-2);
			font-size: var(--font-size-heading-xxlarge);
		}
		.s_bullet {
			margin-top: var(--gap-5);
			padding-left: 24px;
			font-weight: 700;
			font-size: var(--font-size-body-medium);
			background: url(../images/content/gitr/img_PRGITR80002070000_02.png) no-repeat left top 2px;
		}

		.list_ty2 {
			margin-top: var(--gap-4);
		}
		.btn_area {
			margin-top: var(--gap-8);
		}
	}
}

.ch_content {
	width: 836px;
	margin: 0 auto;
	padding-top: 52px;
	& + .ch_content {
		margin-top: var(--gap-11);
		padding-top: 53px;
		border-top: var(--border-width-static-regular) solid var(--color-divider-gray-light);
	}
}

.ch_s_info {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 0 var(--gap-5);
	> li {
		padding: 31px var(--padding-8);
		border-radius: var(--radius-large2);
		background-color: var(--color-surface-secondary-subtler);
		&::before {
			content: '';
			display: block;
			height: 40px;
			background-repeat: no-repeat;
			background-position: center;
		}

		&.ch_s_info_ty1 {
			&::before {
				background-image: url(../images/content/gitr/img_PRGITR80002070000_03.png);
			}
		}
		&.ch_s_info_ty2 {
			&::before {
				background-image: url(../images/content/gitr/img_PRGITR80002070000_04.png);
			}
		}
		&.ch_s_info_ty3 {
			&::before {
				background-image: url(../images/content/gitr/img_PRGITR80002070000_05.png);
			}
		}

		.tit {
			display: block;
			padding-top: var(--padding-5);
			font-size: var(--font-size-body-small);
			text-align: center;
		}
		.text {
			display: block;
			padding-top: var(--padding-2);
			font-size: var(--font-size-body-small);
			text-align: center;
		}
	}	
}