@import '../variable.scss';

html {
  font-size: 62.5%;
  -webkit-text-size-adjust: 100%;
}

body {
  position: relative;
  font-family: 'Pretendard', Dotum, Helvetica, "Apple SD Gothic Neo", sans-serif;
	// overflow: hidden;
}

html, 
body {
	height: 100%;
}

*,
::before,
::after {
  box-sizing: border-box;
}

// recommend reset css
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
button,
textarea,
p,
blockquote,
th,
td,
.divider {
  margin: 0;
  padding: 0;
}

fieldset,
img {
  border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul,
ol,
li {
  list-style: none;
}

q:before,
q:after {
  content: '';
}

abbr,
acronym {
  border: 0;
}

a {
  color: inherit;
  text-decoration: none;
  background-color: transparent;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

input,
textarea,
button,
label {
  -webkit-tap-highlight-color: transparent;
}

button {
  -webkit-appearance: none;
  appearance: none;
	cursor: pointer;
}

a:focus,
button:focus {
// input:focus {
	// outline: 2px dashed #333;
}

a:focus,
button:focus {
	color: #fff;
	background-color: #000;
}

.inp_radio input:focus + label,	
.inp_checkbox input:focus + label {
	// outline: 2px dashed #333;
}

button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  padding: 0;
  border: 0;
  border-style: none;
}

button:-moz-focusring,
[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring {
  outline: 1px dotted ButtonText;
}

[type="checkbox"],
[type="radio"] {
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
}
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button;
}

img {
  max-width: 100%;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption {
  position: absolute;
  visibility: hidden;
  clip: rect(0 0 0 0);
}

::-ms-clear {
  display: none;
}

::-ms-reveal {
  display: none;
}

.sr_only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border-width: 0;
  white-space: nowrap;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}
