/* html {
	font-size: 10px;
} */

.guide_body {
	overflow: initial;
}
.guide_wrap {
  padding: 20px 20px 100px 20px;
}

.guide_wrap .wrap {
	overflow: auto;
}

.guide_h1 {
	margin-bottom: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 700;
  font-size: 24px;
  border-top: 4px dashed green;
  border-bottom: 4px dashed green;
}
.guide_h1 ~ .guide_h1 {
  margin-top: 80px;
}
.guide_h1::before {
  content: '/* ';
  color: green;
}
.guide_h1::after {
  content: ' */';
  color: green;
}

.guide_h4 {
  position: relative;
  margin: 20px 0;
  padding: 10px;
  font-weight: bold;
  font-size: 18px;
  border-top: 1px solid #000;
  border-bottom: 3px solid #000;
}
.guide_h4 ~ .guide_h4 {
  margin-top: 60px;
}

.guide_dark_wrap {
  display: flex;
  flex-flow: row wrap;
  gap: 12px;
  padding: 24px;
  background-color: rgba(0, 0, 0, 0.3);    
}

.guide_discription {
	font-size: 16px;
  margin-bottom:5px;
}
.guide_discription ~ .guide_discription {
  margin-top: 20px;
}

.guide_discription dl {
	position: relative;
	padding-left: 20px;	
}
.guide_discription dl::before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 10px;
	height: 100%;
	background-color: green;
}
.guide_discription dl ~ dl {
	margin-top: 20px;
}
.guide_discription dl dt {
	border-bottom: 1px solid #000;
}
.guide_discription dl dd {
	margin-top: 10px;
}