// bottom popup
.popup_wrap {
	&.popup_wrap_type3 {
		&.active {
			// padding-top: 40px;
			.popup_container {
				// transform: translateY(0);
			}
		}

		&.bann {
			position: absolute;
			top: 321px;
			left: calc(50% - 220px);
			z-index: 49;
			width: auto;
			height: auto;
			padding: 0;
			background: transparent;
			box-shadow: 0 0 2px 0 var(--color-alpha-shadow2, rgba(0, 0, 0, 0.08)), 0 var(--shadow-y-4, 16px) var(--shadow-blur-4, 24px) 0 var(--color-alpha-shadow3, rgba(0, 0, 0, 0.12));
			border-radius: var(--radius-large2);

			.popup_container {

				.popup_inner {
					padding-bottom: 0;
					border-radius: var(--radius-large2);

					// &:focus-visible {
					// 	outline-width: 1px;
					// 	outline-color: #000;
					// 	outline-style: solid;
					// }

					.popup_bottom {
						.btn_area {
							&.between {
								justify-content: space-between;
		
								.hd_btn {
									flex: none;
								}
							}
						}
					}

					.popup_cont {
						padding: 0;
					}
				}
			}
		}
		
		// 관리자 등록 배너
		.register_bann {
			position: relative;
			text-align: center;
		
			.swiper {
				width: 100%;
				border-radius: var(--radius-large2) var(--radius-large2) 0 0;
		
				.swiper-wrapper {
					.swiper-slide {
						img {
							vertical-align: top;
							width: 100%;
							height: 100%;
						}

						> a {
							display: block;
							&:focus-visible {
								border-radius: var(--radius-large2) var(--radius-large2) 0 0;
							}
						}
					}
				}

				&.swiper-initialized {
					& + .swiper_control {
						display: block;
					}	
				}
			}
		
			.swiper_control {
				display: none;
				position: absolute;
				left: 50%;
				transform: translateX(-50%);
				bottom: 16px;
				z-index: 10;
				padding: 0 24px;

				.c_inner {
					display: flex;
					align-items: center;
				}
		
				.pop_pager {
					position: relative;
					width: auto;
					left: auto;
					top: auto;
					bottom: auto;
					padding: var(--padding-3);
					display: flex;
					gap: var(--gap-2);
		
					&.sp_ty1 {
						.swiper-pagination-bullet {
							margin: 0;
						}
					}
				}
		
				.swiper_button {
					position: absolute;
					width: 24px;
					height: 24px;
					top: 50%;
					transform: translateY(-50%);
					background-color: transparent;
					background-size: 16px;
		
					&.swiper_button_left {
						left: 0;
					}
					&.swiper_button_right {
						right: 0;
					}
				}
		
				.swiper-button-play-pause {
					width: 24px;
					height: 24px;
					font-size: 0;
					background: url(../images/icon/icon_stop.svg) no-repeat center / 16px;
		
					&.active {
						background-image: url(../images/icon/icon_play.svg);
					}
				}
			}
		}

		.popup_container {
			align-items: center;
			width: 440px;

			.popup_inner {
				max-height: calc(100% - 20px);
				height: auto;
			
				// 버튼 없을 시
				&:not(:has(.popup_bottom)){
					padding-bottom: 32px;
				}

				.popup_head {
					margin-bottom: var(--gap-2);

					.popup_head_title {
						padding-right: 40px;
					}
				}
				.popup_cont {
					padding-top: 0;
					.bottom_fix_notice {
						padding-top: 32px;
					}

					.pl_txt1 {
						text-align: center;
						&.txt_left {
							text-align: left;
						}
					}

				}
				.popup_bottom {
					.btn_area {
						.hd_btn {
							flex: 1;
						}

						&.column {
							.hd_btn {
								width: 100%
							}
						}
					}
				}

				.popup_cont > .popup_content {
					flex: 1;
					> .call_box:first-child {
						margin-top: 0;
					}
					.info_icon {
						color: var(--color-text-information);
						font-size: var(--font-size-body-xsmall);
						line-height: 18px;
						text-align: center;
					}

					p {
						&.bpop_sub_title {
							font-size: var(--font-size-body-medium);
							& + * {
								margin-top: var(--gap-5) !important;
							}
						}
					}

					> * {
						&:first-child {
							&.info_gray {
								margin-top: -4px;
							}
						}
					}

					.info_gray {
						.badge_wrap + dl {
							margin-top: var(--gap-4);
						}
					}

					.list_ty2 + .reward_img_area.ty2 {
						margin-top: 32px;
					}

					.pop_title_h1 {
						& + * {
							margin-top: var(--gap-5);
						}
					}
				}
			}

			.info_text { 
				& + .call_box {
					margin-top: var(--gap-5);
				}
			}
		}

		.info_gray {
			& + ul {
				margin-top: var(--gap-5);
			}

			& + .reward_img_area {
				margin-top: var(--gap-8);
				display:flex;
				justify-content: center;
				align-items: center;

				img {
					height:72px;
					width: auto;
				}
				

				& + ul {
					margin-top: var(--gap-5);
				}

				&.ty2 {
					margin-top: var(--gap-5);
				}
			}
		}

		.p_benefit_info {
			.title_h3 {
				text-align: center;
				+ .title_h4 {
					margin-top: var(--gap-8);
				}
			}
			.title_h4 {
				+ .sub_text {
					padding-top: 12px;
				}
			}
			
			+ .info_gray {
				margin-top: var(--gap-8);
			}

		}

	}
	
	&.bn_ty {
		.popup_container {
			.popup_inner {
				border-radius: var(--radius-large2) var(--radius-large2);
				padding: 0 !important;
				.popup_cont {
					border-radius: var(--radius-large2) var(--radius-large2) 0 0;
					overflow: hidden;
					padding: 0;
					.popup_content {
						a,
						img {
							
							display: block;
							width: 100%;
						}

					}
				}
				.popup_bottom {
					padding: var(--padding-6) var(--padding-8);
					.btn_area {
						&.end {
							justify-content: end;
							.hd_btn {
								flex-basis: auto;
								flex: none;
								min-width: 60px;
							}
						}
					}
				}
			}
		}
	}
}


// 변경할 가입조건 선택 팝업
.popup_wrap.popup_wrap_type3 {
	.title_h4.space1 {
		margin-bottom:16px;
	}
	.form_group_wrap {
		& + .title_h4.space1 {
			margin-top: 40px;
		}
	}
}
