/* Popup */
// .scroll_lock {
// 	height: 100%;
// 	overflow: hidden;
// }

body:has(.header_pc.header_pc_nd),
body:has(.header_pc.header_pc_error) {
	.popup_wrap {
		padding: 80px 0;
	}
}



.popup_wrap {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
	display: block;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.7);
	visibility: hidden;
	opacity: 0;
	transition: all 0.3s;
	pointer-events: none;
	padding: 130px 0;

	&.close_exp {
		.popup_close {
			display: none;
		}
	}

	&.active {
		visibility: visible;
		opacity: 1;
		pointer-events: auto;

		.popup_container {
			transform: none;
		}
	}

	/* 전체메뉴 검색 팝업 zindex 1500 */
	&.menu_search_popup {
		z-index: 1500;
	}
	/* 전체메뉴 검색 팝업 zindex 1500 */

	// &.popup_wrap_type3,
	// &.popup_wrap_type4  {
	// 	.popup_head:not( div.popup_head_title) {
	// 		+ .popup_cont {
	// 			padding-top: 0;
	// 		}
	// 	}
	// }
	// Button
	&:has(.hd_btn){
		.btn_area:not(.basic) {
			.btn_link,
			.hd_btn {
				flex: 1;
			}
		}
	}
	//팝업 탭 스티키일 경우
	.sticky_fix {
		z-index: 11;
	}

	.popup_container {
		// position: relative;
		display: flex;
		align-items: center;
		width: 100%;
		height: 100%;
		margin: 0 auto;

		.popup_dim {
			display: none;
			position: absolute;
			// position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			width: 100vw;
			height: 100vh;
			// transform: translate(-50%, -50%);
			// background-color: rgba(0, 0, 0, 0.7);
		}

		.popup_inner {
			position: relative;
			display: flex;
			flex-direction: column;
			width: 100%;
			// height: 100%;
			max-height: 100%;
			// padding: 0 24px;
			background-color: var(--color-background-white);
			box-sizing: border-box;
			padding-bottom: 8px;
			border-radius: var(--radius-xlarge2);

			&:not(:has(.popup_close)):not(:has(.popup_head_title)){
				.popup_head {
					min-height: auto;
				}
			}

			.popup_head {
				min-height: 64px;
				padding: var(--padding-7) var(--padding-7) var(--padding-6) var(--padding-8);
				font-size: var(--font-size-heading-small);
				line-height: 150%;
				font-weight: 700;
				color: var(--color-text-bolder);

				small {
					font-weight: 400;
					font-size:inherit;
				}
			}

			.popup_cont {
				display: flex;
				flex-direction: column;
				flex: 1;
				padding: var(--padding-6) var(--padding-8) var(--padding-5);
				font-size: var(--font-size-body-small);
				overflow-y: auto;


				// 직업검색
				&.search_list_type2 {
					padding-top: 0;
					overflow-y: auto !important;
					.tab_wrap {
						margin: 0 -24px;
						position: static;
					}
				}
				 
				.no_list_area {
					.btn_area {
						&.center {
							.hd_btn {
								flex: 0 1 auto;
							}
						}
					}
				}
				// 변경할 가입조건 선택 팝업
				p.bpop_sub_title {
					font-size: var(--font-size-body-medium);
					& + .form_group_wrap {
						margin-top: var(--gap-5);
					}
				}

				.form_group_wrap + .title_h4 {
					margin: 40px 0 16px;
				}
				// 큰글씨 없는 약관 Case(border있는)
				.ag_group_wrap {
					&:not(&:has(.ag_group_top, .ag_group_cont)){
						padding: var(--padding-8) var(--padding-7);
					}
				}
				
				.popup_content {
					flex: 1;
					.popup_content_top {

						& + * {
							margin-top: var(--gap-8);
						}
						& + .card_item_wrap,
						// & + .info_gray,
						& + .ag_groups {
							margin-top: var(--gap-5);
						}
						& + .bottom_fix_notice {
							margin-top: 0;
						}

						& + .bg_area {
							&.sticky_fix {
								top: -16px;
							}

							& + .tab_wrap {
								margin-top: var(--gap-8);
							}
						}

						+ .info_gray {
							+ .text_sub {
								margin-top: var(--gap-8);
							}
						}
						.title_h2 {
							+ .sub_text,
							& + .btn_area.basic {
								margin-top: var(--gap-3);
							}
						}

						small {
							font-size: inherit;
							font-weight: 400;
						}
						&.txt_center {
							.status_icon {
								margin-bottom: var(--gap-5)
							}

							& + .text_sub {
								margin-top: var(--gap-5);
							}
						}
					}

					.list_ty3 + .title_h4 {
						margin-top: var(--gap-9);
					}
					.title_h3 + .text_sub {
						margin-top: var(--gap-8);
					}

					.tab_wrap {
						.tab_wrap_list_ty1 {
							margin: 0 -24px;
						}
					}
					.bottom_fix_notice {
						padding-top: var(--gap-11);
						&.etc01 {
							padding-top: 32px;
						}
					}
					.file_upload_wrap {
						.file_attach_box {
							display: block;
							margin: 0 auto;
						}

						.file_info_box {
							flex: auto;
							& + .file_attach_box {
								margin-top: var(--gap-5);
							}
						}
					}
					.file_attach_box {
						.file_thumbnail {
							height: 180px;
						}
					}
	
					.text_sub {
						& + .file_attach_box {
							margin-top: var(--gap-5);
						}
					}
					.call_box {
						& + .radio_group_wrap {
							margin-top: var(--gap-8);
						}
					}
				}

				.list_ty2 + .popup_content_top {
					margin-top: var(--gap-11);
				}
				.popup_content.ty2 {

					.popup_content_top {
						.title_h3 {
							font-weight: 400;
						}
					}

					.text_sub {
						margin-top:var(--gap-8);

						&.txt_center {
							margin-top:var(--gap-5);
							text-align: center;
						}
					}
				}

				.popup_content + .acd_info_box{
					margin-top: var(--gap-7);
				}

				.etc_area_ty1 {
					display: flex;
					flex-direction: column;
					gap: var(--gap-5);
					align-items: center;
					margin-top: var(--gap-11);

					.etc_title {
						font-size: var(--font-size-body-medium);
					}
				}
				
				.bg_top_cover {
					margin: 0;
					padding: 0;
					background: transparent;
					.info_gray {
						& + .form_group_wrap {
							margin-top: var(--gap-5);
						}
					}
					& + .opt_select_list {
						margin-top: var(--gap-8);
					}
				}
				.pop_top {
					&.sticky_fix {
						padding: 0 var(--padding-8) var(--padding-6);
						margin: 0 -24px;
					}
				}

				&.pts_cont {
					padding: 0;
				}
			}

			.popup_bottom {
				padding: var(--padding-5) var(--padding-8) var(--padding-6);

				.bottom_fix_wrap {
					margin: 0 -8px -8px;
					padding: 0;
					display: flex;
					min-height: 72px;
					padding: 16px 24px;
					justify-content: space-between;
					align-items: center;
					background-color: var(--color-background-white);
					box-shadow: 0px -4px 8px 0px rgba(0, 0, 0, 0.05);

					> * {
						flex: 1;
					}
					
				}

				.btn_area {
					flex-flow: row wrap;
					align-items: center;
					justify-content: center;
					
					&:has(.hd_btn_s_1) {
						gap: var(--gap-4) var(--gap-3);
					}

					&.column {
						flex-direction: column;
						
						&:has(.hd_btn_s_1){
							gap: var(--gap-4);
						}
					}

					&.space_between {
						justify-content: space-between;

						> .inp_checkbox {
							flex: 0 0 auto;
						}
					}
					
					& + .btn_area {
						margin-top: 28px;
					}
				
					.hd_btn {
						flex: 0 0 auto;
						min-width: 160px;

						> .text {
							white-space: nowrap;
						}
					}

					&.between {
						.hd_btn {
							flex:none;
							min-width: auto;
						}
					}

					.inp_checkbox {
						& + .hd_btn_s_4 {
							min-width: 64px;
						}
					}

					& + .btn_area {
						margin-top: var(--padding-9);
					}
				}
			}

			> .popup_close {
				position: absolute;
				top: 18px;
				right: 20px;
				width: 32px;
				height: 32px;
				background: url(../images/icon/close_ty1.svg) no-repeat center / 32px auto;
			}

			> .popup_setting {
				position: absolute;
				top: 18px;
				right: 60px;
				width: 32px;
				height: 32px;
				background: url(../images/icon/icon_setting.svg) no-repeat center / 32px auto;
			}

			.pl_txt1 {
				font-size: var(--font-size-body-medium);
				& + .list_ty1,
				& + .list_ty4 {
					margin-top: var(--gap-5);
				}
				& + .info_cont {
					margin-top: var(--gap-8);
				}
				+ .pl_txt1 {
					margin-top: var(--gap-4);
				}
			}
			.list_ty4 {
				& + .pl_txt1 {
					margin-top: var(--gap-5);
				}
				li {
					text-align: left;
				}
			}

			.pl_txt2 {
				font-size: var(--font-size-body-medium);
				text-align: center;
				& + .info_cont {
					margin-top: var(--gap-8);
				}
			}
			.pl_ico_ty_case1 {
				background-image: url(../images/icon/icon_exclamation_confirm.svg);
			}
		}
	}

	// 조건별 여백 추가 설정
	.card_item_wrap {
		.card_item {
			.item_top {
				.title_info {
					.main_title {
						&.tooltip_add {
							.tooltip_wrap {
								.tooltip_panel {
									width: calc(100vw - 86px);
								}
							}
						}
					}
				}
			}
		}
	}
}

/* 달력 팝업의 경우 팝업에서 호출되는 경우 가운데 정렬 */
.popup_wrap {
	#ui-datepicker-div {
		transform: translate(-50%, -50%);
	}
}
/* 달력 팝업의 경우 팝업에서 호출되는 경우 가운데 정렬 */


/* bottom popup 스타일 아코디언 */
.baad_c {
	position: relative;
	// height: 32px;

	&.active {
		.baad_c_cont {
			background: var(--color-surface-white-subtler);
		}
	}
}

.baad_c_top {
	flex: none;

	.baad_c_btn {
		position: relative;
		
		&.baad_c_btn_type1 {
			display: block;
			width: 100%;
			height: 32px;
			.text {
				font-size: 0;
			}
			&::after {
				content: '';
				position: absolute;
				top: 50%;
				right: 4px;
				width: 24px;
				height: 24px;
				border-radius: var(--radius-max);
				border: var(--border-width-static-regular) solid var(--color-button-icon-fill-border);
				background: var(--color-button-tertiary-fill-active) url(../images/icon/icon_dynamic_close.svg) no-repeat center / 12px auto;				transform: translateY(-50%);
			}
		}
	}

	&.active {
		.baad_c_btn {
			&.baad_c_btn_type1 {
				&:after {
					transform: translateY(-50%) rotate(180deg);
				}
			}
		}
	}
}

.baad_c_cont {
	position: relative;
	border-radius: var(--radius-large2);
	overflow: hidden;
	z-index: 100;

	.in_cont {
		height: 100%;
		background: var(--color-surface-white-subtle);

		.bann_img_box {
			a {
				display: block;

				img {
					vertical-align: top;
				}
			}
		}
	}
	.in_bottom {
		margin-bottom: var(--gap-8);
		padding: var(--padding-5) var(--padding-8) var(--padding-6);
		border: var(--border-width-static-regular) solid var(--color-border-information-light);
		border-top: none;
		border-radius: 0 0 var(--radius-large2) var(--radius-large2);
		background: var(--color-surface-white-subtle);
	}
}
/* bottom popup 스타일 아코디언 */