/* Popup */
.scroll_lock {
	overflow: hidden;
}

.popup_wrap {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
	display: block;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.7);
	visibility: hidden;
	opacity: 0;
	transition: all 0.3s;
	pointer-events: none;

	&.active {
		visibility: visible;
		opacity: 1;
		pointer-events: auto;
	}

	/* 전체메뉴 검색 팝업 zindex 1500 */
	&.menu_search_popup {
		z-index: 1500;
	}
	/* 전체메뉴 검색 팝업 zindex 1500 */

	.popup_container {
		display: flex;
		align-items: center;
		width: 100%;
		height: 100%;
		margin: 0 auto;
		position: relative;

		.popup_dim {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			// background-color: rgba(0, 0, 0, 0.7);
		}

		.popup_inner {
			position: relative;
			display: flex;
			flex-direction: column;
			width: 100%;
			height: 100%;
			// padding: 0 24px;
			background-color: #fff;
			box-sizing: border-box;

			.popup_head {
				min-height: 52px;
				padding: var(--padding-6) var(--padding-8);
				padding: var(--padding-7) var(--padding-7) var(--padding-6) var(--padding-8);
				font-size: var(--font-size-heading-small);
				line-height: 150%;
				font-weight: 700;
				color: var(--color-text-bolder);

				display: flex;
				height: var(--size-height-9, 64px);
				padding: var(--padding-7, 20px) var(--padding-7, 20px) var(--padding-6, 16px) var(--padding-8, 24px);
				align-items: center;
				gap: var(--gap-5, 16px);
				align-self: stretch;

				small {
					font-weight: 400;
					font-size:inherit;
				}
			}

			.popup_cont {
				overflow-y: auto;
				display: flex;
				flex-direction: column;
				flex: 1;
				padding: var(--padding-6) var(--padding-8) var(--padding-5);
				font-size: 14px;
				// transition: all .3s ease;

				.popup_content {
					flex: 1;
					// padding-bottom: 24px;

					> *:first-child {
						&.tab_wrap {
							margin-top: -16px;
						}
					}

					.popup_content_top {

						& + * {
							margin-top: var(--gap-8);
						}
						& + .card_item_wrap,
						& + .info_gray,
						& + .ag_groups {
							margin-top: var(--gap-5);
						}
						& + .bottom_fix_notice {
							margin-top: 0;
						}
						& + .zoom_wrap {
							margin-top: var(--gap-3);
						}

						& + .bg_area {
							&.sticky_fix {
								// top: -32px;
								top: -16px;
							}

							& + .tab_wrap {
								margin-top: var(--gap-8);
							}
						}

						.title_h2 + .btn_area.basic {
							margin-top: var(--gap-3);
						}

						small {
							font-size: inherit;
							font-weight: 400;
						}
					}

					.list_ty3 + .title_h4 {
						// margin-top: var(--gap-8);
						margin-top: var(--gap-9);
					}
				}

				.popup_content.ty2 {

					.popup_content_top {
						.title_h3 {
							font-weight: 400;
						}
					}

					.text_sub {
						margin-top:var(--gap-8);
					}
				}

				.popup_content + .acd_info_box{
					margin-top: var(--gap-7);
				}

				.etc_area_ty1 {
					display: flex;
					flex-direction: column;
					gap: var(--gap-5);
					align-items: center;
					margin-top: var(--gap-11);

					.etc_title {
						font-size: var(--font-size-body-medium);
					}
				}
				.pop_top {
					&.sticky_fix {
						padding: 0 var(--padding-8) var(--padding-6);
						// padding: 16px 0;
						margin: -16px -24px 0;
						top: -16px;
						.info_gray {
							// margin:0 var(--padding-8);
						}

						& + * {
							margin-top: -16px;
						}
					}
				}
			}

			.popup_bottom {
				padding: var(--gap-4) var(--gap-layout-contents-margin) var(--gap-5) var(--gap-layout-contents-margin);

				.bottom_fix_wrap {
					margin: 0 -8px -8px;
					padding: 0;
					display: flex;
					min-height: 72px;
					padding: 16px 24px;
					justify-content: space-between;
					align-items: center;
					background-color: #fff;
					box-shadow: 0px -4px 8px 0px rgba(0, 0, 0, 0.05);

					> * {
						flex: 1;
					}
					
				}

				.btn_area {
					flex-flow: row wrap;

					&.column {
						flex-direction: column;
					}
					
					& + .btn_area {
						margin-top: 28px;
					}
				
					.hd_btn {
						flex: 1 0 auto;
						min-width: calc(50% - 5px);

						> .text {
							white-space: nowrap;
						}
					}

					&.between {
						.hd_btn {
							flex:none;
							min-width: auto;
						}
					}
				}
			}

			> .popup_close {
				position: absolute;
				top: 22px;
				right: 24px;
				width: 24px;
				height: 24px;
				background: url(../images/icon/close_ty1.svg) no-repeat center / 24px auto;
			}

			.pl_txt1 {
				font-size: var(--font-size-body-medium);
				& + .list_ty1,
				& + .list_ty4 {
					margin-top: var(--gap-5);
				}
				& + .info_cont {
					margin-top: var(--gap-8);
				}
				+ .pl_txt1 {
					margin-top: var(--gap-4);
				}
			}

			.pl_txt2 {
				font-size: var(--font-size-body-medium);
				text-align: center;
				& + .info_cont {
					margin-top: var(--gap-8);
				}
			}
		}
	}

	.draggable {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 20px;
		margin: 0 -20px;
		background-color: #ddd;
		// cursor: move;
		opacity: 0;

		.move {
			width: 50px;
			height: 5px;
			margin: 10px auto;
			background-color: #aaa;
			font-size: 0;
			clip: rect(0, 0, 0, 0);
			text-align: center;
			border-radius: 10px;
		}
	}


	// 조건별 여백 추가 설정
	.card_item_wrap {
		.card_item {
			.item_top {
				.title_info {
					.main_title {
						&.tooltip_add {
							.tooltip_wrap {
								.tooltip_panel {
									width: calc(100vw - 86px);
								}
							}
						}
					}
				}
			}
		}
	}


}
