//layer popup
.popup_wrap {
	&.layer {
		&.active {
			.popup_container {
				opacity: 1;
				transition: opacity .4S ease;
			}
		}

		.popup_container {
			padding: 20px;
			opacity: 0;

			.popup_inner {
				height: auto;
				max-height: 100%;
			}
		}
	}
}