// bottom popup
.popup_wrap {
	&.popup_wrap_type3 {
		&.active {
			// padding-top: 40px;
			.popup_container {
				transform: translateY(0);

				.popup_inner {
					.popup_close {
						top: 20px;
						right: 24px;
					}
				}
			}
		}

		.popup_container {
			// align-items: flex-end;
			align-items: center;
			width: 440px;
			// transform: translateY(100%);
			// transition-duration: 0.3s;

			.popup_inner {
				// max-height: 85%;
				max-height: calc(100% - 20px);
				height: auto;

				.popup_head {
					// flex:none;
					// min-height: 43px;
					// margin-bottom: var(--gap-2);
					// padding: 0 var(--padding-8) var(--padding-6);
					// padding-top: var(--padding-7);

					.popup_head_title {
						padding-right: 40px;
					}
				}
				.popup_cont {
					// padding: 4px 24px 12px;
					// padding: 0px var(--gap-7) var(--gap-4);
					// margin-top: var(--gap-2);
					padding-top: var(--padding-2);

					.bottom_fix_notice {
						padding-top: 32px;
					}
				}
				.popup_bottom {
					.btn_area {
						.hd_btn {
							flex: 1;
						}
					}
				}

				// .popup_bottom {
				// 	padding: var(--gap-4) 0 var(--gap-5) 0;
				// }

				.popup_cont > .popup_content {
					flex: 1;
					// padding-bottom: 12px;
					
					.info_icon {
						color: var(--color-text-information);
						font-size: var(--font-size-body-xsmall);
						line-height: 18px;
						text-align: center;
					}

					p {
						// font-size: var(--font-size-body-medium);
						
						&.bpop_sub_title {
							font-size: var(--font-size-body-medium);
							& + * {
								margin-top: 16px !important;
							}
						}
					}

					> * {
						&:first-child {
							&.info_gray {
								margin-top: -4px;
							}
						}
					}

					.info_gray {
						.badge_wrap + dl {
							margin-top: var(--gap-4);
						}
					}

					.list_ty2 + .reward_img_area.ty2 {
						margin-top: 32px;
					}

					.pop_title_h1 {
						& + * {
							margin-top: var(--gap-5);
						}
					}
				}
			}

			.info_text { 
				& + .call_box {
					margin-top: var(--gap-5);
				}
			}
		}

		.info_gray {
			& + ul {
				margin-top: var(--gap-5);
			}

			& + .reward_img_area {
				margin-top: var(--gap-8);
				display:flex;
				justify-content: center;
				align-items: center;

				img {
					height:72px;
					width: auto;
				}
				

				& + ul {
					margin-top: var(--gap-5);
				}

				&.ty2 {
					margin-top: var(--gap-5);
				}
			}
		}

		.p_benefit_info {
			.title_h3 {
				text-align: center;
				+ .title_h4 {
					margin-top: var(--gap-8);
				}
			}
			.title_h4 {
				+ .sub_text {
					padding-top: 12px;
				}
			}
			
			+ .info_gray {
				margin-top: var(--gap-8);
			}

		}

	}
}

