// full popup
.popup_wrap {
	&.popup_wrap_type4 {
		&.big {
			.popup_container {
				width: 900px;
			}
		}
		&.hei_full {
			padding: 0;
			.popup_inner {
				max-height: 795px;
			}
		}
		&.active {
			.popup_container {
				// transform: translateX(0);
			}
		}
			
		// 버튼 없을 시
		// &:not(.popup_bottom){
		// 	.popup_container {
		// 		.popup_inner {
		// 			.popup_cont {
		// 				padding-bottom: 32px;
		// 			}
		// 		}
		// 	}
		// }

		/* iframe 대응용 */
		&.iframe_custom_pc {
			> .popup_container  {
				display: block;
				> .popup_inner {
					display: block;
					height: 100%;
					padding-bottom: var(--padding-6);
					&:not(:has(.popup_bottom)) {
						padding-bottom: var(--padding-6);
					}
					> .pop_cont {
						display: block;
						height: 100%;
						// padding-top: 64px;
					}
				}
			}
		}
		/* iframe 대응용 */

		.popup_container {
			align-items: center;
			width: 600px;

			.popup_inner {

				padding-bottom: var(--padding-6);
			
				// 버튼 없을 시
				&:not(:has(.popup_bottom)){
					padding-bottom: 32px;
				}

				// rd viewer
				&:has(.load_cont_ty2, .ty_full){
					width: 100%;
					height: 100%;
				}
				&:not(:has(.load_cont, .load_cont_ty2)) {
					.popup_head {
						margin-bottom: var(--gap-5);
					}
				}

				.popup_head {
					.popup_head_title {
						padding-right: 40px;
					}
				}
				
				.popup_cont {
					height: auto;
					padding-top: 0;
					padding-bottom: 0;

					&.load_cont {
						overflow: hidden;
						padding: 0;
					}
					&.load_cont_ty2{
						overflow: hidden;
						.popup_content {
							padding-bottom: 0;
						}
					}
					&.pts_cont {
						padding: 0;
					}

					.popup_content {
						padding-bottom: var(--padding-12);
						&.popup_content_qr {
							padding-bottom: var(--padding-8);
						}
					}
				}
			}
		}

		.info_gray.ty2  {
			& + .call_box  {
				margin-top: var(--gap-11);
			}
		}






	}
}
.iframe_cont {
	padding: var(--padding-6) var(--padding-8) var(--padding-5);
}