// full popup
.popup_wrap {
	&.full {
		&.active {
			.popup_container {
				transform: translateX(0);
			}
		}
	
		.popup_container {
			transform: translateX(100%);
			transition: transform .4s ease;
		}
	}
}