//layer popup
.popup_wrap {
	&.popup_wrap_type1 {
		&.active {
			.popup_container {
				opacity: 1;
				transition: opacity .3S ease;
			}
		}

		.popup_container {
			padding: 40px 48px;
			opacity: 0;

			.popup_inner {
				height: auto;
				max-height: 100%;
				border-radius: var(--radius-large2);
				.popup_cont {
					padding: var(--gap-4) var(--number-10) var(--padding-6) var(--number-10);
				}

				

				// 


			}
		}
	}
}