/* popup */
.popup_wrap {
	padding: 80px 0;
	.popup_container {
		.popup_inner {
			padding-bottom: var(--padding-6);
			.popup_cont {
				.tab_wrap {
					.tab_wrap_list_ty1 {
						margin: 0 -24px;
					}
				}
			}
			.popup_bottom {
				padding: var(--padding-5) var(--padding-8) var(--padding-6);
				.btn_area {
					justify-content: center;
					.hd_btn {
						flex: 0 0 auto;
						min-width: 160px;
					}
				}
			}
		}
	}

	&.active {
		.popup_container {
			transform: none;
		}
	}

	&.full {
		.popup_container {
			align-items: center;
			// width: 734px;
			width: 600px;
			transform: none;
			
			.popup_inner {
				border-radius: var(--radius-xlarge2);
			}
		}
	}
	&.bottom {
		.popup_container {
			align-items: center;
			width: 440px;
			transform: none;

			.popup_inner {
				border-radius: var(--radius-xlarge2);
				.popup_head {
					padding-top: var(--padding-7);
				}
				.popup_bottom {
					.btn_area {
						.hd_btn {
							flex: 1;
						}
					}
				}
			}
		}
	}
	&.layer {
		.popup_container {
			transform: none;

			.popup_inner {
			}
		}
	}
	&.confirm {
		.popup_container {
			.popup_inner {
				width: 440px;
			}
		}
	}
	&.full,
	&.bottom,
	&.layer,
	&.confirm {
		&.active {
			.popup_container {
				.popup_inner {
					.popup_head {
						min-height: 64px;
						padding: var(--padding-7) var(--padding-7) var(--padding-6) var(--padding-8);
					}
					.popup_close {
						top: 18px;
						right: 16px;
						width: 32px;
						height: 32px;
					}
				}
			}
		}
	}
}