//layer popup
.popup_wrap {
	&.popup_wrap_type1 {
		&.active {
			.popup_container {
				opacity: 1;
				transition: opacity .3S ease;
			}
		}

		.popup_container {
			transform: none;
			width: 440px;
			// padding: 40px 48px;
			opacity: 0;

			.popup_inner {
				height: auto;
				max-height: 100%;
				padding-bottom: 0;
				border-radius: var(--radius-large2);
				&:has(.msg_icon.mi_info) {
					.popup_head:not(.popup_head.msg_has_title) {
						min-height: 40px;
						padding-bottom: 0;
					}
				}

				& > .popup_close {
					top: 12px;
					right: 16px;
				}

				.popup_head {
					min-height: 56px;
					padding: 15px var(--padding-6) 14px;
				}
				
				.popup_cont {
					padding-top: var(--padding-5);
					padding-bottom: var(--padding-6);
					text-align: center;

					.pl_msg_top {
						font-size: var(--font-size-heading-small);
						+ .info_text {
							margin-top: var(--gap-5);
						}
					}

					.pl_txt1 {
						text-align: center;
						&.txt_left {
							text-align: left;
						}
					}

					.info_text {
						text-align: center;
						& + .list_ty2 {
							margin-top: var(--gap-5);
						}
						[class^="list_"] {
							li {
								text-align: left;
							}
						}
						.list_ty3 {
							+ .pl_txt1 {
								margin-top: var(--gap-5);
							}
						}
					}
					

					.info_confirm {
						padding-top: 48px;
						background: url(../images/icon/icon_exclamation.svg) no-repeat top center / 32px auto;

						strong {
							font-size: var(--font-size-heading-small);

							&+.info_text {
								margin-top: var(--gap-5);
							}
						}
					}

					.info_text {
						&+.list_ty2 {
							margin-top: var(--gap-5);
						}
					}
					.list_ty2,
					.list_depth {
						> li {
							padding: 0;
							&::before {
								display: inline-block;
								position: static;
								margin-right: 4px;
							}
						}
					}
					.list_depth {
						> li {
							&::before {
								transform: translateY(-100%);
							}
						}
					}
				}

				.popup_bottom {
					.btn_area {
						.hd_btn {
							flex: 1;
							 min-width: auto;
						}
					}
				}
			}

			.pl_msg_top {
				font-size: var(--font-size-heading-small);
			}

			.info_text {
				text-align: center;
			}
	
			.info_confirm {
				padding-top: 48px;
				background: url(../images/icon/icon_exclamation.svg) no-repeat top center / 32px auto;
	
				strong {
					font-size: var(--font-size-heading-small);
	
					&+.info_text {
						margin-top: var(--gap-5);
					}
				}
			}
		}
	}
}