.toast_wrap {
	position: fixed;
	bottom: 0;
	width: 100%;
	padding: 10px;
	visibility: hidden;
	opacity:0;
	transition: all .3s ease-in;
	z-index: 1001;
	&.active {
		visibility: visible;
		opacity:1;
	}

	.toast_msg {
		display: block;
		padding: var(--padding-4) var(--padding-6);
		font-size: var(--font-size-label-medium);
		color: var(--color-text-basic-inverse);
		text-align: center;
		border-radius: var(--radius-medium4);
		background-color: var(--color-element-gray-darker);
	}
}