/* html {
	font-size: 10px;
} */

.guide_body {
	height: auto;
	overflow: initial;
	padding: 20px 24px 100px 24px;
	font-size: var(--font-size-body-medium);
}
/* .guide_wrap {
	padding: 20px 20px 100px 20px;
} */

.guide_wrap .wrap {
	/* overflow: auto; */
}

.guide_h1 {
	margin-bottom: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	font-weight: 700;
	font-size: 24px;
	border-top: 4px dashed green;
	border-bottom: 4px dashed green;
}
.guide_h1 ~ .guide_h1 {
	margin-top: 80px;
}
.guide_h1::before {
	content: "/* ";
	color: green;
}
.guide_h1::after {
	content: " */";
	color: green;
}
.guide_h1 + .guide_h4 {
	margin-top: 20px !important;
}

.guide_h4 {
	position: relative;
	margin: 20px 0;
	padding: 10px;
	font-weight: bold;
	font-size: 18px;
	border-top: 1px solid #000;
	border-bottom: 3px solid #000;
}
.guide_h4 ~ .guide_h4 {
	margin-top: 60px;
}

.guide_dark_wrap {
	display: flex;
	flex-flow: row wrap;
	gap: 12px;
	margin: 10px 0;
	padding: var(--padding-8);
	background-color: rgba(0, 0, 0, 0.3);
}

.guide_discription {
	position: relative;
	margin: 16px 0 10px 0;
	/* padding-left: 12px; */
	padding-bottom: 10px;
	font-size: var(--font-size-body-medium);
	line-height: 1.5;
	border-bottom: 1px solid #000;
}
/* .guide_discription::before {
	content: "";
	position: absolute;
	top: 12px;
	left: 0;
	width: 6px;
	border-bottom: 1px solid #000;
} */
.guide_discription ~ .guide_discription {
	margin-top: var(--gap-6);
}

.guide_discription dl {
	position: relative;
	padding-left: 20px;
}
.guide_discription dl::before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 10px;
	height: 100%;
	background-color: green;
}
.guide_discription dl ~ dl {
	margin-top: var(--gap-6);
}
.guide_discription dl dt {
	border-bottom: 1px solid #000;
}
.guide_discription dl dd {
	margin-top: 10px;
}

.guide_text_smp {
	font-size: var(--font-size-body-medium);
	line-height: 1.5;
}


.b_case {
	display: flex;
	flex-flow: row wrap;
	gap: var(--gap-3);
}
.b_case .bc_item {
	flex: none;
}

.g_flex_box {
	display: flex;
	flex-flow: row wrap;
	gap: var(--gap-3);
}
.g_flex_box + .g_flex_box {
	margin-top: var(--gap-6);
}


.guide_box {
	position: relative;
	width: 100%;
	height: 40px;
	background: #eee;
}