/* bg_list */
@import "contents/bg_list.scss";


/* smp1 */
@import 'contents/smp1.scss';

/* 기초정보 입력 */
@import 'contents/bi.scss';

/* 자동완성 */
@import 'contents/autocomplete.scss';


/* 자동차보험 - 고객정보 */
@import 'contents/MPRMTPS10002010000.scss';

/* 자동차보험 - 기본정보 */
@import 'contents/MPRMTPS10003010200.scss';
@import 'contents/MPRMTPS10003010000.scss';
@import 'contents/MPRMTPS10004000600.scss';

/* 자동차보험 - 자동차 상세정보 */
@import 'contents/MPRMTPS10004020500.scss';

/* 자동차보험 - 운전자정보 */
@import 'contents/MPRMTPS10005000000.scss';

/* 자동차보험 - 보험료 확인 */
@import 'contents/MPRMTPS10007000905.scss';

/* 자동차보험 - 입력정보 요약 */
@import 'contents/MPRMTPS10009000000.scss';

/* 운전자보험 - 보험료확인 */
@import 'contents/MPRLTDR10003000000.scss';


/* 청약 폼 */
@import 'contents/souscription.scss';

/* 운전자보험 - 보험료 결제 */
@import 'contents/MPRLTDR10008000000.scss';

/* 연금보험 */
@import 'contents/guarantee.scss';

/* 펫 */
@import 'contents/MPRGIPT30008000000.scss';



/* 이용안내 */
@import 'contents/opgu.scss';
/* 이용안내 */

/* 마이 */
@import 'contents/my.scss';
/* 마이 */

/* MY - 대출신청금액입력 */
@import 'contents/MMYLOAN10002010000.scss';

/* 보험진단 서비스 */
@import 'contents/MHOMYPG13005000000.scss';

/* 해외장기체류보험 - 실손의료보험 중지 및 환급 제도 */
@import 'contents/MPRGIPC50007050000.scss';

