<div class="breadcrumb">
	<div class="breadcrumb_inner">
		<ul class="breadcrumb_inner_list">
			<li><a href="#" class="bc_home">홈</a></li>
			<li><span>{{#if bc1}}{{bc1}}{{/if}}</span></li>
			<li><span>{{#if bc2}}{{bc2}}{{/if}}</span></li>
			<li><span>{{#if bc3}}{{bc3}}{{/if}}</span></li>
			<li><span>{{#if bc4}}{{bc4}}{{/if}}</span></li>
		</ul>
	</div>
</div>