<button type="button" class="btn btn_more_view">
	<span class="text">
		더보기 {{#if no_paging}}{{{no_paging}}}{{else}}<span class="counter"><strong class="btn_more_view_now">1</strong> / 2</span>{{/if}}
	</span>
</button>