{{!-- /**
 * @name : ?버튼
 * @description : ?버튼 컴포넌트
 * @property
 *  - pop_id : 팝업아이디
 *  - question_tit : 팝업 타이틀
 */
 --}}
<button type="button" class="question_mark_btn" aria-expanded="false"{{#if pop_id}} onclick="openHDPopup(this,'{{{pop_id}}}');"{{/if}}{{#if question_tit}} title="{{{question_tit}}} 팝업 오픈"{{/if}}>
  <i class="hd_icon {{#if question-icon}}{{{question-icon}}}RightSvg_ty4{{else}}popover_help{{/if}}"></i><span class="blind">도움말</span>
</button>