{{!-- /**
 * @name : 버튼
 * @description : 버튼 컴포넌트
 * @property
 *  - type : 버튼타입[1(default), 2(secondary), 3(tertiary)]
 *  - size : 버튼사이즈[1(CTA&primary), 2(lg), 3(md), 4(sm), 5(xs)]
 *  - leftIcon : 왼쪽 아이콘 설정 class
 *  - rightIcon : 오른쪽 아이콘 설정 class
 *  - disabled : 비활성화 여부
 */
 --}}
<button type="button" class="btn_sample {{#if type}}btn_ty_{{type}}{{/if}} {{#if size}}btn_s_{{size}}{{/if}}" {{#if disabled}}disabled{{/if}}>
{{#if leftIcon}}{{> cp/icon iconClass=leftIcon}}{{/if}}
<span class="text">{{> @partial-block }}</span>
{{#if rightIcon}}{{> cp/icon iconClass=rightIcon}}{{/if}}
</button>