<div class="calendar calendar_single">
	<div class="calendar_top">
		<button type="button" class="calendar_change_btn ccb_prev" title="이전 달"></button>
		<button type="button" class="calendar_change_btn ccb_next" title="다음 달"></button>
		<div class="calendar_title">
			<span class="calendar_title_dp calendar_year"><span class="text">2025</span>년</span>
			<span class="calendar_title_dp calendar_month"><span class="text">5</span>월</span>
		</div>
	</div>

	<div class="calendar_cont">
		<div class="calendar_tbl">
			<table>
				<caption class="blind">달력</caption>
				<thead>
					<tr>
						<th scope="col">일</th>
						<th scope="col">월</th>
						<th scope="col">화</th>
						<th scope="col">수</th>
						<th scope="col">목</th>
						<th scope="col">금</th>
						<th scope="col">토</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><button type="button" class="day_default" disabled><span class="text">27</span></button></td>
						<td><button type="button" class="day_default" disabled><span class="text">28</span></button></td>
						<td><button type="button" class="day_default" disabled><span class="text">29</span></button></td>
						<td><button type="button" class="day_default" disabled><span class="text">30</span></button></td>
						<td><button type="button" class="day_default"><span class="text">1</span></button></td>
						<td><button type="button" class="day_default"><span class="text">2</span></button></td>
						<td><button type="button" class="day_default"><span class="text">3</span></button></td>
					</tr>
					<tr>
						<td><button type="button" class="day_default"><span class="text">4</span></button></td>
						<td><button type="button" class="day_default"><span class="text">5</span></button></td>
						<td><button type="button" class="day_default day_today"><span class="text">6</span></button></td>
						<td><button type="button" class="day_default"><span class="text">7</span></button></td>
						<td><button type="button" class="day_default"><span class="text">8</span></button></td>
						<td><button type="button" class="day_default"><span class="text">9</span></button></td>
						<td><button type="button" class="day_default"><span class="text">10</span></button></td>
					</tr>
					<tr>
						<td><button type="button" class="day_default"><span class="text">11</span></button></td>
						<td><button type="button" class="day_default"><span class="text">12</span></button></td>
						<td><button type="button" class="day_default"><span class="text">13</span></button></td>
						<td><button type="button" class="day_default"><span class="text">14</span></button></td>
						<td><button type="button" class="day_default"><span class="text">15</span></button></td>
						<td><button type="button" class="day_default"><span class="text">16</span></button></td>
						<td><button type="button" class="day_default"><span class="text">17</span></button></td>
					</tr>
					<tr>
						<td><button type="button" class="day_default"><span class="text">18</span></button></td>
						<td><button type="button" class="day_default"><span class="text">19</span></button></td>
						<td><button type="button" class="day_default"><span class="text">20</span></button></td>
						<td><button type="button" class="day_default"><span class="text">21</span></button></td>
						<td><button type="button" class="day_default"><span class="text">22</span></button></td>
						<td><button type="button" class="day_default"><span class="text">23</span></button></td>
						<td><button type="button" class="day_default"><span class="text">24</span></button></td>
					</tr>
					<tr>
						<td><button type="button" class="day_default"><span class="text">25</span></button></td>
						<td><button type="button" class="day_default"><span class="text">26</span></button></td>
						<td><button type="button" class="day_default"><span class="text">27</span></button></td>
						<td><button type="button" class="day_default"><span class="text">28</span></button></td>
						<td><button type="button" class="day_default"><span class="text">29</span></button></td>
						<td><button type="button" class="day_default"><span class="text">30</span></button></td>
						<td><button type="button" class="day_default"><span class="text">31</span></button></td>
					</tr>
				</tbody>

				
			</table>
		</div>

	</div>

</div>



