{{!-- 
	id : id 배정
	labelname : label 배정
--}}
<div class="inp_checkbox">
	<input type="checkbox"
		id="{{id}}"
		{{#if name}}name="{{name}}"{{/if}}
		{{#if checked}}checked{{/if}}
		{{#if disabled}}disabled{{/if}}
	>
	<label for="{{id}}"><span>{{{labelname}}}</span></label>
</div>