{{#if cid}}
{{> cp/checkbox id=cid cb_title=sct }}
{{/if}}
{{#> cp/ibs_button class="short_cut2" btn-title="담보 안내 팝업 호출"  }}
{{#if sct}}
<span class="short_cut2_tit">{{sct}}</span>
{{/if}}
{{#if bdb}}
{{{bdb}}}
{{/if}}
{{#if cts}}
<small class="cont_text_sub">{{{cts}}}</small>
{{/if}}
{{/ cp/ibs_button}}