{{!-- /**
 * @name : icon
 * @description : icon 컴포넌트
 * @property
 *  - src : 이미지 경로
	- size : 아이콘 사이즈
 */
 --}}

{{!-- <span class="hd_icon {{#if size}}s_{{size}}{{/if}}" style="--iconSrc:url('../images/icon/outlined/24/download.svg')"></span> --}}
<span class="hd_icon {{#if size}}s_{{size}}{{/if}}" style="--iconSrc:url('{{src}}')"></span>