<div class="comp_wrap_keypad_call form_key{{#if kp-class}} {{kp-class}}{{/if}}" role="button" tabindex="0" title="{{kt}}"{{#if disabled}} aria-disabled="true"{{/if}}>
	<div class="pin_area{{#if case1}} default{{/if}}">
		{{#if case1}}
		뒷자리
		{{/if}}
		{{#if case2}}
		<strong class="ergAt dot_mark active"></strong>
		<strong class="ergAt dot_mark active"></strong>
		<strong class="ergAt dot_mark active"></strong>
		<strong class="ergAt dot_mark"></strong>
		<strong class="ergAt dot_mark"></strong>
		<strong class="ergAt dot_mark"></strong>
		<strong class="ergAt dot_mark"></strong>
		{{/if}}
		{{#if case3}}
		<strong class="ergAt dot_mark active"></strong>
		<strong class="ergAt dot_mark active"></strong>
		<strong class="ergAt dot_mark active"></strong>
		<strong class="ergAt dot_mark active"></strong>
		<strong class="ergAt dot_mark active"></strong>
		<strong class="ergAt dot_mark active"></strong>
		<strong class="ergAt dot_mark active"></strong>
		{{/if}}
		<input type="password" name="" id="" readonly="true" autocomplete="new-password" title="숫자 입력">
	</div>
</div>