<div class="comp_wrap_keypad_call form_key">
	<input type="password" name="" id="" title="주민등록번호 뒤 7자리 입력"{{#if placeholder}} placeholder="{{placeholder}}"{{/if}} maxlength="7">
	<span>
		<input type="checkbox" name="" id="k1">
		<label for="k1">마우스입력기사용</label>
	</span>
</div>


