<div class="pager_wrap">
	<div class="pager_cont">
		<button type="button" class="pager_btn first"><span class="blind">첫 페이지 이동</span></button>
		<button type="button" class="pager_btn prev">이전<span class="blind">페이지 이동</span></button>
		<div class="pager">
			<button type="button" class="number active"><span>1</span></button>
			<button type="button" class="number"><span>2</span></button>
			<button type="button" class="number"><span>3</span></button>
			<button type="button" class="number"><span>4</span></button>
			<button type="button" class="number"><span>5</span></button>
		</div>
		<button type="button" class="pager_btn next">다음<span class="blind">페이지 이동</span></button>
		<button type="button" class="pager_btn last"><span class="blind">마지막 페이지 이동</span></button>
	</div>
</div>