<div class="pager_wrap">
	<button type="button"><span class="blind">첫 페이지 이동</span></button>
	<button type="button"><span class="blind">이전 페이지 이동</span></button>
	<button type="button" class="active"><span>1</span></button>
	<button type="button"><span>2</span></button>
	<button type="button"><span>3</span></button>
	<button type="button"><span>4</span></button>
	<button type="button"><span>5</span></button>
	<button type="button"><span class="blind">다음 페이지 이동</span></button>
	<button type="button"><span class="blind">마지막 페이지 이동</span></button>
</div>