<!-- s: 사이드 패널 -->
<div class="side_panel">
	<div class="info_gray">
		<ol class="step_list step_car">
		<!-- 해당되는 단계까지 li에 active 클래스 추가 -->
			<li class="active">
				<!-- 고객정보 -->
				<dl>
					<dt class="title">1.고객정보</dt>
					<dd>
						<ul>
							<li class="person">
								이름
								<span>김*대</span>
							</li>
							<li class="birth">
								주민등록번호
								<span>900101-1******</span>
							</li>
						</ul>
					</dd>
				</dl>
				<button type="button" class="hd_btn hd_btn_ty_3 hd_btn_s_5 modify_top" title="고객정보 페이지로 이동">			
					<span class="text">수정</span>
					<i class="hd_icon resetSvg"></i>
				</button>
			</li>
			<li class="active">
				<!-- 차량정보 -->
				<!-- 입력진행 전 -->
				<!-- <dl>
					<dt class="title">2.차량정보</dt>
					<dd></dd>
				</dl> -->
				<!-- 입력진행 후 -->
				<!-- 현재 해당되는 케이스에서 active 클래스 추가, aria-expanded=true 되어야 함 -->
				<div class="acd_item acd_item_ty9">
					{{#> cp/accordion ac-title="2.차량정보"}}
						<dl class="dep_list">
							<dt class="car">차량선택</dt>
							<dd>
								<ul class="dep_list_sub">
									<li>
										차량번호: <span>구매예정</span>
									</li>
									<li>
										차량종류: <span>승용차</span>
									</li>
								</ul>
								<button type="button" class="modify_sub" title="차량선택 페이지로 이동">
									<span>수정</span>
								</button>
								<div class="info">차량을 선택 중이에요</div>
							</dd>
						</dl>
						<dl class="dep_list">
							<dt class="date">보험기간</dt>
							<dd>
								<ul class="dep_list_sub">
									<li>
										<span>2025.01.01~2026.01.01</span>
									</li>
								</ul>
								<button type="button" class="modify_sub" title="보험기간 페이지로 이동">
									<span>수정</span>
								</button>
								<div class="info">보험기간을 입력 중이에요</div>
							</dd>
						</dl>
						<dl class="dep_list">
							<dt class="car_info">차량정보입력</dt>
							<dd>
								<ul class="dep_list_sub">
									<li>
										제조사: <span>혼다</span>

										<button type="button" class="modify_sub" title="제조사 페이지로 이동">
											<span>수정</span>
										</button>
									</li>
									<li>
										모델명: <span>NBC110MCF</span>

										<button type="button" class="modify_sub" title="모델명 페이지로 이동">
											<span>수정</span>
										</button>
									</li>
									<li>
										배기량: <span>101cc~125cc, 4kw초과~11kw이하 - 소형2</span>

										<button type="button" class="modify_sub" title="배기량 페이지로 이동">
											<span>수정</span>
										</button>
									</li>
									<li>
										연식: <span>2025년</span>

										<button type="button" class="modify_sub" title="연식 페이지로 이동">
											<span>수정</span>
										</button>
									</li>
									<li>
										연료형태: <span>휘발유</span>

										<button type="button" class="modify_sub" title="연료형태 페이지로 이동">
											<span>수정</span>
										</button>
									</li>
								</ul>
								
								<div class="info">차량정보를 입력 중이에요</div>
							</dd>
						</dl>
						<dl class="dep_list">
							<dt class="maker">차량부품정보</dt>
							<dd>
								<ul class="dep_list_sub">
									<li>
										부품정보: <span>블랙박스</span>
									</li>
								</ul>
								<button type="button" class="modify_sub" title="차량부품정보 페이지로 이동">
									<span>수정</span>
								</button>
								<div class="info">차량부품정보를 입력 중이에요</div>
							</dd>
						</dl>
						<dl class="dep_list">
							<dt class="useful">사용용도</dt>
							<dd>
								<ul class="dep_list_sub">
									<li>
										<span>가정용/기타</span>
									</li>
								</ul>
								<button type="button" class="modify_sub" title="사용용도 페이지로 이동">
									<span>수정</span>
								</button>
								<div class="info">사용용도를 입력 중이에요</div>
							</dd>
						</dl>
					{{/ cp/accordion }}
				</div>
			</li>
			<li class="active">
				<!-- 운전자정보 -->
				<!-- 입력진행 전 -->
				<!-- <dl>
					<dt class="title">3.운전자정보</dt>
					<dd></dd>
				</dl> -->
				<!-- 입력진행 후 -->
				<!-- 현재 해당되는 케이스에서 active 클래스 추가, aria-expanded=true 되어야 함 -->
				<div class="acd_item acd_item_ty9">
					{{#> cp/accordion ac-title="3.운전자정보"}}
						<dl class="dep_list">
							<dt class="driver">운전범위</dt>
							<dd>
								<ul class="dep_list_sub">
									<li>
										운전자범위: <span>부부</span>
									</li>
									<li>
										최소연령: <span>2000.01.01</span>
									</li>
								</ul>
								<button type="button" class="modify_sub" title="운전범위 페이지로 이동">
									<span>수정</span>
								</button>
								<div class="info">운전범위를 입력 중이에요</div>
							</dd>
						</dl>
						<dl class="dep_list">
							<dt class="discount">할인특약</dt>
							<dd>
								<button type="button" class="modify_sub" title="할인특약 페이지로 이동">
									<span>수정</span>
								</button>
								<div class="info">할인특약을 입력 중이에요</div>
							</dd>
						</dl>
						<dl class="dep_list">
							<dt class="alarm">알릴의무</dt>
							<dd>
								<button type="button" class="modify_sub" title="알릴의무 페이지로 이동">
									<span>수정</span>
								</button>
								<div class="info">알릴의무를 입력 중이에요</div>
							</dd>
						</dl>
					{{/ cp/accordion }}
				</div>
			</li>
			<li class="active">
				<!-- 보험료확인 -->
				<!-- 입력진행 전 -->
				<!-- <dl>
					<dt class="title">4.보험료확인</dt>
					<dd></dd>
				</dl> -->
				<!-- 입력진행 후 -->
				<!-- 현재 해당되는 케이스에서 active 클래스 추가, aria-expanded=true 되어야 함 -->
				<div class="acd_item acd_item_ty9">
					{{#> cp/accordion ac-title="4.보험료확인"}}
					<ul class="dep_list_sub">
						<li>
							최종보험료: <span>1,000,000원</span>
							<button type="button" class="modify_sub" title="보험료확인 페이지로 이동">
								<span>수정</span>
							</button>
						</li>
					</ul>
					<div class="info">보험료를 확인 중이에요</div>
					{{/ cp/accordion }}
				</div>
			</li>
			<li class="active">
				<!-- 피보험자/계약자정보 -->
				<!-- 입력진행 전 -->
				<!-- <dl>
					<dt class="title">5.피보험자/계약자정보</dt>
					<dd></dd>
				</dl> -->
				<!-- 입력진행 후 -->
				<!-- 현재 해당되는 케이스에서 active 클래스 추가, aria-expanded=true 되어야 함 -->
				<div class="acd_item acd_item_ty9">
					{{#> cp/accordion ac-title="5.피보험자/계약자정보"}}
						<dl class="dep_list">
							<dt class="contractor">피보험자/계약자정보</dt>
							<dd>
								<ul class="dep_list_sub">
									<li>
										피보험자: <span>김*대(900101-1******)</span>
									</li>
									<li>
										계약자: <span>김*대(900101-1******)</span>
									</li>
								</ul>
								<button type="button" class="modify_sub" title="피보험자/계약자정보 페이지로 이동">
									<span>수정</span>
								</button>
								<div class="info">피보험자/계약자 정보를 입력 중이에요</div>
							</dd>
						</dl>
						<dl class="dep_list">
							<dt class="picture">사진첨부</dt>
							<dd>
								<button type="button" class="modify_sub" title="사진첨부 페이지로 이동">
									<span>수정</span>
								</button>
								<div class="info">사진을 첨부 중이에요</div>
							</dd>
						</dl>
					{{/ cp/accordion }}
				</div>
			</li>
			<li class="active">
				<!-- 청약내용 확인 -->
				<dl>
					<dt class="title">6.청약내용 확인</dt>
					<dd>
						<!-- <div class="info">청약내용을 확인 중이에요</div> -->
					</dd>
				</dl>
				<button type="button" class="hd_btn hd_btn_ty_3 hd_btn_s_5 modify_top" title="청약내용 확인 페이지로 이동">			
					<span class="text">수정</span>
					<i class="hd_icon resetSvg"></i>
				</button>
			</li>
			<li class="active">
				<!-- 결제 -->
				<dl>
					<dt class="title">7.결제</dt>
					<dd>
						<div class="info">보험료를 결제 중이에요</div>
					</dd>
				</dl>
			</li>
		</ol>
	</div>
	
	<!-- 최종 보험료 -->
	<div class="panel_total">
		<div class="inner">
			<div class="title">최종 보험료</div>
			<div class="right">
				<del>1,563,393원</del>
				<span class="price">7,200원</span>
			</div>
		</div>
	</div>
	
	<!-- 다이렉트 고객센터 -->
	<div class="customer_info">
		<div class="contact_list">
			<div class="list">
				<i class="icon call"></i>
				<span class="info">
					다이렉트 고객센터
					<em>1899-6782</em>
				</span>
			</div>
		</div>
		<ul class="list_depth_ty2">
			<li>인터넷가입 보험료와 차이가 있어요</li>
		</ul>
	</div>
</div>
<!-- e: 사이드 패널 -->