<!-- s: 사이드 패널 -->
<div class="side_panel">
	<div class="info_gray">
		<ol class="step_list">
		<!-- 해당되는 단계일 시, li에 active 클래스 추가 -->
			<li>
				<dl>
					<dt class="title">1. 기본정보</dt>
					<dd>
						<ul class="dep_opt_list">
							<li class="person">가입대상: <span>본인</span></li>
							<li class="birth">생년월일: <span>1979.01.01</span></li>
							<li class="gender">성별: <span>여성</span></li>
							<li class="job">직업: <span>사무직</span></li>
						</ul>
						<div class="info">정보를 입력 중이에요</div>
					</dd>
				</dl>
				<button type="button" class="hd_btn hd_btn_ty_3 hd_btn_s_5 modify_top" title="기본정보 페이지로 이동">			
					<span class="text">재입력</span>
					<i class="hd_icon resetSvg"></i>
				</button>
			</li>
			<li>
				<dl>
					<dt class="title">2. 보험료 확인</dt>
					<dd>
						<ul>
							<li>
								보험료: <span>15,100원</span>
							</li>
							<li>
								납입 방법: <span>월납</span>
							</li>
						</ul>
						<div class="info">보험료를 확인 중이에요</div>
					</dd>
				</dl>
				<button type="button" class="modify_sub" title="보험료 확인 페이지로 이동">
					<span>수정</span>
				</button>
			</li>
			<li>
				<dl>
					<dt class="title">3. 피보험자/계약자 정보</dt>
					<dd>
						<ul>
							<!-- 본인 가입 Case -->
							<li>
								<span>김*전(790102-*******, 여성)</span>
							</li>
							<!-- 본인 이외 미성년자녀/태아 Case -->
							<li>
								계약자: <span>김*전(790102-*******, 여성)</span>
							</li>
							<li>
								피보험자: <span>김*대(200101-*******, 남성)</span>
							</li>
						</ul>
						<div class="info">정보를 입력 중이에요</div>
						<!-- <div class="info_ty2">가입 전 알릴 사항을 확인 중이에요</div> -->
					</dd>
				</dl>
				<button type="button" class="modify_sub" title="피보험자/계약자 정보 페이지로 이동">
					<span>수정</span>
				</button>
			</li>
			<li>
				<dl>
					<dt class="title">4. 가입 내용 확인</dt>
					<dd>
						<ul>
							<li>
								확인: <span>가입 내용 및 계약서류</span>
							</li>
						</ul>
						<div class="info">내용을 확인 중이에요</div>
					</dd>
				</dl>
				<button type="button" class="modify_sub" title="가입 내용 확인 페이지로 이동">
					<span>재확인</span>
				</button>
			</li>
			<li class="active">
				<dl>
					<dt class="title">5. 보험료 결제</dt>
					<dd>
						<div class="info">결제를 진행 중이에요</div>
					</dd>
				</dl>
			</li>
		</ol>
	</div>

	<!-- 최종 보험료 -->
	<div class="panel_total">
		<div class="inner">
			<div class="title">최종 보험료</div>
			<div class="right">
				<span title="할인 전 보험료">
					<del>1,563,393원</del>
				</span>
				<span title="할인 후 보험료">
					<span class="price">7,200원</span>
				</span>
			</div>
		</div>
	</div>

	<!-- 다이렉트 고객센터 -->
	<div class="customer_info">
		<div class="contact_list">
			<div class="list">
				<i class="icon call"></i>
				<span class="info">
					다이렉트 고객센터
					<em>1899-6782</em>
				</span>
			</div>
		</div>
	</div>
</div>
<!-- e: 사이드 패널 -->