<div class="side_panel">
	<div class="panel_top">
		{{!-- <ul class="sel_item_list">
			<li class="item">
				<span class="sel_tit">
					<i class="icon dog"></i>
					여행지
				</span>
				<span class="sel_val">일본</span>
			</li>
			<li class="item">
				<span class="sel_tit">
					<i class="icon date"></i>
					기간
				</span>
				<span class="sel_val">2025.05.20 11시~2025.05.24 23시</span>
			</li>
			<li class="item">
				<span class="sel_tit">
					<i class="icon birth"></i>
					생년월일
				</span>
				<span class="sel_val">1969년 1월 2일</span>
			</li>
			<li class="item">
				<span class="sel_tit">
					<i class="icon gender"></i>
					성별
				</span>
				<span class="sel_val">여성</span>
			</li>
		</ul> --}}
	</div>

	<div class="panel_cont">
		{{!-- 보험가입 진행 정보 단계 --}}
		{{!-- <div class="pn_step">
			<ul class="step_list">
				{{!-- 
					현재 해당하는 단계에 active 클래스 추가
					진행완료한 단계에 finish 클래스 추가
				--}}
				<li class="list active finish">
					<div class="step_flow">1.보험료 계산 결과</div>
					<div class="result_text">
						표준형 32,700원을 선택했어요
					</div>
					<div class="result_text">
						할인 다이렉트할인
					</div>
					<div class="status_msg">보험료를 확인 중이에요</div>
					<button type="button" class="btn_rd_modify"><span class="blind">수정하기</span></button>
				</li>
				{{!-- 피보험자/계약자 정보 입력전 Case --}}
				<li class="list active">
					<div class="step_flow">2.피보험자/계약자 정보</div>
					<div class="status_msg">정보를 입력 중이에요</div>
					<button type="button" class="btn_rd_modify"><span class="blind">수정하기</span></button>
				</li>
				{{!-- 피보험자정보 입력중 Case --}}
				<li class="list active">
					<div class="step_flow">2.피보험자/계약자 정보</div>
					<div class="result_text">
						김*대(790101-1******, KIMHYUNDAI)가 계약자
					</div>
					<div class="status_msg">피보험자 정보를 입력 중이에요</div>
					<button type="button" class="btn_rd_modify"><span class="blind">수정하기</span></button>
				</li>
				<li class="list">
					<div class="step_flow">3.가입 내용 확인</div>
					<div class="result_text">보험 가입과 관련한 주요 내용을 확인했어요</div>
					<div class="status_msg">내용을 확인 중이에요</div>
					<button type="button" class="btn_rd_modify"><span class="blind">수정하기</span></button>
				</li>
				<li class="list">
					<div class="step_flow">4.보험료 결제</div>
					<div class="status_msg">결제 진행 중이에요</div>
					<button type="button" class="btn_rd_modify"><span class="blind">수정하기</span></button>
				</li>
			</ul>
		</div> --}}

		{{!-- 최종보험료 --}}
		<div class="panel_total">
			<div class="inner">
				<div class="title">최종 보험료</div>
				<div class="right">
					<del>1,563,393원</del>
					<span class="price">7,200원</span>
				</div>
			</div>
		</div>

		{{!-- 고객센터 관련 --}}
		<div class="customer_info">
			<div class="contact_list">
				<div class="list">
					<i class="icon call"></i>
					<span class="info">
						다이렉트 고객센터
						<em>1899-6782</em>
					</span>
				</div>
				<div class="list">
					<i class="icon car"></i>
					<span class="info">
						자동차보험 전화가입
						<em>1577-1001</em>
					</span>
				</div>
			</div>
			<ul class="list_depth_ty2">
				<li>인터넷가입 보험료와 차이가 있어요</li>
			</ul>
		</div>
	</div>
</div>