<div class="select_option_box{{#if s-class}} {{s-class}}{{/if}}">
	<select name="" id=""{{#if s-title}} title="{{s-title}}"{{/if}} class="selectbox" {{#if disabled}}disabled{{/if}} required>
		{{#if sb-ph}}
		<option value="" hidden disabled selected>{{sb-ph}}</option>
		{{else}}
		<option value="" hidden disabled>선택</option>
		{{/if}}
		{{> @partial-block }}
	</select>
</div>