<div class="tooltip_wrap">
	<div class="tooltip_head{{#if t-class}} {{t-class}}{{/if}}">
		<button type="button" class="open" aria-expanded="false"><span class="blind">툴팁 열기</span></button>
	</div>
	<div class="tooltip_text" role="tooltip">
		<div class="inner">
			{{#if text}}
				{{{text}}}
			{{else}}
				{{> @partial-block }}
			{{/if}}
			<button type="button" class="close"><span class="blind">툴팁 닫기</span></button>
		</div>
	</div>
</div>