{{!-- <div id="all_menu" class="all_menu popup_wrap"> --}}
<div id="all_menu" class="all_menu event_pop_ele">
	<div class="event_pop_ele_inner">
		<div class="am_header">
			<div class="am_header_inner">
				<h2 class="am_header_title">
					<img src="../../../images/header/img_logo_ty2.png" alt="현대해상 다이렉트">
				</h2>
			</div>
		</div>
		<div class="am_content">
			<div class="am_content_inner">
				<div class="amc_nav">
					<div class="am_tag_item_wrap tag_item_wrap" data-tib="all_menu">
						<button type="button" class="tag_item size_l c_ty02 active"><span class="text">보험가입<span class="sr_only">바로가기</span></span></button>
						<button type="button" class="tag_item size_l c_ty02"><span class="text">계약관리<span class="sr_only">바로가기</span></span></button>
						{{#unless corp_mode}}
						<button type="button" class="tag_item size_l c_ty02"><span class="text">보상/청구<span class="sr_only">바로가기</span></span></button>
						<button type="button" class="tag_item size_l c_ty02"><span class="text">혜택/서비스<span class="sr_only">바로가기</span></span></button>
						<button type="button" class="tag_item size_l c_ty02"><span class="text">고객지원<span class="sr_only">바로가기</span></span></button>
						{{/unless}}
						<button type="button" class="tag_item size_l c_ty02"><span class="text">로그인/인증센터<span class="sr_only">바로가기</span></span></button>
					</div>
				</div>
				<div class="amc_cont">
					<div class="amc_cont_left">
						{{> layout/nav_pc am_mode=true }}
					</div>
					<div class="amc_cont_right">
					</div>
				</div>
			</div>
		</div>
	<button type="button" class="popup_close" onclick="closeHDPopup('all_menu');"><span class="blind">팝업 닫기</span></button>
	</div>
	{{!-- // all_menu --}}
</div>