<!doctype html>
<html lang="ko">
	<head>
	{{> layout/head_pc}}
	<script type="text/javascript" src="../../../js/common_pc.js"></script>
	<script type="text/javascript" src="../../../js/popup_pc.js"></script>
	</head>
  <body>
		{{#unless no-skip}}
		<ul id="skipNavi" class="skipNavi">
			{{#unless no-gnb}}<li><a href="#gnb">주메뉴바로가기</a></li>{{/unless}}
			<li><a href="#container">본문바로가기</a></li>
		</ul>
		{{/unless}}
		{{> @partial-block }}
  </body>
</html>
