<!doctype html>
<html lang="ko">
	<head>
	{{> layout/head}}
	<script type="text/javascript" src="../../../js/common_pc.js"></script>
	</head>
  <body>
		<div id="wrap" class="wrap">
			{{#unless no-skip}}
			<ul id="skipNavi" class="skipNavi">
				<li><a href="#gnb">주메뉴바로가기</a></li>
				<li><a href="#contents">본문바로가기</a></li>
			</ul>
			{{/unless}}
			{{> @partial-block }}
		</div>
  </body>
</html>
