<!doctype html>
<html lang="ko">
	<head>
	{{> layout/head_pc}}
	</head>
  <body>
			{{#unless no-skip}}
			<ul id="skipNavi" class="skipNavi">
				<li><a href="#gnb">주메뉴바로가기</a></li>
				<li><a href="#container">본문바로가기</a></li>
			</ul>
			{{/unless}}
			{{> @partial-block }}
  </body>
</html>