<div class="nrs_wrap">
	<div class="nrs_wrap_inner">
		<h4 class="nrs_wrap_title">최근사용메뉴</h4>
		<div class="nrs_items">
			<span class="item">
				<a href="#" class="item_name">자동차보험(개인)</a>
				<span class="item_ fav_box">
					<span class="item_bookmark" role="checkbox" tabindex="0" aria-checked="true">
						<span class="text">자주찾는 메뉴 등록</span>
					</span>
				</span>
			</span>
			<span class="item">
				<a href="#" class="item_name">자동차보험(법인)</a>
				<div class="item_fav_box">
					<span class="item_bookmark" role="checkbox" tabindex="0" aria-checked="true">
						<span class="text">자주찾는 메뉴 등록</span>
					</span>
				</div>
			</span>
			<span class="item">
				<a href="#" class="item_name">고장출동</a>
				<span class="item_fav_box">
					<span class="item_bookmark" role="checkbox" tabindex="0" aria-checked="false">
						<span class="text">자주찾는 메뉴 등록</span>
					</span>
				</span>
			</span>
			<span class="item">
				<a href="#" class="item_name">계약조회</a>
				<span class="item_fav_box">
					<span class="item_bookmark" role="checkbox" tabindex="0" aria-checked="false">
						<span class="text">자주찾는 메뉴 등록</span>
					</span>
				</span>
			</span>
			<span class="item">
				<a href="#" class="item_name">카드결제 혜택</a>
				<span class="item_fav_box">
					<span class="item_bookmark" role="checkbox" tabindex="0" aria-checked="false">
						<span class="text">자주찾는 메뉴 등록</span>
					</span>
				</span>
			</span>
			<span class="item">
				<a href="#" class="item_name">내 정보 확인/변경</a>
				<span class="item_fav_box">
					<span class="item_bookmark" role="checkbox" tabindex="0" aria-checked="false">
						<span class="text">자주찾는 메뉴 등록</span>
					</span>
				</span>
			</span>
		</div>
	</div>
</div>