<div class="quick_menu">
	<div class="qm_item">
		<a href="#" class="qm_btn qm_btn_acc_report"><span class="text">사고접수</span></a>
	</div>
	<div class="qm_item">
		<a href="#" class="qm_btn qm_btn_bd_dispatch"><span class="text">고장출동</span></a>
	</div>
	<div class="qm_item">
		<a href="#" class="qm_btn qm_btn_chatbot" target="_blank" title="새창열림"><span class="text">챗봇</span></a>
	</div>
	{{#unless no-pt}}
	<div class="qm_item">
		<a href="#skipNavi" class="qm_btn qm_btn_pagetop">페이지 최상단으로 이동</a>
	</div>
	{{/unless}}
</div>
{{#unless no-footer}}
<div id="footer" class="footer{{#if footer-class}} {{footer-class}}{{/if}}">
	<div class="inner">
		<div class="footer_top">
			<div class="ft_left">
				<div class="ftl_item">
					<strong class="tc">
						<span class="text">다이렉트 고객센터</span>
						<span class="tel f_tel_ty1">1899-6782</span>
					</strong>
					<span class="sub_text">인터넷가입/변경 평일 9시~18시</span>
				</div>
				<div class="ftl_item">
					<strong class="tc">
						<span class="text">전화가입상담센터</span>
						<span class="tel f_tel_ty2">1577-1001</span>
					</strong>
					<span class="sub_text">자동차보험 전화가입 평일 9시~18시</span>
				</div>
			</div>
			<div class="ft_right">
				<div class="ftr_sns">
					<div class="ftr_sns_box">
						<button type="button" class="ftr_sns_open" title="다이렉트 SNS 목록보기"><span class="text">다이렉트 SNS</span></button>
					</div>
					<ul class="ftr_sns_list">
						<li>
							<a href="https://www.facebook.com/hi.co.kr" target="_blank" title="새창열기">공식페이스북</a>
						</li>
						<li>
							<a href="https://blog.hi.co.kr" target="_blank" title="새창열기">공식블로그</a>
						</li>
						<li>
							<a href="https://blog.naver.com/goodngoodblog" target="_blank" title="새창열기">어린이보험블로그</a>
						</li>
						<li>
							<a href="https://blog.naver.com/direct_hi" target="_blank" title="새창열기">현대해상 다이렉트 블로그</a>
						</li>
						<li>
							<a href="https://www.youtube.com/user/HicarHilife" target="_blank" title="새창열기">공식 유튜브</a>
						</li>
					</ul>
					
				</div>
			</div>
		</div>
		<div class="footer_bottom">
			<div class="fb_left">
				<div class="fbl_top">
					<div class="ft_links_item">
						<a href="https://www.hi.co.kr/serviceAction.do?menuId=100991" target="_blank" title="새창열림" class="item"><span class="text">개인정보처리방침(개인정보보호법)</span></a>
					</div>
					<div class="ft_links_item">
						<a href="https://www.hi.co.kr/serviceAction.do?menuId=100994" target="_blank" title="새창열림" class="item"><span class="text">고객권리안내문</span></a>
					</div>
					<div class="ft_links_item">
						<a href="https://www.hi.co.kr/serviceAction.do?menuId=100989" target="_blank" title="새창열림" class="item"><span class="text">보호금융상품등록부</span></a>
					</div>
					<div class="ft_links_item">
						<a href="https://www.hi.co.kr/serviceAction.do?menuId=100950" target="_blank" title="새창열림" class="item"><span class="text">가격공시</span></a>
					</div>
				</div>
				<div class="fbl_bottom">
					<address>
						<span>현대해상화재보험㈜</span>
						<span>대표이사 이석현</span>
						<span>사업자등록번호 102-81-32035</span>
						<br>
						(03183) 서울특별시 종로구 세종대로 163, 현대해상빌딩(세종로)
					</address>
					<div class="fb_copy">
						Copyright ⓒ Hyundai Marine &amp; Fire Insurance Co, Ltd All right reserved	
					</div>
				</div>
			</div>
			<div class="fb_right">
				<a href="/service.do?ntceSeqno=338&m=922efa632b" target="_blank" title="새창열림" class="fi_ty1">
					<span class="text">
						한국산업의<br>
						브랜드파워 1위
					</span>
				</a>
				<a href="/service.do?ntceSeqno=328&amp;m=922efa632b" target="_blank" title="새창열림" class="fi_ty2">
					<span class="text">
						웹어워드코리아<br>
						다이렉트보험부문대상
					</span>
				</a>
				<a href="/service.do?ntceSeqno=315&amp;evntSeqno=&amp;adpOfcancSeqno=&amp;m=922efa632b" target="_blank" title="새창열림" class="fi_ty3">
					<span class="text">
						글로벌<br>
						고객만족도조사
					</span>
				</a>
				<a href="/file/pdf/isms2022.pdf" target="_blank" title="새창열림" class="fi_ty4">
					<span class="text">
						정보보호<br>
						관리체계인증
					</span>
				</a>
				<a href="/file/pdf/wa.pdf" target="_blank" title="새창열림" class="fi_ty5">
					<span class="text">
						웹접근성<br>
						인증
					</span>
				</a>
			</div>
		</div>
	</div>
</div>
{{/unless}}