{{#if footer}}
	<div id="footer" class="footer{{#if footer-class}} {{footer-class}}{{/if}}">
		footer
	</div>
	{{else}}
	<div id="footer" class="nav_footer">
		<ul class="fix_nav_menu">
			<li><a href="#" class="menu_num1">하단메뉴1</a></li>
			<li><a href="#" class="menu_num2">하단메뉴2</a></li>
			<li><a href="#" class="menu_num3">하단메뉴3</a></li>
			<li><a href="#" class="menu_num4">하단메뉴4</a></li>
		</ul>
	</div>
{{/if}}