{{#unless no-pt}}
<div class="pageTop">
	<a href="#skipNavi" class="pageTop_btn">페이지 최상단으로 이동</a>
</div>
{{/unless}}
<div id="footer" class="footer{{#if footer-class}} {{footer-class}}{{/if}}">
	<div id="footer" class="footer">
		footer
	</div>
</div>