{{#unless no-pt}}
<div class="pageTop">
	<a href="#skipNavi" class="pageTop_btn">페이지 최상단으로 이동</a>
</div>
{{/unless}}
<div id="footer" class="footer{{#if footer-class}} {{footer-class}}{{/if}}">
	<div class="inner">
		<div class="footer_top">
			<div class="ft_left">
				<div class="ftl_item">
					<strong class="text">다이렉트 고객센터<span class="tel tel_ty1">1899-6782</span></strong>
				</div>
				<div class="ftl_item">
					<strong class="text"><span class="tel tel_ty2">1577-1001</span></strong>
				</div>
			</div>
			<div class="ft_right">
				<div class="ftr_sns"></div>
			</div>
		</div>
		<div class="footer_bottom">
			<div class="fb_left">
				<div class="fbl_top">
					<div class="ft_links_item">
						<a href="" target="_blank" title="새창열림" class="item"><span class="text">개인정보처리방침(개인정보보호법)</span></a>
					</div>
					<div class="ft_links_item">
						<a href="" target="_blank" title="새창열림" class="item"><span class="text">고객권리안내문</span></a>
					</div>
					<div class="ft_links_item">
						<a href="" target="_blank" title="새창열림" class="item"><span class="text">보호금융상품등록부</span></a>
					</div>
					<div class="ft_links_item">
						<a href="" target="_blank" title="새창열림" class="item"><span class="text">가격공시</span></a>
					</div>
				</div>
				<div class="fbl_bottom">
					<address>
						<span>현대해상화재보험㈜</span>
						<span>대표이사 이석현</span>
						<span>사업자등록번호 102-81-32035</span>
						<br>
						(03183) 서울특별시 종로구 세종대로 163, 현대해상빌딩(세종로)
					</address>
					<div class="fb_copy">
						Copyright ⓒ Hyundai Marine &amp; Fire Insurance Co, Ltd All right reserved	
					</div>
				</div>
			</div>
			<div class="fb_right">
				<div class="fb_right_item">
					<a href="/service.do?ntceSeqno=338&m=922efa632b" target="_blank" title="새창열림" class="fi_ty1">
						<span class="text">
							한국산업의<br>
							브랜드파워 1위
						</span>
					</a>
					<a href="/service.do?ntceSeqno=328&amp;m=922efa632b" target="_blank" title="새창열림" class="fi_ty1">
						<span class="text">
							웹어워드코리아<br>
							다이렉트보험부문대상
						</span>
					</a>
					<a href="/service.do?ntceSeqno=315&amp;evntSeqno=&amp;adpOfcancSeqno=&amp;m=922efa632b" target="_blank" title="새창열림" class="fi_ty1">
						<span class="text">
							글로벌<br>
							고객만족도조사
						</span>
					</a>
					<a href="/file/pdf/isms2022.pdf" target="_blank" title="새창열림" class="fi_ty1">
						<span class="text">
							정보보호<br>
							관리체계인증
						</span>
					</a>
					<a href="/file/pdf/wa.pdf" target="_blank" title="새창열림" class="fi_ty1">
						<span class="text">
							웹접근성<br>
							인증
						</span>
					</a>
				</div>				
			</div>
		</div>
	</div>
</div>