<!DOCTYPE html>
<html lang="ko">
	<head>
	{{> layout/head}}
	<link rel="stylesheet" href="guide.css" />
	</head>
  <body class="guide_body">
    <div class="guide_wrap{{#if gw_class}} {{gw_class}}{{/if}}">
      <div class="wrap">
        {{> @partial-block }}
      </div>
    </div>
  </body>
</html>
