<!DOCTYPE html>
<html lang="ko">
	<head>
	{{> layout/head_pc}}
	<script type="text/javascript" src="../../../js/common_pc.js"></script>
	<script type="text/javascript" src="../../../js/popup_pc.js"></script>
	<link rel="stylesheet" href="guide.css" />
	</head>
  <body class="guide_body{{#if gw_class}} {{gw_class}}{{/if}}">
    {{> @partial-block }}
  </body>
</html>
