{{#unless no-header}}
<div id="header" class="header">
	<div class="header_inner{{#unless h-back}} history_back_none{{/unless}}">

		{{#if main}}
		<h1 class="header_logo">
			<a href="#"><img src="" alt="현대해상 다이렉트"></a>
		</h1>
		{{/if}}

		<div class="header_left">
		{{#unless h-back}}
			<button type="button" class="history_back"><span class="text">이전 페이지로 이동</span></button>
		{{/unless}}
		{{#if h-home}}
			<button type="button" class="btn_go_home"><span class="text">홈으로 이동</span></button>
		{{/if}}
		</div>

		{{#if h-title}}
		<div class="header_connect">
			<h1 class="header_title">{{h-title}}</h1>
		</div>
		{{/if}}

		<div class="header_right">
			{{!-- 하이펫 보험 강아지/고양이 선택 --}}
			{{#if h-animaltype}}
				<button type="button" class="hd_btn hd_btn_ty_2 hd_btn_s_5"><span>{{h-animaltype}}</span></button>
			{{/if}}
			{{!-- 하이펫 보험 강아지/고양이 선택 --}}

			{{!-- 자동차 스텝 --}}
			{{#if h-carstep}}
				<!-- s: 25-05-30 수정 -->
				<!-- s: 25-05-28 수정 -->
				<button type="button" class="h_step_dp" title="보험가입 진행 정보 팝업 호출">
					<span class="text">{{h-carstep}}</span>
				</button>
				<!-- e: 25-05-28 수정 -->
				<!-- e: 25-05-30 수정 -->
			{{/if}}
			{{!-- 자동차 스텝 --}}
			{{!-- 챗봇 호출 버튼 --}}
			{{#if h-chatbot}}
				<a href="javascript:void(0)" class="btn_chatbot" title="새창열림"><span class="text">챗봇상담</span></a>
			{{/if}}
			{{!-- 챗봇 호출 버튼 --}}
			{{!-- 계약변경 팝업 호출 버튼 --}}
			{{#if h-ins}}
				<button type="button" class="insChk" onclick="openHDPopup(this,'{{h-ins}}');"><span class="text">계약변경 팝업 열기</span></button>
			{{/if}}
			{{!-- 계약변경 팝업 호출 버튼 --}}
			{{#unless no-nav}}
			<button type="button" class="allmenu_open"><span class="text">전체메뉴 열기</span></button>
			{{/unless}}
			{{!-- s: 전체메뉴 --}}
			{{#unless no-nav}}
			{{> layout/nav }}
			{{/unless}}
			{{!-- e: 전체메뉴 --}}
		</div>

	</div>
</div>
{{/unless}}