{{#unless no-header}}
<div id="header" class="header_pc{{#if h-prd}} header_pc_nd{{/if}}">
	<div class="header_pc_inner"> 
		{{#unless h-prd}}
		<div class="hpi_top">
			<div class="hpi_change_area">
				<div class="hpi_cm">
					<a href="#" class="hpi_cm_btn active">개인</a>
					<a href="#" class="hpi_cm_btn">법인</a>
				</div>
			</div>
			<div class="hpi_utils">
				<span class="hpi_utils_items">
					<a href="#">회원가입</a>
				</span>
				<span class="hpi_utils_items">
					<a href="#">로그인</a>
				</span>
				<span class="hpi_utils_items">
					<a href="https://www.hi.co.kr/serviceAction.do?menuId=100931" target="_blank" title="새창열림">상품공시</a>
				</span>
				<span class="hpi_utils_items">
					<a href="#">인증센터</a>
				</span>
				<span class="hpi_utils_items">
					<a href="https://www.hi.co.kr/" target="_blank" title="새창열림">현대해상 홈페이지</a>
				</span>
			</div>
		</div>
		{{/unless}}
		<div class="hpi_bottom">
			<div class="hpi_l{{#if h-prd}} hpi_l_nd{{/if}}">
				{{#unless h-prd}}
				<h1 class="hpi_logo">
					<a href="#">
						<img src="../../../images/header/img_logo_ty1.png" alt="현대해상 다이렉트 홈으로">
					</a>
				</h1>
				{{else}}
				<h1 class="hpi_logo">
					<img src="../../../images/header/img_logo_ty2.png" alt="현대해상 다이렉트">
				</h1>
				<strong class="hpi_l_prd_name">{{h-prd}}</strong>
				{{/unless}}
			</div>


			{{#if petmode}}
			<div class="change_mode">
				<div class="item">
					<button type="button" class="cm_btn cm_btn_dog active"><span class="text">강아지<span class="sr_only">정보입력으로 전환</span></span></button>
				</div>
				<div class="item">
					<button type="button" class="cm_btn cm_btn_cat"><span class="text">고양이<span class="sr_only">정보입력으로 전환</span></span></button>
				</div>
			</div>
			{{else}}
			<nav class="hpi_gnb">
				{{> layout/nav2}}
			</nav>
			{{/if}}

			<div class="hpi_sub_utils">
				{{#if h-prd}}
				<div class="item item_chatbot">
					<a href="#" class="hus_btn hsu_chatbot" target="_blank" title="새창열림"><span class="text">챗봇상담</span></a>
				</div>
				<div class="item">
					<button type="button" class="hus_btn hsu_close"><span class="text">종료</span></button>
				</div>
				<div class="item">
					<a href="#" class="hus_btn hsu_home"><span class="text">홈으로 이동</span></a>
				</div>
				{{else}}
				<div class="item">
					<button type="button" class="hus_btn hsu_alarm"><span class="text">알림 팝업 열기</span></button>
				</div>
				<div class="item"> 
					<button type="button" class="hus_btn hsu_cart"><span class="text">장바구니 팝업 열기</span></button>
				</div>
				<div class="item">
					<button type="button" class="hus_btn hsu_search"><span class="text">메뉴검색 팝업 열기</span></button>
				</div>
				<div class="item">
					<button type="button" class="hus_btn hsu_menu_all"><span class="text">전체메뉴 보기</span></button>
				</div>				
				{{/if}}
			</div>


		</div>

	</div>
</div>
{{#if bc}}
{{> cp/breadcrumb bc1="dept1" bc2="dept2" bc3="dept3" bc4="dept4"}}
{{/if}}
{{/unless}}