<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
<meta name="format-detection" content="telephone=no, address=no, email=no">
<meta name="keywords" content="자동차보험, 다이렉트자동차보험, 현대해상다이렉트, 현대해상자동차보험, 현대해상다이렉트자동차보험, 현대해상여행자보험"/>
<meta name="description" content="현대해상 다이렉트 공식사이트, 자동차보험/운전자보험/여행자보험/유학보험 등 오프라인대비 저렴"/>
<meta property="og:type" content="website"/>
<meta property="og:title" content="현대해상 다이렉트"/>
<meta property="og:description" content="다양한 할인특약, 보장은 든든하게!"/>
<meta property="og:url" content="https://direct.hi.co.kr"/>
<meta name="facebook-domain-verification" content="qri8envtcg4g7qq47osuqhiz1g5ozx" />
<meta name="naver-site-verification" content="4735425b479dd8c97323bb3cdc413fd4a6deb4e0" />
<meta name="google-site-verification" content="Irhtk0HjnblJSRzK8_LdpTjAZjNpxpN_Kz0iAAMGGww" />
<link rel="shortcut icon" type="image/x-icon" href="../../../images/favicon.ico">
<link rel="shortcut icon" type="image/x-icon" href="../../../images/favicon.ico">
<link rel="apple-touch-icon" sizes="57x57" href="../../../images/favicon/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="../../../images/favicon/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="../../../images/favicon/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="../../../images/favicon/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="../../../images/favicon/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="../../../images/favicon/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="../../../images/favicon/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="../../../images/favicon/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="../../../images/favicon/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192" href="../../../images/favicon/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="16x16" href="../../../images/favicon/favicon-16x16.png">
<link rel="icon" type="image/png" sizes="32x32" href="../../../images/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="../../../images/favicon/favicon-96x96.png">
<script type="text/javascript" src="../../../js/libs/jquery-1.8.3.min.js"></script>
{{#unless ns}}
<script type="text/javascript" src="../../../js/libs/swiper-bundle.min.js"></script>
{{/unless}}
{{!-- <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script> --}}
<script type="text/javascript" src="../../../js/common.js"></script>
<script type="text/javascript" src="../../../js/popup.js"></script>
<script type="text/javascript" src="../../../js/dragging.js"></script>
<script type="text/javascript" src="../../../js/stepper.js"></script>
{{#unless ns}}
<link rel="stylesheet" href="../../../css/libs/swiper-bundle.min.css" />
{{/unless}}
{{!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" /> --}}
<title>{{#if page-title}}{{page-title}} {{/if}}현대해상 다이렉트</title>
<link rel="stylesheet" href="../../../css/reset.css" />
<link rel="stylesheet" href="../../../css/common.css" />
<link rel="stylesheet" href="../../../css/contents.css" />
<link rel="stylesheet" href="../../../css/popup.css" />
