<div class="nav_menu_wrap" aria-hidden="true">
	<div class="nav_menu_inner">
		<div class="nav_menu_top">
			<button type="button"><span class="blind">홈으로 이동</span></button>
			<button type="button" class="allmenu_close"><span class="blind">전체메뉴 닫기</span></button>
		</div>
		<div class="nav_menu_bottom">
			<div class="nav_content">전체메뉴 내용</div>
			<div class="nav_link">기타 링크</div>
		</div>
	</div>
</div>