					
					{{#unless no_tit}}
					<h3 class="title_h3">계좌 정보 입력</h3>
					{{/unless}}
					<!-- s: 25-07-31 -->
					{{#unless prev_story}}
					<div class="btn_area end">
						<!-- s: 25-08-14 수정 -->
						{{> cp/linkButton bl_class="short_cut" bl_text="이전 결제정보 불러오기" bl_title="이전 결제정보 팝업 열기" pop_id="pop_type07" }}
						<!-- e: 25-08-14 수정 -->
					</div>
					{{/unless}}
					<!-- e: 25-07-31 -->
					<div class="form_group_wrap">
						<div class="form_line">
							<div class="label_tit">은행</div>
							{{> cp/selectitem si_ph="은행 선택" si_title="은행 선택" si_popup="bank_select"}}
						</div>
						<div class="form_line">
							<div class="label_tit">계좌번호</div>
							{{> cp/text placeholder="계좌번호 입력" inp-title="계좌번호 입력" }}
							<ul class="list_ty2">
								<!-- s: 25-08-14 UXW -->
								<li><strong class="point">김*대(계약자)님의 본인 계좌만 이용 가능합니다.</strong></li>
								<!-- e: 25-08-14 UXW -->
								<li>즉시 이체 가능 시간 : 09:00 ~ 21:50</li>
							</ul>
						</div>
					</div>