					<h3 class="title_h3">가상계좌 은행정보 입력</h3>
					<div class="form_group_wrap">
						<div class="form_line">
							<div class="label_tit">보험료 결제하실 은행</div>
							{{> cp/selectitem si_ph="은행 선택" si_title="은행 선택" si_popup="bank_select"}}
						</div>
						<div class="form_line">
							<div class="label_tit">입금 예정일</div>
							<!-- s: 25-08-21 UXW -->
							{{> cp/text cal=true placeholder="입금 예정일 선택" }}
							<!-- e: 25-08-21 UXW -->
							<ul class="list_ty2">
								<!-- s: 25-09-03 수정 -->
								<li><strong class="point">2025년01월01일(보험시작일) 전까지 입금이 완료되어야 자동차보험의 효력이 발생합니다.</strong></li>
								<!-- e: 25-09-03 수정 -->
							</ul>
						</div>
					</div>