            <div class="banner_box ty3">
            {{#if car_bn }}
				<a href="#">
					<img src="../../../images/event/banner4.png" alt="자동차보험료 결제혜택 최대 3만원 30만원 이상 결제시">
				</a>
			{{/if}}
            {{#if shot_bn }}
            <!-- s: 카드 혜택 안내 배너 -->
                
                <!-- s: 25-11-21 수정 -->
                <a href="javascript:void(0);" onclick="openHDPopup(this, 'shinhan_info')" title="신한카드 결제 혜택 안내 팝업 오픈">
                    <img src="../../../images/event/card_bn_01.png" alt="신한카드로 결제해 보세요 포인트 100% 사용가능">
                <!-- e: 25-11-21 수정 -->
                </a>
                {{!-- <a href="#">
                    <img src="../../../images/event/card_bn_03.png" alt="현대카드로 결제해 보세요 M포인트 100% 사용가능 계속보험료 결제 가능">
                </a> --}}
                <!-- s: 25-11-21 수정 -->
                <a href="javascript:void(0);" onclick="openHDPopup(this, 'samsung_info')" title="삼성카드 결제 혜택 안내 팝업 오픈">
                    <img src="../../../images/event/card_bn_02.png" alt="삼성카드로 결제해 보세요 포인트 100% 사용가능">
                <!-- e: 25-11-21 수정 -->
                </a>
                
            <!-- e: 카드 혜택 안내 배너 -->
			{{/if}}
            </div>
            
            <div class="pay_notice">
                <div class="msg_info">
                    블루멤버스 전산전검으로 인해 아래 시간동안 포인트 사용이 불가합니다. 자동차보험 결제시 참고하여주시기 바랍니다.
                </div>
                <ul class="list_ty2">
                    <li>점검일시 : 2024년 2월 18일 21:00 ~ 21:30</li>
                </ul>
            </div>
			