
			{{#unless eco}}
			<div class="divider_ty1"></div>
			<h3 class="title_h3">ECO 마일리지 환급 계좌</h3>
			<!-- s: 25-07-31 -->
			<div class="btn_area end">
				<a href="javascript:void(0)" role="button" class="btn_link short_cut">
					<span class="text">이전 계좌정보 불러오기</span>
				</a>
			</div>
			<!-- e: 25-07-31 -->
			<!-- s: 이체 선택 시 -->		
			{{> cp/checkbox checkbox_class="rd_box" id="checkbox04-9" label_class="chk_label_ty3" labelname="결제 계좌와 동일합니다" }}		
			<!-- e: 이체 선택 시 -->
			<div class="form_group_wrap">
				<div class="form_line">
					<div class="label_tit">은행</div>
						<!-- s: 25-08-04 -->
						{{#> cp/selectbox_pc s-title="은행 선택" }}
							<option value="" selected>은행 선택</option>
							<option value="">우리</option>
						{{/ cp/selectbox_pc}}
						{{!-- {{> cp/selectitem si_ph="은행 선택" si_title="은행 선택" si_popup="bank_select"}} --}}
						<!-- e: 25-08-04 -->
				</div>
				<div class="form_line">
					<div class="label_tit">계좌번호</div>
					{{> cp/text placeholder="계좌번호 입력" inp-title="계좌번호 입력" }}
					<ul class="list_ty2">
						<li><strong>김*대(계약자)님의 본인 계좌만 이용 가능합니다.</strong></li>
						<li><strong>해당 계약 만기시 환급 받을 계좌정보를 입력해주세요.</strong></li>
					</ul>
				</div>
			</div>
			<!-- s: 25-07-21 수정 -->
			<div class="checkbox_group_wrap column space2">
				{{#> cp/checkbox checkbox_class="rd_box" id="checkbox04-21" label_class="chk_label_ty2" labelname="마일리지 환급금 지급방법 안내<br>(갱신계약 대체보험료로 사용하지 않은 경우)" }}
				<div class="chk_lby">
					<ul class="list_ty2">
						<li><strong class="point">카드 납입 체결계약 - 카드 부분취소 지급</strong></li>
						<li><strong>현금 납입 체결계약 - 계좌 환급 지급</strong></li>
					</ul>
				</div>
				{{/ cp/checkbox}}
			</div>
			<!-- e: 25-07-21 수정 -->
			{{/unless}}

			{{#unless im_account}}
			<div class="divider_ty1"></div>
			<h3 class="title_h3">분납계좌 정보 입력</h3>
			<!-- s: 25-07-31 -->
			<div class="btn_area end">
				<a href="javascript:void(0)" role="button" class="btn_link short_cut">
					<span class="text">이전 계좌정보 불러오기</span>
				</a>
			</div>
			<!-- e: 25-07-31 -->
			{{> cp/checkbox checkbox_class="rd_box" id="checkbox04-11" label_class="chk_label_ty3" labelname="자동이체 약관 동의" ag_more=true }}
			<div class="form_group_wrap">
				<div class="form_line">
					<div class="label_tit">은행</div>
					<!-- s: 25-08-04 -->
					{{#> cp/selectbox_pc s-title="은행 선택" }}
						<option value="" selected>은행 선택</option>
						<option value="">우리</option>
					{{/ cp/selectbox_pc}}
					{{!-- {{> cp/selectitem si_ph="은행 선택" si_title="은행 선택" si_popup="bank_select"}} --}}
					<!-- e: 25-08-04 -->
				</div>
				<div class="form_line">
					<div class="label_tit">계좌번호</div>
					{{> cp/text placeholder="계좌번호 입력" inp-title="계좌번호 입력" }}
					<ul class="list_ty2">
						<li><strong>김*대(계약자)님의 본인 계좌만 이용 가능합니다.</strong></li>
					</ul>
				</div>
			</div>
			{{/unless}}