					
					{{#unless prev_story}}
					<div class="btn_area end">
						<a href="javascript:void(0)" role="button" class="btn_link short_cut">
							<span class="text">이전 결제 정보 불러오기</span>
						</a>
					</div>
					{{/unless}}
					{{#unless no_tit}}
					<h3 class="title_h3">신용카드 정보 입력</h3>
					{{/unless}}
					<div class="form_group_wrap">
						<div class="form_line">
							<div class="label_tit">카드사</div>
							{{> cp/selectitem si_ph="카드사 선택" si_title="카드사 선택" si_popup="card_select"}}
							<!-- s: KB카드 선택 시 노출 -->
							{{> cp/checkbox id="checkbox1" labelname="앱카드 결제" }}
							<!-- e: KB카드 선택 시 노출 -->
						</div>
						<div class="form_line">
							<div class="label_tit">카드번호</div>
							<div class="comp_wrap card">
								{{> cp/text type="tel" minlength="4" maxlength="4" placeholder="4자리" inp-title="카드 첫번째 4자리 입력" no_del="flase" }}
								<span class="dash">-</span>
								{{> cp/text type="tel" minlength="4" maxlength="4" placeholder="4자리" inp-title="카드 두번째 4자리 입력" no_del="flase" }}
								<span class="dash">-</span>
								{{> cp/text type="tel" minlength="4" maxlength="4" placeholder="4자리" inp-title="카드 세번째 4자리 입력" no_del="flase" }}
								<span class="dash">-</span>
								{{> cp/keypad4 case1="4(3자리)" kt="카드번호 마지막 4(3자리) 입력" }}
							</div>
						</div>
						<div class="form_line">
							<div class="label_tit">유효기간</div>
							{{> cp/text type='tel' inpclass="inp_only_num" placeholder="MMYY" minlength="4" maxlength="4" inp-title="유효기간 입력" }}
						</div>
						{{#unless installment}}
						<div class="form_line">
							<div class="label_tit box">
								<div>카드 할부</div>
								{{> cp/linkButton bl_class="short_cut sm" bl_text="무이자할부 안내" question_tit="무이자할부 안내" }}
							</div>
							{{#> cp/selectbox_pc s-title="카드 할부 선택" }}
								<option value="" selected>일시불</option>
								<option value="">2개월</option>
							{{/ cp/selectbox_pc}}
						</div>
						<ul class="list_ty2 full">
							<li>계약자 명의의 국내발급 카드로만 결제가 가능합니다. (법인, 가족카드 불가)</li>
						</ul>
						{{/unless}}
						{{#if long}}
						<!-- s: 현대카드 선택 시, 노출 -->
						<div class="form_line full">
							<div class="checkbox_group_wrap column">
								{{> cp/checkbox checkbox_class="rd_box question" id="checkbox01-01" label_class="chk_label_ty3" labelname="현대카드 M포인트 사용" labelcont="(1천원 이상 결제시, 3만 M포인트 한도)" question=true pop_id="pop_type04" }}
							</div>
						</div>
						<!-- e: 현대카드 선택 시, 노출 -->
						{{/if}}
					</div>