
			<ul class="list_depth">
                {{#unless corporate}}
				<!-- s: 법인만 25-06-18 -->
				<li>&회사명& (계약자)님의 신용카드 및 체크카드로만 결제 가능합니다. (가족카드 결제불가)</li>
				<!-- e: 법인만 25-06-18 -->
                {{/unless}}
                {{#unless time}}
				<li>계약자 변경을 원하시는 경우 우측 상단 <strong>[설계내역]</strong> 버튼을 통해 <strong>7단계(피보험자/계약자 정보)</strong>로 이동하셔서 <strong>계약자를 변경</strong>해주세요.</li>
                {{/unless}}
				<li>보험계약 체결을 위해서는 휴대폰 직접서명 또는 전자서명이 필요합니다.</li>
				<li>신용카드로 결제하신 보험료는 책임개시일 기준으로 후청구됩니다.<br>
					{{> cp/linkButton bl_class="short_cut sm" bl_text="신용카드 청구기준" question_tit="신용카드 청구기준" pop_id="pop_type14" }}
				</li>
				<!-- s: 25-09-11 수정 -->
				<li>이전 카드 정보 불러오기는 이전 계약체결동의 내역에 따라 최근 결제이력을 자동으로 불러오는 기능입니다.</li>
				<!-- e: 25-09-11 수정 -->
			</ul>