{{#if hd}}
<!-- s: 25-11-21 수정 -->
<!-- s: 현대카드 결제 혜택 안내 팝업 -->
{{#> popup/popup_bottom popup-id="pop_type04" popup-title="현대카드 결제 혜택 안내" }}
<div class="popup_cont">
	<div class="popup_content">
		<!-- s: 25-09-02 수정 -->
		<h3 class="title_h3 normal center">
			현대카드로<br>
			<!-- s: 25-09-25 수정 -->
			<strong>1회차 보험료를 결제해보세요</strong>
			<!-- e: 25-09-25 수정 -->
		</h3>
		<div class="info_gray">
			<ul class="list_depth">
				<li>
					<strong>M포인트 100% 사용 가능(1회차 보험료만)</strong>
					<ul>
						<li>카드 승인액 한도 내 보유포인트 전액이 차감됩니다.<br> (승인시점 기준 1,000P~3,000P 이용 가능)</li>
						<li>M포인트 사용 시 결제대금은 포인트가 차감된 금액으로 청구됩니다.</li>
					</ul>
				</li>
				<li>
					<!-- s: 25-09-25 수정 -->
					<strong>2회차 계속보험료도 현대카드로 결제 가능</strong>
					<ul>
						<li>포인트는 1회차 보험료에 한해서만 사용됩니다.</li>
					</ul>
					<!-- e: 25-09-25 수정 -->
				</li>
			</ul>
		</div>
		<ul class="list_ty2">
			<li>
				포인트 관련 상담 및 문의<br>
				현대카드 고객센터(1577-6000)<br>
				<!-- s: 25-08-28 수정 -->
				현대카드 홈페이지(www.hyundaicard.com)
				<!-- e: 25-08-28 수정 -->
			</li>
		</ul>
		<!-- e: 25-09-02 수정 -->
	</div>
</div>
<div class="popup_bottom">
	<div class="btn_area">
		{{> cp/button type="1" size="2" b-text="확인" }}
	</div>
</div>
{{/ popup/popup_bottom}}
<!-- e: 현대카드 결제 혜택 안내 팝업 -->
<!-- e: 25-11-21 수정 -->
{{/if}}
{{#if shot}}
<!-- s: 25-11-21 추가 -->
<!-- s: 신한카드 결제 혜택 안내 팝업 -->
{{#> popup/popup_bottom popup-id="shinhan_info" popup-title="신한카드 결제 혜택 안내" }}
<div class="popup_cont">
	<div class="popup_content">
		<h3 class="title_h3 normal center">
			신한카드로 보험료를 결제하고 <br>
			<strong>신한카드 포인트 100% 사용해보세요</strong>
		</h2>
		<div class="info_gray">
			<ul class="list_depth">
				<li>
					<strong>카드 승인액 한도에서 보유포인트 전액 차감</strong>
				</li>
				<li>
					<strong>결제대금은 포인트가 차감된 금액으로 청구</strong>
				</li>
			</ul>
		</div>
		<ul class="list_ty2">
			<li>
				포인트 관련 상담 및 문의<br>
				신한카드 고객센터(1544-7000)<br>
				신한카드 홈페이지(www.shinhancard.com)
			</li>
		</ul>
	</div>
</div>
<div class="popup_bottom">
	<div class="btn_area">
		{{> cp/button type="1" size="2" b-text="확인" }}
	</div>
</div>
{{/ popup/popup_bottom}}
<!-- e: 신한카드 결제 혜택 안내 팝업 -->
<!-- s: 삼성카드 결제 혜택 안내 팝업 -->
{{#> popup/popup_bottom popup-id="samsung_info" popup-title="삼성카드 결제 혜택 안내" }}
<div class="popup_cont">
	<div class="popup_content">
		<h3 class="title_h3 normal center">
			신한카드로 보험료를 결제하고 <br>
			<strong>삼성카드 포인트 100% 사용해보세요</strong>
		</h2>
		<div class="info_gray">
			<ul class="list_depth">
				<li>
					<strong>카드 승인액 한도에서 보유포인트 전액 차감</strong>
				</li>
				<li>
					<strong>결제대금은 포인트가 차감된 금액으로 청구</strong>
				</li>
			</ul>
		</div>
		<ul class="list_ty2">
			<li>
				포인트 관련 상담 및 문의<br>
				삼성카드 고객센터(1588-8700)<br>
				삼성카드 홈페이지(www.samsungcard.com)
			</li>
		</ul>
	</div>
</div>
<div class="popup_bottom">
	<div class="btn_area">
		{{> cp/button type="1" size="2" b-text="확인" }}
	</div>
</div>
{{/ popup/popup_bottom}}
<!-- e: 삼성카드 결제 혜택 안내 팝업 -->
<!-- e: 25-11-21 추가 -->
{{/if}}