					
					{{#unless no_tit}}
					<h3 class="title_h3">신용카드 정보 입력</h3>
					{{/unless}}
					
					{{#unless prev_story}}
					<div class="btn_area end">
						
						
						{{> cp/linkButton bl_class="short_cut" bl_text="이전 카드 정보 불러오기" bl_title="이전 카드 정보 팝업 열기" pop_id="pop_type07" }}
						
						
					</div>
					{{/unless}}
					
					<div class="form_group_wrap">
						<div class="form_line">
							<div class="label_tit">카드사</div>
							{{> cp/selectitem si_ph="카드사 선택" si_title="카드사 선택" si_popup="card_select"}}
							{{#unless app_no }}
							
							{{> cp/checkbox id="checkbox1" labelname="앱카드 사용" }}
							
							{{/unless}}
						</div>
						<div class="form_line">
							<div class="label_tit">카드번호</div>
							<div class="comp_wrap card">
								{{> cp/text type="tel" minlength="4" maxlength="4" placeholder="4자리" inp-title="카드번호 첫번째 4자리 입력" no_del="false" }}
								<span class="dash">-</span>
								{{> cp/text type="tel" minlength="4" maxlength="4" placeholder="4자리" inp-title="카드번호 두번째 4자리 입력" no_del="false" }}
								<span class="dash">-</span>
								{{> cp/text type="tel" minlength="4" maxlength="4" placeholder="4자리" inp-title="카드번호 세번째 4자리 입력" no_del="false" }}
								<span class="dash">-</span>
								
								{{> cp/keypad4 case1="4(3자리)" kt="카드번호 마지막 4(3자리) 입력" ktid="kp1" }}
								
							</div>
						</div>
						<div class="form_line">
							<div class="label_tit">유효기간</div>
							<!-- s: 25-09-26 수정 -->
							{{> cp/text type='tel' inpclass="inp_only_num ex_period" placeholder="MM/YY" minlength="5" maxlength="5" inp-title="유효기간 입력" }}
							<!-- e: 25-09-26 수정 -->
						</div>
						{{#unless installment}}
						<div class="form_line">
							<div class="label_tit box">
								<div>카드 할부</div>
								
								{{#unless interest_free}}
								{{> cp/linkButton bl_class="short_cut sm" bl_text="무이자할부 안내" question_tit="무이자할부 안내" }}
								{{/unless}}
								
							</div>
							
							{{#> cp/selectbox_pc s-title="카드 할부 선택" sb-ph="개월 수 선택" }}
								<option value="">일시불</option>
								<option value="">2개월</option>
							{{/ cp/selectbox_pc}}
							
						</div>
						{{/unless}}
						<ul class="list_ty2 full">							
							{{#if corporate}}
							<li><strong class="point">$회사명$ 계약자 명의의 국내 발급 카드로만 결제가 가능합니다.</strong>(법인 기명카드 불가)</li>
							{{else}}
							<li><strong class="point">계약자 명의의 국내 발급 카드로만 결제할 수 있어요.</strong>(법인, 가족카드 불가)</li>
							{{/if}}
							{{#if corporate_list}}
							<li><strong class="point">$회사명$ 계약자 명의의 국내 발급 카드로만 결제가 가능합니다.</strong>(법인 기명카드 불가)</li>
							{{/if}}
							{{#unless no_info_car}}
							<!-- s: 25-10-15 수정 -->
							<li>일부 상품의 경우, 최초 보험료 결제 시 일시불 결제만 가능합니다.</li>
							<!-- e: 25-10-15 수정 -->
							{{/unless}}
						</ul>
						{{#if long}}
						<!-- s: 현대카드 선택 시, 노출 -->
						<div class="form_line full">
							<div class="checkbox_group_wrap column">
								
								{{> cp/checkbox checkbox_class="rd_box question" id="checkbox01-01" label_class="chk_label_ty3" labelname="현대카드 M포인트 사용" labelcont="(1천원 이상 결제시, 3만 M포인트 한도)" question=true pop_id="pop_type04" }}
								
							</div>
						</div>
						<!-- e: 현대카드 선택 시, 노출 -->
						{{/if}}
					</div>