
					<!-- s: 법인만 -->
					<!-- s: 25-07-17 삭제-->
					<!-- <div class="divider_ty1"></div>
					<h3 class="title_h3">카드인증 전자서명 동의</h3>
					<div class="card_item_wrap">
						<div class="card_item">
							<div class="inner_cont">
								<div class="space_between">
									<div class="info_text">
										법인카드 비밀번호 인증을 통한 전자서명에 동의합니다.
									</div>
									<div class="radio_group_wrap" role="radiogroup">
										{{> cp/radio rd-class="" rd-id="radio_gt2_01" name="radio_gt2" labelname="미동의" }}
										{{> cp/radio rd-class="" rd-id="radio_gt2_02" name="radio_gt2" labelname="동의" }}
									</div>
								</div>
								-- s: 동의시 활성화 --
								<div class="card_cont">
									<div class="form_group_wrap full">
										<div class="form_line">
											<div class="label_tit">법인카드 비밀번호 입력</div>
											<div class="comp_wrap card_pw">
												{{> cp/keypad4 case1="비밀번호 앞 2자리" kt="법인카드 비밀번호 앞 2자리 입력" ktid="kp1" }}
											</div>
										</div>
									</div>
									<ul class="list_ty2">
										<li>미동의 또는 법인카드 비밀번호 미설정 시 공동인증 전자서명을 선택하시기 바랍니다.(공동인증 시 모바일앱 설치 필요)</li>
									</ul>
								</div>
								-- e: 동의시 활성화 --
							</div>
						</div>
					</div> -->
					<!-- e: 25-07-17 삭제 -->
					<!-- e: 법인만 -->