
<!-- s: 현대카드 결제 혜택 안내 팝업 -->
{{#> popup/popup_bottom popup-id="pop_type04" popup-title="현대카드 결제 혜택 안내" }}
<div class="popup_cont">
	<div class="popup_content">
		<!-- s: 25-09-02 수정 -->
		<h2 class="title_h3 center">					
			<span class="ext">현대카드로</span><br> 1회차 보험료를 결제해보세요
		</h2>
		<div class="info_gray">
			<ul class="list_depth">
				<li>
					<strong>M포인트 100% 사용 가능(1회차 보험료만)</strong>
					<ul>
						<li>카드 승인액 한도 내 보유포인트 전액이 차감됩니다. (승인시점 기준 1,000P~3,000P 이용 가능)</li>
						<li>포인트는 1회차 보험료에 한해서만 사용됩니다.</li>
					</ul>
				</li>
				<li>
					<strong>2회차 이후 계속보험료도 현대카드로 결제 가능</strong>
					<ul>
						<li>결제대금은 포인트가 차감된 금액으로 청구됩니다.</li>
					</ul>
				</li>
			</ul>
		</div>
		<ul class="list_ty2">
			<li>
				포인트 관련 상담 및 문의<br>
				현대카드 고객센터(1577-6000)<br>
				<!-- s: 25-08-28 수정 -->
				현대카드 홈페이지(www.hyundaicard.com)
				<!-- e: 25-08-28 수정 -->
			</li>
		</ul>
		<!-- e: 25-09-02 수정 -->
	</div>
</div>
<div class="popup_bottom">
	<div class="btn_area">
		{{> cp/button type="1" size="2" b-text="확인" }}
	</div>
</div>
{{/ popup/popup_bottom}}
<!-- e: 현대카드 결제 혜택 안내 팝업 -->