
			<div class="divider_ty1"></div>
			<h3 class="title_h3">2회차 이후 결제 정보 입력</h3>
			<!-- s: 카드사(현대카드) 선택 시 -->
			<div class="radio_group_wrap" role="radiogroup">
				{{> cp/radio rd-class="rd_btn" rd-id="radio_card1" name="radio01" labelname="현대카드로 결제" checked=true }}
				{{> cp/radio rd-class="rd_btn" rd-id="radio_card2" name="radio01" labelname="계좌이체로 결제" }}
			</div>
			<!-- e: 카드사(현대카드) 선택 시 -->
			<!-- s: 이체 선택 시 -->		
			<!-- s: 25-08-21 UXW -->	
			{{> cp/checkbox checkbox_class="rd_box" id="checkbox04-9" label_class="chk_label_ty3" labelname="1회차 보험료 결제 계좌와 같아요" }}
			<!-- e: 25-08-21 UXW -->		
			<!-- e: 이체 선택 시 -->	
			<!-- s: 카드사(현대카드) 선택 외 -->		
			<div class="form_group_wrap">
				<div class="form_line">
					<div class="label_tit">은행</div>
					{{> cp/selectitem si_ph="은행 선택" si_title="2회차 이후 결제 은행 선택" si_popup="bank_select"}}
				</div>
				<div class="form_line">
					<div class="label_tit">계좌번호</div>
					<!-- s: 25-08-21 UXW -->
					{{> cp/text placeholder="- 없이 입력" inp-title="2회차 이후 결제 계좌번호 입력" }}
					<!-- e: 25-08-21 UXW -->
				</div>
				<div class="form_line">
					<div class="label_tit">매월 자동이체일</div>
					<!-- s: 25-08-21 UXW -->
					{{#> cp/selectbox_pc s-title="매월 자동이체일 선택" sb-ph="매월 자동이체일 선택" }}
						<option value="">1일</option>
						<option value="">5일</option>
						<option value="">10일</option>
						<option value="">15일</option>
						<option value="">20일</option>
						<option value="">25일</option>
					{{/ cp/selectbox_pc}}
					<!-- e: 25-08-21 UXW -->
				</div>
			</div>
			<!-- e: 카드사(현대카드) 선택 외 -->
			<div class="info_gray">
				<div class="data_box df_type_w_ty1">
					<dl>
						<dt>납입 기간</dt>
						<dd>10년</dd>
					</dl>
					<dl>
						<dt>납입 방법</dt>
						<dd>매월</dd>
					</dl>
				</div>
			</div>
			<!-- s: 25-07-17 -->
			<div class="checkbox_group_wrap">
				<!-- s: 25-06-18 수정 -->
				<!-- s: 25-08-21 수정 -->
				<!-- s: 25-09-02 수정 -->
				{{> cp/checkbox labelname="<strong class='point'>[필수]</strong> 자동이체 약관 동의" ag_more=true id="agree02" label_class="chk_label_ty3" checkbox_class="rd_box" pop_open=true pop_id="pop_type06" }}
				<!-- e: 25-09-02 수정 -->
				<!-- e: 25-08-21 수정 -->
				<!-- e: 25-06-18 수정 -->
			</div> 
			{{#unless no_end_bank}}
			<!-- s: 25-10-23 수정 -->
			<!-- 삭제
			<div class="divider_ty1"></div>
			<h3 class="title_h3">만기환급금 계좌정보 입력</h3>
			-->
			<!-- e: 25-10-23 수정 -->
			<div class="checkbox_group_wrap">
				<!-- s: 25-06-18 수정 -->
				<!-- s: 25-08-21 수정 -->
				<!-- s: 25-09-02 수정 -->
				{{> cp/checkbox labelname="<strong class='point'>[필수]</strong> 만기환급금 입금 계좌 동의" ag_more=true id="agree01" label_class="chk_label_ty3" checkbox_class="rd_box" pop_open=true pop_id="pop_type05" }}
				<!-- e: 25-09-02 수정 -->
				<!-- e: 25-08-21 수정 -->
				<!-- e: 25-06-18 수정 -->
			</div>
			{{/unless}}
			<!-- e: 25-07-17 -->