
					{{#unless no_tit}}
					<h3 class="title_h3">간편 결제 정보 입력</h3>
					{{/unless}}
					<div class="radio_group_wrap" role="radiogroup">
						{{> cp/radio rd-class="rd_btn icon_pay_ty1" rd-id="radio_btn_g1" name="radio_g1" labelname="카카오페이" checked=true }}
						{{> cp/radio rd-class="rd_btn icon_pay_ty2" rd-id="radio_btn_g2" name="radio_g1" labelname="네이버페이" }}
						{{> cp/radio rd-class="rd_btn icon_pay_ty3" rd-id="radio_btn_g3" name="radio_g1" labelname="토스 페이" }}
					</div>
					<div class="acd_item_group">
						<!-- s: 카카오페이 -->
						<div class="acd_item acd_item_ty4">
							{{#> cp/accordion ac-title="카카오페이 이용안내" ac-active=true }}
							<div class="info_cont">
								<ul class="list_depth">
									<!-- s: 25-08-21 UXW -->
									<li>카카오페이에 등록된 카드소유자(계좌 예금주)는 보험계약자와 같아야 합니다.</li>
									<li>카카오페이로 결제하신 경우, 카드결제내역 및 계좌출금내역은 카카오페이에서 확인 가능합니다.</li>
									<li>카카오페이 결제 시, 현대해상의 카드결제 후청구서비스 및 카드대체는 적용되지 않습니다.</li>
									<li>200만원 이상 결제 시 ARS인증이 추가되며, 카드로 결제 시 가맹점인 카카오페이 기준 무이자 할부정책이 적용됩니다.</li>
									<li>현대해상의 일부 다른 이벤트 혜택(제휴카드 등)과 중복 적용되지 않습니다.</li>
									<!-- e: 25-08-21 UXW -->
								</ul>
							</div>
							{{/ cp/accordion }}
						</div>
						<div class="info_gray ty2">
							<div class="center_info ty2">
								<div class="line1">
									<div class="line1_item2">
											<!-- s: 25-08-21 UXW -->
											카카오페이 고객센터: 1644-7405
											<!-- e: 25-08-21 UXW -->
									</div>
									<div class="line1_item">
										<span class="cit">평일 09:00~18:00</span>
									</div>
								</div>
							</div>
						</div>
						<!-- e: 카카오페이 -->

						<!-- s: 네이버페이 -->
						<div class="acd_item acd_item_ty4">
							{{#> cp/accordion ac-title="네이버페이 이용안내" ac-active=true }}
							<div class="info_cont">
								<ul class="list_depth">
									<!-- s: 25-08-21 UXW -->
									<li>네이버페이는 네이버 아이디로 별도 앱 설치 없이 신용카드 또는 은행계좌 정보를 등록해 네이버페이 비밀번호로 결제할 수 있는 간편결제 서비스입니다.
									<!-- e: 25-08-21 UXW -->
										<ul>
											<li>결제 가능한 신용카드: 신한, 삼성, 현대, BC, 국민, 하나, 롯데, NH농협, 씨티, 카카오뱅크</li>
											<li>결제 가능한 은행: NH농협, 국민, 신한, 우리, 기업, SC제일, 부산, 경남, 수협, 우체국, 미래에셋대우, 광주, 대구, 전북, 새마을금고, 제주은행, 신협,
												하나은행, 케이뱅크, 카카오뱅크, 삼성증권, KDB산업은행</li>
										</ul>
									</li>
									<!-- s: 25-08-21 UXW -->
									<li>네이버페이에 등록된 카드소유자(계좌예금주)는 보험계약자와 같아야 합니다.</li>
									<li>네이버페이로 결제하신 경우, 카드 결제내역 및 계좌출금내역은 네이버페이에서 확인 가능합니다.</li>
									<li>네이버페이 결제 시, 현대해상의 카드결제 후청구 서비스 및 카드대체는 적용되지 않습니다.</li>
									<li>네이버페이 카드 간편결제는 네이버페이에서 제공하는 카드사 별 무이자, 청구할인 혜택을 받을 수 있습니다.</li>
									<li>현대해상에서 진행 중인 다른 이벤트 혜택(제휴카드 혜택)과 중복 적용되지 않습니다.(네이버페이 혜택 적용)</li>
									<!-- e: 25-08-21 UXW -->
									<li>주문 변경 시 카드사 혜택 및 할부 적용 여부는 해당 카드사 정책에 따라 변경될 수 있습니다.</li>
								</ul>
							</div>
							{{/ cp/accordion }}
						</div>
						<div class="info_gray ty2">
							<div class="center_info ty2">
								<div class="line1">
									<div class="line1_item2">
										네이버페이 고객센터: 1588-3819
									</div>
									<div class="line1_item">
										<span class="cit">평일 09:00~18:00</span>
									</div>
								</div>
							</div>
						</div>
						<!-- e: 네이버페이 -->

						<!-- s: 토스페이 -->
						<div class="acd_item acd_item_ty4">
							{{#> cp/accordion ac-title="토스페이 이용안내" ac-active=true }}
							<div class="info_cont">
								<ul class="list_depth">
									
									<li><strong class="point">계약자 본인 명의의 토스 앱이 설치된 스마트폰만 결제가 가능합니다.</strong></li>
									

									<!-- s: 25-08-21 UXW -->
									<li>관련 문의는 <strong>토스 고객센터(1599-4095)</strong>로 문의 연락해주세요.</li>
									<li>토스페이에 등록된 카드소유자(계좌 예금주)는 보험계약자와 같아야 합니다.</li>
									<li>토스페이로 결제하신 경우, 카드 결제 내역 및 계좌 출금 내역은 토스페이에서 확인 가능합니다.</li>
									<li>토스페이로 결제 시, 현대해상의 카드결제 후 청구 서비스 및 카드 대체는 적용되지 않습니다.</li>
									<li>토스페이에서 제공하는 카드사 별 무이자 혜택은 현대해상 혜택과 상이할 수 있습니다.</li>
									<li>현대해상에서 진행 중인 다른 이벤트 혜택(제휴카드 혜택)과 중복 적용되지 않습니다.(토스페이 혜택 적용)</li>
									<!-- e: 25-08-21 UXW -->
									<!-- s: 25-09-18 수정 -->
									<li>주문 변경 시 카드사 혜택 및 할부 적용 여부는 해당 카드사 정책에 따라 변경될 수 있습니다.</li>
									<!-- e: 25-09-18 수정 -->
								</ul>
							</div>
							{{/ cp/accordion }}
						</div>
						<div class="info_gray ty2">
							<div class="center_info ty2">
								<div class="line1">
									<div class="line1_item2">
											<!-- s: 25-08-21 UXW -->
										토스페이 고객센터: 1599-4095
											<!-- e: 25-08-21 UXW -->
									</div>
									<div class="line1_item">
										<span class="cit">24시간</span>
									</div>
								</div>
							</div>
						</div>
						<!-- e: 토스페이 -->
					</div>