						
					<!-- s: 카드 혜택 안내 배너 상단으로 이동 -->
					{{!-- <div class="banner_box">
						<!-- s: 25-08-11 수정 -->
						<a class="swiper-slide" href="#">
							<img src="../../../images/event/card_bn_01.png" alt="신한카드로 결제해 보세요 신한카드로 결제하면 포인트 100% 사용가능">
						</a>
						<a class="swiper-slide" href="#">
							<img src="../../../images/event/card_bn_02.png" alt="현대카드로 결제해 보세요 M포인트 100% 사용가능 계속보험료 결제 가능">
						</a>			
						<a class="swiper-slide" href="#">
							<img src="../../../images/event/card_bn_03.png" alt="삼성카드로 결제해 보세요 삼성카드로 결제하면 포인트 100% 사용가능">
						</a>
						<!-- e: 25-08-11 수정 -->
					</div> --}}
					<!-- e: 카드 혜택 안내 배너 상단으로 이동 -->
					
					<!-- s: 25-07-21 -->
					<!-- s: 해외여행 현대카드 제휴 접속시 노출 -->
					<div class="checkbox_group_wrap column space2">
							{{> cp/checkbox checkbox_class="rd_box question" id="checkbox01-01" label_class="chk_label_ty3" labelname="현대카드 M포인트 50% 사용" labelcont="카드승인액 한도 내 보유포인트 최대 50%까지 차감(승인시점 보유포인트).<br>문의: 현대카드 고객센터(1577-6000)" }}
					</div>
					<!-- e: 해외여행 현대카드 제휴 접속시 노출 -->
					<!-- s: 해외장기체류여행 현대카드 제휴 접속시 노출 -->
					<div class="checkbox_group_wrap column space2">
							{{> cp/checkbox checkbox_class="rd_box question" id="checkbox01-02" label_class="chk_label_ty3" labelname="현대카드 M포인트 20% 사용" labelcont="카드승인액 한도 내 보유포인트 최대 20%까지 차감(승인시점 보유포인트).<br>문의: 현대카드 고객센터(1577-6000)" }}
					</div>
					<!-- e: 해외장기체류여행 현대카드 제휴 접속시 노출 -->
					
					<!-- s: 신한카드 선택 시, 노출 -->
					<div class="checkbox_group_wrap column space2">
							{{> cp/checkbox checkbox_class="rd_box question" id="checkbox02-01" label_class="chk_label_ty3" labelname="신한카드 포인트 100% 사용" labelcont="포인트는 결제할 보험료 내에서 사용됩니다.<br>포인트는 1회차 보험료에 한해서만 사용됩니다.<br>문의: 신한카드 고객센터(1544-7000)"}}
					</div>
					<!-- e: 신한카드 선택 시, 노출 -->
					<!-- s: 삼성카드 선택 시, 노출 -->
					<div class="checkbox_group_wrap column space2">
							{{> cp/checkbox checkbox_class="rd_box question" id="checkbox03-01" label_class="chk_label_ty3" labelname="삼성카드 포인트 100% 사용" labelcont="포인트는 결제할 보험료 내에서 사용됩니다.<br>포인트는 1회차 보험료에 한해서만 사용됩니다.<br>문의: 신한카드 고객센터(1544-8700)" }}
					</div>
					<!-- e: 삼성카드 선택 시, 노출 -->
					<!-- e: 25-07-21 -->